{% trans_default_domain 'frontend' %}

{% block body_html %}
<html><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="Generator" content="Made with Mail Designer from equinux">
	<meta name="Viewport" content="width=device-width, initial-scale=1.0">
	<style type="text/css" id="Mail Designer General Style Sheet">
		a { word-break: break-word; }
		a img { border:none; }
		img { outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; }
		body { width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
		.ExternalClass { width: 100%; }
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
		#page-wrap { margin: 0; padding: 0; width: 100% !important; line-height: 100% !important; }
		#outlook a { padding: 0; }
		.preheader { display:none !important; }
		a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }
		.a5q { display: none !important; }
		.Apple-web-attachment { vertical-align: initial !important; }
		.Apple-edge-to-edge-visual-media { margin: initial !important; max-width: initial !important; width: 100%; }
	</style>
	<style type="text/css" id="Mail Designer Mobile Style Sheet">
		@media only screen and (max-width: 580px) {
			table.email-body-wrap {
				width: 320px !important;
			}
			td.page-bg-show-thru {
				display: none !important;
			}
			table.layout-block-wrapping-table {
				width: 320px !important;
			}
			table.mso-fixed-width-wrapping-table {
				width: 320px !important;
			}
			.layout-block-full-width {
				width: 320px !important;
			}
			table.layout-block-column, table.layout-block-padded-column {
				width: 100% !important;
			}
			table.layout-block-box-padding {
				width: 100% !important;
				padding: 5px !important;
			}
			table.layout-block-horizontal-spacer {
				display: none !important;
			}
			tr.layout-block-vertical-spacer {
			   display: block !important;
			   height: 8px !important;
			}
			td.container-padding {
				display: none !important;
			}

			table {
				min-width: initial !important;
			}
			td {
				min-width: initial !important;
			}

			.desktop-only { display: none !important; }
			.mobile-only { display: block !important; }

			.hide {
				max-height: none !important;
				display: block !important;
				overflow: visible !important;
			}

			.EQ-00 { width: 320px !important; }
			.EQ-01 { width: 320px !important; height: 150px !important; }

			.EQ-02 { width: 15px !important; }
			.EQ-03 { width: 15px !important; }
			.EQ-04 { width: 290px !important; }
			.EQ-05 { height:10px !important; } /* vertical spacer */

			.EQ-06 { width: 15px !important; }
			.EQ-07 { width: 15px !important; }
			.EQ-08 { width: 290px !important; }

			.EQ-09 { width: 15px !important; }
			.EQ-0A { width: 15px !important; }
			.EQ-0B { width: 290px !important; }
			.EQ-0C { height:10px !important; } /* vertical spacer */

			.EQ-0D { width: 15px !important; }
			.EQ-0E { width: 15px !important; }
			.EQ-0F { width: 290px !important; }

			.EQ-10 { width: 15px !important; }
			.EQ-11 { width: 15px !important; }
			.EQ-12 { width: 290px !important; }
			.EQ-13 { height:10px !important; } /* vertical spacer */

			.EQ-14 { width: 320px !important; }
			.EQ-15 { width: 320px !important; height: 70px !important; }
		}
	</style>
	<!--[if gte mso 9]>
	<style type="text/css" id="Mail Designer Outlook Style Sheet">
		table.layout-block-horizontal-spacer {
		    display: none !important;
		}
		table {
		    border-collapse:collapse;
		    mso-table-lspace:0pt;
		    mso-table-rspace:0pt;
		    mso-table-bspace:0pt;
		    mso-table-tspace:0pt;
		    mso-padding-alt:0;
		    mso-table-top:0;
		    mso-table-wrap:around;
		}
		td {
		    border-collapse:collapse;
		    mso-cellspacing:0;
		}
	</style>
	<![endif]-->
<link href="https://fonts.googleapis.com/css?family=Droid+Sans:700" rel="stylesheet" type="text/css" class="EQWebFont"><link href="https://fonts.googleapis.com/css?family=Antic+Slab:regular" rel="stylesheet" type="text/css" class="EQWebFont"><link href="https://fonts.googleapis.com/css?family=Roboto:700" rel="stylesheet" type="text/css" class="EQWebFont"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; " background="http://www.up.taxi/uploads/email/race/page-bg.jpg"><!--[if gte mso 9]>
<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
<v:fill type="tile" src="http://www.up.taxi/uploads/email/race/page-bg.jpg" />
</v:background>
<![endif]-->

<table width="100%" cellspacing="0" cellpadding="0" id="page-wrap" align="center" background="http://www.up.taxi/uploads/email/race/page-bg.jpg">
<tbody><tr>
	<td>

<table class="email-body-wrap" width="700" cellspacing="0" cellpadding="0" id="email-body" align="center">
<tbody><tr>
	<td width="30" class="page-bg-show-thru">&nbsp;<!--Left page bg show-thru --></td>
	<td width="640" id="page-body">

		<!--Begin of layout container -->
		<div id="eqLayoutContainer">

			<div width="100%">
				<table width="640" cellspacing="0" cellpadding="0" class="mso-fixed-width-wrapping-table" style="min-width: 640px; ">
					<tbody><tr>
						<td valign="top" class="layout-block-full-width" width="640" style="min-width: 640px; ">
							<table cellspacing="0" cellpadding="0" class="layout-block-full-width" width="640" style="min-width: 640px; ">
								<tbody><tr>
									<td width="640" style="min-width: 640px; ">
										<div class="layout-block-image">
											<!--[if mso]><img width="640" height="300" alt=""  src="http://www.up.taxi/uploads/email/race/image-1.jpg" border="0" style="line-height:1px;" ><![endif]--><!--[if !mso]><!----><img width="640" height="300" alt="" src="http://www.up.taxi/uploads/email/race/image-1.jpg" border="0" style="line-height: 1px; display: block; width: 640px; height: 300px; " class="EQ-01">
										<!--<![endif]--></div>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
			</div>

			<div width="100%">
				<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
					<tbody><tr>
						<td width="29" class="EQ-02" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
						<td height="20" background="http://www.up.taxi/uploads/email/race/box-bg.jpg" class="EQ-04" bgcolor="#ffffff" width="582" style="min-width: 582px; "><!--[if gte mso 9]>
<v:rect style="width:582px;height:20px;" strokecolor="none">
<v:fill type="tile" color="#ffffff" src="http://www.up.taxi/uploads/email/race/box-bg.jpg"></v:fill>
</v:rect><![endif]-->
							<div class="spacer"></div>
						<!--[if gte mso 9]>
</v:rect>
<![endif]--></td>
						<td width="29" class="EQ-03" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
					</tr>
				</tbody></table>
			</div>

			<div width="100%">
				<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
					<tbody><tr>
						<td width="29" class="EQ-06" style="min-width: 29px; ">&nbsp;</td>
						<td valign="top" align="left" class="EQ-08" width="582" style="min-width: 582px; ">
							<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
								<tbody><tr>
									<td width="562" valign="top" align="left" background="http://www.up.taxi/uploads/email/race/box-bg.jpg" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff">
										<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
											<tbody><tr>
												<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
													<div class="heading" style="font-size: 16px; font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; color: rgb(0, 0, 0); font-weight: bold; line-height: 1.5; text-align: justify; ">
														Votre commande est validée par un de nos chauffeurs
													</div>
												</td>
											</tr>
										</tbody></table>
									</td>
								</tr>
							</tbody></table>
						</td>
						<td width="29" class="EQ-07" style="min-width: 29px; ">&nbsp;</td>
					</tr>
				</tbody></table>
			</div>

			<div width="100%">
				<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
					<tbody><tr>
						<td width="29" class="EQ-09" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
						<td height="20" background="http://www.up.taxi/uploads/email/race/box-bg.jpg" class="EQ-0B" bgcolor="#ffffff" width="582" style="min-width: 582px; "><!--[if gte mso 9]>
<v:rect style="width:582px;height:20px;" strokecolor="none">
<v:fill type="tile" color="#ffffff" src="http://www.up.taxi/uploads/email/race/box-bg.jpg"></v:fill>
</v:rect><![endif]-->
							<div class="spacer"></div>
						<!--[if gte mso 9]>
</v:rect>
<![endif]--></td>
						<td width="29" class="EQ-0A" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
					</tr>
				</tbody></table>
			</div>

			<div width="100%">
				<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
					<tbody><tr>
						<td width="29" class="EQ-0D" style="min-width: 29px; ">&nbsp;</td>
						<td class="EQ-0F" width="582" style="min-width: 582px; ">
							<table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="582" style="min-width: 582px; ">
								<tbody><tr>
									<td width="562" valign="top" align="left" background="http://www.up.taxi/uploads/email/race/box-bg.jpg" style="padding-left: 10px; padding-right: 10px; min-width: 562px; " bgcolor="#ffffff">
										<table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="562" style="min-width: 562px; ">
											<tbody><tr>
												<td align="left" class="layout-block-column" width="562" style="min-width: 562px; ">
													<div class="text" style="font-size: 16px; font-family: 'Lucida Grande'; ">
														<div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">{{user.lastname}}, voici le détail de votre commande :</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">Date : {{course.departureDate|date('Y-m-d ') }}  {{course.departureTime|date('H:i') }}</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">Départ: {{ course.startedAddress }}</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">Arrivée : {{ course.arrivalAddress }}</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">Nombre de personne : {{ course.personNumber }}</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">
	{% if course.courseDetailsTarif != null and course.courseDetailsTarif.isForfait == false %}<br>

															Prix (estimation) : {{ course.courseDetailsTarif.tarifTotalTTC|number_format(course.company.format.currencyDecimals, '.', ',') }}
                                        - {{ course.courseDetailsTarif.estimatedTarif|number_format(course.company.format.currencyDecimals, '.', ',') }}
		{% elseif course.courseDetailsTarif != null  %}<br>
		Prix (forfait) : {{  course.courseDetailsTarif.tarifTotalTTC|number_format(course.company.format.currencyDecimals, '.', ',') }}
			{% endif %}

                                        {{ course.company.format.currencyCode }}</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; "><br></div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">Votre chauffeur : {{ driver.firstname }} {{driver.lastname}} | {{driver.phoneMobile}}</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; "><br></div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">Bonne journée</div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; "><br></div><div style="color: rgb(0, 0, 0); font-family: 'Antic Slab', Arial, Roboto, 'Droid Sans', serif; font-size: 16px; font-weight: bold; line-height: 1.5; text-align: justify; ">L’équipe d’UP.TAXI&nbsp;</div>
													</div>
												</td>
											</tr>
										</tbody></table>
									</td>
								</tr>
							</tbody></table>
						</td>
						<td width="29" class="EQ-0E" style="min-width: 29px; ">&nbsp;</td>
					</tr>
				</tbody></table>
			</div>

			<div width="100%">
				<table width="640" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="min-width: 640px; ">
					<tbody><tr>
						<td width="29" class="EQ-10" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
						<td height="20" background="http://www.up.taxi/uploads/email/race/box-bg.jpg" class="EQ-12" bgcolor="#ffffff" width="582" style="min-width: 582px; "><!--[if gte mso 9]>
<v:rect style="width:582px;height:20px;" strokecolor="none">
<v:fill type="tile" color="#ffffff" src="http://www.up.taxi/uploads/email/race/box-bg.jpg"></v:fill>
</v:rect><![endif]-->
							<div class="spacer"></div>
						<!--[if gte mso 9]>
</v:rect>
<![endif]--></td>
						<td width="29" class="EQ-11" style="font-size: 1px; min-width: 29px; ">&nbsp;</td>
					</tr>
				</tbody></table>
			</div>

			<div width="100%">
				<table width="640" cellspacing="0" cellpadding="0" class="mso-fixed-width-wrapping-table" style="min-width: 640px; ">
					<tbody><tr>
						<td valign="top" class="layout-block-full-width" width="640" style="min-width: 640px; ">
							<table cellspacing="0" cellpadding="0" class="layout-block-full-width" width="640" style="min-width: 640px; ">
								<tbody><tr>
									<td width="640" style="min-width: 640px; ">
										<div class="layout-block-image">
											<!--[if mso]><img width="640" height="140" alt=""  src="http://www.up.taxi/uploads/email/race/image-3.png" border="0" style="line-height:1px;" ><![endif]--><!--[if !mso]><!----><img width="640" height="140" alt="" src="http://www.up.taxi/uploads/email/race/image-3.png" border="0" style="line-height: 1px; display: block; width: 640px; height: 140px; " class="EQ-15">
										<!--<![endif]--></div>
									</td>
								</tr>
							</tbody></table>
						</td>
					</tr>
				</tbody></table>
			</div>

		</div>
		<!--End of layout container -->

	</td>
	<td width="30" class="page-bg-show-thru">&nbsp;<!--Right page bg show-thru --></td>
</tr>
</tbody></table><!--email-body -->

	</td>
</tr>
</tbody></table><!--page-wrap -->


</body></html>
{% endblock %}