
<td>
    {% if  field_description.options.label is defined%}
        {{field_description.options.label }}
    {% endif %}
</td>
<td>
    <a href="{{ path('cab_download_document', {'file': field_description.options.dir ~ value}) }}">Download the document</a>
</td>
