{% extends 'CABAdminBundle::layout.html.twig' %}
{% form_theme form 'CABAdminBundle:Form:workdays_fields.html.twig' %}
{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -

{% endblock %}

{% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    <div class="panel-body">
        {{ block('parentForm') }}
    </div>

{% endblock %}

