{% extends 'CABAdminBundle::layout.html.twig' %}
{% trans_default_domain 'backend' %}
{% form_theme form 'CABAdminBundle:Form:custom_fields.html.twig' %}
{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -

{% endblock %}

{% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    <div class="panel-body">

        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div id="accordion2" class="panel-group">
                    <div class="panel panel-accordion panel-accordion-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                
                                <a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                                    <i class="fa fa-star"></i> {{ "Driver's working day"|trans }}
                                </a>
                            </h4>
                        </div>
                        <div class="accordion-body collapse in" id="collapse2One" aria-expanded="true" style="">
                            <!--  <div class="panel-body field-driverWorkDay">
                                {# form_row(form.driverWorkDay) #}
                            </div>
-->
                            <div class="panel-body field-driverWorkDay col-md-12 container">
                                
                                <div class="row">
                                <table class="table">
                                    <tr data-halign="center">{{ form_row(form.driverWorkDay.monday) }}<tr>
                                    <tr data-halign="center">{{ form_row(form.driverWorkDay.tuesday) }}<tr>
                                    <tr data-halign="center">{{ form_row(form.driverWorkDay.wednesday) }}<tr>
                                    <tr data-halign="center">{{ form_row(form.driverWorkDay.thursday) }}<tr>
                                    <tr >{{ form_row(form.driverWorkDay.friday) }}<tr>
                                    <tr data-halign="center">{{ form_row(form.driverWorkDay.saturday) }}<tr> 
                                    <tr data-halign="center">{{ form_row(form.driverWorkDay.sunday) }}<tr>
                                </table>
                                </div>
                                <div class="row col-md-12">
                               <table class="hours_day table">
                        <thead>
                        <tr class="info">
                            <th>Day</th>
                            <th>Start time of day</th>
                            <th>Start pause</th>
                            <th>End break</th>
                            <th>End of day hours</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="daymonday">
                            <th>Monday </th>
                            {{ form(form.driverWorkDay.monday_start_time_day) }}
                            {{ form(form.driverWorkDay.monday_start_pause) }}
                            {{ form(form.driverWorkDay.monday_end_break) }}
                            {{ form(form.driverWorkDay.monday_end_time_day) }}
             </tr>
                <tr id="daytuesday">
                <th>Tuesday </th>
                            {{ form(form.driverWorkDay.tuesday_start_time_day) }}
                            {{ form(form.driverWorkDay.tuesday_start_pause) }}
                            {{ form(form.driverWorkDay.tuesday_end_break) }}
                            {{ form(form.driverWorkDay.tuesday_end_time_day) }}
             </tr>
                            
        <tr id="daywednesday">
        <th>Wednesday </th>
                             {{ form(form.driverWorkDay.wednesday_start_time_day) }}
                            {{ form(form.driverWorkDay.wednesday_start_pause) }}
                            {{ form(form.driverWorkDay.wednesday_end_break) }}
                            {{ form(form.driverWorkDay.wednesday_end_time_day) }}
             </tr>                                               
               <tr id="daythursday">
                   <th>Thursday </th>
                            {{ form(form.driverWorkDay.thursday_start_time_day) }}
                            {{ form(form.driverWorkDay.thursday_start_pause) }}
                            {{ form(form.driverWorkDay.thursday_end_break) }}
                            {{ form(form.driverWorkDay.thursday_end_time_day) }}
                    </tr>
                               
           <tr id="dayfriday">
           <th>Friday </th>
                            {{ form(form.driverWorkDay.friday_start_time_day) }}
                            {{ form(form.driverWorkDay.friday_start_pause) }}
                            {{ form(form.driverWorkDay.friday_end_break) }}
                            {{ form(form.driverWorkDay.friday_end_time_day) }}
                    </tr>	                        
                                  
               <!--  <tr id="daysaturday">
           <td>Saturday </td>
                            { form(form.driverWorkDay.saturday_start_time_day) }}
                            { form(form.driverWorkDay.saturday_start_pause) }}
                            { form(form.driverWorkDay.saturday_end_break) }}
                            { form(form.driverWorkDay.saturday_end_time_day) }}
                    </tr>   
                    -->
                  <tr id="daysunday"> 
              <th>Sunday </th>                     
                            {{ form(form.driverWorkDay.sunday_start_time_day) }}
                            {{ form(form.driverWorkDay.sunday_start_pause) }}
                            {{ form(form.driverWorkDay.sunday_end_break) }}
                            {{ form(form.driverWorkDay.sunday_end_time_day) }}
                    </tr>	                        

                        </tbody></table>
                    
                    </div>
                                
                            </div>
                            
                            
                            
                        </div>
                    </div>

                </div>
<div class="col-md-12 col-lg-12 col-xl-12">
                <div id="accordion3" class="panel-group">
                    <div class="panel panel-accordion panel-accordion-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#collapse3One" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                                    <i class="fa fa-star"></i> {{ "Driver's working night"|trans }}
                                </a>
                            </h4>
                        </div>
                        <div class="accordion-body collapse in" id="collapse3One" aria-expanded="true" style="">
                            <div class="panel-body field-driverWorkDay">
                                {{ form_row(form.nightWorkingDriver) }}
                            </div>

                        </div>
                    </div>

                </div>
</div>
            </div>
        </div>
        {{ block('parentForm') }}
    </div>

{% endblock %}

