
<td>
    {% set filter_image = 'logo' %}
    {% if  field_description.options.filter is defined%}
        {% set filter_image = field_description.options.filter %}
    {% endif %}
    {% if value is null %}
        <img class="img-responsive"
             src="{{ asset('/bundles/cabadmin/images/no-profile-pic.jpg') | imagine_filter(filter_image) }}"
             alt="{{ 'no_image_available' }}"/>
    {% else %}
        <img class="img-responsive"
             src="{{ asset(field_description.options.dir ~ value) | imagine_filter(filter_image) }}"
             alt="admin_thumb_list"/>
    {% endif %}
</td>
