<td>
    {% set filter_image = 'logo' %}
    {% if  field_description.options.filter is defined%}
        {% set filter_image = field_description.options.filter %}
    {% endif %}

    <img class="img-responsive" src="{{ asset(field_description.options.dir ~ value) | imagine_filter(filter_image) }}" alt="admin_thumb_list"/>
</td>
