{% extends 'CABAdminBundle:Stats:_base_export_table.html.twig' %}

{% block content %}

{% for i,driver in drivers %}
<table class="">
    <thead>
        <tr>
            <th>{{ 'Driver ID'|trans({}, 'CABAdminBundle') }}</th>
            <th>{{ 'Driver name'|trans({}, 'CABAdminBundle') }}</th>
            <th>{{ 'Driver Company'|trans({}, 'CABAdminBundle') }}</th>
            <th>{{ 'Driver Vehicle'|trans({}, 'CABAdminBundle') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ driver.id }}</td>
            <td>{{ driver.firstName }} {{ driver.lastName }}</td>
            <td>{{ driver.driverCompany }}</td>
            <td>{{ driver.vehicle }}</td>
        </tr>
    </tbody>
</table>

{% if driver.courseDriver is defined and driver.getCourseDriver|length > 0%}
<br/>

<table>
    <thead>
    <tr>
        <th>{{ 'Course ID'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Driver'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Distance'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course client'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Vehicle'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Price'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Departure Date'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Time'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Status'|trans({}, 'CABAdminBundle') }}</th>
        <th>{{ 'Course Status Description'|trans({}, 'CABAdminBundle') }}</th>
    </tr>
    </thead>
    <tbody>
        {% set cources = driver.courseDriver %}
        {% for i,course in cources %}
            <tr>
                <td>{{ course.id }}</td>
                <td>{{ driver.firstName }} {{ driver.lastName }}</td>
                <td>{{ course.distance }}</td>
                <td>{{ course.client }}</td>
                <td>{{ course.vehicle }}</td>
                <td>{{ course.priceHT }}</td>
                <td>{{ course.departureDate|format_date('MM/dd/Y') }} {{ course.departureTime|format_date('H:mm') }}</td>
                <td>{{ course.courseTime }}</td>
                <td>{{ course.courseStatus }}</td>
                <td>{{ course.getCourseDescription|trans({}, 'CABAdminBundle') }}</td>
            </tr>

            {% set courcesHistory = course.courseHistory %}
            {% if courcesHistory|length > 0 %}
                <tr>
                    <td colspan="10">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ 'Course History Id'|trans({}, 'CABAdminBundle') }}</th>
                                <th>{{ 'Course Status'|trans({}, 'CABAdminBundle') }}</th>
                                <th>{{ 'Course Status Description'|trans({}, 'CABAdminBundle') }}</th>
                                <th>{{ 'Created At'|trans({}, 'CABAdminBundle') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for j,courseTemp in courcesHistory %}
                                <tr>
                                    <td>{{ courseTemp.id }}</td>
                                    <td>{{ courseTemp.status }}</td>
                                    <td>{{ courseTemp.courseDescription|trans({}, 'CABAdminBundle') }}</td>
                                    <td>{{ courseTemp.createdAt|format_date('MM/dd/Y') }} {{ courseTemp.createdAt|format_date('H:mm') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">
                    {{ 'Course history data not found'|trans({}, 'CABAdminBundle') }}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

<br/>

{% endif %}

{% endfor %}

{#Length: {{ availability|length }}<br/>#}
{#Count: {{ countDriverData }}<br/>#}

{% if availability is defined and availability|length > 0%}
    <br/>

    <table>
        <thead>
        <tr>
            <th>{{ 'Driver ID'|trans({}, 'CABAdminBundle') }}</th>
            <th>{{ 'Driver Name'|trans({}, 'CABAdminBundle') }}</th>
            <th>{{ 'Log In'|trans({}, 'CABAdminBundle') }}</th>
            <th>{{ 'Log Out'|trans({}, 'CABAdminBundle') }}</th>
        </tr>
        </thead>
        <tbody>
            {% for j,itemInner in availability %}
                <tr>
                    <td>{% if itemInner[0].driverId is defined %}{{ itemInner[0].driverId }}{% endif %}</td>
                    {#<td>{{ i }}</td>#}
                    {#<td>{% if driverName[i] is defined %}{{ driverName[i] }}{% endif %}</td>#}
                    <td>{% if itemInner[0].driverName is defined %}{{ itemInner[0].driverName }}{% endif %}</td>
                    <td>{% if itemInner[0].date is defined %}{{ itemInner[0].date|format_date('MM/dd/Y HH:mm') }}{% endif %}</td>
                    <td>{% if itemInner[1].date is defined %}{{ itemInner[1].date|format_date('MM/dd/Y HH:mm') }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <br/>

    {{ 'Geolocation data not found'|trans({}, 'CABAdminBundle') }}
{% endif %}

{% endblock content %}
