{% extends 'CABAdminBundle::layout.html.twig' %}

{% trans_default_domain "backend" %}
{% block title %}
  {{ "Statistique drivers"|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
  {{ block('title') }}
{% endblock %}

{% block content %}



  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">
        <div class="widget-summary">
          <div class="widget-summary-col widget-summary-col-icon">
            <div class="summary-icon bg-secondary">
            </div>
          </div>
          <div class="widget-summary-col">
            <div class="row">
              <div class="col-md-3">
                <div class="summary">
                  <h4 class="title">Recherche par date</h4>
                </div>
              </div>

              <div class="col-md-3">
                <div><label for="date_value_start">Du</label>
                  <input type="text" id="date_value_start" name="date_value_start" class="datepicker form-control"
                         data-date-format="yyyy-mm-dd">
                </div>
              </div>

              <div class="col-md-3">
                <div><label for="date_value_end">Au</label>
                  <input type="text" id="date_value_end" name="date_value_end" class="datepicker form-control"
                         data-date-format="yyyy-mm-dd">
                </div>
              </div>
              <div class="col-md-3">
                <input type='button' id="" name="" value='Search'>
              </div>

            </div>
          </div>
        </div>
      </header>

    </section>
  </div>

  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">

        <div class="widget-summary">
          <div class="widget-summary-col">
            <div class="summary">
              <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
              </div>
              <div class="info text-left">
                <strong class="amount" id="report"></strong>
              </div>
            </div>
          </div>
        </div>

      </header>
      <div class="panel-body">

      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <div class="table-responsive">
            <table id="count" name="count" class="table table-striped mb-none">
              <thead>
              <tr>
              </tr>
              </thead>
              <tbody>
              <tr>
              </tr>
              </tbody>
            </table>
          </div>


          <table id="liste" name="liste" class="table table-striped mb-none">
            <thead>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </section>


  </div>

  <script>
    $(document).ready(function () {
      $('#date_value_start').datepicker({
        todayHighlight: true,
        weekStart: 1,
        daysOfWeekHighlighted: "0,6",
        todayBtn: "linked",
        language: "fr",
        autoclose: true
      });
      $('#date_value_end').datepicker({
        todayHighlight: true,
        weekStart: 1,
        daysOfWeekHighlighted: "0,6",
        todayBtn: "linked",
        language: "fr",
        autoclose: true
      });

      $('input').on('click', function () {
        var start = $('input[name=date_value_start]').val();
        var end = $('input[name=date_value_end]').val();
        $.ajax({
          url: '{{ path('statistics_drivers') }}',
          data: {
            date_start: start,
            date_end: end
          },
          dataType: 'json',
          success: function (data) {
            $("#liste").empty();
            $("#count_race").empty();
            $("#count_day").empty();
            $("#count_work_clean").empty();
            $("#count_work_fuel").empty();
            $("#count").empty();

            $("#liste").append("<th>#</th> <th>service</th> <th>statusName</th> <th>Customer</th> <th>Départ</th> <th>Arrivée</th> <th>Date</th><th>Arrival Driver</th><th>On Race</th><th>Finish Race</th><th>Commentaire</th></tr></th>").appendTo('#liste');

            $("#count").append("<th>Nombre de Jour travaillé</th> <th>Course réalisée</th> <th>Temps de conduite [jour/nuit]</th> <th>Temps d'attente</th> <th>Temps de Gasoil</th> <th>Temps de nettoyage</th><th>temps d'entretien</th><th>Temps total</th></tr></th>").appendTo('#count');


            var workday = 0;
            var worknight = 0;
            var totalworkrace = 0;
            var tempstotal = 0;
            $.each(data, function () {
              workday += this.tempsconduitejour;
              worknight += this.tempsconduitenuit;
            });
            totalworkrace = workday + worknight;
            tempstotal = totalworkrace + data[0].tempsdefuel + data[0].tempsdenettoyage;

            $('<tr class="">').append("<td>" + data[0].count_day + "</td><td>" + data[0].count_race + "</td><td>" + totalworkrace.toFixed(2) + " [" + workday.toFixed(2) + "/" + worknight.toFixed(2) + "]</td><td>temps d'attente</td><td>" + data[0].tempsdefuel + "<td>" + data[0].tempsdenettoyage + "</td><td>temps d'entretien</td><td>" + tempstotal.toFixed(2) + "</td></tr>").appendTo('#count');

            $("#report").html('Rapport d\'activité de ' + data[0].driver + " du " + start + " au " + end)

            data.forEach(function (m/*, index */) {

              var formatted_date = moment(m.race_created['date']).format("DD/MM/YYYY HH:MM");
              $('<tr class="">').append("<td>" + m.id + ' ' + formatted_date + ' </td><td>' + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.hoursArrivalDriverTime + "\n(" + m.hoursArrivalDriverEcart + ")</td><td>" + m.HoursRaceOnRaceDriverTime + "\n(" + m.HoursRaceOnRaceDriverEcart + ")</td><td>" + m.HourFinishRace + "\n(" + m.HoursFinishDriverEcart + ")</td><td>" + m.commentaire + "</td></tr>").appendTo('#liste');


            })
          }
        });
      });


    });
    $('#navrace').addClass('nav-expanded');
    $('#navracelist').css("color", "white");
  </script>
{% endblock %}

