{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}

{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    <div class="sonata-ba-form">
        <section class="panel">

            {{ form_start(form, { 'attr': {'class': 'form-bordered'} }) }}

                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion0" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse0One" data-parent="#accordion0" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-info"></i> Export
                                            </a>
                                        </h4>
                                    </div>

                                    {% if error is not null %}
                                        <div class="panel-heading" style="margin-top: 10px; padding: 15px; background: #ff2222;">
                                            <h4 class="panel-title">
                                                <i class="fa fa-exclamation"></i>
                                                    {{ error }}
                                            </h4>
                                        </div>
                                    {% endif %}

                                    {{ form_row(form.report, { 'attr': {'class': ''} }) }}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ form_end(form) }}

        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/select2/select2.css') }}" />
    {#<link rel="stylesheet" href="{{ asset('bundles/sonataadmin/vendor/select2/select2-bootstrap.css') }}" />#}

    <style type="text/css">
        .export-select {
            padding-right: 15px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/sonataadmin/vendor/select2/select2.js') }}"></script>

    <script>
        $(document).ready(function() {
            $(".select2").select2();
            console.log('add select2');
        });
    </script>
{% endblock %}