{% extends 'CABAdminBundle::layout.html.twig' %}

{% trans_default_domain "backend" %}
{% block title %}
    {{ "Statistique"|trans({}, 'SonataAdminBundle') }}
{% endblock%}
{% block navbar_title %}
    {{ block('title') }}
{% endblock %}
{% block content %}

    {% if is_granted('ROLE_ADMIN')%}


        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>

                        <h2 class="panel-title">{% trans %}Chiffre d'affaire{% endtrans %}</h2>
                        <p class="panel-subtitle">{% trans %}Chiffre d'affaire TTC TOTO par mois{% endtrans %}</p>
                    </header>
                    <div class="panel-body">

                        <!-- Flot: Bars -->
                        <div class="chart chart-md" id="flotBars">  </div>
                        <script id="source" language="javascript" type="text/javascript">
                            var flotBarsData =  {{ flotBarsData|json_encode|raw }} ;
                        </script>
                    </div>
                </section>
            </div>

        </div>   
        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary">
                                    <i class="fa fa-usd"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">{% trans %}Total Profit{% endtrans %}</h4>
                                    <div class="info">
                                        <strong class="amount">{{sumca}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </header>
                    <div style="display: block;" class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped mb-none">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Company{% endtrans %}</th>
                                        <th align="right">{% trans %}Total profit{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key in bestcompanylist %}
                                        <tr><td>{{ key.companyName|e }}</td>
                                            <td>{{ key.total|number_format(2, '.', ' ') }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-up"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-tertiary">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </div>

                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">{% trans %}Total Race{% endtrans %}</h4>
                                    <div class="info">
                                        <strong class="amount">{{countrace}}</strong>
                                    </div>
                                </div>

                            </div>
                        </div>   

                    </header>
                    <div style="display: block;" class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped mb-none">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th>Total race</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key in bestcompanyracelist %}
                                        <tr><td>{{ key.companyName|e }}</td>
                                            <td>{{ key.total}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </section>
            </div>
        </div>                           
        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">{% trans %}Total customer{% endtrans %}</h4>
                                    <div class="info">
                                        <strong class="amount">{{countcustomer}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </header>
                    <div style="display: block;" class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped mb-none">
                                <thead>
                                    <tr>
                                        <th>Company</th>
                                        <th align="right">{% trans %}Total customer{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key in listcustomerbycompany %}
                                        <tr><td>{{ key.companyName|e }}</td>
                                            <td>{{ key.total }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fa fa-life-ring"></i>
                                </div>    
                            </div>

                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">{% trans %}Total driver{% endtrans %}</h4>
                                    <div class="info">
                                        <strong class="amount">{{countdriver}}</strong>
                                    </div>
                                </div>

                            </div>
                        </div>   

                    </header>
                    <div style="display: block;" class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped mb-none">
                                <thead>
                                    <tr>
                                        <th>{% trans %}Company{% endtrans %}</th>
                                        <th>{% trans %}Total driver{% endtrans %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key in listdriverbycompany %}
                                        <tr><td>{{ key.companyName|e }}</td>
                                            <td>{{ key.total}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>

<div class="row">
                <div class="col-md-12">
                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>

                            <h2 class="panel-title">Chauffeurs logguées par jour</h2>
                            <p class="panel-subtitle">Nombre de chauffeur loggué sur les 30 derniers jours</p>
                        </header>
                        <div class="panel-body">
                            <div class="chart chart-md" id="morrisLine"></div>
                            <script type="text/javascript">
                                      var morrisLineData = {{ lineChartsCountTrack|json_encode|raw }} ;
                             </script>

                        </div>


                    </section>
                </div>
            </div>

    {% endif %}

    {% if is_granted('ROLE_ADMINCOMPANY') and not is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-md-12">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">{% trans %}Chiffre d'affaire{% endtrans %}</h2>
                        <p class="panel-subtitle">{% trans %}Chiffre d'affaire TTC par mois{% endtrans %}</p>
                    </header>
                    <div class="panel-body">
                        <!-- Flot: Bars -->
                        <div class="chart chart-md" id="flotBars">  </div>

                        <script id="source" language="javascript" type="text/javascript">

                                    var flotBarsData = {{ flotBarsData|json_encode|raw }} ;
                        </script>
                </section>
            </div>

        </div>   
        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">

                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-secondary">
                                    <i class="fa fa-usd"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">{%trans%}Total Profit{%endtrans%}</h4>
                                    <div class="info">
                                        <strong class="amount">{{sumca}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </header>

                </section>
            </div>
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">

                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-tertiary">
                                    <i class="fa fa-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <div class="panel-actions">
                                        <a href="#" class="fa fa-caret-down"></a>
                                    </div>
                                    <h4 class="title">{% trans %}Total Race{% endtrans %}</h4>
                                    <div class="info">
                                        <strong class="amount">{{countrace}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>   

                    </header>
                    <div style="display: block;" class="panel-body">

                        <div class="table-responsive">
                            <table class="table table-striped mb-none">
                                <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th align="right">{% trans %}Total{% endtrans %}</th>
                                        <th align="right">%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for key in countracestatus %}

                                        <tr>
                                            <td>
                                                {% if key.status == 0 %}
                                                    {% trans %}CREATE{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 1 %}
                                                    {% trans %} PAYED{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 2 %}
                                                    {% trans %} REJECTED BY DRIVER{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 3 %}
                                                    {% trans %}CANCELLED BY CLIENT{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 4 %}
                                                    {% trans %} AFFECTED {% endtrans %}
                                                {% endif %}
                                                {% if key.status == 5 %}
                                                    {% trans %} UPDATED BY CUSTOMER{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 6 %}
                                                    {% trans %}DONE{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 7 %}
                                                    {% trans %}PAYED_AND_UPDATED_BY_CUSTOMER{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 8 %}
                                                    {% trans %}CANCELLED BY ADMIN{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 9 %}
                                                    {% trans %}ON RACE DRIVER{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 10 %}
                                                    {% trans %} CASH_PAY{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 11 %}
                                                    {% trans %} ATTENTE_PAY{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 12 %}
                                                    {% trans %} ACCEPTED DRIVER{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 13 %}
                                                    {% trans %} ARRIVED DRIVER{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 14 %}
                                                    {% trans %} NO REPONSE{% endtrans %}
                                                {% endif %}
                                                {% if key.status == 15 %}
                                                    {% trans %}CANCELLED BY DRIVER{% endtrans %}
                                                {% endif %}
                                                {# key.status|e #}

                                            </td>
                                            <td>{{ key.total }}</td>
                                            <td> {% set count =  key.total/countTotalRaceStatus*100%}
                                                {{count|number_format(2, '.', ' ')}}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>                           
        <div class="row">
            <div class="col-md-6">
                <section class="panel">
                    <header class="panel-heading">
                        <div class="widget-summary">
                            <div class="widget-summary-col widget-summary-col-icon">
                                <div class="summary-icon bg-primary">
                                    <i class="fa fa-user"></i>
                                </div>
                            </div>
                            <div class="widget-summary-col">
                                <div class="summary">
                                    <h4 class="title">{% trans %}Total customer{% endtrans %}</h4>
                                    <div class="info">
                                        <strong class="amount">{{listcustomerbycompany}}</strong>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </header>

                </section>
            </div>


{% endif %}

        {% if is_granted('ROLE_DRIVER') and not is_granted('ROLE_ADMIN') and not is_granted('ROLE_ADMINCOMPANY') %}
            <div class="row">
                <div class="col-md-12">
                    <section class="panel" id="driveraffect1">
                        <header class="panel-heading">
                            <div class="panel-actions" >
                                <a href="#" class="fa fa-caret-down"></a>
                                <a href="#" class="fa fa-times"></a>
                            </div>

                            <h2 class="panel-title">{% trans %}Chiffre d'affaire{% endtrans %}</h2>
                            <p class="panel-subtitle">{% trans %}Chiffre d'affaire réalisé par mois{% endtrans %}</p>
                        </header>
                        <div class="panel-body">
                            <!-- Flot: Bars -->
                            <div class="chart chart-md" id="flotBars"></div>
                            <script id="source" language="javascript" type="text/javascript">
                            flotBarsData = {{ flotBarsData|json_encode|raw }};
                            </script>
                        </div>
                    </section>
                </div>

            </div>

        {% endif %}



        <script>
                    $('#affectdriver').attr('class', 'fa fa-caret-up');
            $('#driveraffect1,#driveraffect2').hide();
        </script>


    {% endblock %}


