{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle:CRUD:base_list.html.twig' %}


{% block list_table %}
    <div class="box box-primary">
        <div class="box-body">
            <ul class="nav nav-pills">
                <li><a><strong>{{ "label.select_context"|trans({}, 'SonataMediaBundle') }}</strong></a></li>
                {% for name, context in media_pool.contexts %}
                    {% if context.providers|length == 0 %}
                        {% set urlParams = {'context' : name } %}
                    {% else %}
                        {% set urlParams = {'context' : name, 'provider' : context.providers[0] } %}
                    {% endif %}

                    {% if name == persistent_parameters.context %}
                        <li class="active"><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
                    {% else %}
                        <li><a href="{{ admin.generateUrl('list', urlParams) }}">{{ name|trans({}, 'SonataMediaBundle') }}</a></li>
                    {% endif %}
                {% endfor %}

                {% set providers = media_pool.getProviderNamesByContext(persistent_parameters.context) %}

                {% if providers|length > 1 %}
                        </ul>
                    </div>
                    <div class="box-footer">
                        <ul class="nav nav-pills">
                            <li><a><strong>{{ "label.select_provider"|trans({}, 'SonataMediaBundle') }}</strong></a></li>

                            {% if persistent_parameters.provider is defined and not persistent_parameters.provider %}
                                <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
                            {% else %}
                                <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': null}) }}">{{ "link.all_providers"|trans({}, 'SonataMediaBundle') }}</a></li>
                            {% endif %}

                            {% for provider_name in providers %}
                                {% if persistent_parameters.provider is defined and persistent_parameters.provider == provider_name%}
                                    <li class="active"><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
                                {% else %}
                                    <li><a href="{{ admin.generateUrl('list', {'context': persistent_parameters.context, 'provider': provider_name}) }}">{{ provider_name|trans({}, 'SonataMediaBundle') }}</a></li>
                                {% endif %}
                            {% endfor %}
                {% endif %}
            </ul>
        </div>
    </div>

    {{ parent() }}

{% endblock %}