<!DOCTYPE html>
<html class="fixed">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Title{% endblock %}</title>
        <!-- Mobile Metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        {% block head_styles %}
            <link rel="stylesheet" href="{{ asset('bundles/cabmain/css/theme-dblue.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/cabmain/css/style.css') }}" />
            <link rel="stylesheet" href="={{ asset('bundles/cabmain/css/animate.css') }}s" />
            <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700">
            <link href="{{ asset('bundles/cabmain/css/intlTelInput.css') }}" rel="stylesheet" >

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">




        {% endblock head_styles %}

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <script src="{{ asset('bundles/cabadmin/vendor/modernizr/modernizr.js') }}"></script>
    </head>
    <body>
    <input type="hidden" id="locale-input" value="{{ app.request.getLocale() }}"/>
    {% block navbar %}
        <header class="header" role="banner">
            <div class="wrap">
                <!-- Logo -->
                <div class="logo">
                    <a href="{{ url('homepage') }}" title="Home" id="link-logo" >
                        <img id="logo" alt="logo" src="{{ asset('bundles/cabmain/images/car-logo.png') }}" />
                    </a>
                </div>
                    
                    
                <!-- //Logo -->

                <!-- Main Nav -->
                <nav role="navigation" class="main-nav">
                    {{ knp_menu_render('main') }}
                </nav>
                <!-- //Main Nav -->
            </div>
        </header>
        <!-- //Header -->
    {% endblock %}

            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
            {% block fos_user_content %}

            {% endblock fos_user_content %}


            <!-- Preloader -->
            <div class="preloader">
                <div id="followingBallsG">
                    <div id="followingBallsG_1" class="followingBallsG"></div>
                    <div id="followingBallsG_2" class="followingBallsG"></div>
                    <div id="followingBallsG_3" class="followingBallsG"></div>
                    <div id="followingBallsG_4" class="followingBallsG"></div>
                </div>
            </div>
            <!-- //Preloader -->

            <!-- jQuery -->
            <script src="{{ asset('bundles/cabmain/js/jquery.min.js') }}js/jquery.min.js"></script>
            <script src="{{ asset('bundles/cabmain/js/jquery.uniform.min.js') }}"></script>
            <script src="{{ asset('bundles/cabmain/js/jquery.datetimepicker.js') }}"></script>
            <script src="{{ asset('bundles/cabmain/js/jquery.slicknav.min.js') }}"></script>
            <script src="{{ asset('bundles/cabmain/js/wow.min.js') }}"></script>
            <script src="{{ asset('bundles/cabmain/js/scripts.js') }}"></script>
            <script src="{{ asset('bundles/cabmain/js/intlTelInput.min.js') }}"></script>
            
    </body>
</html>