{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{%- set _preview = block('preview') is defined ? block('preview')|trim : null %}
{% set _form = block('form') is defined ? block('form')|trim : null %}
{% set _show = block('show') is defined ? block('show')|trim : null %}
{% set _list_table = block('list_table') is defined ? block('list_table')|trim : null %}
{% set _list_filters = block('list_filters') is defined ? block('list_filters')|trim : null %}
{% set _tab_menu = block('tab_menu') is defined ? block('tab_menu')|trim : null %}
{% set _content = block('content') is defined ? block('content')|trim : null %}
{% set _title = block('title') is defined ? block('title')|trim : null %}
{% set _breadcrumb = block('breadcrumb') is defined ? block('breadcrumb')|trim : null %}
{% set _actions = block('actions') is defined ? block('actions')|trim : null %}
{% set _navbar_title = block('navbar_title') is defined ? block('navbar_title')|trim : null %}
{% set _list_filters_actions = block('list_filters_actions') is defined ? block('list_filters_actions')|trim : null -%}
{% trans_default_domain 'backend' %}
<!DOCTYPE html>
<html {% block html_attributes %}class="fixed sidebar-left-collapsed"{% endblock %}>
    <head>
        {% block meta_tags %}
            <meta charset="UTF-8">
            <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
            <meta name="author" content="123 CAB">
        {% endblock %}

        {% block stylesheets %}

            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

            <!-- Vendor CSS -->
            <link href="{{ asset('bundles/cabmain/css/intlTelInput.css') }}" rel="stylesheet" >
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/bootstrap/css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/font-awesome/css/font-awesome.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/magnific-popup/magnific-popup.css') }}" />
            <link rel="stylesheet"
                  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>




            <link href="{{ asset('bundles/cabmain/css/jquery.datetimepicker.css') }}" rel="stylesheet" media="screen">

            <!-- Specific Page Vendor CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/pnotify/pnotify.custom.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/morris/morris.css') }}" />

            <!-- Theme CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/stylesheets/theme.css') }}" />

            <!-- Skin CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/stylesheets/skins/default.css') }}" />

            <!-- Theme Custom CSS -->
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/stylesheets/theme-custom.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/pnotify/pnotify.custom.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/cropper/cropper.min.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/prestaimage/css/cropper.css') }}">

            <style>
                .datepicker .active_date_set{
                    border: 1px solid #0088cc;
                }
            </style>

        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/cabadmin/vendor/jquery/jquery.min.js') }} "></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
            <script>
                window.SONATA_CONFIG = {
                    CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                    USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
                    USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
                };
                window.SONATA_TRANSLATIONS = {
                    CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
                };
            </script>

            <!-- Head Libs -->
            <script src="{{ asset('bundles/cabadmin/vendor/modernizr/modernizr.js') }}"></script>


    {% endblock %}

    <title>
        {% block sonata_head_title %}
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first %}
                            {%  if loop.index != 2 %}
                                &gt;
                            {% endif %}

                            {{ menu.label }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif%}
        {% endblock %}
    </title>
</head>
<body>
    <input type="hidden" id="locale-input" value="{{ app.request.getLocale() }}"/>
    <section class="body">
        {% block sonata_header %}
            <!-- start: header -->
            <header class="header">
                <div class="logo-container">
                    <a href="{{ url('sonata_admin_dashboard') }}" class="logo">
                        <img src="{% if admin_pool is defined %}{{ asset(admin_pool.titlelogo) }} {% else %}{{ asset(asset('bundles/mainbundle/images/car_logo.png')) }}{% endif %}" height="35" alt="Admin" />
                    </a>
                    <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html" data-fire-event="sidebar-left-opened">
                        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                    </div>
                </div>

                <!-- start: search & user box -->
                <div class="header-right">
                    {% block sonata_sidebar_search %}
                        {% if app.token and is_granted('ROLE_ADMIN') %}
                            {#<form action="{{ url('sonata_admin_search') }}" class="search nav-form" method="GET" role="search">
                                <div class="input-group input-search">
                                    <input type="text" class="form-control" name="q" value="{{ app.request.get('q') }}"  id="q" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </form>#}
                        {% endif %}
                    {% endblock sonata_sidebar_search %}

                    <span class="separator"></span>

                    <ul class="notifications">

                        <li>
                            {{ render(controller('CABAdminBundle:Common:message')) }}
                        </li>

                    </ul>

                    <span class="separator"></span>

                    <div id="userbox" class="userbox">
                        <a href="#" data-toggle="dropdown">
                            <figure class="profile-picture">
                                <img src="{{ asset('bundles/cabadmin/images/!logged-user.jpg')}}" alt="{{ app.user.getUsedName() }}" class="img-circle"
                                     data-lock-picture="{{ asset('bundles/cabadmin/images/!logged-user.jpg')}}" />
                            </figure>
                            <div class="profile-info" data-lock-name="{{ app.user.getUsedName() }}" data-lock-email="{{ app.user.email }}">
                                <span class="name">{{ app.user.getUsedName() }}</span>
                                <span class="role">
                                    {% set role_name = "" %}
                                    {% set company_ref = "" %}
                                    {% for key, role in app.user.roles %}
                                        {% if key == 0 %}
                                            {% if role == 'ROLE_DRIVER' %}
                                                {% set role_name = "Driver" %}
                                                {% set company_ref = app.user.driverCompany %}
                                            {% endif %}
                                            {% if role == 'ROLE_ADMIN' %}
                                                {% set role_name = "administrator" %}
                                            {% endif %}
                                            {% if role == 'ROLE_ADMIN_COMPANY' %}
                                                {% set role_name = "Company administrator" %}
                                            {% endif %}
                                            {% if role == 'ROLE_AGENT' %}
                                                {% set role_name = "Agent" %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ role_name }}<br/>
                                    {{ company_ref }}
                                </span>
                            </div>


                            <i class="fa custom-caret"></i>
                        </a>

                        <div class="dropdown-menu">
                            <ul class="list-unstyled">
                                <li class="divider"></li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="{{ url('fos_user_profile_show') }}"><i class="fa fa-user"></i>{% trans %}My Profile{% endtrans %}</a>
                                </li>
                                <li>
                                    <a role="menuitem" tabindex="-1" href="{{ url('fos_user_security_logout') }}"><i class="fa fa-power-off"></i>{% trans %}Logout{% endtrans %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end: search & user box -->
            </header>
            <!-- end: header -->
        {% endblock sonata_header %}

        {% block sonata_wrapper %}
            <div class="inner-wrapper">
                {% block sonata_left_side %}
                    <!-- start: sidebar -->
                    <aside id="sidebar-left" class="sidebar-left">
                        {{ include('CABAdminBundle:Common:menu_left_backend.html.twig') }}
                    </aside>
                    <!-- end: sidebar -->
                {% endblock sonata_left_side %}

                <aside class="right-side">
                    {% block sonata_page_content %}
                        {{ include('CABAdminBundle:Common:content_header.html.twig') }}

                        <section class="content">
                            {% block sonata_admin_content %}

                                <section role="main" class="content-body">
                                    {{ include('CABAdminBundle:Common:page_header.html.twig') }}

                                    <!-- start: page -->
                                    {% block custom_content %}
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                {% block notice %}
                                                    {% include 'CABAdminBundle:FlashMessage:render.html.twig' %}
                                                {% endblock notice %}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12 col-lg-12 col-xl-12">
                                                {% if _preview is not empty %}
                                                    <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                                                {% endif %}

                                                {% if _content is not empty %}
                                                    <div class="sonata-ba-content">{{ _content|raw }}</div>
                                                {% endif %}

                                                {% if _show is not empty %}
                                                    <div class="sonata-ba-show">{{ _show|raw }}</div>
                                                {% endif %}

                                                {% if _form is not empty %}
                                                    <div class="sonata-ba-form">{{ _form|raw }}</div>
                                                {% endif %}

                                                {% if _list_table is not empty or _list_filters is not empty %}
                                                    <div class="row">
                                                        <div class="sonata-ba-list {% if _list_filters|trim %}col-md-10{% else %}col-md-12{% endif %}">
                                                            {{ _list_table|raw }}
                                                        </div>

                                                        {% if _list_filters|trim %}
                                                            <div class="sonata-ba-filter col-md-2">
                                                                {{ _list_filters|raw }}
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    {% endblock %}
                                    <!-- end: page -->
                                </section>
                            {% endblock sonata_admin_content %}
                        </section>
                    {% endblock sonata_page_content %}
                </aside>

            </div>
            <aside id="sidebar-right" class="sidebar-right">
                <div class="nano">
                    <div class="nano-content">
                        <a href="#" class="mobile-close visible-xs">
                            Collapse <i class="fa fa-chevron-right"></i>
                        </a>

                        <div class="sidebar-right-wrapper">

                            <div class="sidebar-widget widget-calendar">
                                <h6>{% trans %}Upcoming Tasks{% endtrans %}</h6>

                              <div id="datetimepicker_tasks_right"></div>

                                <div id="block_expire_docs" class="block_information_after_calendar">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5>{% trans %}Docs car expired{% endtrans %}</h5>
                                        </div>
                                        <div class="col-md-1 right">
                                           <i style="cursor: pointer;" class="fa fa-caret-down button_show_hide_block"></i>
                                        </div>
                                    </div>
                                    <ul id="tasks_datetime_right" class="list_information_after_calendar">
                                    </ul>
                                </div>

                                <div id="block_expire_docs_user" class="block_information_after_calendar">
                                    <div class="row">
                                        <div class="col-md-9">
                                            <h5>{% trans %}Docs driver expired{% endtrans %}</h5>
                                        </div>
                                        <div class="col-md-1 right">
                                           <i style="cursor: pointer;" class="fa fa-caret-down button_show_hide_block"></i>
                                        </div>
                                    </div>
                                    <ul id="tasks_datetime_right_user" class="list_information_after_calendar">
                                    </ul>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </aside>
            <!-- Modal Form -->
            <div id="modalFormNewUser" class="modal-block modal-block-primary mfp-hide">
                <section class="panel">
                    {{  render (controller("CABUserBundle:Registration:register",{ 'layout': 0, 'role': 'ROLE_ADMINCOMPANY'  })) }}
                </section>
            </div>

            <div id="modalFormNewCustomer" class="modal-block modal-block-primary mfp-hide">
                <section class="panel">
                    {{  render (controller("CABUserBundle:Registration:register",{ 'layout': 0, 'role': 'ROLE_CUSTOMER' })) }}
                </section>
            </div>

            <div id="modalFormNewDriver" class="modal-block modal-block-primary mfp-hide">
                <section class="panel">
                    {{  render (controller("CABUserBundle:Registration:register",{ 'layout': 0, 'role': 'ROLE_Driver'  })) }}
                </section>
            </div>

            <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="errorModalLabel">Error</h4>
                        </div>
                        <div class="modal-body">
                            <p id="errorContentModal">

                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock sonata_wrapper %}
        <!-- Vendor -->

        <script src="//maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyBmysX4U_Q5Pucn-5rcGnn0dvXis4b4nps"></script>
        <script src="{{ asset('bundles/cabmain/js/jquery.geocomplete.min.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/bootstrap/js/bootstrap.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/bootstrap-timepicker/js/bootstrap-timepicker.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/jquery.datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/magnific-popup/magnific-popup.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jquery-placeholder/jquery.placeholder.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/jquery.form.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/nanoscroller/nanoscroller.js') }}"></script>

        <!-- Specific Page Vendor -->
        <script src="{{ asset('bundles/cabadmin/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jquery-appear/jquery.appear.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jquery-easypiechart/jquery.easypiechart.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/flot-tooltip/jquery.flot.tooltip.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/flot/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/flot/jquery.flot.categories.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/flot/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jquery-sparkline/jquery.sparkline.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/raphael/raphael.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/morris/morris.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/gauge/gauge.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/snap-svg/snap.svg.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/liquid-meter/liquid.meter.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/jquery.vmap.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/data/jquery.vmap.sampledata.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/maps/jquery.vmap.world.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/maps/continents/jquery.vmap.africa.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/maps/continents/jquery.vmap.asia.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/maps/continents/jquery.vmap.australia.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/maps/continents/jquery.vmap.europe.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/maps/continents/jquery.vmap.north-america.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/jqvmap/maps/continents/jquery.vmap.south-america.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/vendor/moment-with-locales.js') }}"></script>
        <!-- Theme Base, Components and Settings -->
        <script src="{{ asset('bundles/cabadmin/javascripts/theme.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/intlTelInput.min.js') }}"></script>

        <!-- Theme Custom -->
        <script src="{{ asset('bundles/cabadmin/javascripts/theme.custom.js') }}"></script>

        <!-- Theme Initialization Files -->
        <script src="{{ asset('bundles/cabadmin/javascripts/theme.init.js') }}"></script>

        <script src="{{ asset('bundles/cabadmin/vendor/pnotify/pnotify.custom.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/javascripts/ui-elements/examples.modals.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/javascripts/ui-elements/examples.notifications.js') }}"></script>

        <!-- Examples -->

		<script src="{{ asset('bundles/cabadmin/javascripts/dashboard/examples.dashboard.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/javascripts/ui-elements/chart.js') }}"></script>
        <script src="{{ asset('bundles/sonatacore/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>

    </section>
    <script src="{{ asset('bundles/cabadmin/vendor/cropper/cropper.min.js') }}"></script>
    <script src="{{ asset('bundles/prestaimage/js/cropper.js') }}"></script>
    <script>
      (function(w, $) {

        'use strict';

        $(function() {
          $('.cropper').each(function() {
            new Cropper($(this));
          });
        });

          var element = '\n' +
              '                           <li>\n' +
              '                           <time>{0}</time>\n' +
              '                           <span style=\'cursor: pointer;\' onclick="var win = window.open(\'/admin/{{ app.request.getLocale() }}/cab/course/vehicule/{2}/show\', \'_blank\');win.focus();">{1}</span>\n' +
              '                       </li>';

          var element_user = '\n' +
              '                           <li>\n' +
              '                           <time>{0}</time>\n' +
              '                           <span style=\'cursor: pointer;\' onclick="var win = window.open(\'/admin/{{ app.request.getLocale() }}/driver/{2}/show\', \'_blank\');win.focus();">{1}</span>\n' +
              '                       </li>';


          $.ajax({
              url     : Routing.generate('get_vehicule_by_expired_docs_all'),
              type    : 'GET',
              dataType: 'json',
              success : function (response) {
                  $('#datetimepicker_tasks_right').datepicker({
                      beforeShowDay: function (date) {
                          if ($.inArray(moment(date).format('YYYY-MM-DD'), response.dates) != (-1)) {
                              return {
                                  classes: 'active_date_set'
                              };
                          }

                      }
                  });

                  $('#datetimepicker_tasks_right').datepicker().on('changeDate', function (e) {
                      var check_date = moment(e.date).format('YYYY-MM-DD'),
                          ul_block   = $('#tasks_datetime_right'),
                          ul_block_user   = $('#tasks_datetime_right_user');
                      ul_block.empty();
                    ul_block_user.empty();

                      if (
                          typeof response.vehicules_by_date[moment(e.date).format('YYYY-MM-DD')] != 'undefined'
                      ) {
                          for (var i in response.vehicules_by_date[moment(e.date).format('YYYY-MM-DD')]) {
                              ul_block.append(element.replace('{0}', moment(e.date).format('YYYY/MM/DD')).replace('{1}', response.vehicules_by_date[moment(e.date).format('YYYY-MM-DD')][i].number).replace('{2}', i));
                          }
                      }

                      if (
                          typeof response.user_by_date[moment(e.date).format('YYYY-MM-DD')] != 'undefined'
                      ) {
                          for (var i in response.user_by_date[moment(e.date).format('YYYY-MM-DD')]) {
                            ul_block_user.append(element_user.replace('{0}', moment(e.date).format('YYYY/MM/DD')).replace('{1}', response.user_by_date[moment(e.date).format('YYYY-MM-DD')][i].username).replace('{2}', i));
                          }
                      }
                  });
              }
          });

          $(".button_show_hide_block").on('click', function () {
              var $this = $(this);
              if ($this.hasClass('fa-caret-down')) {
                  $this.removeClass('fa-caret-down').addClass('fa-caret-up');
                  $this.closest('.block_information_after_calendar').find('.list_information_after_calendar').hide( "fast")
              } else {
                  $this.removeClass('fa-caret-up').addClass('fa-caret-down');
                  $this.closest('.block_information_after_calendar').find('.list_information_after_calendar').show( "fast")
              }
          })

      })(window, jQuery);
    </script>
</body>
</html>
