{#
This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% set _preview      = block('preview') %}
{% set _form         = block('form') %}
{% set _show         = block('show') %}
{% set _list_table   = block('list_table') %}
{% set _list_filters = block('list_filters') %}
{% set _tab_menu     = block('tab_menu') %}
{% set _content      = block('content') %}
{% set _title        = block('title') %}
{% set _breadcrumb   = block('breadcrumb') %}
{% set _actions      = block('actions') %}
{% set _navbar_title = block('navbar_title') %}
<!DOCTYPE html>
<html {% block html_attributes %}class="fixed"{% endblock %}>
<head>
    {% block meta_tags %}
        <meta charset="UTF-8">
        <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <meta name="author" content="123 CAB">
    {% endblock %}

    {% block stylesheets %}

        <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light"
              rel="stylesheet" type="text/css">

        <!-- Vendor CSS -->
        <link href="{{ asset('bundles/cabmain/css/intlTelInput.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/bootstrap/css/bootstrap.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/font-awesome/css/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/magnific-popup/magnific-popup.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/bootstrap-datepicker/css/datepicker3.css') }}"/>

        <link href="{{ asset('bundles/cabmain/css/jquery.datetimepicker.css') }}" rel="stylesheet" media="screen">

        <!-- Specific Page Vendor CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/pnotify/pnotify.custom.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('bundles/cabadmin/vendor/jquery-ui/css/ui-lightness/jquery-ui-1.10.4.custom.css') }}"/>
        <link rel="stylesheet"
              href="{{ asset('bundles/cabadmin/vendor/bootstrap-multiselect/bootstrap-multiselect.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/vendor/morris/morris.css') }}"/>

        <!-- Theme CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/stylesheets/theme.css') }}"/>

        <!-- Skin CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/stylesheets/skins/default.css') }}"/>

        <!-- Theme Custom CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/cabadmin/stylesheets/theme-custom.css') }}">


    {% endblock %}

    {% block javascripts %}
        <script src="{{ asset('bundles/cabadmin/vendor/jquery/jquery.min.js') }} "></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        <script>
            window.SONATA_CONFIG = {
                CONFIRM_EXIT: {% if admin_pool is defined and admin_pool.getOption('confirm_exit') %}true{% else %}false{% endif %},
                USE_SELECT2: {% if admin_pool is defined and admin_pool.getOption('use_select2') %}true{% else %}false{% endif %},
                USE_ICHECK: {% if admin_pool is defined and admin_pool.getOption('use_icheck') %}true{% else %}false{% endif %}
            };
            window.SONATA_TRANSLATIONS = {
                CONFIRM_EXIT: '{{ 'confirm_exit'|trans({}, 'SonataAdminBundle')|escape('js') }}'
            };
        </script>

        <!-- Head Libs -->
        <script src="{{ asset('bundles/cabadmin/vendor/modernizr/modernizr.js') }}"></script>

        {# localize select2 #}
        {% if admin_pool is defined and admin_pool.getOption('use_select2') %}
        {% set locale = app.request.locale %}
        {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

        {# omit default EN locale #}
        {% if locale[:2] != 'en' %}
        <script src="{{ asset('bundles/sonataadmin/vendor/select2/select2.js') }}"></script>
        <script src="{{ asset('bundles/cabadmin/javascripts/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}
        {% endif %}
        <script src="http://maps.google.com/maps/api/js?sensor=true"></script>

    {% endblock %}

    <title>
        {% block sonata_head_title %}
            {{ 'Admin'|trans({}, 'SonataAdminBundle') }}

            {% if _title is not empty %}
                {{ _title|raw }}
            {% else %}
                {% if action is defined %}
                    -
                    {% for menu in admin.breadcrumbs(action) %}
                        {% if not loop.first %}
                            {% if loop.index != 2 %}
                                &gt;
                            {% endif %}

                            {{ menu.label }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endblock %}
    </title>
</head>
<body>
<input type="hidden" id="locale-input" value="{{ app.request.getLocale() }}"/>
<section class="body">
    {% block sonata_header %}
        <!-- start: header -->
        <header class="header">
            <div class="logo-container">
                <a href="{{ url('sonata_admin_dashboard') }}" class="logo">
                    <img src="{% if admin_pool is defined %}{{ asset(admin_pool.titlelogo) }} {% else %}{{ asset(asset('bundles/mainbundle/images/car_logo.png')) }}{% endif %}"
                         height="35" alt="Admin"/>
                </a>
                <div class="visible-xs toggle-sidebar-left" data-toggle-class="sidebar-left-opened" data-target="html"
                     data-fire-event="sidebar-left-opened">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </div>
            </div>

            <!-- start: search & user box -->
            <div class="header-right">
                {% block sonata_sidebar_search %}
                    {% if app.security.token and is_granted('ROLE_ADMIN') %}
                        <form action="{{ url('sonata_admin_search') }}" class="search nav-form" method="GET"
                              role="search">
                            <div class="input-group input-search">
                                <input type="text" class="form-control" name="q" value="{{ app.request.get('q') }}"
                                       id="q" placeholder="{{ 'search_placeholder'|trans({}, 'SonataAdminBundle') }}">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">
                                            <i class="fa fa-search"></i></button>
                                    </span>
                            </div>
                        </form>
                    {% endif %}
                {% endblock sonata_sidebar_search %}

                <span class="separator"></span>

                <ul class="notifications">
                    <li>
                        <a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
                            <i class="fa fa-tasks"></i>
                            <span class="badge">3</span>
                        </a>

                        <div class="dropdown-menu notification-menu large">
                            <div class="notification-title">
                                <span class="pull-right label label-default">3</span>
                                Tasks
                            </div>

                            <div class="content">
                                <ul>
                                    <li>
                                        <p class="clearfix mb-xs">
                                            <span class="message pull-left">Generating Sales Report</span>
                                            <span class="message pull-right text-dark">60%</span>
                                        </p>
                                        <div class="progress progress-xs light">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="60"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <p class="clearfix mb-xs">
                                            <span class="message pull-left">Importing Contacts</span>
                                            <span class="message pull-right text-dark">98%</span>
                                        </p>
                                        <div class="progress progress-xs light">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="98"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 98%;"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <p class="clearfix mb-xs">
                                            <span class="message pull-left">Uploading something big</span>
                                            <span class="message pull-right text-dark">33%</span>
                                        </p>
                                        <div class="progress progress-xs light mb-xs">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="33"
                                                 aria-valuemin="0" aria-valuemax="100" style="width: 33%;"></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        {{ render(controller('CABAdminBundle:Common:message')) }}
                    </li>

                </ul>

                <span class="separator"></span>

                <div id="userbox" class="userbox">
                    <a href="#" data-toggle="dropdown">
                        <figure class="profile-picture">
                            <img src="{{ asset('bundles/cabadmin/images/!logged-user.jpg') }}"
                                 alt="{{ app.user.getUsedName() }}" class="img-circle"
                                 data-lock-picture="{{ asset('bundles/cabadmin/images/!logged-user.jpg') }}"/>
                        </figure>
                        <div class="profile-info" data-lock-name="{{ app.user.getUsedName() }}"
                             data-lock-email="{{ app.user.email }}">
                            <span class="name">{{ app.user.getUsedName() }}</span>
                                <span class="role">
                                    {% set role_name = "" %}
                                    {% set company_ref = "" %}
                                    {% for key, role in app.user.roles %}
                                        {% if key == 0 %}
                                            {% if role == 'ROLE_DRIVER' %}
                                                {% set role_name = "Driver" %}
                                                {% set company_ref = app.user.driverCompany %}
                                            {% endif %}
                                            {% if role == 'ROLE_ADMIN' %}
                                                {% set role_name = "administrator" %}
                                            {% endif %}
                                            {% if role == 'ROLE_ADMIN_COMPANY' %}
                                                {% set role_name = "Company administrator" %}
                                            {% endif %}
                                            {% if role == 'ROLE_AGENT' %}
                                                {% set role_name = "Agent" %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {{ role_name }}<br/>
                                    {{ company_ref }}
                                </span>
                        </div>


                        <i class="fa custom-caret"></i>
                    </a>

                    <div class="dropdown-menu">
                        <ul class="list-unstyled">
                            <li class="divider"></li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="{{ url('fos_user_profile_show') }}"><i
                                            class="fa fa-user"></i> My Profile</a>
                            </li>
                            <li>
                                <a role="menuitem" tabindex="-1" href="{{ url('fos_user_security_logout') }}"><i
                                            class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end: search & user box -->
        </header>
        <!-- end: header -->
    {% endblock sonata_header %}

    {% block sonata_wrapper %}
        <div class="inner-wrapper">
            {% block sonata_left_side %}
                <!-- start: sidebar -->
                <aside id="sidebar-left" class="sidebar-left">
                    {{ include('CABAdminBundle:Common:menu_left_backend.html.html.twig') }}
                </aside>
                <!-- end: sidebar -->
            {% endblock sonata_left_side %}

            <aside class="right-side">
                {% block sonata_page_content %}
                    {{ include('CABAdminBundle:Common:content_header.html.twig') }}
                    <section class="content">
                        {% block sonata_admin_content %}
                            <section role="main" class="content-body">
                                {{ include('CABAdminBundle:Common:page_header.html.twig') }}
                                <!-- start: page -->
                                {% block custom_content %}
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-xl-12">
                                            {% block notice %}
                                                {% include 'CABAdminBundle:FlashMessage:render.html.twig' %}
                                            {% endblock notice %}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 col-lg-12 col-xl-12">
                                            {% if _preview is not empty %}
                                                <div class="sonata-ba-preview">{{ _preview|raw }}</div>
                                            {% endif %}

                                            {% if _content is not empty %}
                                                <div class="sonata-ba-content">{{ _content|raw }}</div>
                                            {% endif %}

                                            {% if _show is not empty %}
                                                <div class="sonata-ba-show">{{ _show|raw }}</div>
                                            {% endif %}

                                            {% if _form is not empty %}
                                                <div class="sonata-ba-form">{{ _form|raw }}</div>
                                            {% endif %}

                                            {% if _list_table is not empty or _list_filters is not empty %}
                                                <div class="row">
                                                    <div class="sonata-ba-list {% if _list_filters|trim %}col-md-10{% else %}col-md-12{% endif %}">
                                                        {{ _list_table|raw }}
                                                    </div>

                                                    {% if _list_filters|trim %}
                                                        <div class="sonata-ba-filter col-md-2">
                                                            {{ _list_filters|raw }}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>
                                {% endblock %}
                                <!-- end: page -->
                            </section>
                        {% endblock sonata_admin_content %}
                    </section>
                {% endblock sonata_page_content %}
            </aside>

        </div>
        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="#" class="mobile-close visible-xs">
                        Collapse <i class="fa fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2014-04-19T00:00+00:00">04/19/2014</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-widget widget-friends">
                            <h6>Friends</h6>
                            <ul>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="{{ asset('bundles/cabadmin/images/!sample-user.jpg') }}"
                                             alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-online">
                                    <figure class="profile-picture">
                                        <img src="{{ asset('bundles/cabadmin/images/!sample-user.jpg') }}"
                                             alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="{{ asset('bundles/cabadmin/images/!sample-user.jpg') }}"
                                             alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                                <li class="status-offline">
                                    <figure class="profile-picture">
                                        <img src="{{ asset('bundles/cabadmin/images/!sample-user.jpg') }}"
                                             alt="Joseph Doe" class="img-circle">
                                    </figure>
                                    <div class="profile-info">
                                        <span class="name">Joseph Doe Junior</span>
                                        <span class="title">Hey, how are you?</span>
                                    </div>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </aside>
        <!-- Modal Form -->
        <div id="modalFormNewUser" class="modal-block modal-block-primary mfp-hide">
            <section class="panel">
                {% render (controller("CABUserBundle:Registration:register",{ 'layout': 0, 'role': 'ROLE_ADMINCOMPANY'  })) %}
            </section>
        </div>

        <div id="modalFormNewCustomer" class="modal-block modal-block-primary mfp-hide">
            <section class="panel">
                {% render (controller("CABUserBundle:Registration:register",{ 'layout': 0, 'role': 'ROLE_CUSTOMER' })) %}
            </section>
        </div>

        <div id="modalFormNewDriver" class="modal-block modal-block-primary mfp-hide">
            <section class="panel">
                {% render (controller("CABUserBundle:Registration:register",{ 'layout': 0, 'role': 'ROLE_Driver'  })) %}
            </section>
        </div>

        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="errorModalLabel">Error</h4>
                    </div>
                    <div class="modal-body">
                        <p id="errorContentModal">

                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock sonata_wrapper %}
    <!-- Vendor -->
    <script src="{{ asset('bundles/cabadmin/vendor/jquery-browser-mobile/jquery.browser.mobile.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/vendor/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/vendor/nanoscroller/nanoscroller.js') }}"></script>
    <!-- Specific Page Vendor -->
    <script src="{{ asset('bundles/cabadmin/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/vendor/jquery-ui-touch-punch/jquery.ui.touch-punch.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/vendor/jquery-appear/jquery.appear.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/vendor/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/javascripts/theme.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/javascripts/theme.custom.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/javascripts/theme.init.js') }}"></script>

    {% block javascript_footer %}{% endblock %}

</section>
</body>
</html>
