{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('api_create_user'), 'attr': {'class': 'fos_user_registration_register'}}) }}
    {# form_widget(form) #}

	{{ form_row(form.username) }}
	{{ form_row(form.email) }}
	{{ form_row(form.plainPassword) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.phoneMobile) }}
    {{ form_row(form.postCode) }}
    {{ form_row(form.city) }}
    {{ form_row(form.country) }}
    {{ form_row(form.latuser) }}
    {{ form_row(form.lnguser) }}

	{{ form_widget(form._token) }}
{{ form_end(form) }}
