{% trans_default_domain 'backend' %}

<div class="sidebar-header">
    <div class="sidebar-title">
        Navigation
    </div>
    <div class="sidebar-toggle hidden-xs" data-toggle-class="sidebar-left-collapsed" data-target="html"
         data-fire-event="sidebar-left-toggle">
        <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
    </div>
</div>

{% block side_bar_before_nav %} {% endblock %}
{% block side_bar_nav %}
    {# Maybe this code is not needed? As i see, ROLE_SONATA_ADMIN is not used in your app. In any case, it is better to display this menu in some another place #}
    {% if app.token and is_granted('ROLE_SONATA_ADMIN') %}
        <ul class="sidebar-menu">
            {% for group in admin_pool.dashboardgroups %}
                {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}
                {% for role in group.roles if not display %}
                    {% set display = is_granted(role) %}
                {% endfor %}

                {# Do not display the group label if no item in group is available #}
                {% set item_count = 0 %}
                {% if display %}
                    {% for admin in group.items if item_count == 0 %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                            {% set item_count = item_count+1 %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if display and (item_count > 0) %}
                    {% set active = false %}
                    {% for admin in group.items %}
                        {% if admin.hasroute('list') and admin.isGranted('LIST') and app.request.get('_sonata_admin') == admin.code %}
                            {% set active = true %}
                        {% endif %}
                    {% endfor %}
                    <li class="treeview{% if active %} active{% endif %}">
                        <a href="#">
                            {% if group.icon|default() %}{{ group.icon|raw }}{% endif %}
                            <span>{{ group.label|trans({}, group.label_catalogue) }}</span>
                            <i class="fa pull-right fa-angle-left"></i>
                        </a>
                        <ul class="treeview-menu{% if active %} active{% endif %}">
                            {% for admin in group.items %}
                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                    <li{% if app.request.get('_sonata_admin') == admin.code %} class="active"{% endif %}>
                                        <a href="{{ admin.generateUrl('list') }}"><i
                                                class="fa fa-angle-double-right"></i> {{ admin.label|trans({}, admin.translationdomain) }}
                                        </a></li>
                                    {% endif %}
                                {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
{% endblock side_bar_nav %}
{% block side_bar_after_nav %}
{% endblock %}

{% if is_granted('ROLE_ADMIN') %}
    {{ include('CABAdminBundle:menu:menu_backend_admin.html.twig') }}

{% elseif is_granted('ROLE_ADMINCOMPANY') and not is_granted('ROLE_ADMIN') %}
    {{ include('CABAdminBundle:menu:menu_backend_admin_company.html.twig') }}

{% elseif is_granted('ROLE_COMPANYBUSINESS') and not is_granted('ROLE_ADMIN') %}
    {{ include('CABAdminBundle:menu:menu_backend_business_company.html.twig') }}

{% elseif is_granted('ROLE_AGENT') and not is_granted('ROLE_ADMINCOMPANY') and not is_granted('ROLE_ADMIN') %}
    {{ include('CABAdminBundle:menu:menu_backend_agent.html.twig') }}

{% elseif is_granted('ROLE_DRIVER') and not is_granted('ROLE_ADMINCOMPANY') and not is_granted('ROLE_ADMIN')%}
    {{ include('CABAdminBundle:menu:menu_backend_driver.html.twig') }}
{% endif %}