<a href="#" class="dropdown-toggle notification-icon" data-toggle="dropdown">
    <i class="fa fa-envelope"></i>
    <span class="badge">{{ fos_message_nb_unread() }}</span>
</a>

<div class="dropdown-menu notification-menu">
    <div class="notification-title">
        <span class="pull-right label label-default">{{ threads|length }}</span>
        Messages
    </div>

    <div class="content">
        {% if threads %}
            <ul>
                {% for thread in threads %}
                    {% if not fos_message_is_read(thread) and thread.lastMessage %}
                        <li>
                            <a href="{{ url('cab_message_thread_view', {'threadId': thread.id}) }}#message_{{ thread.lastMessage.id }}" title="{% trans from 'FOSMessageBundle' %}goto_last{% endtrans %}" class="clearfix">
                                <span class="title">{{ thread.subject }}</span>
                                <span class="message">
                                    {% trans with {'%date%': thread.lastMessage.createdAt|date} from 'FOSMessageBundle' %}on{% endtrans %}
                                    <br />
                                    {% trans with {'%sender%': thread.lastMessage.sender|e } from 'FOSMessageBundle' %}by{% endtrans %}
                                </span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}

        <hr />

        <div class="text-right">
            <a href="{{ url('cab_message_inbox') }}"
               title="{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}" class="view-more">View All</a>
        </div>
    </div>
</div>