<header class="page-header">
    <h2>
        {% if admin is defined %}
            {% if admin.pageTitle.list is defined %}
                {% if is_granted('ROLE_ADMIN') %}
                    {{ admin.pageTitle.list|trans({}, 'CABAdminBundle')  }}
                {% elseif is_granted('ROLE_ADMINCOMPANY') and admin.baseCodeRoute == "cab.admin.company"%}
                    {{ 'List business company'|trans({}, 'CABAdminBundle')  }}
                {% endif %}

            {% elseif object is defined %}
                {% if admin.id(object) is not null %}
                    {% if is_granted('ROLE_ADMIN') %}
                        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
                    {% elseif is_granted('ROLE_ADMINCOMPANY') and admin.baseCodeRoute == "cab.admin.company"%}
                        {{ 'Edit business company'|trans({}, 'CABAdminBundle')  }}
                    {% endif %}
                {% endif %}

            {% else %}
                {% if is_granted('ROLE_ADMIN') %}
                    {% if admin.pageTitle is defined %}
                        {{ admin.pageTitle.create|trans({}, 'CABAdminBundle')  }}
                    {% else %}
                        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
                    {% endif %}
                {% elseif is_granted('ROLE_ADMINCOMPANY') and admin.baseCodeRoute == "cab.admin.company"%}
                    {{ 'Create business company'|trans({}, 'CABAdminBundle')  }}
                {% endif %}
            {% endif %}
        {% endif %}
    </h2>
    {% if admin is defined %}
    {% if is_granted('ROLE_ADMINCOMPANY') %}
        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ url('sonata_admin_dashboard') }}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Dashboard</span></li>
            </ol>

            <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
        </div>

    {% endif %}


    {% endif %}


</header>