{% extends 'CABAdminBundle::layout.html.twig' %}
{% trans_default_domain 'backend' %}
{% block title %}
    {{ "Planing of "|trans({'%name%': app.user.UsedName }, 'SonataAdminBundle') }}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block form %}
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <div id="accordion2" class="panel-group">
                    <div class="panel panel-accordion panel-accordion-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">

                                <a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                                    <i class="fa fa-star"></i> {{ "Driver's working day"|trans }}
                                </a>
                            </h4>
                        </div>
                        <div class="accordion-body collapse in" id="collapse2One" aria-expanded="true" style="">
                            <div class="panel-body field-driverWorkDay col-md-12 container">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ block('parentForm') }}
    </div>

{% endblock %}

