{% extends 'CABAdminBundle::layout.html.twig' %}
{% form_theme form 'CABAdminBundle:Form:fields.html.twig' %}
{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block row %}
    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}<div class="panel-body">
    {{ block('parentForm') }}
</div>
    <script>
        $(document).ready(function () {
            var company = $(".company-select");
            var zone = $(".zone-select");

            // When company gets selected ...
            company.change(function () {
                console.log(company);
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[company.attr('name')] = company.val();
                // Submit data via AJAX to the form's action path.
                var generatedRoute = Routing.generate('get_object_company', { id: company.val(), searched: 'zone' });
                console.log(generatedRoute);
                $.ajax({
                    url: generatedRoute,
                    type: 'GET',
                    success: function (html) {
                        var mySelect = $('.zone-select');
                        mySelect.empty();
                        $.each(html.result, function(val, text) {
                            mySelect.append(
                                    $('<option></option>').val(val).html(text)
                            );
                        });
                    }
                });
                var generatedRoute2 = Routing.generate('get_object_company', {  id: company.val(), searched: 'serviceTransport' });
                $.ajax({
                    url: generatedRoute2,
                    type: 'GET',
                    success: function (html) {
                        var serviceSelect = $('.service-select');
                        serviceSelect.empty();
                        $.each(html.result, function(val, text) {
                            serviceSelect.append(
                                    $('<option></option>').val(val).html(text)
                            );
                        });
                    }
                });
            });

            /*// When zone gets selected ...
            zone.change(function () {

                // Submit data via AJAX to the form's action path.
                var generatedRoute = Routing.generate('get_object_company', { id: zone.val(), searched: 'serviceTransport' });
                console.log(generatedRoute);
                $.ajax({
                    url: generatedRoute,
                    type: 'GET',
                    success: function (html) {
                        var stSelect = $('.serviceTransports-select');
                        $.each(html.result, function(val, text) {
                            stSelect.append(
                                    $('<option></option>').val(val).html(text)
                            );
                        });
                    }
                });
            });*/
        });
    </script>
{% endblock %}

