{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}{{ title  }}{% endblock %}
{% block meta %}
    <meta name="keywords" content="UP TAXi, prix, reservation, voyage, aeroport, airport  " />
    <meta name="description" content="ClickAndUp, la solution entreprise pour economiser sur vos frais de transports">
{% endblock meta %}
{% trans_default_domain 'frontend' %}

{% block main_content %}

    <!-- Intro -->
    <main role="main" class="main blue"> 
        {% set actualLangue = app.request.locale %}

        <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{% trans %}ClickAndUp{% endtrans %}</h1>
                </div>
            </div>
        </header>
        <!-- //Page info -->
        <div id="map-canvas"></div>
        <!--- //Google map -->
        <div class="wrap">
            <div class="row">

                <div class="three-fourth content">
                    <header class="f-title black" id="faqs1">{%trans%}Simple et efficace{%endtrans%}</header>
                    <dl class="panel">
                        <p class="center">
                         <center><img src="{{ asset('uploads/blogsite/'~actualLangue~'/societe.jpg') }}" alt="" />
                    </p>    
                    </dl>
                    <header class="f-title black" id="faqs2">{%trans%}Traçabilité de vos courses{%endtrans%}</header>    
                    <dl class="panel">
                        <p class="center">
                         <center><img src="{{ asset('uploads/blogsite/'~actualLangue~'/business.jpg') }}" alt="" />
                    </p>    
                    </dl>
                </div>

                <!--- //Content -->

                <!--- Sidebar -->
                <aside class="one-fourth sidebar right offset">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class="active"><a href="#faqs1" class="anchor">{%trans%}Simple et efficace{%endtrans%}</a></li>
                            <li><a href="#faqs2" class="anchor">{%trans%}Traçabilité{%endtrans%}</a></li>
                        </ul>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>
        </div>
    </main>
    <!-- //Main -->
    <script type="text/javascript" >
        $(document).ready(function () {
            $("#cab_main_contact_phone").intlTelInput({
                //allowExtensions: true,
                //autoFormat: false,
                //autoHideDialCode: false,
                //autoPlaceholder: false,
                //defaultCountry: "auto",
                //geoIpLookup: function(callback) {
                //   $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                //     var countryCode = (resp && resp.country) ? resp.country : "";
                //     callback(countryCode);
                //   });
                // },
                nationalMode: false,
                numberType: "MOBILE",
                //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                preferredCountries: ['fr'],
                utilsScript: "{{asset('test/assets/lib/utils.js')}}"

            });
        });
    </script>  

{% endblock main_content %}

