{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}{{ title  }}{% endblock %}
{% block meta %}
    <meta name="keywords" content="UP TAXi, prix, reservation, voyage, aeroport, airport, contact, toulouse, pas chers  " />
    <meta name="description" content="Besoin d'une information, merci de remplir le formulaire">
{% endblock meta %}
{% form_theme form 'CABUserBundle:Form:fields_fo.html.twig' %}
{% trans_default_domain 'frontend' %}



{% block main_content %}

  <!-- Intro -->
 <main role="main" class="main blue">
		<!-- Page info -->
		<header class="site-title green">
			<div class="wrap">
				<div class="container">
					<h1>{% trans %}Contact us{% endtrans %}</h1>

				</div>
			</div>
		</header>
		<!-- //Page info -->
            <div id="map-canvas"></div>
<!--- //Google map -->
            <div class="wrap">
			<div class="row">
                            <div class="full-width content textongrey">
					<h2>{% trans %}Contact us one message{% endtrans %}</h2>
					<p>{% trans %}An answer under will be give within 24 hours... Think of filling well all the fields{% endtrans %}</p>
                </div>
				<!--- //Content -->

				<!-- Form -->
				<div class="three-fourth">
                    {{ form_start(form, {"attr": {"id": "formcontact"},"action":path('contact') }) }}


                                            <header class="f-title black">{% trans %}Your information{% endtrans %}</header>
						<div id="message"></div>
                        <div class="f-row">
			<div class="one-half">
			{{ form_widget(form.contactName,{ 'attr': {'class': "input",'placeholder': 'Firstname and Lastname'|trans} }) }}
			</div>
                        <div class="one-half">
                        {{ form_widget(form.email,{ 'attr': {'class': "input",'placeholder': 'Email'|trans} }) }}
			</div>
                        </div>
                        <div class="f-row">
			<div class="one-half">
			{{ form_widget(form.company,{ 'attr': {'class': "input",'placeholder': 'Compagny name'|trans} }) }}
			</div>
                        <div class="one-half">
                        {{ form_widget(form.phone) }}
			</div>
                        </div>

                        <div class="f-row">
			<div class="one-half">
			{{ form_widget(form.address,{ 'attr': {'class': "input",'placeholder': 'Address'|trans} }) }}
			</div>
                        <div class="one-half">
                        {{ form_widget(form.subject,{ }) }}
			</div>
                        </div>

                        <div class="f-row">
			{{ form_widget(form.bodyMessage,{ 'attr': {'class': "maps_input",'placeholder': 'Message'|trans} }) }}
                        </div>

			<div class="f-row">
                        {{ form_widget(form.submit,{ 'attr': { 'class':"btn medium green left",'value': 'Send my request'|trans} }) }}
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                        {% if app.session.flashBag.has('success') %}
                        <script>
                        $("#formcontact").hide();
                        </script>
                        <div class="alert alert-success ">
                            {% for msg in app.session.flashBag.get('success') %}
                                <h1>{{ msg|trans }}</h1>
                            {% endfor %}
                        </div>

                    {% endif %}
				</div>
				<!-- //Form -->

				<!--- Sidebar -->
				<aside class="one-fourth sidebar right">
					<!-- Widget -->
						<div class="widget">
						<h4>{% trans %}Need support ?{% endtrans %}</h4>
						<div class="textwidget">
							<p>{% trans %}Our team is available to reply to all your request{% endtrans %}</p>
							<p class="contact-data"><span class="ico phone black"></span>+33 (0)5 32 09 08 08</p>
						</div>
					</div>
					<!-- //Widget -->

					<!-- Widget
					<div class="widget">
						<h4>{% trans %}Location vÃ©hicule{% endtrans %}</h4>
						<a href="#"><img src="http://placehold.it/800x600" alt="" /></a>
					</div>
					<!-- //Widget -->
				</aside>
				<!--- //Sidebar -->
			</div>
		</div>
	</main>
	<!-- //Main -->
        <script type="text/javascript" >
    $(document).ready(function() {
       $("#cab_main_contact_phone").intlTelInput({
        //allowExtensions: true,
        //autoFormat: false,
        //autoHideDialCode: false,
        //autoPlaceholder: false,
        //defaultCountry: "auto",
       //geoIpLookup: function(callback) {
        //   $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
        //     var countryCode = (resp && resp.country) ? resp.country : "";
        //     callback(countryCode);
        //   });
        // },
        nationalMode: false,
        numberType: "MOBILE",
        //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        preferredCountries: ['fr'],
       utilsScript: "{{asset('test/assets/lib/utils.js')}}"

    });
    });
</script>
<script>
 function initAutocomplete() {

var componentForm = {

locality: 'long_name',

};

  // Create the autocomplete object, restricting the search to geographical
  // location types.
autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('cab_main_contact_address')),
      {types: ['geocode']});


google.maps.event.addListener(autocomplete, 'place_changed', function()  {
    var place = autocomplete.getPlace();
    var components = place.address_components;

    var street = null;
    $("#cab_user_registration_city").val('');
    $("#cab_user_registration_country").val('');
    $("#cab_user_registration_postCode").val('');
    $("#cab_user_registration_latuser").val('');
    $("#cab_user_registration_lnguser").val('');
    for (var i = 0, component; component = components[i]; i++) {
        console.log(component);


        if (component.types[0] == 'route') {
            street = component['long_name'];
        }
        if (component.types[0] == 'locality') {
            locality = component['long_name'];
        $("#cab_user_registration_city").val = '';
        $("#cab_user_registration_city").val(locality.toUpperCase());
        }
        if (component.types[0] == 'country') {
            country = component['short_name'];
        $("#cab_user_registration_country").val(country.toUpperCase());
        }
        if (component.types[0] == 'postal_code') {
            postal_code = component['long_name'];

        $("#cab_user_registration_postCode").val(postal_code.toUpperCase());
        }

    }
    //alert('Street: ' + street);
    $("#cab_user_registration_latuser").val(place.geometry.location.lat());
    $("#cab_user_registration_lnguser").val(place.geometry.location.lng());
    //alert(place.geometry.location.lat());
});


}

    </script>
<script src="https://maps.googleapis.com/maps/api/js?key={{keygoogle.server_key}}&signed_in=true&libraries=places&callback=initAutocomplete"async defer></script>


{% endblock main_content %}
