{% extends 'CABMainBundle::layout.html.twig' %}

{% form_theme form 'CABUserBundle:Form:fields_fo.html.twig' %}
{% trans_default_domain 'frontend' %}

{% form_theme form 'CABMainBundle:Form:fields.html.twig' %}

{% block title %}{{ title|trans  }}{% endblock %}

{% block main_content %}
    <!-- Page info -->

    <main role="main" class="main blue">
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{% trans %}Become partner{% endtrans %}</h1>
                </div>
            </div>
        </header>
        <div class="wrap">
            <div class="row">
                <!--- Content -->
                
                <div class="">
                    <header class="f-title black">{% trans %}The description of the subscriptions{% endtrans %}</header>
                    <dl class="faqs">
						<!-- Item -->
						<dt class="article">{% trans %}The geo-localization of your vehicle{% endtrans %}</dt>
						<dd style="display: none;">
                                                    <p>{% trans %}Using your smartphone, we record all GPS data during your working period{% endtrans %}.</p>
                                                    <p>{% trans %}Your information is stored during 1 year in our {% endtrans %}<strong>{% trans %}secure servers{% endtrans %}</strong>,{% trans %} you have a traceability of the whole workday{% endtrans %}.</p>
                                                </dd>
						<!-- //Item -->
						
						<!-- Item -->
						<dt class="">{% trans %}The on-line reservation{% endtrans %}</dt>
						<dd style="display: none;">
                                                    <p>{% trans %}There is two type of reservation{% endtrans %}:<br>
                                                    <p>- {% trans %}The reservation via the web site{% endtrans %}.</p>
                                                    <p> - {% trans %}The reservation via the mobile application{% endtrans %}.</p>	
                                                    <p></p>
                                                </dd>
						<!-- //Item -->
						
						<!-- Item -->
						<dt>I cannot find a route I want to book. What to do?</dt>
						<dd style="display: none;">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <strong>nonummy nibh euismod</strong> tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							<p>Duis autem vel eum iriure dolor in <a href="#">hendrerit in vulputate</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
						</dd>
						<!-- //Item -->
						
						<!-- Item -->
						<dt>How do I pay for my transfer?</dt>
						<dd style="display: none;">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <strong>nonummy nibh euismod</strong> tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							<p>Duis autem vel eum iriure dolor in <a href="#">hendrerit in vulputate</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
						</dd>
						<!-- //Item -->
						
						<!-- Item -->
						<dt>Can I book a transfer with more than one stop?</dt>
						<dd style="display: none;">
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam <strong>nonummy nibh euismod</strong> tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. </p>
							<p>Duis autem vel eum iriure dolor in <a href="#">hendrerit in vulputate</a> velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat</p>
						</dd>
						<!-- //Item -->
					</dl>
                    <form id="formpartner" action="{{ path('partner') }}" method="post">
                    <header class="f-title black">{% trans %}Your information{% endtrans %}</header>
                    {{ form_errors(form) }}
                        <div class="f-row">
                            <div class="one-half">
                                {{ form_widget(form.partnerName,{ 'attr': {'class': "input",'placeholder': 'Firstname and Lastname'|trans} }) }}
                            </div>
                            <div class="one-half">
                                {{ form_widget(form.company,{ 'attr': {'class': "input",'placeholder': 'Compagny name'|trans} }) }}
                            </div>
                        </div>
                        <div class="f-row">
                        <div class="one-half">
                                {{ form_widget(form.email,{ 'attr': {'class': "input",'placeholder': 'Email'|trans} }) }}
                        </div>    
                        <div class="one-half">
                                {{ form_widget(form.phone,{ 'attr': {'class': "input",'placeholder': 'Phone'|trans} }) }}
                        </div>
                        </div>
                        <div class="f-row">
                            <div class="one-half">
                                {{ form_widget(form.address,{ 'attr': {'class': "input"} }) }}
                            </div>
                            <div class="one-half">
                                {{ form_widget(form.vehiculesType) }}{{ form_widget(form._token) }}
                            </div>
                        </div>
                        <div class="f-row">
                            {{ form_widget(form.subject,{ 'attr': {'class': "input",'placeholder': 'Subject'|trans} }) }}
                        </div>
                        <div class="f-row">
                            {{ form_widget(form.bodyMessage,{ 'attr': {'class': "maps_input",'placeholder': 'Add message'|trans} }) }}
                        </div>
                        <div class="f-row">
                            {{ form_widget(form.submit,{ 'attr': { 'class':"btn medium green left",'value': 'Send my request'|trans} }) }}
                        </div>
                        <input id="Partner" name="Partner" value="Partner" type="hidden">
                    </form>

                    {% if app.session.flashBag.has('success') %}
                        <script>
                            $("#formpartner").hide();
                        </script>
                        <div class="alert alert-success ">
                            {% for msg in app.session.flashBag.get('success') %}
                                <h1>{{ msg|trans }}</h1>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>

                <!--- Sidebar -->
              
                <!--- //Sidebar -->
            </div>

        </div>
 <script type="text/javascript" >
            $(document).ready(function () {
                $("#cab_main_partner_phone").intlTelInput({
                    //allowExtensions: true,
                    //autoFormat: false,
                    //autoHideDialCode: false,
                    //autoPlaceholder: false,
                    //defaultCountry: "auto",
                    //geoIpLookup: function(callback) {
                    //   $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                    //     var countryCode = (resp && resp.country) ? resp.country : "";
                    //     callback(countryCode);
                    //   });
                    // },
                    nationalMode: false,
                    numberType: "MOBILE",
                    //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                    preferredCountries: ['fr'],
                    utilsScript: "{{asset('test/assets/lib/utils.js')}}"

                });
            });
        </script> 
<script>
 function initAutocomplete() {
     
var componentForm = {

locality: 'long_name',
 
};
     
  // Create the autocomplete object, restricting the search to geographical
  // location types.
autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('cab_main_partner_address')),
      {types: ['geocode']});
      

google.maps.event.addListener(autocomplete, 'place_changed', function()  {
    var place = autocomplete.getPlace();
    var components = place.address_components;
    
    var street = null;
    $("#cab_user_registration_city").val('');
    $("#cab_user_registration_country").val('');
    $("#cab_user_registration_postCode").val('');
    $("#cab_user_registration_latuser").val('');
    $("#cab_user_registration_lnguser").val('');
    for (var i = 0, component; component = components[i]; i++) {
        console.log(component);
        
        
        if (component.types[0] == 'route') {
            street = component['long_name'];
        }
        if (component.types[0] == 'locality') {
            locality = component['long_name'];
        $("#cab_user_registration_city").val = '';    
        $("#cab_user_registration_city").val(locality.toUpperCase());    
        }
        if (component.types[0] == 'country') {
            country = component['short_name'];
        $("#cab_user_registration_country").val(country.toUpperCase());    
        }
        if (component.types[0] == 'postal_code') {
            postal_code = component['long_name'];
        
        $("#cab_user_registration_postCode").val(postal_code.toUpperCase());    
        }
        
    }
    //alert('Street: ' + street);
    $("#cab_user_registration_latuser").val(place.geometry.location.lat());
    $("#cab_user_registration_lnguser").val(place.geometry.location.lng());
    //alert(place.geometry.location.lat());
});


}

    </script>        
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXBQ0kSrvFmuTpQ_aAFX4rap1C_dj9Sac&signed_in=true&libraries=places&callback=initAutocomplete"async defer></script>    
           
    {% endblock main_content %}


