{% extends 'CABMainBundle::layout.html.twig' %}

{% trans_default_domain 'frontend' %}

{% block main_content %}

  <!-- Intro -->
<main role="main" class="main">
		<!-- Page info -->
		<header class="site-title green">
			<div class="wrap">
				<div class="container">
					<h1>Welcome {{app.user.lastName}}</h1>
				</div>
			</div>
		</header>
	{% for course in course %}
		{{course.id}}
	{% endfor %}
 <section class="">
     <div class="wrap">
			<div class="row">
  
  <ul class="categories">
      
     <aside class="one-fourth sidebar left">
					<!-- Widget -->
					<div class="widget">
						<ul class="categories">
                                                    <li class=""><a href="#tab1">{%trans%}My bookings{%endtrans%}</a></li>
                                            <li class=""><a href="#tab2">{%trans%}My settings{%endtrans%}</a></li>
							
						</ul>
					</div>
					<!-- //Widget -->
				</aside> 
   
   
  </ul>
  <div class="clr"></div>
  <section class="block">
      <div class="three-fourth content">
   
         <article id="tab1" class="single" style="display: block;">
						<!-- Item -->
                                                
                                                {% for course in course %}	
          
	
	
						<div class="box history">
							<h6>{{course.departureDate|date('Y-m-d') }} <small>at </small>{{course.departureTime|date('H:i:s') }}<br>{{course.startedAddress}} <small>to</small> {{course.arrivalAddress}}</h6>
							<div class="row">
								<div class="one-third">
									<p><span>Statut:</span> {{course.courseStatus}}</p>
								</div>
							</div>
							<div class="price">450.00 USD</div>
							<a title="Cancel" href="#">Cancel</a> &nbsp;|&nbsp; <a title="Modify" href="#">Modify</a>
						</div>
						<!-- //Item -->
						{% endfor %}

	</article>  
          
        <article id="tab2" class="single" style="display: none;">
						<div class="box">
							<h2>General settings</h2>
							<fieldset>
								<div class="f-row">
									<div class="one-half">
										
										<input type="text" id="name" value="{{app.user.firstName}}">
									</div>
									<div class="one-half">
										
										<input type="text" id="company" value="{{app.user.lastName}}">
									</div>
								</div>
								<div class="f-row">
									<div class="one-half">
										
										<input type="email" id="email" value="{{app.user.email}}">
									</div>
									<div class="one-half">
										
										<input type="tel" id="number" value="{{app.user.phoneMobile}}" class="uniform-input number">
									</div>
								</div>
								<div class="f-row">
									<div class="one-half">
										
										<input type="text" id="address">
									</div>
									<div class="one-half">
										<label for="zip">Zip code</label>
										<input type="text" id="zip">
									</div>
								</div>
								<div class="f-row">
									<div class="one-half">
										<label for="city">City</label>
										<input type="text" id="city">
									</div>
									<div class="one-half">
										<label for="country">Country</label>
										<input type="text" id="country">
									</div>
								</div>
								<div class="f-row">
									<input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
								</div>
							</fieldset>
						</div>
						
						<div class="box">						
							<h2>Security settings</h2>
							<fieldset>
								<div class="f-row">
									<div class="one-half">
										<label for="username">Username</label>
										<input type="text" id="username">
									</div>
									<div class="one-half">
										<label for="password1">Current password</label>
										<input type="password" id="password1">
									</div>
								</div>
								
								<div class="f-row">
									<div class="one-half">
										<label for="password2">New password</label>
										<input type="password" id="password2">
									</div>
									<div class="one-half">
										<label for="password3">Confirm new password</label>
										<input type="password" id="password3">
									</div>
								</div>
								
								<div class="f-row">
									<input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
								</div>
							</fieldset>
						</div>
						
						<div class="box">						
							<h2>Notification settings</h2>
							<fieldset>
								<div class="f-row check">
									<div class="checker" id="uniform-checkbox1"><span><input type="checkbox" id="checkbox1"></span></div>
									<label for="checkbox1">General promotions, updates, news about Transfers or general promotions for partner campaigns and services, user surveys, inspiration, and love from Transfers.</label>
								</div>
								
								<div class="f-row check">
									<div class="checker" id="uniform-checkbox2"><span><input type="checkbox" id="checkbox2"></span></div>
									<label for="checkbox2">Reservation and review reminders. </label>
								</div>
								
								<div class="f-row">
									<input class="btn btn-primary" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
								</div>
							</fieldset>
						</div>
					</article>
      
   
      </div>
  </section>
</section>	</div>
		
         </main>
        <script>
$(function(){
  $('ul.categories li:first').addClass('active');
  $('.block article').hide();
  $('.block article:first').show();
  $('ul.categories li').on('click',function(){
    $('ul.categories li').removeClass('active');
    $(this).addClass('active')
    $('.block article').hide();
    var activeTab = $(this).find('a').attr('href');
    $(activeTab).show();
    return false;
  });
}); </script>
{% endblock main_content %}