{% extends 'CABMainBundle::layout.html.twig' %}

{% trans_default_domain 'frontend' %}

{% block main_content %}

    <!-- Intro -->
    <main role="main" class="main blue">
        <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{{ article.title|trans|capitalize }}</h1>

                </div>
            </div>
        </header>
        <!-- //Page info -->
        <div class="wrap">
            <div class="row">			
                <!--- Content -->
                <div class="full-width content">
                    <article class="single hentry">
                        <div class="entry-content">
                            <h2>{{ article.title|trans }}</h2>
                            <div class=""> <!--<![endif]-->		<div class="twelve columns">			
                                    <div class="row">								
                                        <div class="twelve columns">
                                            <div class="block">
                                                {{ article.description|raw  }}
                                            </div>
                                        </div>			
                                    </div>		
                                </div>	
                            </div>
                        </div>
                     </article>
                    <!-- //Post -->
                </div>
                <!--- //Content -->
            </div>
        </div>
    </main>

    <!-- //Main -->
{% endblock main_content %}