{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}{{ title  }}{% endblock %}
{% trans_default_domain 'frontend' %}

{% block main_content %}

    <!-- Intro -->
    <main role="main" class="main blue"> 
        {% set actualLangue = app.request.locale %}

        <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{% trans %}The FAQ{% endtrans %}</h1>

                </div>
            </div>
        </header>
        <!-- //Page info -->
        <div id="map-canvas"></div>
        <!--- //Google map -->
        <div class="wrap">
            <div class="row">

                <div class="three-fourth content">
                    <header class="f-title black" id="faqs1">{%trans%}my account{%endtrans%}</header>
                    <dl class="faqs">
                        {% for object in faq %}
                            <!--- Content -->
                            {%if object.position == 1 %}
                                <dt>{{ object.question }}</dt>    
                                <dd style="display: none;">
                                    {% autoescape false %}
                                        {{ object.answer }}
                                    {% endautoescape %}
                                </dd>   
                            {%endif%}
                        {% endfor %}
                    </dl>
                    <header class="f-title black" id="faqs2">{%trans%}my book{%endtrans%}</header>    
                    <dl class="faqs">
                        {% for object in faq %}
                            <!--- Content -->
                            {%if object.position == 2 %}
                                <dt>{{ object.question }}</dt>    
                                <dd style="display: none;">
                                    {% autoescape false %}
                                        {{ object.answer }}
                                    {% endautoescape %}
                                </dd>   
                            {%endif%}
                        {% endfor %}
                    </dl>
                    <header class="f-title black" id="faqs3">{%trans%}my application mobile{%endtrans%}</header> 
                    <dl class="faqs">
                        {% for object in faq %}
                            <!--- Content -->
                            {%if object.position == 3 %}
                                <dt>{{ object.question }}</dt>    
                                <dd style="display: none;">
                                    {% autoescape false %}
                                        {{ object.answer }}
                                    {% endautoescape %}
                                </dd>   
                            {%endif%}
                        {% endfor %}
                    </dl>

                </div>

                <!--- //Content -->

                <!--- Sidebar -->
                <aside class="one-fourth sidebar right offset">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class="active"><a href="#faqs1" class="anchor">{%trans%}my account{%endtrans%}</a></li>
                            <li><a href="#faqs2" class="anchor">{%trans%}my book{%endtrans%}</a></li>
                            <li><a href="#faqs3" class="anchor">{%trans%}my application mobile{%endtrans%}</a></li>
                        </ul>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>
        </div>
    </main>
    <!-- //Main -->
    <script type="text/javascript" >
        $(document).ready(function () {
            $("#cab_main_contact_phone").intlTelInput({
                //allowExtensions: true,
                //autoFormat: false,
                //autoHideDialCode: false,
                //autoPlaceholder: false,
                //defaultCountry: "auto",
                //geoIpLookup: function(callback) {
                //   $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                //     var countryCode = (resp && resp.country) ? resp.country : "";
                //     callback(countryCode);
                //   });
                // },
                nationalMode: false,
                numberType: "MOBILE",
                //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                preferredCountries: ['fr'],
                utilsScript: "{{asset('test/assets/lib/utils.js')}}"

            });
        });
    </script>  

{% endblock main_content %}

