{% extends 'CABMainBundle::layout.html.twig' %}
{% trans_default_domain 'frontend' %}
{% block title %}{{ title  }}{% endblock %}
{% block meta %}
    <meta name="keywords" content="UP TAXI MAROC, pas chers, prix, voyage, excursion, casablanca, agadir, aeroport, tanger, essaouira  " />
    <meta name="description" content="Trouver un taxi au maroc, devis taxi, simple et rapide, application Ios et Android">
{% endblock meta %}

{% block main_content %}

    <!-- Intro -->
    <main role="main" class="main blue"> 
        {% set actualLangue = app.request.locale %}
            <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{{ title  }}</h1> 
                </div>
            </div>
        </header>
        <!-- //Page info -->
        <div id="map-canvas"></div>
        <!--- //Google map -->
        <div class="wrap">
            <div class="row">
                <div class="three-fourth content center">
                    <header class="f-title black" id="faqs1">{%trans%}Morrocco Taxi Service{%endtrans%}</header>
                    <dl class="panel">
                        <div>TARIF TAXI MAROC</div>
                        <div>CASABLANCA VERS CASABLANCA 50 DH</div>
                        <p class="center">
                            <img src="{{ asset('uploads/blogsite/'~actualLangue~'/maroc.jpg') }}" alt="" />
                    </p> 
                    <div>Des taxis professionnels dans les villes du Maroc
                   
                    <table>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <tbody>
                            <tr><td>Taxi Casablanca</td>
                        <td>Taxi Marrakech</td>
                        <td>Taxi Tanger</td>
                        <td>Taxi Rabat</td></tr>
                            <tr><td>Taxi Mohammmedia</td>
                        <td>Taxi Agadir</td>
                        <td>Taxi Salé</td>
                        <td>Taxi Oujda</td></tr>
                            <tr><td>Taxi Laâyoune</td>
                            <td>Taxi Essaouira<td> 
                            <td> <a href="{{ url('homepage') }}"><button class="btn large green">Réserver un taxi</button></a>
                               </td>  </tr>
                        </tbody>    
                        </table> 
                   
                        </div>
                    </dl>
                    <header class="f-title black" id="faqs1">{%trans%}Exemple Devis Taxi Aéroport Med V, Nouasseur, Maroc{%endtrans%}</header>
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>
                        </ol>
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            {% for item in media %}
                                <div class="{{ item.authorName }}">
                                    <img src="{% path item, 'big' %}" alt="">
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <header class="f-title black" id="faqs2">{%trans%}Traçabilité de vos courses{%endtrans%}</header>    
                    <dl class="panel">
                    <p class="center">
                         <img src="{{ asset('uploads/blogsite/'~actualLangue~'/business.jpg') }}" alt="" />
                    </p>
                    <div class="center">
                        <h3><span class="highlight">UP TAXI MAROC</span> C'est <span>2450 TAXIS POUR VOUS SERVIR</span></h3>
                    </div>
                   
                    </dl>
                    <header class="f-title black" id="faqs3">{%trans%}The price example{%endtrans%}</header> 
                    <dl class="faqs"><h3> <center>{%trans%}PRICE FOR SHORT DISTANCE{%endtrans%}</center></h3><br>
                       <table class="containertable">
	<thead>
		<tr>
                    <th><h1>{%trans%}departure{%endtrans%}</h1></th>
                    <th><h1>{%trans%}arrival{%endtrans%}</h1></th>
                    <th><h1>{%trans%}price 4 pax{%endtrans%}</h1></th>
                    <th><h1>{%trans%}price 6 pax{%endtrans%}</h1></th>
                    {#<th><h1>{%trans%}price 12 pax{%endtrans%}</h1></th>#}
			
		</tr>
	</thead>
	<tbody>
            {% for item in price1 %}
                <tr>
                <td>{{ item.departure }}</td>
                <td>{{ item.arrival }}</td>
                <td>{{ item.price4 }}</td>
                <td>{{ item.price6 }}</td>
                {#<td>{{ item.price12 }}</td>#}
                </tr>
            {% endfor %}
	</tbody>
</table>
                    </dl>
                    <dl class="faqs"><h3> <center>{%trans%}PRICE FOR LONG DISTANCE{%endtrans%}</center></h3><br>
                       <table class="containertable">
	<thead>
		<tr>
                    <th><h1>{%trans%}departure{%endtrans%}</h1></th>
                    <th><h1>{%trans%}arrival{%endtrans%}</h1></th>
                    <th><h1>{%trans%}price 4 pax{%endtrans%}</h1></th>
                    <th><h1>{%trans%}price 6 pax{%endtrans%}</h1></th>
                    {#<th><h1>{%trans%}price 12 pax{%endtrans%}</h1></th>#}
			
		</tr>
	</thead>
	<tbody>
            {% for item in price2 %}
                <tr>
                <td>{{ item.departure }}</td>
                <td>{{ item.arrival }}</td>
                <td>{{ item.price4 }}</td>
                <td>{{ item.price6 }}</td>
                {#<td>{{ item.price12 }}</td>#}
                </tr>
            {% endfor %}
	</tbody>
</table>
                    </dl>
                    <dl class="faqs"><h3> <center>{%trans%}DRIVER FOR ONE DAY{%endtrans%}</center></h3><br>
                       <table class="containertable">
	<thead>
		<tr>
                    <th><h1>{%trans%}departure{%endtrans%}</h1></th>
                    <th><h1>{%trans%}arrival{%endtrans%}</h1></th>
                    <th><h1>{%trans%}price 4 pax{%endtrans%}</h1></th>
                    <th><h1>{%trans%}price 6 pax{%endtrans%}</h1></th>
                    {#<th><h1>{%trans%}price 12 pax{%endtrans%}</h1></th>#}
			
		</tr>
	</thead>
	<tbody>
            {% for item in price3 %}
                <tr>
                <td>{{ item.departure }}</td>
                <td>{{ item.arrival }}</td>
                <td>{{ item.price4 }}</td>
                <td>{{ item.price6 }}</td>
                {#<td>{{ item.price12 }}</td>#}
                </tr>
            {% endfor %}
	</tbody>
</table>
                    </dl>
                    
                    <header class="f-title black" id="faqs3">{%trans%}my application mobile{%endtrans%}</header> 
                    <dl class="faqs">
                        
                    </dl>

                </div>

                <!--- //Content -->

                <!--- Sidebar -->
                <aside class="one-fourth sidebar right offset">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class="active"><a href="#faqs1" class="anchor">{%trans%}Morrocco Taxi Service{%endtrans%}</a></li>
                            <li><a href="#faqs2" class="anchor">{%trans%}Traçabilité de vos courses{%endtrans%}</a></li>
                             <li><a href="#faqs3" class="anchor">{%trans%}The price example{%endtrans%}</a></li>
                            <li><a href="#faqs4" class="anchor">{%trans%}my application mobile{%endtrans%}</a></li>
                        </ul>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>
        </div>
    </main>
    <!-- //Main -->
    <script type="text/javascript" >
        $(document).ready(function () {
            $("#cab_main_contact_phone").intlTelInput({
                //allowExtensions: true,
                //autoFormat: false,
                //autoHideDialCode: false,
                //autoPlaceholder: false,
                //defaultCountry: "auto",
                //geoIpLookup: function(callback) {
                //   $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                //     var countryCode = (resp && resp.country) ? resp.country : "";
                //     callback(countryCode);
                //   });
                // },
                nationalMode: false,
                numberType: "MOBILE",
                //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                preferredCountries: ['fr'],
                utilsScript: "{{asset('test/assets/lib/utils.js')}}"

            });
        });
    </script>  

{% endblock main_content %}

