{% extends 'CABMainBundle::layout.html.twig' %}
{% trans_default_domain 'frontend' %}
{% block title %}{{ title  }}{% endblock %}
{% block meta %}
    <meta name="keywords" content="UP TAXI MAROC, pas chers, prix, voyage, excursion, casablanca, agadir, aeroport, tanger, essaouira  " />
    <meta name="description" content="Trouver un taxi au maroc, devis taxi, simple et rapide, application Ios et Android">
{% endblock meta %}

{% block main_content %}
<style>
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#regions_div{
    height:100%;
    margin:0;
    padding:0;
    width:100%;
}

</style>


<!-- Intro -->
    <main role="main" class="main blue"> 
        {% set actualLangue = app.request.locale %}
            <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{{ title  }}</h1> 
                </div>
            </div>
        </header>
        <!-- //Page info -->
        <!--- //Google map -->
        <div class="wrap">
            <div class="row">
                <div class="three-fourth content center">
                    <header class="f-title black" id="faqs1">{%trans%}French Taxi Service{%endtrans%}</header>
                    <dl class="panel">
                        <div>TARIF EN FRANCE

                            <div id="regions_div" style=""></div>
                        </div>
                        <div>Des taxis professionnels dans les villes
                    <table>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <tbody>
                            <tr>
                        <td>Taxi Brest</td>
                        <td>Taxi Caen</td>
                        <td>Taxi Cherbourg</td>
                        <td>Taxi Clermon</td>
                        <td>Taxi Lyon</td>
                            </tr>
                        <tr>
                        <td>Taxi Deauville</td>
                        <td>Taxi Dijon</td>
                        <td>Taxi Grenoble</td>
                        <td>Taxi Le Havre</td>
                        <td>Taxi Nîmes</td>
                        </tr>
                        <tr>
                            <td>Taxi Le Touquet</td>
                            <td>Taxi Lille</td>
                            <td>Taxi Marseille</td>
                            <td>Taxi Montpellier</td>
                            <td>Taxi Pau</td>
                        </tr>
                        <tr>
                            <td>Taxi Nantes</td>
                            <td>Taxi Nice</td>
                            <td>Taxi Paris-Orly</td>
                            <td>Taxi Paris-Roissy</td>
                            <td>Taxi Paris</td>
                        </tr>
                            <td>Taxi Strasbourg</td>
                            <td>Taxi Toulouse</td>
                            <td>Taxi Toulon</td>
                            <td></td>
                                <td> <a href="{{ url('homepage') }}"><button class="btn large green">{% trans %}get a quote{% endtrans %}</button></a>
                       </td>
                        </tbody>    
                        </table> 
                   
                        </div>
                    </dl>
                    <header class="f-title black" id="faqs2">{%trans%}Traçabilité de vos courses{%endtrans%}</header>    
                    <dl class="panel">
                    <p class="center">
                         <img src="{{ asset('uploads/blogsite/'~actualLangue~'/business.jpg') }}" alt="" />
                    </p>
                    <div class="center">
                        <h3><span class="highlight">UP TAXI FRANCE</span> C'est <span>3480 TAXIS POUR VOUS SERVIR</span></h3>
                    </div>
                   
                    </dl>
                    <header class="f-title black" id="faqs3">{%trans%}The price example{%endtrans%}</header> 
                    <dl class="faqs"><h3> <center>{%trans%}PRICE FOR SHORT DISTANCE{%endtrans%}</center></h3><br>

                    </dl>
                    <dl class="faqs"><h3> <center>{%trans%}PRICE FOR LONG DISTANCE{%endtrans%}</center></h3><br>
                       <table class="containertable">

</table>
                    </dl>

                    <header class="f-title black" id="faqs3">{%trans%}my application mobile{%endtrans%}</header> 
                    <dl class="faqs">
                        
                    </dl>

                </div>

                <!--- //Content -->

                <!--- Sidebar -->
                <aside class="one-fourth sidebar right offset">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class="active"><a href="#faqs1" class="anchor">{%trans%}French Taxi Service{%endtrans%}</a></li>
                            <li><a href="#faqs2" class="anchor">{%trans%}Traçabilité de vos courses{%endtrans%}</a></li>
                             <li><a href="#faqs3" class="anchor">{%trans%}The price example{%endtrans%}</a></li>
                            <li><a href="#faqs4" class="anchor">{%trans%}my application mobile{%endtrans%}</a></li>
                        </ul>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>
        </div>
    </main>

    <!-- //Main -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {
            'packages':['geomap'],
            // Note: you will need to get a mapsApiKey for your project.
            // See: https://developers.google.com/chart/interactive/docs/basic_load_libs#load-settings
            'mapsApiKey': 'AIzaSyCXBQ0kSrvFmuTpQ_aAFX4rap1C_dj9Sac'
        });
        google.charts.setOnLoadCallback(drawMap);

        function drawMap() {
            var data = google.visualization.arrayToDataTable([
                ['City', 'Taxi'],
                ['Brest', 20],
                ['Caen', 20],
                ['Cherbourg', 20],
                ['Clermon', 20],
                ['Deauville', 20],
                ['Dijon ', 20],
                ['Grenoble', 20],
                ['Le Havre', 20],
                ['Le Touquet', 20],
                ['Lille ', 50],
                ['Lyon', 150],
                ['Marseille', 160],
                ['Montpellier', 80],
                ['Nantes', 80],
                ['Nice', 80],
                ['Nîmes', 80],
                ['Pau', 80],
                ['Rennes', 80],
                ['Nancy', 50],
                ['Gex', 20],
                ['Paris-Orly', 100],
                ['Paris-Roissy', 100],
                ['Bordeaux', 160],
                ['Carcasonne', 16],
                ['Strasbourg ', 16],
                ['Toulon ', 16],
                ['Toulouse', 150],
                ['Tours', 50],
                ['Millau', 16],
            ]);

            var options = {};
            options['region'] = 'FR';
            options['colors'] = [0xFF8747, 0xFFB581, 0xc06000]; //orange colors
            options['dataMode'] = 'markers';
            {
                ['yellow', 'green']
            }

            var container = document.getElementById('regions_div');
            var geomap = new google.visualization.GeoMap(container);
            geomap.draw(data, options);
        }
        function initialize() {
            var mapCanvas = document.getElementById("map_canvas");
            var map = new google.maps.Map(mapCanvas, mapOptions);

        }
        initialize();

    </script>


    <script type="text/javascript" >
        $(document).ready(function () {
            $("#cab_main_contact_phone").intlTelInput({
                //allowExtensions: true,
                //autoFormat: false,
                //autoHideDialCode: false,
                //autoPlaceholder: false,
                //defaultCountry: "auto",
                //geoIpLookup: function(callback) {
                //   $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
                //     var countryCode = (resp && resp.country) ? resp.country : "";
                //     callback(countryCode);
                //   });
                // },
                nationalMode: false,
                numberType: "MOBILE",
                //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
                preferredCountries: ['fr'],
                utilsScript: "{{asset('test/assets/lib/utils.js')}}"

            });
        });
    </script>







{% endblock main_content %}

