<h2>UP CONTACT REQUEST</h2>
{% if object.type == 'partner' %}
    {% set name = object.partnerName %}
{% else %}
    {% set name = object.contactName %}
{% endif %}
<p>A new request {{ object.type }} sended from {{ name }}. Below are all details about him:</p>
<table>
    <body>
        <tr>
            <td>Name</td>
            <td>
                {{ name }}
            </td>
        </tr>

        <tr>
            <td>Email</td>
            <td>
                {{ object.email }}
            </td>
        </tr>
        
        
        <tr>
            <td>Send at</td>
            <td>{{ "now" | date("Y-m-d H:i") }}</td>
        </tr>

        <tr>
            <td>Company</td>
            <td>{{ object.company }}</td>
        </tr>

        <tr>
            <td>Phone</td>
            <td>{{ object.phone }}</td>
        </tr>

        <tr>
            <td>Address</td>
            <td>{{ object.address }}</td>
        </tr>
        {% if object.type == 'partner' %}
        <tr>
            <td>Vehicle type</td>
            <td>
                {% for item in object.vehiculesType %}
                    {{ item.nameType }}
                {% endfor %}
            </td>
        </tr>
        {% endif %}

        <tr>
            <td>Message</td>
            <td>{{ object.bodyMessage }}</td>
        </tr>
    </body>
</table>
