{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}{{ title|trans  }}{% endblock %}
{% trans_default_domain 'frontend' %}
{% block main_content %}

    {% set actualLangue = app.request.locale %}
    <!-- Intro -->
    <main class="main blue" role="main">
        <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{% trans %}How it works ?{% endtrans %}</h1>

                </div>
            </div>
        </header>
        <!-- //Page info -->

<div class="wrap">
            <div class="row">
                <!--- Content -->
                <div class="full-width content">
                    <h2>{% trans %}The step for the booking{% endtrans %}</h2>
                    

                    <!--- //Content -->
                </div>
                <div class="three-fourth">
                    <header class="f-title black">{% trans %}Look this video  for the booking direct with the application{% endtrans %}</header>
                    
                                           <p class="center">
        <iframe width="800" height="450" src="http://www.youtube.com/embed/_sMAIzxKNpE" frameborder="0" allowfullscreen></iframe>
    </p>
                    
                    
                    <header class="f-title black">{% trans %}5 easy steps for your ride {% endtrans %}</header>
                    <p class="center">
                        <img src="{{ asset('uploads/blogsite/'~actualLangue~'/what.jpg') }}" alt="" />
                    </p>  
                    
                    <header class="f-title black">{% trans %}simple to use{% endtrans %}</header>
                    <p class="center">
                         <center><img src="{{ asset('uploads/blogsite/'~actualLangue~'/what2.jpg') }}" alt="" />
                    </p>    
                    
                </div>

                <!--- Sidebar -->
                <aside class="one-fourth sidebar right">
                    <!-- Widget -->
                    <div class="widget">
                        <h4>{% trans %}Need support ?{% endtrans %}</h4>
                        <div class="textwidget">
                            <p>{% trans %}Our team is available to reply to all your request{% endtrans %}</p>
                            <p class="contact-data"><span class="ico phone black"></span> +33 (0)5 32 09 08 08</p>
                        </div>
                    </div>

                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>

        </div>
       
    </main>

    <!-- //Main -->
{% endblock main_content %}