{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}{{ title|trans  }}{% endblock %}
{% trans_default_domain 'frontend' %}
{% block main_content %}

  <!-- Intro -->
   <main class="main blue" role="main">
		<!-- Page info -->
		<header class="site-title green">
			<div class="wrap">
				<div class="container">
					<h1>{% trans %}How it works ?{% endtrans %}</h1>

				</div>
			</div>
		</header>
		<!-- //Page info -->
		
		
		<div class="wrap">
			<div class="row">
				<!--- Content -->
				<div class="content">
					<div class="row">
						<!-- Post -->
						<div class="one-half">
							<article class="hentry">
								<div class="entry-featured">
									<img src="{{ asset('uploads/blogsite/EUR.jpg') }}" alt="" />
									<div class="overlay">
										<a href="blog-single.html" class="expand">+</a>
									</div>
								</div>
								<div class="entry-content">
									<h2><a href="blog-single.html">{% trans %}The price{% endtrans %}</a></h2>
									<p align="justify">{% trans %}The price is communicated to you during booking. No hidden fees or charge for luggage.{% endtrans %} </p>
									</div>
							</article>
						</div>
						<!-- //Post -->
						
						<!-- Post -->
						<div class="one-half">
							<article class="hentry">
								<div class="entry-featured">
									<img src="http://123cab.dev/uploads/blogsite/car.jpg" alt="" />
									<div class="overlay">
										<a href="blog-single.html" class="expand">+</a>
									</div>
								</div>
								<div class="entry-content">
									<h2><a href="blog-single.html">{% trans %}Prestige vehicles{% endtrans %}</a></h2>
									<p align="justify">{% trans %}During the reservation, you can choose the type of vehicle, from simple to luxury.{% endtrans %}</p>
										</div>
							</article>
						</div>
						<!-- //Post -->
						
						<!-- Post -->
						<div class="one-half">
							<article class="hentry">
								<div class="entry-featured">
									<img src="http://123cab.dev/uploads/blogsite/planif.jpg" alt="" />
									<div class="overlay">
										<a href="blog-single.html" class="expand">+</a>
									</div>
								</div>
								<div class="entry-content">
									<h2>{% trans %}Booking transport planning{% endtrans %}</h2>
									<p align="justify">{% trans %}You can program all your transport to come to you or a member of your company.{% endtrans %}
                                </div>
							</article>
						</div>
						<!-- //Post -->
						
						<!-- Post -->
						<div class="one-half ">
							<article class="hentry">
								<div class="entry-featured">
									<img src="http://123cab.dev/uploads/blogsite/pay1.png" alt="" />
									<div class="overlay">
										<a href="blog-single.html" class="expand">+</a>
									</div>
								</div>
								<div class="entry-content">
									<h2><a href="blog-single.html">{% trans %}THE PAYMENT{% endtrans %}</a></h2>
									<p align="justify">{% trans %}Several possibility of payment: CB, CASH, PAYPAL or BANK TRANSFER, you can choose the choice of payment when booking.{% endtrans %}</p>
                                </div>
							</article>
						</div>
						<!-- //Post -->
						
						<!-- Post -->
						<div class="one-half ">
							<article class="hentry">
								<div class="entry-featured">
									<img src="http://123cab.dev/uploads/blogsite/phones.jpg" alt="" />
									<div class="overlay">
										<a href="blog-single.html" class="expand">+</a>
									</div>
								</div>
								<div class="entry-content">
									<h2>{% trans %}Mobile app{% endtrans %}</h2>
									<p align="justify">{% trans %}Download on Play Store for iPhone or for Android application on your smartphone.{% endtrans %}</p>
								</div>
							</article>
						</div>
						<!-- //Post -->
						
						<!-- Post -->
						<div class="one-half ">
							<article class="hentry">
								<div class="entry-featured">
									<img src="http://123cab.dev/uploads/blogsite/planet.jpg" alt="" />
									<div class="overlay">
										<a href="" class="expand">+</a>
									</div>
								</div>
								<div class="entry-content">
									<h2>{% trans %}C-ZERO{% endtrans %}</h2>
									<p class="text-justify"><b>{% trans %}When riding with 123cab, you respect the environment !{% endtrans %}</b>
                                        {% trans %}With 1% for the Planet, reforestation campaigns were held in the planet to compensate for the CO2 emissions during your journeys.{% endtrans %}  </p>
								</div>
							</article>
						</div>
						<!-- //Post -->
					</div>
				</div>
				<!--- //Content -->
			</div>
		</div>
	</main>
		
	<!-- //Main -->
{% endblock main_content %}