
{# This file is YourNSYourBundle:Admin:inner_row_comment.html.twig #}

{# Extend the default template, which provides batch and action cells #}
{#     as well as the valid colspan computation #}
{% extends 'CABAdminBundle::layout.html.twig' %}

{% form_theme form 'CABAdminBundle:Form:fields.html.twig' %}

{% block row %}

    {# you can use fields define in the the Admin class #}
    {{ object|render_list_element(admin.list['company']) }} -
    {{ object|render_list_element(admin.list['url']) }} -
    {{ object|render_list_element(admin.list['email']) }} <br />

    <big>
        {# or you can use the object variable to render a property #}
     TOTTO
    </big>

{% endblock %}