{% extends 'CABAdminBundle::layout.html.twig' %}
{% form_theme form 'CABAdminBundle:Form:fields.html.twig' %}
{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}


{% block row %}

    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -
    

{% endblock %}




{% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}


{% block form %}<div class="panel-body">
    <div class="panel-body col col-md-12">
        <div class="col-sm-offset-3 col-md-6">
            <div class="alert alert-danger" style="display: none;" role="alert" id="vehicle-alert">
                <button type="button" class="close" id="close-alert" aria-label="Close">
                    <span>&times;</span>
                </button>
                <div class="row">
                    <div class="col-md-12">
                        <div id="vehicle-alert-body"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ block('parentForm') }}
</div>
    <script>
        $(document).ready(function () {
            var company = $(".company-select");
            var zone = $(".serviceTransports-select");

            if (typeof company !== "undefined" && company.val() != '') {
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[company.attr('name')] = company.val();
                // Submit data via AJAX to the form's action path.
                var generatedRoute = Routing.generate('get_object_company', { id: company.val(), searched: 'zone' });

                $.ajax({
                    url: generatedRoute,
                    type: 'GET',
                    success: function (data) {
                        var mySelect = $('.zone-select');
                        mySelect.empty();
                        if(data.response != null) {
                            data.response.forEach(function (item) {
                                $('#zone-alert').hide();
                                $(mySelect).append('<option selected="" value="' + item.val + '">' + item.text + '</option>');
                            });
                        }else if(data.code_error != 0){

                            $('#zone-alert').show('slow');
                            $('#zone-alert-body').html('You need to affect/create zones for company');
                        }


                    }
                });
            }
            // When company gets selected ...
            company.change(function () {

                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[company.attr('name')] = company.val();
                // Submit data via AJAX to the form's action path.
                var generatedRoute = Routing.generate('get_object_company', { id: company.val(), searched: 'zone' });
                if(company.val() != '') {
                    $.ajax({
                        url: generatedRoute,
                        type: 'GET',
                        success: function (data) {
                            var mySelect = $('.zone-select');
                            mySelect.empty();
                            if(data.response != null) {
                                data.response.forEach(function (item) {
                                    $('#zone-alert').hide();
                                    $(mySelect).append('<option selected="" value="' + item.val + '">' + item.text + '</option>');
                                });
                            }else if(data.code_error != 0){

                                $('#zone-alert').show('slow');
                                $('#zone-alert-body').html('You need to affect/create zones for company');
                            }


                        }
                    });
                }
            });

            /*// When zone gets selected ...
            zone.change(function () {

                // Submit data via AJAX to the form's action path.
                var generatedRoute = Routing.generate('get_object_company', { id: zone.val(), searched: 'serviceTransport' });
                console.log(generatedRoute);
                $.ajax({
                    url: generatedRoute,
                    type: 'GET',
                    success: function (html) {
                        var stSelect = $('.serviceTransports-select');
                        $.each(html.result, function(val, text) {
                            stSelect.append(
                                    $('<option></option>').val(val).html(text)
                            );
                        });
                    }
                });
            });*/
        });
    </script>
{% endblock %}

