{% extends "CABMainBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{% trans %}Congratulation{% endtrans %} {% endblock %}

{% block main_content %}
    {% block fos_user_content %}
        
       <main role="main" class="main blue">
           <!-- Page info -->
           <header class="site-title green">
               <div class="wrap">
                   <div class="container">
                       <h1>{% trans %}Actived account{% endtrans %}</h1>
                       
                   </div>
               </div>
           </header>  
            <div class="wrap">
               <div class="row">
                   <!--- Content -->
                   <div class="content col-md-6 col-md-offset-3">
                       <!--Login-->
                       <div class="box">     
                       
        <p><b>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
        
       
        
                       </div>
                   </div>
               </div>
        
        
        
            </div>
        
        
        {% if app.session is not empty %}
        {% set targetUrl = app.session.get('_security.' ~ app.security.token.providerKey ~ '.target_path') %}
        {% if targetUrl is not empty %}<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>{% endif %}
        {% endif %}
        </main>
    
    {% endblock fos_user_content %}  
{% endblock main_content %}
