<div class="well well-sm">
    <fieldset>

        <!-- Form Name -->
        {{ form_start(form, { 'attr': {'class': 'form-horizontal'}, 'method': 'POST', 'action': path('hackzilla_ticket_create')}) }}

        {% if form.course is defined %}
        <div class="form-group">
            {{ form_label(form.course, '', { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ form_widget(form.course, { 'attr': {'class': 'form-control', 'placeholder': 'SELECT_COURSE' } }) }}
            </div>
        </div>
        {% endif %}

        <div class="form-group">
            {{ form_label(form.subject, '', { 'label_attr': {'class': 'control-label col-xs-2'} }) }}
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                {{ form_widget(form.subject, { 'attr': {'class': 'form-control', 'placeholder': 'LABEL_ENTER_SUBJECT' } }) }}
            </div>
        </div>

        {% include 'CABTicketBundle:Ticket:prototype.html.twig' with {'form': form.messages.vars.prototype} %}

        {{ form_rest(form) }}

        <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
                <button type="submit" class="btn btn-primary">{{ 'BUTTON_CREATE'|trans }}</button>

                <a href="{{ path('hackzilla_ticket') }}" class="btn btn-default">
                    {{ 'BUTTON_BACK_TO_LIST'|trans }}
                </a>
            </div>
        </div>
        {{ form_end(form) }}
    </fieldset>
</div>