{% trans_default_domain 'messages' %}
</div>
<div class="main blue">

    <header class="site-title green">
        <div class="wrap">
            <div class="container">
                <h1>{{ app.user.lastName|upper }}, {{ 'HEADING_TICKET_LIST'|trans }}</h1>
            </div>
        </div>
    </header>

    <!-- //Page info -->
    <div class="wrap">
        <!--- Sidebar -->
        {% if app.user.roles[0] == 'ROLE_CUSTOMER' %}
            <ul class="categories">
                <aside class="one-fourth sidebar left">
                    <!-- Widget -->
                    <div class="widget">
                        <ul class="categories">
                            <li class=""><a href="{{ path('homepage') }}profile">{% trans %}My bookings{% endtrans %}</a></li>
                            <li class=""><a href="{{ path('homepage') }}profile">{% trans %}My settings{% endtrans %}</a></li>
                            <li class=""><a href="{{ path('homepage') }}profile">{% trans %}My CB{% endtrans %}</a></li>
                            <li class="active"><a href="{{ path('hackzilla_ticket') }}">{% trans %}My ticket{% endtrans %}</a>
                            </li>
                        </ul>
                    </div>
                    <!-- //Widget -->
                    <div class="color-green">
                        <a href="{{ path('homepage') }}#booking"><h4 class="btn green">{% trans %}new book{% endtrans %}</h4></a>
                    </div>
                </aside>
            </ul>
        {% endif %}
        <!--- //Sidebar -->

        <!--- Content -->
        <div class="three-fourth content">

            <div class="row">
                <div class="col-xs-4">
                    <div class="btn-group">
                        <a href="{{ path('hackzilla_ticket', {'state': 'STATUS_OPEN'|trans}) }}"
                           class="btn btn-default {{ ticketState != 'STATUS_CLOSED'|trans ? 'active' : '' }}">{{ 'STATUS_OPEN'|trans|upper }}</a>
                        <a href="{{ path('hackzilla_ticket', {'state': 'STATUS_IN_PROGRESS'|trans}) }}"
                           class="btn btn-default {{ ticketState == 'STATUS_IN_PROGRESS' ? 'active' : '' }}">{{ 'STATUS_IN_PROGRESS'|trans|upper }}</a>
                        <a href="{{ path('hackzilla_ticket', {'state': 'STATUS_CLOSED'|trans}) }}"
                           class="btn btn-default {{ ticketState == 'STATUS_CLOSED'|trans ? 'active' : '' }}">{{ 'STATUS_CLOSED'|trans|upper }}</a>
                    </div>
                </div>

                <div class="col-xs-5 text-center">
                    <div class="btn-group">
                        <a href="{{ path('hackzilla_ticket') }}"
                           class="btn btn-default {{ ticketPriority is null ? 'active' : '' }}"><span
                                    class="glyphicon glyphicon-remove"></span></a>
                        <a href="{{ path('hackzilla_ticket', {'priority': 'PRIORITY_HIGH'|trans}) }}"
                           class="btn btn-danger {{ ticketPriority == 'PRIORITY_HIGH'|trans ? 'active' : '' }}">{{ 'PRIORITY_HIGH'|trans|upper }}</a>
                        <a href="{{ path('hackzilla_ticket', {'priority': 'PRIORITY_MEDIUM'|trans}) }}"
                           class="btn btn-warning {{ ticketPriority == 'PRIORITY_MEDIUM'|trans ? 'active' : '' }}">{{ 'PRIORITY_MEDIUM'|trans|upper }}</a>
                        <a href="{{ path('hackzilla_ticket', {'priority': 'PRIORITY_LOW'|trans}) }}"
                           class="btn btn-info {{ ticketPriority == 'PRIORITY_LOW'|trans ? 'active' : '' }}">{{ 'PRIORITY_LOW'|trans|upper }}</a>
                    </div>
                </div>
                <div class="col-xs-1 text-right">
                    {% if not exist_ticket %}
                        {% if app.request.get('courseId') is not null %}
                            <div class="btn-group">
                                <a href="{{ url('hackzilla_ticket_new_specific_course', {'course': app.request.get('courseId').id}) }}" class="btn btn-primary"><span
                                            class="glyphicon glyphicon-plus"></span> {{ 'BUTTON_NEW'|trans }}</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <br>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th class="col-xs-1">{{ knp_pagination_sortable(pagination, 'HEADING_TICKET'|trans, 't.id') }}</th>
                    <th class="sorted"><a>{% trans %}Race ref{% endtrans %}</a></th>
                    <th class="sorted"><a>{% trans %}Service{% endtrans %}</a></th>
                    <th{% if pagination.isSorted('t.getSubjectString') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'HEADING_SUBJECT'|trans, 't.getSubjectString') }}</th>

                    <th{% if pagination.isSorted('t.userCreated') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'HEADING_AUTHOR'|trans, 't.userCreated') }}</th>

                    <th{% if pagination.isSorted('t.status') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'HEADING_STATUS'|trans, 't.status') }}</th>
                    <th{% if pagination.isSorted('t.priority') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'HEADING_PRIORITY'|trans, 't.priority') }}</th>
                    <th{% if pagination.isSorted('t.modified') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'HEADING_MODIFIED'|trans, 't.lastMessage') }}</th>
                    <th{% if pagination.isSorted('t.created') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'HEADING_CREATED'|trans, 't.createdAt') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in pagination %}
                    <tr>
                        <td>
                            <a href="{{ path('hackzilla_ticket_reply', { 'ticketId': entity.id }) }}">{{ entity.id }}</a>
                        </td>
                        <td><a href="{{ path('sonata_course_show', { 'id': entity.course.id }) }}">{{ entity.course.id }}</a></td>
                        <td><a href="{{ path('sonata_course_show', { 'id': entity.course.id }) }}">
                    {% for value in entity.course.getServiceTransportCourses() %}
                           {{ value.serviceName  }}
                    {% endfor %}
                            </a>
                        </td>
                        <td>
                            <a href="{{ path('hackzilla_ticket_show', { 'ticketId': entity.id }) }}">{{ entity.getSubjectString()|trans }}</a>
                        </td>
                        <td>{{ entity.userCreatedObject }}</td>
                        <td>{{ macros.status_btn(entity.status, entity.statusString|trans, true) }}</td>
                        <td>{{ macros.priority_btn(entity.priority, entity.priorityString|trans, true) }}</td>
                        <td>{% if entity.lastMessage %}{{ entity.lastMessage|date('LABEL_DATE_TIME_FORMAT'|trans) }}{% endif %}</td>
                        <td>{% if entity.createdAt %}{{ entity.createdAt|date('LABEL_DATE_TIME_FORMAT'|trans) }}{% endif %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">{{ 'MESSAGE_NO_TICKETS'|trans }}.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation text-right">
                {{ knp_pagination_render(pagination, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
            </div>
        </div>
    </div>
</div>
</div>