<div class="three-fourth content">
    <div class="jumbotron">
        <p>
            <a href="{{ path('hackzilla_ticket') }}"
               class="btn btn-default">{{ 'BUTTON_BACK_TO_LIST'|trans }}</a>
        </p>

        <h3>
            {{ macros.status_btn(ticket.status, ticket.statusString|trans) }}
            {{ macros.priority_btn(ticket.priority, ticket.priorityString|trans) }}
           #{{ ticket.id }}
            - {{ ticket.getSubjectString|trans }}
        </h3>

        <h5>
            <i>{{ 'LABEL_CREATED_BY'|trans }} {{ ticket.userCreatedObject }}
                , {{ ticket.createdAt|date('LABEL_DATE_FORMAT'|trans) }}</i>
            {# <br />{{ 'LABEL_PRIORITY'|trans }} <span class="label label-{{ ticket.priority == 0 ? 'default' : (ticket.priority == 20 ? 'primary' : (ticket.priority == 21 ? 'warning' : 'danger')) }}">{{ ticket.priorityString|trans }}</span> #}
        </h5>
        {% if ticket.contactName is not defined or ticket.contactName is null %}
            {% else %}
        <h5>
            <i>Suivi par {{ ticket.contactName }} < {{ ticket.emailContactName }} > {{ ticket.createdAt|date('LABEL_DATE_FORMAT'|trans) }}</i>
        </h5>
        {% endif %}


        {# <h3>{{ 'HEADING_TICKET_THREAD'|trans }}</h3> #}
        {% set previousStatus = null %}
        {% set previousPriority = null %}

        {% for message in ticket.messages %}

            {% if previousStatus and previousStatus != message.status %}
                {{ macros.status_alert(message.status, message.statusString|trans) }}
            {% endif %}

            {% if previousPriority and previousPriority != message.priority %}
                {{ macros.priority_alert(message.priority, message.priorityString|trans) }}
            {% endif %}

            {% if message.message|length > 0 %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{ message.userObject }}
                        {# <br />{{ 'LABEL_PRIORITY'|trans }} <span class="label label-{{ message.priority == 0 ? 'default' : (message.priority == 20 ? 'primary' : (message.priority == 21 ? 'warning' : 'danger')) }}">{{ message.priorityString|trans }}</span> #}
                        {# <br />{{ 'LABEL_STATUS'|trans }} <span class="label label-{{ message.status ? 'success' : 'danger' }}">{{ message.statusString|trans }}</span> #}

                        <span class="pull-right">
                    {% if message.userObject != ticket.lastUser %}
                        <span class="label label-success">{{ message.userObject.roles|first|trans }}</span> {% endif %}
                            <small><i>{{ message.createdAt|date('LABEL_DATE_TIME_FORMAT'|trans) }}</i>
                            </small>
                </span>
                    </div>
                    <div class="panel-body">
                        {{ message.message|nl2br }}
                        {% if(hasTicketFeature('attachment')) %}
                            {{ include('@HackzillaTicket/Ticket/show_attachment.html.twig', {'message': message}) }}
                        {% endif %}
                    </div>
                </div>
            {% endif %}

            {% set previousStatus = message.status %}
            {% set previousPriority = message.priority %}
        {% endfor %}

        <hr/>

        {% if form is defined %}
            <div class="well well-sm">
                {{ form_start(form, {'method': 'POST', 'action': path('hackzilla_ticket_reply', {'ticketId': ticket.id})}) }}


                {{ form_row(form.message) }}

                {{ form_widget(form.priority, { 'attr': {'class': 'hidden'} }) }}

                {{ form_row(form.status) }}
                {{ form_rest(form) }}

                <p class="form_actions">
                    <button type="submit" class="btn btn-primary">{{ 'BUTTON_UPDATE'|trans }}</button>
                </p>
                {{ form_end(form) }}
            </div>
        {% endif %}

        {% if delete_form is defined %}
            {{ form_start(delete_form, {'method': 'POST', 'action': path('hackzilla_ticket_delete', {'ticketId': ticket.id}), 'attr': {'class': 'text-right'}}) }}
            <input type="hidden" name="_method" value="DELETE"/>
            {{ form_widget(delete_form) }}

            <button type="submit" class="btn btn-danger">{{ 'BUTTON_DELETE'|trans }}</button>
            {{ form_end(delete_form) }}
        {% endif %}
    </div>
</div>