{% extends 'CABTicketBundle::layout.html.twig' %}
{% import 'HackzillaTicketBundle:Macros:macros.html.twig' as macros %}
{% block main_content %}
    {% block hackzilla_ticket_content -%}
        {{ include('CABTicketBundle:Ticket:content_index.html.twig', {pagination: pagination,  ticketState: ticketState, ticketPriority: ticketPriority, exist_ticket: exist_ticket} ) }}

    {% endblock %}
{% endblock %}
