{% extends 'CABTicketBundle::layout_admin.html.twig' %}
{% block main_content %}
    {% block hackzilla_ticket_content -%}
        <div class="main">
            <!-- //Page info -->
            <div class="wrap">
                <!--- Content -->
                <div class="three-fourth content">
                    <h1>{{ 'HEADING_NEW_TICKET'|trans }}</h1>
                    {{ include('CABTicketBundle:Ticket:content_new.html.twig', {form: form, entity: entity} ) }}
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}
