{% extends 'CABTicketBundle::layout_admin.html.twig' %}

{% import 'HackzillaTicketBundle:Macros:macros.html.twig' as macros %}
{% block main_content %}
    {% block hackzilla_ticket_content -%}
        <div class="main">
            <!-- //Page info -->
            <div class="wrap">
                <!--- Content -->
                {{ include 'CABTicketBundle:Ticket:content_show.html.twig' with {'ticket': ticket}  }}
            </div>
        </div>
    {% endblock %}
{% endblock %}
