{% extends 'CABTicketBundle::layout.html.twig' %}
{% import 'HackzillaTicketBundle:Macros:macros.html.twig' as macros %}
{% block main_content %}
    {% block hackzilla_ticket_content -%}
        <div class="main blue">
            <header class="site-title green">
                <div class="wrap">
                    <div class="container">
                        <h1>{{ app.user.lastName }}, {% trans %}your ticket number{% endtrans %} {{ ticket.id }}</h1>
                    </div>
                </div>
            </header>
            <!-- //Page info -->
            <div class="wrap">
                <!--- Sidebar -->
                <ul class="categories">
                    <aside class="one-fourth sidebar left">
                        <!-- Widget -->
                        <div class="widget">
                            <ul class="categories">
                                <li class=""><a href="{{ path('homepage') }}profile">{% trans %}My bookings{% endtrans %}</a></li>
                                <li class=""><a href="{{ path('homepage') }}profile">{% trans %}My settings{% endtrans %}</a></li>
                                <li class=""><a href="{{ path('homepage') }}profile">{% trans %}My CB{% endtrans %}</a></li>
                                <li class=""><a href="{{ path('hackzilla_ticket') }}">{% trans %}My ticket{% endtrans %}</a>
                                </li>
                            </ul>
                        </div>
                        <!-- //Widget -->
                        <div class="color-green">
                            <a href="{{ path('homepage') }}#booking"><h4 class="btn green">{% trans %}new book{% endtrans %}</h4></a>
                        </div>
                    </aside>
                </ul>
                <!--- //Sidebar -->

                <!--- Content -->
                {{ include('CABTicketBundle:Ticket:content_show.html.twig', {ticket: ticket} ) }}
            </div>
        </div>
    {% endblock %}
{% endblock %}
