{% trans_default_domain 'frontend' %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}UP TAXI{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <meta name="keywords" content="UP Taxi" />
        <meta name="description" content="taxi ">
        <meta name="author" content="up.taxi">

        <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        {% block head_styles %}
            <link href="{{ asset('bundles/cabmain/css/jquery-ui.css') }}" rel="stylesheet" >
            <link href="{{ asset('bundles/cabmain/css/intlTelInput.css') }}" rel="stylesheet" >
            <link href="{{ asset('bundles/cabmain/css/font-awesome.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/cabmain/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/cabmain/css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/cabmain/css/theme-pink.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/cabmain/css/style.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/cabmain/css/jquery.datetimepicker.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/cabmain/css/animate.css') }}" rel="stylesheet" media="screen">
            <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

        {% endblock head_styles %}
        {% block javascript %}
            <script src="{{ asset('bundles/cabmain/js/jquery.min.js') }}"></script>
            <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock javascript %}
    </head>

    <body {% if app.request.attributes.get('_route') == 'homepage' %} class="home"{% endif %}>
        {% trans_default_domain 'common' %}
        <input type="hidden" id="locale-input" value="{{ app.request.getLocale() }}"/>
        <input type="hidden" id="current-localisation-input" value=""/>
        {% block navbar %}
            <nav class="navbar navbar-inverse navbar-fixed-top" style="position: relative;">
                <div class="container">
                    <header class="header" role="banner">
                        <div class="wrap ">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="{{ url('homepage') }}" title="{% trans %}Home{% endtrans %}" id="link-logo" >
                                    <img id="logo" alt="logo" src="{{ asset('bundles/cabmain/images/car-logo.png') }}" />
                                </a>
                            </div>
                            <!-- //Logo -->

                            <!-- Main Nav -->
                            <nav role="navigation" class="main-nav">
                                {{ knp_menu_render('main', {'template': 'CABMainBundle:Menu:knp_menu.html.twig'}) }}
                            </nav>
                            <div class="language">
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('uploads/blogsite/drapeau-france-16.png') }}" alt="FR"  /></a>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('uploads/blogsite/drapeau-usa-16.png') }}" alt="EN"  /></a>
                                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"><img src="{{ asset('uploads/blogsite/drapeau-spain-16.png') }}" alt="EN"  /></a>
                            </div>
                            <!-- //Main Nav -->
                        </div>
                    </header>
                </div>
            </nav>
            <!-- //Header -->
        {% endblock %}

    {% block body %}{% endblock %}


    {% block footer %}
        {{ include('CABMainBundle::footer.html.twig') }}

    {% endblock footer %}

    <!-- Preloader -->
    {% block preloader %}
        {{ include('CABMainBundle::preloader.html.twig') }}
    {% endblock preloader %}
    <!-- //Preloader -->

    {% block body_scripts %}
        <script src="{{ asset('bundles/cabmain/js/jquery.form.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/jquery.uniform.min.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/jquery.datetimepicker.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/jquery.slicknav.min.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/wow.min.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/search.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/scripts.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/intlTelInput.min.js') }}"></script>
    {% endblock body_scripts %}
</body>
</html>

