{% extends 'CABAdminBundle::layout.html.twig' %}

{% block custom_content %}

<h2>{% trans from 'FOSMessageBundle' %}deleted{% endtrans %}</h2>

{% include 'CABMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
