{% extends 'CABAdminBundle::layout.html.twig' %}

{% block custom_content %}

<h2>{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</h2>

<a href="{{ url('cab_message_thread_new' )}}">{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</a>

{% include 'CABMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
