{% extends 'CABAdminBundle::layout.html.twig' %}

{% block custom_content %}

<h2>{% trans from 'FOSMessageBundle' %}search{% endtrans %}</h2>

<p>{% transchoice threads|length with {'%num%': threads|length } from 'FOSMessageBundle' %}
    threads_found
{% endtranschoice %}</p>

{% include 'CABMessageBundle:Message:threads_list.html.twig' with {'threads': threads} %}

{% endblock %}
