{% extends 'CABAdminBundle::layout.html.twig' %}

{% block custom_content %}

    <h2>{{ thread.subject }}</h2>

    {% for message in thread.messages %}
        <div class="messenger_thread_message">
            <div class="messenger_thread_message_info">
                {% trans with {'%sender%': message.sender|e, '%date%': message.createdAt|date} from 'FOSMessageBundle' %}message_info{% endtrans %}
            </div>

            <div class="messenger_thread_message_body" id="message_{{ message.id }}">
                {{ message.body | raw }}
            </div>
        </div>
    {% endfor %}

    <h3>{% trans from 'FOSMessageBundle' %}reply{% endtrans %}</h3>

{% endblock %}