{% extends '::base.html.twig' %}

{% block body %}

<h3>{% trans %}List of articles{% endtrans %}</h3>

{% if articles|length > 0 %}

<center>
<table width="900px">
	<theader>
	<tr>
		<th>ID</th>
		<th width="200px">Title</th>
		<th>Description</th>
	</tr>
	</theader>
	</tbody>
	{% for article in articles %}
		<tr>
			<td><a href="{{ path('cab_article_get_by_slug', {'slug': article.slug}) }}">{{ article.id }}</a></td>
			<td>{{ article.title }}</td>
			<td>{{ article.description }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</center>

{% endif %}

{% endblock %}