{% extends '::base.html.twig' %}

{% block body %}

<h3>{% trans %}Add new article{% endtrans %}</h3>

<form name="cab_article" method="post" action="{{ path('cab_article_create') }}">

{{ form_widget(form) }}
<input type="submit" value="{% trans %}Create{% endtrans %}" />
</form>

{% endblock %}

{% block javascripts %}
<script type="text/javascript">
	var titleElem = document.getElementById('cab_article_title');
	titleElem.addEventListener('keydown', function() {
		document.getElementById('cab_article_slug').value = this.value.replace(" ", "-");
	});
</script>
{% endblock %}
