{% trans_default_domain 'backend' %}
<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
                <li class="nav-active">
                    <a href="{{ url('sonata_admin_dashboard') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>{% trans %}Dashboard{% endtrans %}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('cab_message_inbox') }}"
                       title="{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}">
                        <span class="pull-right label label-primary"></span>

                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>{% trans %}Mailbox{% endtrans %}</span>
                    </a>
                </li>
                <li id="navcompany" class="nav-parent">
                    <a>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <span>{% trans %}Company{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcompanyshow" href="{{ path('sonata_company_list') }}">
                                {% trans %}List company{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navcompanyedit" href="{{ path('sonata_company_create') }}">
                                {% trans %}Add company{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navcompanytypeshow" href="{{ path('typecompany_list') }}">
                                {% trans %}List company type{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navcompanytypeedit" href="{{ path('typecompany_create') }}">
                                {% trans %}Add company type{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>

                <li id="navprofile" class="nav-parent  ">
                    <a>
                        <i class="fa fa-male" aria-hidden="true"></i>
                        <span>{% trans %}Account{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navprofileshow" href="{{ path('fos_user_profile_show') }}">
                                {% trans %}My information{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                {% trans %}My account bank{% endtrans %}*
                            </a>
                        </li>

                    </ul>
                </li>

                <li id="navdriver" class="nav-parent  ">
                    <a>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>{% trans %}Drivers{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navdriverlist" href="{{ path('sonata_driver_list') }}">{% trans %}Drivers
                                list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navdriveradd" href="{{ path('sonata_driver_create') }}">{% trans %}Add
                                driver{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navcar" class="nav-parent  ">
                    <a>
                        <i class="fa fa-automobile" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcarlist" href="{{ path('sonata_vehicule_list') }}">{% trans %}The car
                                list{% endtrans %}</a>
                        </li>

                        <li>
                            <a id="navcaradd" href="{{ path('sonata_vehicule_create') }}">{% trans %}Add a
                                Vehicle{% endtrans %}</a>
                        </li>


                    </ul>
                </li>
                <li id="navrace" class="nav-parent  ">
                    <a>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span> {% trans %}Tranfer{% endtrans %}</span>
                    </a>
                    <ul id="navracelist" class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_course_list') }}">
                                {% trans %}Course list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navraceadd" href="{{ path('sonata_course_create') }}">
                                {% trans %}Add Course{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-parent">
                    <a>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span> {% trans %}Tracking{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('company_tracking') }}">
                                {% trans %}Tracking{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>

                <li id="navcustomer" class="nav-parent">
                    <a>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>{% trans %}Customer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcustomerlist" href="{{ path('sonata_customer_list') }}">
                                {% trans %}Customers list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navcustomeradd" href="{{ path('sonata_customer_create') }}">
                                {% trans %}Add customer{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>
                <li id="navconfiguration" class="nav-parent  ">
                    <a>
                        <i class="fa fa-gears" aria-hidden="true"></i>
                        <span>{% trans %}Configuration{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navconfigurationzone" href="{{ path('sonata_zone_list') }}">
                                {% trans %}The zone{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navconfigurationprice" href="{{ path('sonata_price_list') }}">
                                {% trans %}The Price{% endtrans %}
                            </a>
                        </li>

                        <li>
                            <a id="navconfigurationservice" href="{{ path('sonata_servicetransport_list') }}">
                                {% trans %}The service name for transport{% endtrans %}
                            </a>
                        </li>

                        <li>
                            <a id="navconfigurationperiod" href="{{ path('sonata_particular_period_list') }}">
                                {% trans %}The particular period{% endtrans %}
                            </a>
                        </li>

                        <li>
                            <a id="navconfigurationtax" href="{{ path('sonata_tax_list') }}">
                                {% trans %}Tax{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navconfcar"class="nav-parent  ">
                    <a>
                        <i class="fa fa-tint" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle event{% endtrans %}*</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfuellist" href="{{ path('sonata_carfuel_list') }}">
                                {% trans %}Fuel{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcleanlist" href="{{ path('sonata_carclean_list') }}">
                                {% trans %}Clean{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navmaintenancelist" href="{{ path('sonata_carmaintenance_list') }}">
                                {% trans %}Maintenance{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-paragraph" aria-hidden="true"></i>
                        <span>{% trans %}Frontend edit{% endtrans %}*</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('admin_sonata_media_media_list') }}">
                                {% trans %} Media{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('admin_cab_main_widget_list') }}">
                                {% trans %} Widget{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>
                <li id="navagent" class="nav-parent  ">
                    <a>
                        <i class="fa fa-female" aria-hidden="true"></i>
                        <span>{% trans %}Office agent{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navagentlist" href="{{ path('sonata_agent_list') }}">
                                {% trans %}Office agent list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navagentadd"href="{{ path('sonata_agent_create') }}">
                                {% trans %}Add an office agent{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav">
                    <a>
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <span>FACTURE DES COURSES</span>
                    </a>

                </li>
                <li class="nav">
                    <a>
                        <i class="fa fa-database" aria-hidden="true"></i>
                        <span>FACTURE DU SERVICE</span>
                    </a>
                </li>

                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        <span>{% trans %}Statistic{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navagentadd" href="{{ path('statistics') }}">
                                {% trans %}View{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('statistics_export') }}">
                                {% trans %}Export{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <span>{% trans %}ADMIN CONFIG{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_typevehicule_list') }}">
                                {% trans %} Vehicule Type{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('typecompany_list') }}">
                                {% trans %}Company Type{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>
                <li id="navsms" class="nav-parent  ">
                    <a>
                        <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                        <span>{% trans %}SMS{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navsmslist" href="{{ path('sonata_sms_list') }}">
                                {% trans %}SMS Liste{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('typecompany_list') }}">
                                {% trans %}SMS create{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navarticle" class="nav-parent  ">
                    <a>
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <span>{% trans %}Article{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navarticlelist" href="{{ path('sonata_article_list') }}">
                                {% trans %}Article Liste{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfaqlist" href="{{ path('sonata_faq_list') }}">
                                {% trans %}Faq Liste{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfaqdriverlist" href="{{ path('sonata_articleprice_list') }}">
                                {% trans %}Price country{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navfromweb" class="nav-parent  ">
                    <a>
                        <i class="fa fa-file-o" aria-hidden="true"></i>
                        <span>{% trans %}Request website{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfromwebpartner" href="{{ path('sonata_partner_list') }}">
                                {% trans %}Partner{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfromwebcustomer" href="{{ path('sonata_contact_list') }}">
                                {% trans %}Customer{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>

</div>