{% trans_default_domain 'backend' %}
<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
                <li class="nav-active">
                    <a href="{{ url('sonata_admin_dashboard') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>{% trans %}Dashboard{% endtrans %}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('cab_message_inbox') }}"
                       title="{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}">
                        <span class="pull-right label label-primary"></span>

                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>{% trans %}Mailbox{% endtrans %}</span>
                    </a>
                </li>
                <li id="navprofile" class="nav-parent  ">
                    <a>
                        <i class="fa fa-copy" aria-hidden="true"></i>
                        <span>{% trans %}My account{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navprofileshow" href="{{ path('fos_user_profile_show') }}">
                                {% trans %}My information{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navcompany" class="nav-parent">
                    <a>
                        <i class="fa fa-cubes" aria-hidden="true"></i>
                        <span>{% trans %}Business Company{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcompanyshow" href="{{ path('sonata_company_list') }}">
                                {% trans %}List business company{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navcompanyedit" href="{{ path('sonata_company_create') }}">
                                {% trans %}Add company business{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

                <li id="navdriver" class="nav-parent  ">
                    <a>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>{% trans %}Drivers{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navdriverlist" href="{{ path('sonata_driver_list') }}">{% trans %}Drivers list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navdriveradd" href="{{ path('sonata_driver_create') }}">{% trans %}Add driver{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navbusinessuser" class="nav-parent  ">
                    <a>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>{% trans %}Business User{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navbusinessuserlist" href="{{ path('sonata_business_list') }}">{% trans %}Business admin list{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navcar" class="nav-parent  ">
                    <a>
                        <i class="fa fa-automobile" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcarlist" href="{{ path('sonata_vehicule_list') }}">{% trans %}The car list{% endtrans %}</a>
                        </li>
                        <li>
                            <a id="navcaradd" href="{{ path('sonata_vehicule_create') }}">{% trans %}Add a Vehicle{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span> {% trans %}Tranfer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_course_list') }}">
                                {% trans %}Course list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_course_create') }}">
                                {% trans %}Add Course{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_command_sncf_list') }}">
                                {% trans %}Command Sncf{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>{% trans %}Customer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_customer_list') }}">
                                {% trans %}Customers list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_customer_create') }}">
                                {% trans %}Add customer{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-gears" aria-hidden="true"></i>
                        <span>{% trans %}Configuration{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_zone_list') }}">
                                {% trans %}The zone{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_price_list') }}">
                                {% trans %}The Price{% endtrans %}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('sonata_forfait_list') }}">
                                {% trans %}Forfait{% endtrans %}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('sonata_servicetransport_list') }}">
                                {% trans %}The service name for transport{% endtrans %}
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('sonata_particular_period_list') }}">
                                {% trans %}The particular period{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_pricezone_list') }}">
                                {% trans %}Edit Price By Zone SNCF{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navconfcar"class="nav-parent  ">
                    <a>
                        <i class="fa fa-tint" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle event{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navaffectlist" href="{{ path('sonata_caraffect_list') }}">
                                {% trans %}Affect{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcleanlist" href="{{ path('sonata_carclean_list') }}">
                                {% trans %}Clean{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfuellist" href="{{ path('sonata_carfuel_list') }}">
                                {% trans %}Fuel{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navmaintenancelist" href="{{ path('sonata_carmaintenance_list') }}">
                                {% trans %}Maintenance{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

                <li id="navagent" class="nav-parent  ">
                    <a>
                        <i class="fa fa-female" aria-hidden="true"></i>
                        <span>{% trans %}Office agent{% endtrans %}</span>
                    </a>
                    <ul  class="nav nav-children">
                        <li>
                            <a  id="navagentlist" href="{{ path('sonata_agent_list') }}">
                                {% trans %}Office agent list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navagentadd" href="{{ path('sonata_agent_create') }}">
                                {% trans %}Add an office agent{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-parent">
                    <a>
                        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        <span>{% trans %}Statistic{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navagentadd" href="{{ path('statistics') }}">
                                {% trans %}View{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a id="navagentadd" href="{{ path('statistics_drivers') }}">
                                {% trans %}Drivers{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfaqdriverlist" href="{{ path('sonata_articleprice_list') }}">
                                {% trans %}Price country{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcallclist" href="{{ path('sonata_callc_list') }}">
                                {% trans %}Callc list{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <span>{% trans %}Ticket{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('hackzilla_ticket') }}">
                                {% trans %} Ticket list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('hackzilla_ticket_new') }}">
                                {% trans %}New ticket{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>



            </ul>
        </nav>

        <hr class="separator"/>



    </div>

</div>