
<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
                <li class="nav-active">
                    <a href="{{ url('sonata_admin_dashboard') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>{% trans %}Dashboard{% endtrans %}</span>
                    </a>
                </li>
                <li id="navprofile" class="nav-parent  ">
                    <a>
                        <i class="fa fa-copy" aria-hidden="true"></i>
                        <span>{% trans %}My Account{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navprofileshow" href="{{ path('fos_user_profile_show') }}">
                                {% trans %}My information{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                {#  if app.user.businessCompany is not null %}
                    <li id="navcompany" class="nav-parent">
                        <a>
                            <i class="fa fa-cubes" aria-hidden="true"></i>
                            <span>{% trans %}My Company{% endtrans %}</span>
                        </a>
                        <ul class="nav nav-children">
                            <li>
                                <a href="{{ path('sonata_company_show', {'id': app.user.businessCompany.id } ) }}">
                                    {{ app.user.businessCompany.companyName }}
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif #}

                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span> {% trans %}My transfer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_course_list') }}">
                                {% trans %}Course list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_course_create') }}">
                                {% trans %}Add Course{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>{% trans %}My customer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_customer_list') }}">
                                {% trans %}Customers list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_customer_create') }}">
                                {% trans %}Add customer{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>


                {#<li class="nav-parent  ">
                    <a>
                        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        <span>{% trans %}My statistic{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navagentadd" href="{{ path('statistics') }}">
                                {% trans %}View{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                #}
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <span>{% trans %}My ticket{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('hackzilla_ticket') }}">
                                {% trans %}Ticket list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('hackzilla_ticket_new') }}">
                                {% trans %}New ticket{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <hr class="separator"/>
    </div>
</div>