<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
                <li class="nav-active">
                    <a href="{{ url('sonata_admin_dashboard') }}">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span>{% trans %}Dashboard{% endtrans %}</span>
                    </a>
                </li>
                <li>
                    <a href="{{ url('cab_message_inbox') }}"
                       title="{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}">
                        <span class="pull-right label label-primary"></span>

                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>{% trans %}Mailbox{% endtrans %}</span>
                    </a>
                </li>
                <li id="navprofile" class="nav-parent  ">
                    <a>
                        <i class="fa fa-copy" aria-hidden="true"></i>
                        <span>{% trans %}Account{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navprofileshow" href="{{ path('fos_user_profile_show') }}">
                                {% trans %}My information{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navdriver" class="nav-parent  ">
                    <a>
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <span>{% trans %}Drivers{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="forms-basic.html">
                                <a id="navdriverlist" href="{{ path('sonata_driver_list') }}">{% trans %}Drivers
                                    list{% endtrans %}</a>
                            </a>
                        </li>
                        <li>
                            <a href="forms-basic.html">
                                <a id="navdriveradd" href="{{ path('sonata_driver_create') }}">{% trans %}Add
                                    driver{% endtrans %}</a>
                            </a>
                        </li>
                    </ul>
                </li>
                <li id="navcar" class="nav-parent  ">
                    <a>
                        <i class="fa fa-automobile" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcarlist" href="{{ path('sonata_vehicule_list') }}">{% trans %}The car
                                list{% endtrans %}</a>
                        </li>

                        <li>
                            <a id="navcaradd" href="{{ path('sonata_vehicule_create') }}">{% trans %}Add a
                                Vehicle{% endtrans %}</a>
                        </li>


                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span> {% trans %}Tranfer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_course_list') }}">
                                {% trans %}Course list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_course_create') }}">
                                {% trans %}Add Course{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>{% trans %}Customer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_customer_list') }}">
                                {% trans %}Customers list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_customer_create') }}">
                                {% trans %}Add customer{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-tint" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle event{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_vehicule_list') }}">
                                {% trans %}Vehicles list{% endtrans %}
                            </a>
                        </li>

                    </ul>

                    <ul class="nav nav-children">
                        <li>
                            <a href="">
                                {% trans %}Maintenance{% endtrans %}
                            </a>
                        </li>

                    </ul>

                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-info" aria-hidden="true"></i>
                        <span>{% trans %}My ticket{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('hackzilla_ticket') }}">
                                {% trans %}Ticket list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('hackzilla_ticket_new') }}">
                                {% trans %}New ticket{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>

</div>