{% trans_default_domain 'backend' %}

<div class="nano">
    <div class="nano-content">
        <nav id="menu" class="nav-main" role="navigation">
            <ul class="nav nav-main">
                <li>
                    <a href="{{ url('cab_message_inbox') }}"
                       title="{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>{% trans %}Mailbox{% endtrans %}</span>
                    </a>
                </li>
                <li id="navprofile" class="nav-parent  ">
                    <a>
                        <i class="fa fa-copy" aria-hidden="true"></i>
                        <span>{% trans %}Account{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navprofileshow" href="{{ path('fos_user_profile_show') }}">
                                {% trans %}My information{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-table" aria-hidden="true"></i>
                        <span> {% trans %}Courses{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_course_list') }}">
                                {% trans %}Course list{% endtrans %}
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('sonata_course_create') }}">
                                {% trans %}Add Course{% endtrans %}
                            </a>
                        </li>

                    </ul>
                </li>
                <li id="navcar" class="nav-parent  ">
                    <a>
                        <i class="fa fa-automobile" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcarlist" href="{{ path('sonata_vehicule_list') }}">{% trans %}The car
                                list{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>{% trans %}Customer{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_customer_list') }}">
                                {% trans %}Customers list{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-tint" aria-hidden="true"></i>
                        <span>{% trans %}Vehicle event{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_vehicule_list') }}">
                                {% trans %}Vehicles list{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navfuellist" href="{{ path('sonata_carfuel_list') }}">
                                {% trans %}Fuel{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navcleanlist" href="{{ path('sonata_carclean_list') }}">
                                {% trans %}Clean{% endtrans %}
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-children">
                        <li>
                            <a href="">
                                {% trans %}Maintenance{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-tint" aria-hidden="true"></i>
                        <span>{% trans %}Planing{% endtrans %}*</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a href="{{ path('sonata_driver_calendar', {'id': app.user.id}) }}">
                                {% trans %}My planing{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-parent  ">
                    <a>
                        <i class="fa fa-bar-chart-o" aria-hidden="true"></i>
                        <span>{% trans %}statistic{% endtrans %}</span>
                    </a>
                    <ul class="nav nav-children">
                        <li>
                            <a id="navagentadd" href="{{ path('statistics') }}">
                                {% trans %}View{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <hr class="separator"/>
    </div>
</div>