/* Add here all your CSS customizations */
.custom-panel-heading {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #dadada;
    border-radius: 5px 5px 0 0;
    height: 120px;
    overflow: hidden;
    padding: 18px;
    position: relative;
}

.clickable{
    cursor: pointer;
}

.bootstrap-timepicker {
    position: relative;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu {
    left: auto;
    right: 0;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu::before {
    left: auto;
    right: 12px;
}
.bootstrap-timepicker.pull-right .bootstrap-timepicker-widget.dropdown-menu::after {
    left: auto;
    right: 13px;
}
.bootstrap-timepicker .input-group-addon {
    cursor: pointer;
}
.bootstrap-timepicker .input-group-addon i {
    display: inline-block;
    height: 16px;
    width: 16px;
}
.bootstrap-timepicker-widget.dropdown-menu {
    padding: 4px;
}
.bootstrap-timepicker-widget.dropdown-menu.open {
    display: inline-block;
}
.bootstrap-timepicker-widget.dropdown-menu::before {
    border-bottom: 7px solid rgba(0, 0, 0, 0.2);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}
.bootstrap-timepicker-widget.dropdown-menu::after {
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
}
.bootstrap-timepicker-widget.timepicker-orient-left::before {
    left: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-left::after {
    left: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-right::before {
    right: 6px;
}
.bootstrap-timepicker-widget.timepicker-orient-right::after {
    right: 7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top::before {
    top: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-top::after {
    top: -6px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom::before {
    border-bottom: 0 none;
    border-top: 7px solid #999;
    bottom: -7px;
}
.bootstrap-timepicker-widget.timepicker-orient-bottom::after {
    border-bottom: 0 none;
    border-top: 6px solid #ffffff;
    bottom: -6px;
}
.bootstrap-timepicker-widget a.btn, .bootstrap-timepicker-widget input {
    border-radius: 4px;
}
.bootstrap-timepicker-widget table {
    margin: 0;
    width: 100%;
}
.bootstrap-timepicker-widget table td {
    height: 30px;
    margin: 0;
    padding: 2px;
    text-align: center;
}
.bootstrap-timepicker-widget table td:not(.separator) {
    min-width: 30px;
}
.bootstrap-timepicker-widget table td span {
    width: 100%;
}
.bootstrap-timepicker-widget table td a {
    border: 1px solid transparent;
    color: #333;
    display: inline-block;
    margin: 0;
    outline: 0 none;
    padding: 8px 0;
    width: 100%;
}
.bootstrap-timepicker-widget table td a:hover {
    background-color: #eee;
    border-color: #ddd;
    border-radius: 4px;
    text-decoration: none;
}
.bootstrap-timepicker-widget table td a i {
    font-size: 18px;
    margin-top: 2px;
}
.bootstrap-timepicker-widget table td input {
    margin: 0;
    text-align: center;
    width: 25px;
}
.bootstrap-timepicker-widget .modal-content {
    padding: 4px;
}
@media (min-width: 767px) {
    .bootstrap-timepicker-widget.modal {
        margin-left: -100px;
        width: 200px;
    }
}
@media (max-width: 767px) {
    .bootstrap-timepicker {
        width: 100%;
    }
    .bootstrap-timepicker .dropdown-menu {
        width: 100%;
    }
}
.zone-select {
    width: 50%;
}
.help-block{
    color: #FF0000;
    font-style: italic;
    font-size: 10px;
}
select {
    border: 1px solid #e5e7e9;
    border-radius: 0px;
    height: 46px;
    outline: medium none;
    padding: 12px;
    width: 100%;
}
#tarif-taxi select{
    border: 1px solid #e5e7e9;
    border-radius: 0px;
    height: 34px;
    outline: medium none;
    padding: 6px;
    width: 100%;
}
.work_days label{
    font-size: 10px;
}
.field-nightWorkingDriver table, .field-driverWorkDay table{
    widows: 100%;
}

.field-driverWorkNight td, .field-driverWorkDay td, .field-driverWorkNight th, .field-driverWorkDay th{
    border: 1px solid #eee;
    padding: 10px;
    text-align: center;
}
input[type="file"] {
    display: block;
    padding-bottom: 40px;
}
.form-horizontal .field-driverWorkNight .control-label, .form-horizontal .field-driverWorkDay .control-label {
    text-align: left;
}
.spacing-10{
    padding-left:10px;
}

.table.list-object > tbody > tr > td{
    vertical-align: middle;
}

.list-object td .panel{
    margin: auto;
}

#form-company-inner-customer, #option-handicap{
    display: none;
}
.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top20 { margin-top:20px; }
.top30 { margin-top:30px; }

.top5- { margin-top: -5px; }
.top10- { margin-top: -10px; }
.top15- { margin-top: -15px; }

code {
    font-size: 87%;
}
.form-inline textarea.form-control {
    height: auto;
    width: 100%;
}
.input-group {
    border-collapse: separate;
    display: table;
    position: relative;
    width: 100%;
}

.datepicker {
    line-height: 1.1em;
    margin: 0 auto;
    padding: 2px 10px;
}
input[type="file"] {
    padding-bottom: 0;
}
.form-btn-add-user{
    margin-top: 28px;
}
select[multiple], select[size] {
    height: auto;
}

#map-direction {
    height: 100%;
}
#floating-panel {
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}


#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel select, #right-panel input {
    font-size: 15px;
}

#right-panel select {
    width: 100%;
}

#right-panel i {
    font-size: 12px;
}

#right-panel {
    height: 100%;
    float: right;
    width: 390px;
    overflow: auto;
}

#map {
    margin-right: 400px;
}

#floating-panel {
    background: #fff;
    padding: 5px;
    font-size: 14px;
    font-family: Arial;
    border: 1px solid #ccc;
    box-shadow: 0 2px 2px rgba(33, 33, 33, 0.4);
    display: none;
}

@media print {
    #map {
        height: 500px;
        margin: 0;
    }

    #right-panel {
        float: none;
        width: auto;
    }
}
#div_select_business_company {
    display: none;
}
.ajax-wait {
    display:    none;
    position:   fixed;
    z-index:    100000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0.5) url(../images/loader-64x/gears.gif) center no-repeat;
}
body.loading {
    overflow: hidden;
}

body.loading .ajax-wait {
    display: block;
}

.pac-container {
    z-index: 10051 !important;
}

.fc-event-container a {
    min-height: 20px;
}

.div-linked-courses {
    display: none;
}

.popup-box {
    width: 98%;
    height: 30px;
    padding: 0 1%;
    top: 1%;
    background-color: #FF0000;
    color: #ffffff;
    z-index: 100000000;
    border: 2px solid #ffffff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}