<h3>le ticket n° {{ ticket.id }} vient d'être mis à jour</h3>

Le ticket concerne la course n° {{ ticket.course.id }} du {{ courseDate|date("d/m/Y") }} à {{ courseTime|date('H:i') }}
<br>
{% if coursebc is not defined or coursebc is null %}
{% else %}
    Bon de commande n° : {{ coursebc }}
{% endif%}

{% if ticket.ContactName is not defined or ticket.ContactName is null %}
    <br>
    <br>
{% else %}
    Ticket suivi par {{ticket.ContactName|upper}}
    <br>
    <br>
{% endif%}

{{ ticket.lastUserObject.firstName|capitalize }} {{ ticket.lastUserObject.lastName|upper }} à répondu :
<br>
<i>
   {{ message.message|nl2br }}
</i>
<br>
<br>
{% if ticket.subject == 1 %}
    Le motif du ticket est : OBJET OUBLIÉ
{% endif %}
{% if ticket.subject == 2 %}
    Le motif du ticket est : COMPORTEMENT DU CHAUFFEUR
{% endif %}
{% if ticket.subject == 3 %}
<br>
<br>
<p>Le motif du ticket est : RETARD COURSE
    {% endif %}
    {% if ticket.subject == 4 %}
        Le motif du ticket est : PARCOURS COURSE
    {% endif %}
    {% if ticket.subject == 5 %}
        Le motif du ticket est : CONDUITE DANGEREUSE
    {% endif %}
    {% if ticket.subject == 6 %}
        Le motif du ticket est : ACCIDENT
    {% endif %}
    {% if ticket.subject == 7 %}
        Le motif du ticket est : COMPORTEMENT DU CLIENT
    {% endif %}
    {% if ticket.subject == 8 %}
        Le motif du ticket est : VÉHICULE EN PANNE
    {% endif %}
    {% if ticket.subject == 9 %}
        Le motif du ticket est : PLANIFICATION SNCF
    {% endif %}
    {% if ticket.subject == 10 %}
        Le motif du ticket est : PLANIFICATION TAXI
    {% endif %}
    {% if ticket.subject == 11 %}
        Le motif du ticket est : COURSE NON EXECUTÉE
    {% endif %}
    {% if ticket.subject == 12 %}
        Le motif du ticket est : AUTRE
    {% endif %}
    <br>
    <br>
    {% if ticket.status == 10 %}
        Le status du ticket est : OUVERT
    {% endif %}
    {% if ticket.status == 11 %}
        Le status du ticket est : EN COURS
    {% endif %}

    {% if ticket.status == 12 %}
        Le status du ticket est : INFORMATIONS DEMANDÉES
    {% endif %}
    {% if ticket.status == 14 %}
        Le status du ticket est : EN ATTENTE
    {% endif %}
    {% if ticket.status == 15 %}
        Le status du ticket est : RÉSOLU
    {% endif %}
    {% if ticket.status == 16 %}
        Le status du ticket est : FERMÉ
    {% endif %}
    <br>
    <br>
    Vous pouvez répondre ou suivre ce ticket directement depuis le web, votre application mobile ou en répondant à ce courriel
    <br>
    <br>
    <i>Courriel envoyé automatiquement depuis la plateforme up.taxi, pour plus d'information veuillez contacter votre compagnie de transport</i>
