{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}
{% block title %}
    Accept course
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -

{% endblock %}

{% block custom_content %}
    <section class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div id="accordion0" class="panel-group">
                        <div class="panel panel-accordion panel-accordion-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse0One" data-parent="#accordion0" data-toggle="collapse"
                                       class="accordion-toggle" aria-expanded="true">
                                        <i class="fa fa-info"></i> {{ "Accept Course"|trans }}
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>
{% endblock javascripts %}



