{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}
{% trans_default_domain 'backend' %}

{% block actions %}
{% spaceless %}
    {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
        <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
    {% endif %}
{% endspaceless %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block list_table %}
    <table class="table table-striped" style="Vertical-Align: Middle;">
    <thead>
            <tr>
            <th class="left hidden-phone" width="10%">{% trans %}Agent{% endtrans %}</th>
            <th class="left hidden-phone" width="20%">    </th>
            <th class="left hidden-phone" width="30%">{% trans %}Address{% endtrans %}</th>
            <th class="left hidden-phone" width="30%">{% trans %}Company{% endtrans %}</th>
            <th class="left hidden-phone" width="10%">{% trans %}Time connection{% endtrans %}</th>
            </tr>
    </thead>
        <tbody>


        {% for object in admin.datagrid.results %}
            <tr>
                <td  class="left hidden-phone" style="Vertical-Align: Middle;">
                    {% if object.avatar %}
                        <img class="img-responsive center hidden-phone"
                             src="{{ asset('/uploads/avatar/' ~ object.avatar) | imagine_filter('size100x100') }}">
                    {% else %}
                        <img class="img-responsive center hidden-phone"
                             src="{{ asset('/bundles/cabadmin/images/no_image_profile_available.jpg') | imagine_filter('size100x100') }}"
                             alt="{{ 'no_image_available' }}"/>
                    {% endif %}

                </td>
                <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                    <a style="width:250px;height:50px;" class="btn btn-default view_link" href="{{ admin.generateObjectUrl('show', object) }}">
                        {{ object.firstName|upper|truncate(10) }}  {{ object.lastName|capitalize|truncate(10) }}
                    </a>
                </td>
                <td class="left hidden-phone"  style="Vertical-Align: Middle;">{{ object.address }} </td>
                 <td>
                     {% if object.agentCompany is not null %}
                        {{ object.agentCompany.companyName }}</td>
                     {% endif %}

                <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                    {% if object.lastLogin is same as(null) %}
                        Never connected
                    {% else %}
                        {{ object.lastLogin|date("F jS \\a\\t g:ia")}}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}


        </tbody>

    </table>

<script>
$('#navagent').addClass('nav-expanded');
$('#navagentlist').css( "color", "white" );
</script>

{% endblock %}







