{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% trans_default_domain 'backend' %}
{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block show %}
    <div class="sonata-ba-view">
        <div>
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="thumb-info mb-md">
                                <img alt="John Doe" class="rounded img-responsive" src="/uploads/avatar/{{ object.avatar }}">
                                <div class="thumb-info-title">
                                    <span class="thumb-info-inner">{{ object.lastName|truncate(10) }} {{ object.firstName|truncate(10) }}</span>
                                    <span class="thumb-info-type">AGENT </span>
                                </div>
                            </div>
                            <div class="widget-toggle-expand mb-md">
                            </div>
                            <hr class="dotted short">
                            <h6 class="text-muted">{% trans %}Email{% endtrans %} : {{ object.email }}</h6>
                            <hr class="dotted short">
                            <h6 class="text-muted">{% trans %}Phone{% endtrans %} : {{ object.phoneMobile }}</h6>
                            <hr class="dotted short">
                            <a class="btn btn-sm btn-default view_link" target="" href="{{ admin.generateObjectUrl('edit', object) }}"> {% trans %}Edit agent{% endtrans %}</a>
                        </div>
                    </section>
                </div>
                <div class="col-md-9">
                    <div class="panel-group" id="accordionagent">
                        <div class="panel panel-accordion panel-accordion-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a aria-expanded="true" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionagent" href="#accordionagentOne">
                                        <i class=""></i>{{ "Agent's address information"|trans }}
                                    </a>
                                </h4>
                            </div>
                            <div style="height: 52px;" aria-expanded="true" id="accordionagentOne" class="accordion-body">
                                <div class="panel-body">
                                    {{ object.address }}
                                    <h4>Companies list</h4>
                                    <ul>
                                    {% if object.agentCompany is not null %}
                                        <li><a href="{{ path('sonata_company_show', {'id': object.agentCompany.id } ) }}">{{ object.agentCompany.companyName }}</a></li>
                                        {% else %}
                                        <li>This agent isn't affected to any company</li>
                                    {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
