{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}


{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{# {% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %} #}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        {% if admin_pool.getOption('form_type') == 'horizontal' %}{% set  class = "form-bordered form-horizontal" %}{% else %}{% set  class = "form-bordered" %}{% endif %}
        <section class="panel">
            {{ form_start(form,{"attr":{"class":class,"role":"form","id":admin.classnameLabel,"action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass'),"novalidate":"novalidate"})}}) }}

                <div class="panel-body">
                    {{ form_errors(form) }}

                    <div class="row mb-md">
                        <div class="col-md-12 col-sm-12">
                            <div class="col-md-6 col-sm-12 mb-md">
                                {{ form_row(form.departure) }}
                                {{ form_row(form.longDep) }}
                                {{ form_row(form.latDep) }}
                            </div>
                            <div class="col-md-6 col-sm-12 mb-md">
                                {{ form_row(form.arrival) }}
                                {{ form_row(form.longArr) }}
                                {{ form_row(form.latArr) }}
                            </div>
                        </div>
                    </div>
                    <div class="row mb-md">
                        <div class="col-md-1">
                            {{ form_row(form.position) }}
                        </div>
                        <div class="col-md-1">
                            {{ form_row(form.ref) }}
                        </div>
                        <div class="col-md-10">
                            {{ form_row(form.title) }}

                        </div>
                    </div>

                    <div class="row mb-md">

                        <div class="col-md-3">
                            <div class="col-md-12">
                                <a class="btn btn-default" id="get-distance-time-article">
                                    calcul temps, distance et prix
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="row mb-md">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.distance) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.time) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.price4) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.price6) }}
                            </div>
                        </div>
                    </div>

                    <div class="row mb-md">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.cible) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.language) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.countryrate) }}
                            </div>
                        </div>
                    </div>


                          {{ form_row(form) }}
                    {{ form_widget(form._token) }}
                </div>

                <footer class="panel-footer">
                    {% block formactions %}
                        <div class="form-actions">
                            {% if app.request.isxmlhttprequest %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% else %}
                                {% if admin.supportsPreviewMode %}
                                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                        <i class="fa fa-eye"></i>
                                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}

                                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}

                                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                        <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </footer>
            {{ form_end(form) }}
        </section>
{#{{ block('parentForm') }}#}

<script src="{{ asset('bundles/cabadmin/javascripts/ckeditor/ckeditor.js') }}"></script>
<script>

        $('#navarticle').addClass('nav-expanded');
        $('#navarticlelist').css("color", "white");
</script>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>






    <script>
        $( document ).ready(function() {



        });
    </script>

{% endblock javascripts %}
