{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
            {% endif %}
        {% endspaceless %}
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block list_table %}
    {% for object in admin.datagrid.results %}
    {% endfor %}


    <div class="box box-primary">
        <table class="table table-striped list-object">
            {% block table_body %}
                <thead>
                    <tr>
                        <th class="left hidden-phone" width="10%">{% trans %}Ref{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}departure{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}arrival{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}price 4 pax{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}price 6 pax{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}price 12 pax{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}language{% endtrans %}</th>
                        
                        <th class="right hidden-phone" width="20%">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in admin.datagrid.results %}
                        <tr>
                            <td class="left hidden-phone">{{ object.id }}</td>
                            <td class="left hidden-phone">{{ object.departure}}</td>
                            <td class="left hidden-phone">{{ object.arrival}}</td>
                            <td class="left hidden-phone">{{ object.price4}}</td>
                            <td class="left hidden-phone">{{ object.price6}}</td>
                            <td class="left hidden-phone">{{ object.price12}}</td>
                            
                            <td class="left hidden-phone">{{ object.language }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMINCOMPANY') %}
                                    <ul class="list-inline">
                                        <li>
                                            {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
                                        </li>
                                        <li>
                                            {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                                        </li>
                                    </ul>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor%}
                {% endblock %}
        </table>
    </div>

    <script>
        $('#navarticle').addClass('nav-expanded');
        $('#navarticlelist').css("color", "white");
    </script>
{% endblock %}



