{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'CABAdminBundle::layout.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {{ block('parentForm') }}
    <script>
        $(document).ready(function () {
            var company = $(".company-select");
            var zone = $(".zone-select");


            if (typeof company !== "undefined") {
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[company.attr('name')] = company.val();
                // Submit data via AJAX to the form's action path.
                var generatedRoute = Routing.generate('get_object_company', { id: company.val(), searched: 'zone' });

                $.ajax({
                    url: generatedRoute,
                    type: 'GET',
                    success: function (html) {
                        var mySelect = $('.zone-select');
                        mySelect.empty();
                        $.each(html.response, function(val, text) {
                            mySelect.append(
                                    $('<option></option>').val(val).html(text)
                            );
                        });
                    }
                });
            }
            // When company gets selected ...
            company.change(function () {
                // ... retrieve the corresponding form.
                var $form = $(this).closest('form');
                // Simulate form data, but only include the selected sport value.
                var data = {};
                data[company.attr('name')] = company.val();
                // Submit data via AJAX to the form's action path.
                var generatedRoute = Routing.generate('get_object_company', { id: company.val(), searched: 'zone' });

                $.ajax({
                    url: generatedRoute,
                    type: 'GET',
                    success: function (html) {
                        var mySelect = $('.zone-select');
                        mySelect.empty();
                        $.each(html.response, function(val, text) {
                            mySelect.append(
                                    $('<option></option>').val(val).html(text)
                            );
                        });
                    }
                });



            });

        });
    </script>
{% endblock %}

{% block field %}
    {%- if value is empty -%}
        &nbsp;
    {%- elseif field_description.options.format is defined -%}
        {{ value|date(field_description.options.format) }}
    {%- else -%}
        {{ value|date }}
    {%- endif -%}
{% endblock %}
