{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'CABAdminBundle::layout.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
{% set url = admin.id(object) is not null ? 'edit' : 'create' %}

{% if not admin.hasRoute(url) %}
<div>
    {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
</div>
{% else %}
<section class="panel">
    {{ form_start(form,{"attr":{"role":"role","id":"form-company","action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"novalidate":"novalidate"}}) }}

        <header class="panel-heading">
            <div class="panel-actions">
                <a class="fa fa-caret-down" href="#"></a>
                <a class="fa fa-times" href="#"></a>
            </div>
            <h2 class="panel-title"> Company </h2>
        </header>
        <div class="panel-body">
            {{ form_errors(form) }}
            <hr class="dotted short">
            <div class="row top20">
            </div>
            <div class="row top20">
                <div class="col-md-12">
                    {{ form_row(form.businessCompany) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.lastName) }}
                </div>
            </div>
            <div class="row top20">
                <div class="col-md-6">
                    {{ form_row(form.email ) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.username ) }}
                </div>
            </div>
            <div class="row top20">
                <div class="col-md-4">
                    {{ form_row(form.plainPassword ) }}
                </div>
                <div class="col-md-4">

                </div>
            </div>

            <div class="row top20">
                <div class="col-md-6">
                    {{ form_row(form.address ) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.city ) }}
                </div>
            </div>

            <div class="row top20">
                <div class="col-md-6">
                    {{ form_row(form.postCode ) }}
                </div>
                <div class="col-md-6">
                    {{ form_row(form.country ) }}
                </div>
            </div>

            <div class="row top20">
                <div class="col-md-4">
                    {{ form_row(form.phoneHome ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.phoneMobile ) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.phoneWork ) }}
                </div>
            </div>

            <div class="row top20">
                <div class="col-md-4">
                    {{ form_row(form.enabled ) }}
                </div>
                <div class="col-md-4">
                </div>
            </div>
            {{ form_widget(form._token) }}

        </div>
        <footer class="panel-footer">
            {% block formactions %}
                <div class="form-actions">
                    {% if app.request.isxmlhttprequest %}
                        {% if admin.id(object) is not null %}
                            <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                        {% else %}
                            <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                            <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                <i class="fa fa-eye"></i>
                                {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                            </button>
                        {% endif %}
                        {% if admin.id(object) is not null %}
                            <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}

                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}

                            {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}
                        {% else %}
                            {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                            <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock formactions %}
        </footer>
    {{ form_end(form) }}
</section>
{% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

