{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}

{% block title %}
    {{ "Manage driver calendar"|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cabadmin/stylesheets/fullcalendar.css') }}" />
    <link rel="stylesheet" media="print" href="{{ asset('bundles/cabadmin/stylesheets/fullcalendar.print.css') }}" />
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li>....</li>

{% endblock %}

{% block custom_content %}
    <div id="calendar-driver">

    </div>
    <section class="panel">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                <input type="hidden" value="{{ app.request.get('id')}}" id="id_driver">
                <div id='loading'>loading...</div>
                <button onclick="printPage()">Print this page</button>
                <div id="calendar"></div>
            </div>
        </div>
    </section>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/cabadmin/javascripts/calendar/moment.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cabadmin/javascripts/calendar/fullcalendar.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cabadmin/javascripts/calendar/lang-all.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/cabadmin/javascripts/calendar.custom.js') }}"></script>
    <script>
    function printPage() {
        window.print();
    }
    </script>

    <script>
        $(document).ready(function() {
            var currentLangCode = $('#locale-input').val();
            var date = new Date();
            var d = date.getDate();
            var m = date.getMonth();
            var y = date.getFullYear();

            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                lang: currentLangCode,
                timeFormat: 'H:mm',
                slotLabelFormat:"HH:mm",
                defaultView: 'agendaDay',
                selectable: true,
                selectHelper: true,

                eventLimit: true, // allow "more" link when too many events
                events: {
                    url: Routing.generate('get_events_driver', {driver: $('#id_driver').val()}),
                    error: function() {
                        $('#script-warning').show();
                    }
                },
                eventRender: function (event, element) {
                    if (event.date_dep) {
                        element.find('.fc-content')
                                .append("<div class='date_dep'>Departure hour: " + event.date_dep + "</div>");
                    }
                    if (event.date_arr) {
                        element.find('.fc-content')
                                .append("<div class='date_arr'>Arrival hour : " + event.date_arr + "</div>");
                    }
                    if (event.client) {
                        element.find('.fc-content')
                                .append("<div class='client'>" + event.client + "</div>");
                    }
                    if (event.price) {
                        element.find('.fc-content')
                                .append("<div class='price'>Price : " + event.price + "</div>");
                    }
                    if (event.departure_address) {
                        element.find('.fc-content')
                                .append("<div class='departure_address'>Prendre: " + event.departure_address + "</div>");
                    }
                    if (event.arrival_address) {
                        element.find('.fc-content')
                                .append("<div class='arrival_address'>Déposer : " + event.arrival_address + "</div>");
                    }
                    if (event.duration) {
                        element.find('.fc-content')
                                .append("<div class='duration'>Duration : " + event.duration + " min</div>");
                    }
                    element.addClass(event.class)
                },
                loading: function(bool) {
                    $('#loading').toggle(bool);
                }
            });
        });
    </script>
{% endblock javascripts %}

