
{% extends 'CABAdminBundle::layout.html.twig' %}
{% trans_default_domain 'backend' %}


{% block navbar_title %}
    {{ _title }}
{% endblock %}

{%- block actions -%}
    {% if is_granted('ROLE_AGENT') %}
       {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}

    {% endif %}
{%- endblock -%}
{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{# {% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %} #}

{% block list_table %}
    {# {{ block('parentForm') }} #}

    <div class="box box-primary table-responsive panel-body">
        <table class="table table-striped" style="Vertical-Align: Middle;">
            <thead>
                <tr>
                    <th class="left hidden-phone" width="10%"></th>
                    <th class="left hidden-phone" width="10%">{% trans %}Name{% endtrans %}</th>
                    <th class="left hidden-phone" width="10%">{% trans %}Pseudo{% endtrans %}</th>
                    <th class="left hidden-phone" width="15%">{% trans %}Address{% endtrans %}</th>
                    <th class="left hidden-phone" width="15%">{% trans %}City{% endtrans %}</th>
                    <th class="left hidden-phone" width="15%">{% trans %}Postal Code{% endtrans %}</th>
                    <th class="left hidden-phone" width="15%">Isbussiness</th>
                    <th class="left hidden-phone" width="15%">Credit</th>
                    <th class="left hidden-phone" width="15%">{% trans %}Actions{% endtrans %}</th>
                </tr>
            </thead>
            <tbody>

                {% for object in admin.datagrid.results %}
                   {# <pre>
                        {% if object.users.owner.businessUser is not null and object.users.owner.businessUser|length > 0  %}
                                {{ dump(object.users.owner.businessUser.owner.id) }}
                        {% endif %}
                            </pre>#}
                    <tr>
                        <td  class="left hidden-phone" style="Vertical-Align: Middle;">
                            {% if object.logo is not null %}
                                <img class="img-responsive center hidden-phone"
                                     src="{{ asset('uploads/partner/logo/' ~ object.logo) | imagine_filter('size100x100') }}">
                            {% else %}
                                <img class="img-responsive center hidden-phone"
                                     src="{{ asset('/bundles/cabadmin/images/no-image.png.jpg') | imagine_filter('size100x100') }}"
                                     alt="{{ 'no_image_available' }}"/>
                            {% endif %}
                        </td>
                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                            {{ object.companyName }}
                        </td>
                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                            {{ object.contact.username }}
                        </td>
                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                            {{ object.address }}
                        </td>
                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                            {{ object.city }}
                        </td>

                        <td class="left hidden-phone" style="Vertical-Align: Middle;">
                            {{ object.postCode }}
                        </td>
                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                            {% if object.isBusiness == true %}
                                <span class="label label-success">YES</span>
                            {% else %}
                                <span class="label label-danger">NO</span>
                            {% endif %}
                        </td>
                        <td class="left hidden-phone" style="Vertical-Align: Middle;">
                            {% if object.isCredit == true %}
                                <span class="label label-success">YES</span>
                            {% else %}
                                <span class="label label-danger">NO</span>
                            {% endif %}
                        </td>
                        <td class="left hidden-phone" style="Vertical-Align: Middle;">
                            <a class="btn btn-sm btn-default view_link" target="" href="{{ admin.generateObjectUrl('edit', object) }}"> {% trans %}Edit{% endtrans %}</a>
                            <a class="btn btn-sm btn-default view_link" target=""
                               href="{{ admin.generateObjectUrl('show', object) }}"> {% trans %}Show{% endtrans %}</a>
                            {% if object.users.owner.businessUser is not null and object.users.owner.businessUser|length > 0  %}
                                 <a class="btn btn-sm btn-default view_link" target=""
                                   href="{{ path('sonata_business_edit', {'id': object.users.owner.businessUser.owner.id } ) }}">
                                    {% trans %}User business{% endtrans %}
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% block table_footer %}
        <tfoot>
            <tr>
                <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                    <div class="form-inline">
                        {% if not app.request.isXmlHttpRequest %}
                            <div class="pull-right">
                                {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-export"></i>
                                            {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for format in admin.getExportFormats() %}
                                                <li>
                                                    <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                        <i class="glyphicon glyphicon-download"></i>
                                                        {{ format|upper }}
                                                    </a>
                                                <li>
                                                {% endfor %}
                                        </ul>
                                    </div>

                                    &nbsp;-&nbsp;
                                {% endif %}

                                {% block pager_results %}
                                    {% include admin.getTemplate('pager_results') %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    </div>
                </th>
            </tr>
            {% block pager_links %}
                {% if admin.datagrid.pager.haveToPaginate() %}
                    {% include admin.getTemplate('pager_links') %}
                {% endif %}
            {% endblock %}
        {% endblock %}
    <script>
        $(document).ready(function () {
            $('#filter_departureDate_value_start').datetimepicker();
            $('#filter_departureDate_value_end').datetimepicker();
        });
        $('#navrace').addClass('nav-expanded');
        $('#navracelist').css("color", "white");
    </script>
{%endblock%}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>
            <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">

                                        {{ filter.label|trans({}, filter.translationdomain) }}

                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}


{% endblock %}




