{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    {% if is_granted('ROLE_AGENT') %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endif %}
{% endblock %}


{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block show %}


    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            <div class="sonata-ba-view">
                <div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="thumb-info mb-md">
                                        {% if object.logo is not null %}
                                            {% set img = 'uploads/avatar/' ~ object.logo %}
                                            <img alt="{{ object.companyName }}" class="rounded img-responsive" src="{{ img | imagine_filter('thumbs') }}">
                                        {% else %}
                                            <img class="rounded img-responsive center hidden-phone"
                                                 src="{{ asset('/bundles/cabadmin/images/no-profile-pic.jpg') | imagine_filter('size100x100') }}"
                                                 alt="{{ 'no_image_available' }}"/>
                                        {% endif %}

                                        <div class="thumb-info-title">
                                            <span class="thumb-info-inner"></span>
                                            <span class="thumb-info-type">{{ object.companyName }}</span>
                                        </div>
                                    </div>
                                    <div class="widget-toggle-expand mb-md">
                                    </div>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Email{% endtrans %} : {{ object.contactMail }}</h6>
                                    <hr class="dotted short">
                                    <hr class="dotted short">
                                    <a class="btn btn-sm btn-default view_link" target="" href="{{ admin.generateObjectUrl('edit', object) }}"> {% trans %}Edit{% endtrans %}</a>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-4">
                            <div class="panel-group" id="accordionagent">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="true" class="accordion-toggle" data-toggle="collapse" data-parent="#accordionagent" href="#accordionagentOne">
                                                <i class=""></i>{{ "Company address"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height: 52px;" aria-expanded="true" id="accordionagentOne" class="accordion-body">
                                        <div class="panel-body">
                                            <p>{{ object.address }}</p>
                                            <p>{{ object.postCode }} {{ object.city }}</p>
                                            <p>Pone : {{ object.phone }}</p>
                                            {% set classlabel = "label-danger" %}
                                            {% set businesslabel = "No" | trans %}
                                            {% if object.isBusiness %}
                                                {% set classlabel = "label-success" %}
                                                {% set businesslabel = "Yes" | trans %}
                                            {% endif %}
                                            <p>{{ 'Business company' | trans }} : <span class="label {{ classlabel }}">{{ businesslabel }} </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="panel-group" id="accordioncontactcompany">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a aria-expanded="true" class="accordion-toggle" data-toggle="collapse" data-parent="#accordioncontactcompany"
                                               href="#accordioncontactcompanyOne">
                                                <i class=""></i>{{ "Company Admin"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div style="height: 52px;" aria-expanded="true" id="accordioncontactcompanyOne" class="accordion-body">
                                        <div class="panel-body">
                                            <p>Username : {{ object.contact.username }}</p>
                                            <p>Firstname : {{ object.contact.firstname }}</p>
                                            <p>lastname : {{ object.contact.lastname }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
    </div>
{% endblock %}
