
{% extends 'CABAdminBundle::layout.html.twig' %}
{% trans_default_domain 'backend' %}


{% block navbar_title %}
    {{ _title }}
{% endblock %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{# {% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %} #}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block list_table %}
    {# {{ block('parentForm') }} #}


    <div class="box box-primary table-responsive panel-body">
        {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
        {% set batchactions = admin.batchactions %}
        {% if admin.datagrid.results|length > 0 %}
            {% if admin.hasRoute('batch') %}
            <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
            {% endif %}
            <table class="table table-striped mb-none">


            {% block table_body %}
                <thead>
                    <tr>
                        {% if is_granted('ROLE_AGENT') %}
                        <th></th>
                        {% endif %}
                        <th class="right hidden-phone" width="20%">{% trans %}ACTION{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}REF{% endtrans %}</th>
                        {% if is_granted('ROLE_ADMIN') %}
                        <th class="left hidden-phone" width="10%">{% trans %}COMPANY{% endtrans %}</th>
                        {% endif%}
                        <th class="left hidden-phone" width="10%">{% trans %}Customer{% endtrans %}</th>
                        {% if is_granted('ROLE_AGENT') %}
                            <th class="right hidden-phone" width="10%">{% trans %}STATUT{% endtrans %}</th>
                        {% elseif is_granted('ROLE_COMPANYBUSINESS')  %}
                            <th class="left hidden-phone" width="10%">{% trans %}Company parent{% endtrans %}</th>
                        {% endif%}
                        <th class="left hidden-phone" width="10%">{% trans %}DATE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}departure address{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Arrival address{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Pax{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}Driver{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}Vehicle{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}Price{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}SERVICE{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}ZONE{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}FORFAIT{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Cycle{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}TARGET TYPE{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}HANDICAP{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in admin.datagrid.results %}

                        <tr class="">



                        {% if is_granted('ROLE_AGENT') %}
                            <td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{object.id}}">
                                <input name="idx[]" value="{{object.id}}" type="checkbox"></td>
                        {% endif %}

                        <td class="left hidden-phone">
                            {% if is_granted('ROLE_ADMINCOMPANY') %}
                                <ul class="list-inline">
                                    <li>
                                        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
                                    </li>
                                    <li>
                                        {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                                    </li>

                                    {% if  (object.coursestatus == 0 or object.coursestatus == 4)  %}
                                        <li>
                                            <a href="{{ path('sonata_course_groupage', {id: object.id}) }}">
                                                {% trans %}Groupage{% endtrans %}
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li>
                                        <a href="{{ path('hackzilla_ticket_list_by_course', {courseId: object.id}) }}">
                                            {% trans %}Tickets{% endtrans %}
                                        </a>
                                    </li>
                                </ul>
                            {% endif %}
                        </td>


                            <td class="left hidden-phone">{{ object.id }}
                            {% if object.isGroupage == 1 %}
                            <span class="label label-info">{% trans %}GROUPAGE{% endtrans %}</span><br>
                                <span class="label label-info">  [{{ object.linkedGroupage.baseCourse.id }}]</span>
                                {% for history in object.linkedGroupage() %}
                                    {% for hist in history %}
                                        <tr>
                                            <td></td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endif %}

                            </td>
                            {% if is_granted('ROLE_ADMIN') %}
                            <td class="left hidden-phone">{{ object.company}}</td>
                            {% endif %}
                            <td class="left hidden-phone">
                                {% if object.client.firstname is defined %}
                                    {{ object.client.firstname }} {{ object.client.lastname }}
                                {%endif%}
                            </td>
                            {% if is_granted('ROLE_AGENT') %}

                                <td class="left hidden-phone">
                                    {% if  object.coursestatus == 0 %}
                                        <div class="text-left">
                                            <span class="label label-danger">{% trans %}WAITING TO ACCEPT{% endtrans %} </span>
                                        </div>
                                    {% endif %}

                                    {% if  object.coursestatus == 4 %}
                                        <div class="text-left">
                                            <span class="label label-warning">{% trans %}AFFECTED{% endtrans %} </span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 6 %}
                                        <div class="text-left">
                                            <span class="label label-success">{% trans %}FINISH{% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 3 %}
                                        <div class="text-left">
                                            <span class="label label-dark">{% trans %}CANCELLED BY CLIENT{% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 15 %}
                                        <div class="text-left">
                                            <span class="label label-dark">{% trans %}CANCELLED BY DRIVER{% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 9 %}
                                        <div class="text-left">
                                            <span class="label label-info">{% trans %}ON RACE WITH CUSTOMER{% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 12 %}
                                        <div class="text-left">
                                            <span class="label label-info">{% trans %}ACCEPTED BY DRIVER{% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 13 %}
                                        <div class="text-left">
                                            <span class="label label-info">{% trans %}ARRIVAL DRIVER{% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 18 %}
                                        <div class="text-left">
                                            <span class="label label-warning">{% trans %}GO TO CUSTOMER{% endtrans %} </span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 21 %}
                                        <div class="text-left">
                                            <span class="label label-dark">{% trans %}Annuler Galap{% endtrans %} </span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 22 %}
                                        <div class="text-left">
                                            <span class="label label-warning">{% trans %}Annul délai{% endtrans %} </span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 23 %}
                                        <div class="text-left">
                                            <span class="label label-warning">{% trans %}Pré-command{% endtrans %} </span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 24 %}
                                        <div class="text-left">
                                            <span class="label label-danger">{% trans %}Déplacement Inutile{% endtrans %} </span>
                                        </div>
                                    {% endif %}
                                    {% if  object.coursestatus == 25 %}
                                        <div class="text-left">
                                            <span class="label label-dark">{% trans %}Annulation DO{% endtrans %} </span>
                                        </div>
                                    {% endif %}
                                </td>

                            {% elseif is_granted('ROLE_COMPANYBUSINESS')  %}
                                <td>
                                    {{ object.company }}
                                </td>
                            {% endif%}

                            <td class="left hidden-phone">{{ object.departureDate|date("d/m/Y")}}
                                <br>
                                {{ object.departureTime|date("H:i") }}
                            </td>
                            <td class="left hidden-phone">{{ object.startedAddress}}</td>
                            <td class="left hidden-phone">{{ object.arrivalAddress}}</td>
                            <td class="left hidden-phone">{{ object.personNumber}}</td>

                            <td class="left hidden-phone">
                                {% if object.driver.firstname is defined %}
                                    {{ object.driver.firstname}} {{ object.driver.lastname}}
                                {% endif %}

                            </td>
                            <td class="left hidden-phone">{{ object.vehicle }}
                                {% if object.vehicle.licensePlateNumber is defined %}
                                    {{ object.vehicle.licensePlateNumber }}
                                {% endif %}
                            </td>
                            <td class="left hidden-phone">
                                {% for key, role in app.user.roles %}
                                    {% if key == 0 %}
                                        {% if role == 'ROLE_DRIVER' %}
                                            {% for value in object.serviceTransportCourses() %}
                                                {% if value.PriceView == 1 %}

                                                 {%  else %}
                                                     {% if object.courseStatus ==6 %}
                                                         {{ object.priceTTC }}
                                                     {% else %}
                                                         {{ object.priceHT }}
                                                         {% if object.courseDetailsTarif is not null %}
                                                             - {{ object.courseDetailsTarif.estimatedTarif }}
                                                         {% endif %}
                                                     {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            {% if object.courseStatus ==6 %}
                                                {{ object.priceTTC }}
                                            {% else %}
                                                {{ object.priceHT }}
                                                {% if object.courseDetailsTarif is not null %}
                                                    - {{ object.courseDetailsTarif.estimatedTarif }}
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </td>

                            <td>
                                {% if object.serviceTransportCourses is defined %}
                                    {% for value in object.serviceTransportCourses() %}

                                        {{ value.ServiceName() }}
                                    {% endfor %}
                                {% endif %}
                            </td>
                        <td>
                            {% if object.zone is not null %}
                                {{ object.zone.zoneName }}
                            {% endif %}
                        </td>
                            <td class="left hidden-phone">
                                {% if  object.courseDetailsTarif.isForfait is defined %}
                                    <div class="text-left">
                                        <span class="label label-success">{% trans %}YES{% endtrans %} </span>
                                    </div>
                                {% else %}
                                    <div class="text-left">
                                        <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="left hidden-phone">
                                {% set classlabelCycle = 'label-danger' %}
                                {% set labelCycle = 'No' %}
                                {% if  object.isCycle == 1 %}
                                    {% set classlabelCycle = 'label-success' %}
                                    {% set labelCycle = 'Yes' %}
                                {% elseif object.cycleParent %}
                                    {% set classlabelCycle = 'label-warning' %}
                                    {% set labelCycle = 'Cycle child' %}
                                {% endif %}
                                <div class="text-left">
                                    <span class="label {{ classlabelCycle }}">{{ labelCycle }} </span>
                                </div>
                            </td>
                            <td class="left hidden-phone">
                                {% if  object.targetType == 1 %}
                                    <div class="text-left">
                                        <span class="label label-success">{% trans %}YES{% endtrans %} </span>
                                    </div>
                                {% else %}
                                    <div class="text-left">
                                        <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="left hidden-phone">
                                {% if  object.isHandicap == 1 %}
                                    <div class="text-left">
                                        <span class="label label-success">{% trans %}YES{% endtrans %} </span>
                                    </div>
                                {% else %}
                                    <div class="text-left">
                                        <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                    </div>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            {% endblock %}
                {% block table_footer %}
                    <tfoot>
                    <tr>
                        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                            <div class="form-inline">
                                {% if not app.request.isXmlHttpRequest %}
                                {% if admin.hasRoute('batch') and batchactions|length > 0 and is_granted('ROLE_ADMINCOMPANY') %}
                                    {% block batch %}
                                    <script>
                                        {% block batch_javascript %}
                                        jQuery(document).ready(function ($) {
                                            $('#list_batch_checkbox').on('ifChanged', function () {
                                                $(this)
                                                        .closest('table')
                                                        .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                        .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                                                ;
                                            });

                                            $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                    .on('ifChanged', function () {
                                                        $(this)
                                                                .closest('tr')
                                                                .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                        ;
                                                    })
                                                    .trigger('ifChanged')
                                            ;
                                        });
                                        {% endblock %}
                                    </script>

                                    {% block batch_actions %}

                                    <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                        <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                        {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                        ({{ admin.datagrid.pager.nbresults }})
                                    </label>

                                    <select name="action" style="width: auto; height: auto" class="form-control">
                                        {% for action, options in batchactions %}
                                            <option value="{{ action }}">{{ options.label }}</option>
                                        {% endfor %}
                                    </select>


                                    {% endblock %}

                                <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                    {% endblock %}
                                {% endif %}

                                    <div class="pull-right">



                                        {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-export"></i>
                                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {% for format in admin.getExportFormats() %}
                                                    <li>
                                                        <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                            <i class="glyphicon glyphicon-download"></i>
                                                            {{ format|upper }}
                                                        </a>
                                                    <li>
                                                        {% endfor %}
                                                </ul>
                                            </div>

                                            -
                                        {% endif %}

                                        {% block pager_results %}
                                            {% include admin.getTemplate('pager_results') %}
                                        {% endblock %}
                                    </div>
                                {% endif %}
                            </div>
                        </th>
                    </tr>

                    {% block pager_links %}
                        {% if admin.datagrid.pager.haveToPaginate() %}
                            {% include admin.getTemplate('pager_links') %}

                        {% endif %}
                    {% endblock %}

                    </tfoot>
                {% endblock %}
        </table>
            {% if admin.hasRoute('batch') %}
            </form>
            {% endif %}
        {% else %}
            <div class="callout callout-info">
                {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
            </div>
        {% endif %}
    </div>
    {% block list_footer %}{% endblock %}

    {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
<script>


</script>


    <script>
        $(document).ready(function () {
            {#$('#filter_departureDate_value input').datepicker({
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayBtn: "linked",
                language: "fr",
                autoclose: true
            });
            $('#filter_departureDate_value_end input').datepicker({
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayBtn: "linked",
                language: "fr",
                autoclose: true
            });#}





        });
        $('#navrace').addClass('nav-expanded');
        $('#navracelist').css("color", "white");
    </script>
{%endblock%}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>
            <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                        {{ filter.label|trans({}, filter.translationDomain) }}
                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                     {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}


{% endblock %}




