{% extends base_template %}
{% trans_default_domain 'backend' %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block show %}

    <div class="sonata-ba-view">
        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}
        <div class='panel-body'>
            <div class="row show-grid">
                <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}DATE ET HEURE{%endtrans%}</span></div>
                <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.departureDate|date("d.m.Y") }}</span></div>
                <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.departureTime|date("H:i") }}</span></div>
                <div class="col-md-2"><span class="text-bold show-grid-block">
                        {% if  object.coursestatus == 4 %}
                            <div class="text-left">
                                <span class="label label-warning">{% trans %}AFFECTED{% endtrans %} </span>
                            </div>
                        {% endif %}
                        {% if  object.coursestatus == 6 %}
                            <div class="text-left">
                                <span class="label label-success">{% trans %}FINISH{% endtrans %}</span>
                            </div>
                        {% endif %}
                        {% if  object.coursestatus == 3 %}
                            <div class="text-left">
                                <span class="label label-dark">{% trans %}CANCELLED BY CLIENT{% endtrans %}</span>
                            </div>
                        {% endif %}
                        {% if  object.coursestatus == 15 %}
                            <div class="text-left">
                                <span class="label label-dark">{% trans %}CANCELLED BY DRIVER{% endtrans %}</span>
                            </div>
                        {% endif %}
                        {% if  object.coursestatus == 3 %}
                            <div class="text-left">
                                <span class="label label-dark">{% trans %}CANCELLED BY CLIENT{% endtrans %}</span>
                            </div>
                        {% endif %}
                        {% if  object.coursestatus == 9 %}
                            <div class="text-left">
                                <span class="label label-info">{% trans %}ON RACE WITH CUSTOMER{% endtrans %}</span>
                            </div>
                        {% endif %}
                        {% if  object.coursestatus == 12 %}
                            <div class="text-left">
                                <span class="label label-info">{% trans %}ACCEPTED BY DRIVER{% endtrans %}</span>
                            </div>
                        {% endif %}
                        {% if  object.coursestatus == 13 %}
                            <div class="text-left">
                                <span class="label label-info">{% trans %}ARRIVAL DRIVER{% endtrans %}</span>
                            </div>
                        {% endif %}
                    </span>
                </div>
            </div>

            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-4"><span class="show-grid-block">{%trans%}Customer{%endtrans%}</span></div>
                <div class="col-md-8"><span class="show-grid-block">{{ object.client.firstname }} {{ object.client.LastName }} ( {{ object.client.phoneMobile }} )</span>               </div>
            </div>
            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-4"><span class="show-grid-block">{%trans%}Driver{%endtrans%}</span></div>
                {% if  object.driver.firstName is defined %}
                <div class="col-md-8"><span class="show-grid-block">{{ object.driver.firstName }} {{ object.driver.LastName }} ( {{ object.driver.phoneMobile }} )</span><p>
                        {{ object.vehicle }} {% if object.vehicle is not null %} ({{ object.vehicle.licensePlateNumber }}) {% endif %} </p>
                    {% else %}
                        {{ object.driver.id | default("") }}
                    {% endif %}

 </div>
            </div>
            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-4"><span class="show-grid-block">{%trans%}departure address{%endtrans%}</span></div>
                <div class="col-md-8"><span class="show-grid-block">{{ object.startedAddress }} ({{ object.indicatorStartedAddress}})</span> <input type="hidden" id="depAddress" value="{{ object.startedAddress }}"/> </div>
            </div>
            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-4"><span class="show-grid-block">{%trans%}Arrival address{%endtrans%}</span></div>
                <div class="col-md-8"><span class="show-grid-block">{{ object.arrivalAddress }} ({{ object.indicatorArrivalAddress }})</span> <input type="hidden" id="arrAddress" value="{{ object.arrivalAddress }}"/></div>
            </div>
            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-4"><span class="show-grid-block">{%trans%}Message{%endtrans%}</span></div>
                <div class="col-md-8"><span class="show-grid-block">{{ object.descriptionChildren }} </span></div>
            </div>
            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-1"><span class="show-grid-block">{%trans%}Pax{%endtrans%}</span></div>
                <div class="col-md-1">
                    {% if  object.personNumber == 0 %}
                        <div class="text-left">
                            <span class="show-grid-block">1</span>
                        </div>
                    {% else %}
                        <div class="text-left">
                            <span class="show-grid-block">{{ object.personNumber }}</span>
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-1"><span class="show-grid-block">{%trans%}Handicap{%endtrans%}</span></div>
                <div class="col-md-1"><span class="show-grid-block">
                        {% if  object.nbWheelchair == 1 %}
                            <div class="text-left">
                                <span class="label label-success">{{object.nbWheelchair}}</span>
                            </div>
                        {% else %}
                            <div class="text-left">
                                <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                            </div>
                        {% endif %}
                    </span></div>
                <div class="col-md-1"><span class="show-grid-block">{%trans%}Children{%endtrans%}</span></div>
                <div class="col-md-1"><span class="show-grid-block">
                        {% if  object.nbChildren == 1 %}
                            <div class="text-left">
                                <span class="label label-success">{{object.nbChildren}}</span>
                            </div>
                        {% else %}
                            <div class="text-left">
                                <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                            </div>
                        {% endif %}
                    </span></div>
                <div class="col-md-1"><span class="show-grid-block">{%trans%}Distance{%endtrans%}</span></div>
                <div class="col-md-1"><span class="show-grid-block">{{ object.distance}}</span></div>

            </div>
            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-4"><span class="text-bold show-grid-block">{%trans%}Price{%endtrans%}</span></div>
                <div class="col-md-3"><span class="show-grid-block">{{ object.priceHT }} HT</span></div>
                <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.priceTTC }} TTC</span></div>
                <div class="col-md-2"><span class="text show-grid-block label label-success">{{ object.paymentMode}}</span></div>
            </div>
            {% if object.cycleParent is not null %}
                <hr class="mt-md mb-md">
                <div class="row show-grid">
                    <div class="col-md-2">
                        <span class="text show-grid-block label label-success">
                            {%trans%}Cycle course child{%endtrans%}
                        </span>
                    </div>
                    <div class="col-md-4">
                        <span class="text show-grid-block">
                            <a href="/admin/en/course/{{ object.cycleParent}}/show">{%trans%}Parent course{%endtrans%}</a>
                        </span>
                    </div>
                </div>
            {% endif %}
            {% if object.isCycle  %}
                <hr class="mt-md mb-md">
                <div class="row show-grid">
                    <div class="col-md-2">
                        <span class="text show-grid-block label label-success">
                            {%trans%}Cycle course Parent{%endtrans%}
                        </span>
                    </div>
                </div>
            {% endif %}
            <hr class="mt-md mb-md">
            <div class="row show-grid">
                <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}Step of this race{%endtrans%}</span></div>
                <div class="col-md-12">
                    {% set created = '' %}
                    {% set accepted = '' %}
                    {% set arrival = '' %}
                    {% set start = '' %}
                    {% set finish = '' %}
                    {% set cancel = '' %}
                    {% set refuse = '' %}
                    {% set cancelcustomer = '' %}
                    {% for history in object.courseHistory %}
                        {% if history.status == 0 %}
                            {% set created = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                        {% if history.status == 4 %}
                            {% set accepted = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                        {% if history.status == 13 %}
                            {% set arrival = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                        {% if history.status == 9 %}
                            {% set start = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                        {% if history.status == 6 %}
                            {% set finish = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                        {% if history.status == 15 %}
                            {% set cancel = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                        {% if history.status == 14 %}
                            {% set refuse = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                        {% if history.status == 3 %}
                            {% set cancelcustomer = history.createdAt|date('d M Y H:i:s') %}
                        {% endif %}
                    {% endfor %}
                    <table class="table table-bordered table-striped mb-none" id="datacustomer">
                        <thead>
                        <tr>
                            <th class="center">{%trans%}Created{%endtrans%}</th>
                            <th class="center">{%trans%}Accept by driver{%endtrans%}</th>
                            <th class="center">{%trans%}Arrival{%endtrans%}</th>
                            <th class="center">{%trans%}Start race{%endtrans%}</th>
                            <th class="center">{%trans%}Finish race{%endtrans%}</th>
                            <th class="center">{%trans%}Cancel by driver{%endtrans%}</th>
                            <th class="center">{%trans%}Refuse by driver{%endtrans%}</th>
                            <th class="center">{%trans%}Cancel by customer{%endtrans%}</th>
                        </tr>
                        </thead>

                        <tbody>
                        <td class="center">
                            {{ created }}
                        </td>
                        <td class="center">
                            {{ accepted }}
                        </td>
                        <td class="center">
                            {{ arrival }}
                        </td>
                        <td class="center">
                            {{ start }}
                        </td>
                        <td class="center">
                            {{ finish }}
                        </td>
                        <td class="center">
                            {{ cancel }}
                        </td>
                        <td class="center">
                            {{ refuse }}
                        </td>
                        <td class="center">
                            {{ cancelcustomer }}
                        </td>
                        </tbody>

                    </table>
                </div>
            </div>
            {% if object.courseStatus == 6 %}
                <section>
                    {% if elements.data.options.ratingdriver is not empty %}
                        <hr class="mt-md mb-md">
                        <div class="row">
                            <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}Rating by the driver{%endtrans%}</div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped mb-none" id="">
                                    <thead>
                                    <tr>
                                        <th class="center">{%trans%}General rate{%endtrans%}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key in elements.data.options.ratingdriver %}
                                    <tr><td class="center">{{ key.rateGeneral }}/5</td>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                    <thead>
                                    <tr>
                                        <th class="center">{%trans%}Comment{%endtrans%}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <td>{{ key.comment }}</td>
                                    </tbody>
                                </table>
                                {%endfor%}
                            </div>
                        </div>
                    {% else %}
                        <hr class="mt-md mb-md">{%trans%}DON'T COMMENT TO THE DRIVER{%endtrans%}
                    {%endif%}
                    {% if elements.data.options.ratingcustomer is not empty %}
                        <hr class="mt-md mb-md">
                        <div class="row show-grid-block">
                            <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}Rating by the customer{%endtrans%}</div>
                            <div class="col-md-12">
                                <table class="table table-bordered table-striped mb-none" id="datacustomer">
                                    <thead>
                                    <tr>
                                        <th class="center">{%trans%}Punctuality{%endtrans%}</th>
                                        <th class="center">{%trans%}Comfort{%endtrans%}</th>
                                        <th class="center">{%trans%}Driving{%endtrans%}</th>
                                        <th class="center">{%trans%}Courtesy{%endtrans%}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for key in elements.data.options.ratingcustomer %}
                                    <tr><td class="center">{{ key.ratePonctualite }}/5</td>
                                        <td class="center">{{ key.rateConfort }}/5</td>
                                        <td class="center">{{ key.rateConduite}}/5</td>
                                        <td class="center">{{ key.rateCourtoisie }}/5</td></tr>
                                    </tbody>
                                </table>
                                <table class="table table-bordered table-striped mb-none" id="table2">
                                    <thead>
                                    <tr>
                                        <th class="center">{%trans%}Comment{%endtrans%}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <td>{{ key.comment }}</td>
                                    </tbody>
                                </table>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <hr class="mt-md mb-md">{%trans%}DON'T COMMENT TO THE CUSTOMER{%endtrans%}
                    {%endif%}
                </section>
            {%endif%}
        </div>
         {% if object.courseStatus == 0 %}
            <div>
                <a class="btn btn-default" href="{{ path('sonata_course_accept_course', {'id': object.id}) }}" role="button">
                    {{ "Accept"|trans({}, "CABAdminBundle") }}
                </a>
            </div>
         {% endif %}



        {#map#}
        <div class="row show-grid">
            <div class="col-md-12">
                <div id="dvMap" style="width: 800px; height: 800px">
                </div>
            </div>
            <div class="col-md-6">
                <div id="right-panel"></div>
            </div>
        </div>

        {#End map#}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}
        <input type="hidden" name="result" id="result">
    </div>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 900px; width: 100%; border: 1px solid}
    </style>

    <script type = "text/javascript" language = "javascript">
        $(document).ready(function() {
            Number.prototype.pad = function (len) {
                return (new Array(len+1).join("0") + this).slice(-len);
            };

            var driver = {{ object.driver.id }};
            var driver = {{ object.driver.id }};

            var monthNames = [ "01", "02", "03", "04", "05", "06",
                "07", "08", "09", "10", "11", "12" ];



            var start = '{{ start  }} ';
            var newDate = new Date(start);
            var startDate = + newDate.getFullYear()+ '-'+ monthNames[newDate.getMonth()] + '-'+ ('0' + newDate.getDate()).slice(-2) + ' '+ (newDate.getHours() - 0).pad(2)+':'+ newDate.getMinutes().pad(2) +':'+newDate.getSeconds();



            var finish = '{{ finish }}' ;
            var newDateFinish = new Date(finish);
            var finishDate = + newDate.getFullYear()+ '-'+ monthNames[newDateFinish.getMonth()] + '-'+ ('0' + newDateFinish.getDate()).slice(-2) + ' '+ (newDateFinish.getHours() - 0 ).pad(2)+':'+newDateFinish.getMinutes().pad(2)+':'+newDateFinish.getSeconds();

            //console.log(finishDate);

            $.ajax({
                        type: "GET",
                        url: '{{ asset('process.php') }}',
                        data: {driver: driver, start: startDate, finish: finishDate },
                        success: function (data) {
                           // console.log(data);
                            var markers;
                            var myLatLngDeparture = {lat:{{ object.latDep }}, lng: {{ object.longDep }} };
                            var myLatLngArrival = {lat:{{ object.latArr }}, lng: {{ object.longArr }} };


                            var center = new google.maps.LatLng({{ object.latDep }},{{ object.longDep }});
                            var map = new google.maps.Map(document.getElementById('dvMap'), {
                                center: center,
                                zoom: 12,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            });
                            var resultArray = JSON.parse(data);
                            var flightPlanCoordinates = [];

                            for (var i=0; i<resultArray.length; i++) {
                                flightPlanCoordinates[i] = new google.maps.LatLng( resultArray[i].lat, resultArray[i].lng);


                                var flightPath = new google.maps.Polyline({
                                path: flightPlanCoordinates,
                                geodesic: true,
                                strokeColor: '#2E9AFE',
                                strokeOpacity: 1.0,
                                strokeWeight: 5
                            });

                            flightPath.setMap(map);
                            }

                            var pinImage = new google.maps.MarkerImage("http://www.googlemapsmarkers.com/v1/009900/");
                            var marker = new google.maps.Marker({
                                position: myLatLngDeparture,
                                icon: pinImage,
                                map: map,
                                title: '{{ object.startedAddress }}'
                            });
                            var pinImage2 = new google.maps.MarkerImage("http://maps.google.com/mapfiles/ms/icons/green-dot.png");
                            var marker = new google.maps.Marker({
                                position: myLatLngArrival,
                                icon: pinImage2,
                                map: map,
                                title: '{{ object.ArrivalAddress }}'
                            });

                        }
                    }
            );
                            var bounds = new google.maps.LatLngBounds();
         });
    </script>



    <script type="text/javascript">


    </script>





{% endblock %}
