{% extends 'CABAdminBundle::layout.html.twig' %}
{% trans_default_domain 'backend' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{# {% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %} #}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {# {{ block('parentForm') }} #}
    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <section class="panel">
            {{ form_start(form,{"attr":{"role":"form","class":"form-bordered form-inline","id":admin.classnameLabel,"action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"novalidate":"novalidate"}}) }}

                <div class="panel-body">
                    {{ form_errors(form) }}
                    <hr class="col-md-6 col-lg-6 col-xl-6 col-sm-12">
                    <div class="col-md-12">
                        {{ form_row(form.createdBy) }}
                        {{ form_row(form.company) }}
                        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                            <div class="col-md-12">
                                {{ form_row(form.client) }}
                                {{ form_row(form.reverse) }}
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12">
                            <a class='modal-with-form btn btn-default' href='#modalFormNewCustomer'>{{ 'New customer'|trans }}</a>
                        </div>
                        {% if is_granted('ROLE_AGENT') %}
                            <div class="col-md-4">
                                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12">
                                    {{ form_row(form.courseStatus) }}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <hr class="mt-md mb-md">
                    <div id="form-depature">
                        <div class="row mb-md">
                            <div class="col-md-12 col-sm-12">
                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.startedAddress) }}
                                </div>
                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.indicatorStartedAddress) }}
                                </div>
                                {{ form_row(form.longDep, { 'id': 'longitudeDep'}) }}
                                {{ form_row(form.latDep, { 'id': 'latitudeDep'}) }}
                                {{ form_row(form.startedAddressCity, { 'id': 'startedAddressCity'}) }}
                            </div>

                            <div class="col-md-12 col-sm-12  mb-md">
                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.arrivalAddress) }}
                                </div>
                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.indicatorArrivalAddress) }}
                                </div>
                                {{ form_row(form.longArr, { 'id': 'longitudeArrival'}) }}
                                {{ form_row(form.latArr, { 'id': 'latitudeArrival'}) }}
                                {{ form_row(form.arrivalAddressCity, { 'id': 'arrivalAddressCity'}) }}

                            </div>
                        </div>
                        <div class="row mb-md">
                            <div class="col-md-6 col-sm-12">
                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.personNumber) }}
                                </div>

                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.laguage) }}
                                </div>

                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.nbWheelchair) }}
                                </div>

                                <div class="col-md-6 col-sm-12 mb-md">
                                    {{ form_row(form.nbChildren) }}
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12">
                               {{ form_row(form.descriptionChildren) }}
                            </div>
                        </div>

                        <div class="row mb-md">
                            <div class="col-md-6 col-sm-12 mb-md">
                                {{ form_row(form.commandSncf.codeBupo) }}
                            </div>
                            <div class="col-md-6 col-sm-12 mb-md">
                                {{ form_row(form.commandSncf.rlt) }}
                            </div>
                            <div class="col-md-6 col-sm-12 mb-md">
                                {{ form_row(form.commandSncf.js) }}
                            </div>
                            <div class="col-md-6 col-sm-12 mb-md">
                                {{ form_errors(form.commandSncf.commandeCourse) }}
                               {{ form_row(form.commandSncf.commandeCourse) }}
                            </div>
                        </div>

                        {% if is_granted('ROLE_AGENT') %}
                        <div class="row mb-md">
                            <div class="col-md-3">
                                <div class="col-md-12">
                                    <a class="btn btn-default" id="get-distance-time">
                                        {{ 'Calculate distance and Time'|trans }}
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 ">
                                {{ form_row(form.distance) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_row(form.courseTime) }}
                            </div>
                        </div>
                            <div class="row mb-md">
                                <div class="col-md-3">

                                </div>
                                <div class="col-md-8">
                                    <p id="inforace" name="inforace"></p>
                                </div>
                                <div class="col-md-3">

                                </div>
                            </div>

                        {% endif %}
                        <hr class="mt-md mb-md">
                        <div class="row mb-md">
                            {% if form.departureDate is defined %}
                            <div class="col-md-3">
                                {{ form_widget(form.departureDate, {'attr': {'class': 'your-class'}}) }}

                            </div>
                            {% endif %}
                            <div class="col-md-2">

                                {{ form_row(form.departureTime) }}
                            </div>
                            {% if is_granted('ROLE_AGENT') %}
                            <div class="col-md-2 center">
                                {{ form_row(form.forceHourArrived) }}
                            </div>
                            {% endif %}
                            {% if is_granted('ROLE_AGENT') %}
                            <div class="col-md-3">
                                {{ form_row(form.arrivalHour) }}
                            </div>
                            {% endif %}
                            {% if is_granted('ROLE_AGENT') %}
                            <div class="col-md-1">
                                {{ form_row(form.IsGroupage) }}
                            </div>
                        </div>

                        {% endif %}


                        <hr class="mt-md mb-md">

                        <div class="row mb-md">
                            {% if form.serviceTransportCourses is defined %}
                            <div class="col-md-6 col-sm-12">
                                <div class="col-md-12">
                                    {{ form_row(form.serviceTransportCourses) }}
                                </div>
                            </div>
                            {% endif %}
                            {% if form.zone is defined %}
                                <div class="col-md-6">
                                    {{ form_row(form.zone) }}
                                </div>
                            {% endif %}
                            {% if form.driver is defined %}
                            <div class="col-md-6 col-sm-12">
                                {{ form_row(form.driver) }}
                            </div>
                            {% endif %}
                        </div>
                    </div>

                    <hr class="mt-md mb-md">

                    <div id="form-back">
                        <div class="row mb-md">
                            <div class="col-md-6 col-sm-12">
                                <div class="col-md-12 col-sm-12 mb-md">
                                    {{ form_row(form.targetType) }}
                                </div>
                            </div>
                        </div>
                        <div id="back-form-display">
                            <hr class="mt-md mb-md">
                            <div class="row mb-md">
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-6 col-sm-12 mb-md">
                                        {{ form_row(form.backAddressDeparture) }}
                                    </div>
                                    <div class="col-md-6 col-sm-12 mb-md">
                                        {{ form_row(form.indicatorBackAddressDeparture) }}
                                    </div>
                                    {{ form_row(form.longDepBack, { 'id': 'longitudeDepBack'}) }}
                                    {{ form_row(form.latDepBack, { 'id': 'latitudeDepBack'}) }}

                                </div>
                                <div class="col-md-12 col-sm-12">
                                    <div class="col-md-12 col-sm-12 mb-md">
                                        {{ form_row(form.backAddressArrival) }}
                                        {{ form_row(form.indicatorBackAddressArrival) }}
                                        {{ form_row(form.longArrBack, { 'id': 'longitudeArrivalBack'}) }}
                                        {{ form_row(form.latArrBack, { 'id': 'latitudeArrivalBack'}) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row mb-md">
                                <div class="col-md-6 col-sm-12">
                                    <div class="col-md-6 col-sm-12 mb-md">
                                        {{ form_row(form.personNumberBack) }}
                                    </div>

                                    <div class="col-md-6 col-sm-12 mb-md">
                                        {{ form_row(form.laguageBack) }}
                                    </div>

                                    <div class="col-md-6 col-sm-12 mb-md">
                                        {{ form_row(form.nbWheelchairBack) }}
                                    </div>

                                    <div class="col-md-6 col-sm-12 mb-md">
                                        {{ form_row(form.nbChildrenBack) }}
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-12">
                                    {{ form_row(form.descriptionChildrenBack) }}
                                </div>
                            </div>
                            {% if is_granted('ROLE_AGENT') %}
                            <div class="row mb-md">
                                <div class="col-md-3">
                                    <div class="col-md-12">
                                        <a class="btn btn-default" id="get-distance-time-back" data-target_course="back">
                                            Get distance and Time
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    {{ form_row(form.distanceBack) }}
                                </div>
                                <div class="col-md-3">
                                    {{ form_row(form.courseTimeBack) }}
                                </div>
                            </div>
                            {% endif %}
                            <div class="row mb-md">
                                <div class="col-md-2">
                                    <div class="col-md-12">
                                        {{ form_row(form.backDate) }}
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.backTime) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_row(form.forceHourArrivedBack) }}
                                </div>
                                {% if is_granted('ROLE_AGENT') %}
                                <div class="col-md-2">
                                    {{ form_row(form.arrivalHourBack) }}
                                </div>
                                {% endif %}
                            </div>

                            <hr class="mt-md mb-md">

                            <div class="row mb-md">
                                {% if form.serviceTransportCoursesBack is defined %}
                                <div class="col-md-6 col-sm-12">
                                    <div class="col-md-12">
                                        {{ form_row(form.serviceTransportCoursesBack) }}
                                    </div>
                                </div>
                                {% endif %}
                                {% if form.driverBack is defined %}
                                <div class="col-md-6 col-sm-12">
                                    {{ form_row(form.driverBack) }}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <hr class="mt-md mb-md">
                    {% if is_granted('ROLE_AGENT') %}
                    <div class="row show-grid">
                        <div class="col-md-3">
                            <div class="col-md-12">
                                <span class="help-block sonata-ba-field-help">
                                    <a class="btn btn-sm btn-default" id="get-price-vehicle">
                                        {{ 'Calculate price'|trans }}</a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.commandSncf.tarifrefSncf) }}
                            </div>
                            <div id="info_price" class="col-md-12">

                            </div>

                        </div>

                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.priceHT) }}
                            </div>
                            <div id="nuit">

                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-12">
                                {{ form_row(form.priceTTC) }}
                            </div>
                        </div>

                        <div class="col-md-3" style="display: none;">
                            <div class="col-md-12">
                                {{ form_row(form.typeVehicleCourse, { 'id': 'select_type_vehicle_course'}) }}
                            </div>
                        </div>

                        <div class="col-md-3" style="display: none;">
                            <div class="col-md-12">
                                {{ form_row(form.vehicle, { 'id': 'select_vehicle_course'}) }}
                            </div>
                        </div>
                    </div>
                    {% endif %}


                        <hr class="mt-md mb-md">

                        <div id="form-cycle">
                            <div class="row mb-md">
                                {% if form.apply_next_course_cycle is defined %}
                                    <div class="col-md-6 col-sm-12">
                                        <div class="col-md-12">
                                            {{ form_row(form.apply_next_course_cycle) }}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            {% if form.isCycle is defined %}
                                <div class="row mb-md">
                                    <div class="col-md-6 col-sm-12">
                                        <div class="col-md-12 col-sm-12 mb-md">
                                            {{ form_row(form.isCycle) }}
                                        </div>
                                    </div>
                                </div>

                                <div id="cycle-form-display">
                                    <hr class="mt-md mb-md">
                                    <div class="row mb-md">
                                        <div class="col-md-1 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.mondayCycle) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.tuesdayCycle) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.wednesdayCycle) }}
                                            </div>
                                        </div>


                                        <div class="col-md-1 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.thursdayCycle) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.fridayCycle) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.saturdayCycle) }}
                                            </div>
                                        </div>

                                        <div class="col-md-1 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.sundayCycle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-md">
                                        <div class="col-md-6 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.cycleEndDate) }}
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6">
                                            <div class="col-md-12 col-sm-12 mb-md">
                                                {{ form_row(form.serviceParticularPeriodCourses) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {{ form_widget(form._token) }}
                </div>
                <footer class="panel-footer">
                    {% block formactions %}
                        <div class="form-actions">
                            {% if app.request.isxmlhttprequest %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% else %}
                                {% if admin.supportsPreviewMode %}
                                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                        <i class="fa fa-eye"></i>
                                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit" ><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list"
                                                id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}

                                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}

                                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                        <button class="btn btn-success" type="submit" name="btn_create_and_edit"
                                                id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list"
                                                id="{{ admin.classnameLabel }}-create_and_list">
                                            <i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                        {% endif %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"
                                            ><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </footer>
            {{ form_end(form) }}
        </section>
    {% endif %}
    <div class="modal" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="courseLabel">Modal title</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1" id="content_modal_body">txt</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('.date').datepicker({
                format: "yyyy-mm-dd",
                todayBtn: "linked",
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayHighlight: true,
                language: "fr"
            });

            $( "select[name*='zone']" ).change(function() {
                var zone_id = $(this).val()
                var departure =  $('input[id$="startedAddressCity"]').val();
                var arrival =  $('input[id$="arrivalAddressCity"]').val();
                var departureDate = $('input[id$="_departureDate"]').val();
                var departureTime = $('input[id$="_departureTime"]').val();
                var departureDate = $('input[id$="_departureDate"]').val();
                mafonctionchange(zone_id,departure,arrival,departureTime,departureDate);
            });


            $( "input[id*='commandSncf_codeBupo']" ).change(function(){
                var bupo_id = $(this).val()
                myfunctionbupo(bupo_id);
            });

            $( "input[id*='commandSncf_commandeCourse']" ).change(function(){
                var ref_bc = $(this).val()
                myfunctioncommandecourse(ref_bc);
            });

            function myfunctioncommandecourse(ref_bc)
            {
                $.ajax({
                    url: '{{ path('get_ref_bc') }}',
                    type: 'POST',
                    data: JSON.stringify({
                        id: ref_bc,
                    }),
                    dataType: 'json',
                    success: function(reponse) {
                        //console.log('JSON.stringify',JSON.stringify(reponse));
                        var parseObject = reponse;
                        if (reponse==1){
                            $( "input[id*='commandSncf_commandeCourse']" ).css("background-color","#FF0000");
                            $( "input[id*='commandSncf_commandeCourse']" ).css("color","white");
                            var myStack = {"dir1":"down", "dir2":"right", "push":"top"};
                            new PNotify({
                                title: "Erreur",
                                text: "le bon de commande existe déjà",
                                addclass: "stack-custom notification-error",
                                stack: myStack,
                                type: 'error',
                                hide: false
                            });
                        }
                    }
                });
            }


            function myfunctionbupo(bupo_id)
            {
                $.ajax({
                    url: '{{ path('get_list_bupo') }}',
                    type: 'POST',
                    data: JSON.stringify({
                        id: bupo_id,
                    }),
                    dataType: 'json',
                    success: function(reponse) {
                        //console.log('JSON.stringify',JSON.stringify(reponse));
                        var parseObject = reponse;
                        var jsonresult = JSON.stringify(reponse);
                        $( "select[id*='serviceTransportCourses']" ).empty();

                        $.each(JSON.parse(jsonresult), function(i, obj){
                            $( "select[id*='serviceTransportCourses']" ).append($('<option>').text(obj.nameservice).attr('value', obj.id));
                        });
                    }
                });
            }

            function mafonctionchange(zone_id,departure,arrival,departureTime,departureDate)
            {
                $.ajax({
                    url: '{{ path('get_list_driver_byzone') }}',
                    type: 'POST',
                    data: JSON.stringify({
                        id: zone_id,
                    }),
                    dataType: 'json',
                    success: function(reponse) {
                        $.ajax({
                            type: "POST",
                            url: '{{ path('get_list_price_byzonesncf') }}',
                            data: JSON.stringify({
                                zone_id: zone_id,
                                departure : departure,
                                arrival : arrival,
                                departureTime : departureTime,
                                departureDate : departureDate,
                            }),
                            success: function(msgr) {

                                var jsonresult = JSON.stringify(msgr);

                                $.each(JSON.parse(jsonresult), function(i, obj){
                                    $('input[id*="_priceHT"]').empty();
                                    $('input[id*="_priceTTC"]').empty();
                                    $("#info_price").empty();
                                    $("#nuit").empty();

                                    $('input[id*="_commandSncf_tarifrefSncf"]').prop({checked: false});
                                    $('input[id*="_priceHT"]').val(obj.price_ht);
                                    $('input[id*="_priceTTC"]').val(obj.price_ttc);
                                    if(obj.error == 1){
                                        $('input[id*="_commandSncf_tarifrefSncf"]').prop({checked: true});
                                    }
                                    if(obj.dimanche == 1)
                                        if(obj.error == 1){
                                            $("#nuit").append("dimanche");
                                        }

                                    $("#info_price").append("Prix de jour au km HT : " +obj.price_km_day+ " <br>Prix de nuit au km HT : "+obj.price_km_night+ " info : "+obj.hour_night_start+ " | "+obj.hour_night_end+"<br> INFO :"+obj.info);
                                });
                            },
                            error:function (xhr, status, error) {
                                //Do something
                                d.reject();
                            }
                        });



                        //console.log('JSON.stringify',JSON.stringify(reponse));
                        var parseObject = reponse;
                        var jsonresult = JSON.stringify(reponse);
                        $( "select[id*='driver']" ).empty();

                        $.each(JSON.parse(jsonresult), function(i, obj){
                            $( "select[id*='driver']" ).append($('<option>').text(obj.firstname +' '+obj.lastname).attr('value', obj.id));
                        });
                    }
                });
            }
        });


        $('#navrace').addClass('nav-expanded');
        $('#navraceadd').css("color", "white");
    </script>



    <script>
        $('#back-form-display').hide();
        $("input[id$='targetType']").click(function () {
            var checked = this.checked;
            if (checked == true)
            {
                $('#back-form-display').show();
            } else {
                $('#back-form-display').hide();
            }
        });
        if ($("input[id$='isCycle']").length ) {
            if($("input[id$='isCycle']").is(':checked'))
                $("#cycle-form-display").show();  // checked
            else
                $("#cycle-form-display").hide();
        }
        $("input[id$='isCycle']").click(function () {
            var checked = this.checked;
            if (checked == true)
            {
                $('#cycle-form-display').show();
            } else {
                $('#cycle-form-display').hide();
            }
        });

        $('input[id$="_departureTime"]').change("change", function () {

        });
    </script>

    <div>
        {#map#}
        <div class="row show-grid">
            <div class="col-md-12">
                <div id="dvMap" style="width: 800px; height: 800px">
                </div>
            </div>
            <div class="col-md-6">
                <div id="right-panel"></div>
            </div>
        </div>

        {#End map#}
    </div>
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 900px; width: 100%; border: 1px solid}
    </style>





{% endblock %}



