{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% trans_default_domain 'backend' %}
{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            {% block field %}
                <div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="thumb-info mb-md">
                                    {% if object.avatar is not null %}
                                            {% set img = 'uploads/avatar/' ~ object.avatar  %}
                                            <img alt="{{ object.firstName }}" class="rounded img-responsive"
                                                 src="{{ img | imagine_filter('thumbs') }}">
                                        {% else %}
                                            <img class="img-responsive center hidden-phone"
                                                 src="{{ asset('/bundles/cabadmin/images/no-profile-pic.jpg') | imagine_filter('size100x100') }}"
                                                 alt="{{ 'no_image_available' }}"/>
                                        {% endif %}

                                        <div class="thumb-info-title">
                                            <span class="thumb-info-inner">{{ object.lastName|truncate(10) }} {{ object.firstName|truncate(10) }}</span>
                                            <span class="thumb-info-type">{{ name|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="widget-toggle-expand mb-md">
                                    </div>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Email{% endtrans %} : {{ object.email }}</h6>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Pseudo{% endtrans %} : {{ object.username }}</h6>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Phone{% endtrans %} : {{ object.phoneMobile }}</h6>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">Service:
                                    {% for value in object.servicesTransport %}
                                        {{ value.ServiceName() }}
                                    {% endfor %}
                                    </h6>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Active{% endtrans %} :
                                        {% if object.enabled == true %}
                                            {% set classStatusActive = "label-success"%}
                                            {% set statusActive = "Yes" %}
                                        {% else %}
                                            {% set classStatusActive = "label-danger"%}
                                            {% set statusActive = "No"%}
                                        {% endif %}
                                        <span class="label {{ classStatusActive }}"> {{ statusActive|trans }}</span>
                                    </h6>
                                    <hr class="dotted short">

                                    <a class="btn btn-sm btn btn-success view_link" target="" href="{{ admin.generateObjectUrl('edit', object) }}">
                                        {% trans %}Edit customer{% endtrans %}
                                    </a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <hr class="dotted short">
                                        <div>
                                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                                <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}">
                                                    <i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </section>
                        </div>
                        <div class="col-md-9">
                            <div id="accordion2" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i>{{ "Customer address information"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse" id="collapse2One" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            {{ object.address }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="accordion3" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse3One" data-parent="#accordion3" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i>{{ "Notification Email"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse" id="collapse3One" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            {{  render (controller("CABUserBundle:Notification:manage",{ 'user': object })) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="accordion4" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse4One" data-parent="#accordion4" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i>{{ "Notification SMS"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse" id="collapse4One" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            {{  render (controller("CABUserBundle:NotificationSMS:manage",{ 'user': object })) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="accordion5" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse5One" data-parent="#accordion5" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i>{{ "Note public"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse" id="collapse5One" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                           {{ object.publicNote }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endblock %}
        {% endfor %}
        {# sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) #}
    </div>


{% endblock %}
