
{% extends 'CABAdminBundle::layout.html.twig' %}
{% trans_default_domain 'backend' %}


{% block navbar_title %}
    {{ _title }}
{% endblock %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block list_table %}
    <div class="box box-primary table-responsive panel-body">
        {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
        {% set batchactions = admin.batchactions %}
        {% if admin.datagrid.results|length > 0 %}
            {% if admin.hasRoute('batch') %}
            <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
            <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
            {% endif %}
            <table class="table table-striped mb-none">


            {% block table_body %}
                <thead>
                    <tr>
                        {% if is_granted('ROLE_AGENT') %}
                        <th></th>
                        {% endif %}
                        <th class="left hidden-phone" width="10%">{% trans %} ID {% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Customer Company{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Username{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}First Name{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Last Name{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Address{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Service{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}Avatar{% endtrans %}</th>
                        <th class="right hidden-phone" width="20%">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in admin.datagrid.results %}
                        <tr class="">
                            {% if is_granted('ROLE_AGENT') %}
                                <td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{object.id}}">
                                    <input name="idx[]" value="{{object.id}}" type="checkbox"></td>
                            {% endif %}
                            <td class="left hidden-phone"> {{ object.id }} </td>
                            <td class="left hidden-phone"> {{ object.customerCompany }} </td>
                            <td class="left hidden-phone"> {{ object.username }} </td>
                            <td class="left hidden-phone"> {{ object.firstname }} </td>
                            <td class="left hidden-phone"> {{ object.lastname }} </td>
                            <td class="left hidden-phone"> {{ object.address }} </td>
                            <td class="left hidden-phone"> {% for value in object.servicesTransport %}
                                    {{ value.ServiceName() }}
                                {% endfor %}
                            </td>
                            <td class="left hidden-phone">
                                {% if object.avatar is not null %}
                                    <img class="img-responsive center hidden-phone"
                                         src="{{ asset('/uploads/avatar/' ~ object.avatar) | imagine_filter('size100x100') }}">
                                {% else %}
                                    <img class="img-responsive center hidden-phone"
                                         src="{{ asset('/bundles/cabadmin/images/no-profile-pic.jpg') | imagine_filter('size100x100') }}"
                                         alt="{{ 'no_image_available' }}"/>
                                {% endif %}
                            </td>
                            <td class="left hidden-phone">
                                <a href="{{ admin.generateObjectUrl('show', object) }}"
                                   class="mb-xs mt-xs mr-xs btn btn-default">
                                    {%trans%}Show{%endtrans%}
                                </a>
                            </td>

                        </tr>
                    {% endfor %}
                </tbody>
            {% endblock %}
                {% block table_footer %}
                    <tfoot>
                    <tr>
                        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                            <div class="form-inline">
                                {% if not app.request.isXmlHttpRequest %}
                                {% if admin.hasRoute('batch') and batchactions|length > 0 and is_granted('ROLE_ADMINCOMPANY') %}
                                    {% block batch %}
                                    <script>
                                        {% block batch_javascript %}
                                        jQuery(document).ready(function ($) {
                                            $('#list_batch_checkbox').on('ifChanged', function () {
                                                $(this)
                                                        .closest('table')
                                                        .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                        .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                                                ;
                                            });

                                            $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                    .on('ifChanged', function () {
                                                        $(this)
                                                                .closest('tr')
                                                                .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                        ;
                                                    })
                                                    .trigger('ifChanged')
                                            ;
                                        });
                                        {% endblock %}
                                    </script>

                                    {% block batch_actions %}

                                    <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                        <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                        {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                        ({{ admin.datagrid.pager.nbresults }})
                                    </label>

                                    <select name="action" style="width: auto; height: auto" class="form-control">
                                        {% for action, options in batchactions %}
                                            <option value="{{ action }}">{{ options.label }}</option>
                                        {% endfor %}
                                    </select>


                                    {% endblock %}

                                <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                    {% endblock %}
                                {% endif %}

                                    <div class="pull-right">



                                        {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-export"></i>
                                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {% for format in admin.getExportFormats() %}
                                                    <li>
                                                        <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                            <i class="glyphicon glyphicon-download"></i>
                                                            {{ format|upper }}
                                                        </a>
                                                    <li>
                                                        {% endfor %}
                                                </ul>
                                            </div>

                                            -
                                        {% endif %}

                                        {% block pager_results %}
                                            {% include admin.getTemplate('pager_results') %}
                                        {% endblock %}
                                    </div>
                                {% endif %}
                            </div>
                        </th>
                    </tr>

                    {% block pager_links %}
                        {% if admin.datagrid.pager.haveToPaginate() %}
                            {% include admin.getTemplate('pager_links') %}
                        {% endif %}
                    {% endblock %}

                    </tfoot>
                {% endblock %}
        </table>
            {% if admin.hasRoute('batch') %}
            </form>
            {% endif %}
        {% else %}
            <div class="callout callout-info">
                {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
            </div>
        {% endif %}
    </div>
    {% block list_footer %}{% endblock %}

    {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}



    <script>
        $(document).ready(function () {
            $('#filter_departureDate_value input').datepicker({
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayBtn: "linked",
                language: "fr",
                autoclose: true
            });
            $('#filter_departureDate_value_end input').datepicker({
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayBtn: "linked",
                language: "fr",
                autoclose: true
            });

        });
        $('#navrace').addClass('nav-expanded');
        $('#navracelist').css("color", "white");
    </script>
{%endblock%}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>
            <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                        {{ filter.label|trans({}, filter.translationDomain) }}
                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}




