{% macro render_groups(admin, form, groups, has_tab) %}
    {% if has_tab %}<div class="row">{% endif %}
        {% for code in groups %}
            {% set form_group = admin.formgroups[code] %}
                <h2 class="panel-title">
                    {{ form_group.name|trans({},form_group.translation_domain) }}

                </h2>
                {% if form_group.description != false %}
                    <p>{{ form_group.description|raw }}</p>
                {% endif %}
        {% endfor %}
    {% if has_tab %}</div>{% endif %}
{% endmacro %}
