{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}


{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{# {% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %} #}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <section class="panel">
            {% if not admin_pool.getOption('html5_validate') %}{% set novalidate = "novalidate" %}{% else %}{% set novalidate = "" %}{% endif %}
            {{ form_start(form,{"attr":{"role":"form","id":admin.classnameLabel,"action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"novalidate":novalidate}}) }}

                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Fiche Customer</h2>
                </header>
                <div class="panel-body">
                    {{ form_errors(form) }}
                    <div class="form-group">
                        <div class="col-md-2">
                            {{ form_row(form.enabled) }}
                            <p class=""><code>Activate</code></p>
                        </div>
                    </div>

                    {% if form.customerCompany.vars.sonata_admin.field_description.type != "hidden" %}
                    <div class="form-group">
                        <div class="col-md-12">
                            {{ form_row(form.customerCompany) }}
                            <p class=""><code> {{ "Company"|trans({}, "frontend") }}</code></p>
                        </div>
                    </div>
                    {% else %}
                        {{ form_row(form.customerCompany) }}
                    {% endif %}

                    <div id="form-company-inner-customer" class="form-group">
                        <div class="col-md-5">
                            {{ form_row(form.nameCompany) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.siren) }}
                        </div>
                        <div class="col-md-3">
                            {{ form_row(form.phoneCompany) }}
                        </div>
                    </div>
                    <div id="form-add-customer" class="form-group">

                        <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.sexe) }}
                        </div>
                        <div class="col-md-6">
                        {{ form_row(form.file) }}
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.firstName) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.lastName) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.email) }}
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.phoneMobile) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.phoneHome) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.phoneWork) }}
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.birthday) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.username) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.plainPassword) }}
                        </div>
                        </div>
                    </div>
                    <hr class="mt-md mb-md">
                    <div class="row show-grid">
                        <div class="col-md-7">
                            {{ form_row(form.address) }}
                            {{ form_row(form.lngUser, { 'id': 'longitudeDep'}) }}
                            {{ form_row(form.latUser, { 'id': 'latitudeDep'}) }}

                        </div>
                        <div class="col-md-5">
                            {{ form_row(form.addressComplement) }}
                        </div>

                        <div class="col-md-4">
                            {{ form_row(form.postCode) }}
                        </div>
                        <div class="col-md-4">
                            {{ form_row(form.city) }}
                        </div>
                        <div class="row">
                        <div class="col-md-4">
                            {{ form_row(form.country) }}
                        </div>
                        </div>
                    </div>

                    <hr class="mt-md mb-md">
                    <div class="row">
                        <div class="col-md-8">
                            {{ form_row(form.servicesTransport) }}
                        </div>
                    </div>


                    <hr class="mt-md mb-md">
                    <div class="row">
                        <div class="col-md-2">
                            {{ form_row(form.isHandicap) }}
                            <p class=""><code>is Handicap?</code></p>
                        </div>
                        <div id="option-handicap" class="mb-md">
                            <div class="col-md-8">
                                {{ form_row(form.optionsHandicap) }}
                            </div>
                        </div>
                    </div>
                    {% if app.user.roles[0] == "ROLE_COMPANYBUSINESS" %}
                        <div class="row">
                            <div class="col-md-4">
                                {{ form_row(form.isCredit) }}
                                <p class=""><code>Credit is permitted ? (Customer of business company)</code></p>
                            </div>
                        </div>
                    {% endif %}
                    <hr class="mt-md mb-md">
                    <div class="form-group">
                        <div class="col-md-6">
                            {{ form_row(form.privateNote) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.publicNote) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            {# {form_row(form.driverCompany) } #}
                        </div>
                    </div>

                    {{ form_widget(form._token) }}
                </div>

                <footer class="panel-footer">
                    {% block formactions %}
                        <div class="form-actions">
                            {% if app.request.isxmlhttprequest %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% else %}
                                {% if admin.supportsPreviewMode %}
                                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                        <i class="fa fa-eye"></i>
                                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}

                                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}

                                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                        <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </footer>
           {{ form_end(form) }}
        </section>
{#{{ block('parentForm') }}#}
 <script>
        $('#navcustomer').addClass('nav-expanded');
        $('#navcustomeradd').css("color", "white");
</script>

<script type="text/javascript" >
$('#option-handicap').hide();
$('#form-company-inner-customer').hide();
$("input[id$='isCompany']").click(function() {
var checked=this.checked;
if(checked==true)
{
$('#form-company-inner-customer').show();
}else{
$('#form-company-inner-customer').hide();
}
});


$("input[id$='isHandicap']").click(function() {
var checked=this.checked;
if(checked==true)
{
$('#option-handicap').show();
}else{
$('#option-handicap').hide();
}
});


    $(document).ready(function() {
       $("input[id*='phone']").intlTelInput({
        //allowExtensions: true,
        //autoFormat: false,
        //autoHideDialCode: false,
        //autoPlaceholder: false,
        defaultCountry: "auto",
        geoIpLookup: function(callback) {
           $.get('http://ipinfo.io', function() {}, "jsonp").always(function(resp) {
             var countryCode = (resp && resp.country) ? resp.country : "";
             callback(countryCode);
           });
        },
        nationalMode: false,
        numberType: "MOBILE",
        //onlyCountries: ['us', 'gb', 'ch', 'ca', 'do'],
        preferredCountries: ['fr'],
       utilsScript: "{{asset('test/assets/lib/utils.js')}}"

    });
    });
    </script>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>

{% endblock javascripts %}
