{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form 'CABMainBundle:Form:fields.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -

{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% import "CABAdminBundle:CRUD:custom_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {#{{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}#}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <section class="panel">
            {{ form_start(form,{"attr": {"role":"form","id":admin.classnameLabel,"action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')})}})  }}

                <div class="panel-body">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion0" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse0One" data-parent="#accordion0" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-info"></i> {{ "Driver's personal information"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse0One" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.firstName) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.lastName) }}
                                                </div>
                                                {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") or is_granted("ROLE_ADMINCOMPANY") %}
                                                    <div class="col-md-6">
                                                        {{ form_row(form.plainPassword) }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ form_row(form.enabled) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.email) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.username) }}
                                                </div>
                                            </div>
                                            <div class="panel-body col-md-12">
                                                {% if admin.id(object) is null %}
                                                    {{ form_row(form.plainPassword) }}
                                                {% endif %}
                                            </div>
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-4">
                                                    {{ form_row(form.phoneMobile) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_row(form.phoneWork) }}
                                                </div>

                                                <div class="col-md-4">
                                                    {{ form_row(form.phoneHome) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion1" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse1Note" data-parent="#accordionNote" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa  fa-header"></i> {{ "Note"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse out" id="collapse1Note" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-12">
                                                    {{ form_row(form.publicNote) }}
                                                </div>
                                            </div>
                                            {% if is_granted('ROLE_ADMIN') %}
                                                <div class="panel-body col-md-12">
                                                    <div class="col-md-12">
                                                        {{ form_row(form.privateNote) }}
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion1" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse1One" data-parent="#accordion1" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-location-arrow"></i> {{ "Driver's address information"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse1One" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.address) }}
                                                </div>
                                            </div>
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.city) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.postCode) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion4" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse4One" data-parent="#accordion4" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-cab"></i> {{ "Driver's settings"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse4One" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-12">
                                                    {{ form_row(form.driverCompany) }}
                                                </div>
                                                <div class="panel-body col col-md-12">
                                                    <div class="col-sm-offset-3 col-md-6">
                                                        <div class="alert alert-danger" style="display: none;" role="alert" id="zone-alert">
                                                            <button type="button" class="close" id="close-alert" aria-label="Close">
                                                                <span>&times;</span>
                                                            </button>
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div id="zone-alert-body"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel-body col col-md-12">
                                                    {{ form_row(form.zones) }}
                                                </div>
                                            </div>
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-12">
                                                    {{ form_row(form.servicesTransport) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        {# Document driver#}
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion5" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse5One" data-parent="#accordion5" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-cloud-upload"></i> {{ "Driver's documents"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse5One" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-12">
                                                    {{ form_row(form.file) }}
                                                </div>
                                            </div>
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.docDl) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.docMe) }}
                                                </div>
                                            </div>
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.docLj) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.docPi) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        {% if admin.id(object) is not null %}
                            {# work day #}
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div id="accordion2" class="panel-group">
                                    <div class="panel panel-accordion panel-accordion-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse"
                                                   class="accordion-toggle" aria-expanded="true">
                                                    <i class="fa fa-wrench"></i> {{ "Driver's working day"|trans }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="accordion-body collapse in" id="collapse2One" aria-expanded="true" style="">
                                            <div class="panel-body field-driverWorkDay col-md-12">
                                                {{ form_row(form.driverWorkDay.driverDay) }}
                                                <div class="row">
                                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                                        <div class="col-md-1">
                                                            {{ form_row(form.driverWorkDay.monday) }}
                                                        </div>
                                                        <div class="col-md-1">
                                                            {{ form_row(form.driverWorkDay.tuesday) }}
                                                        </div>
                                                        <div class="col-md-1">
                                                            {{ form_row(form.driverWorkDay.wednesday) }}
                                                        </div>
                                                        <div class="col-md-1">
                                                            {{ form_row(form.driverWorkDay.thursday) }}
                                                        </div>
                                                        <div class="col-md-1">
                                                            {{ form_row(form.driverWorkDay.friday) }}
                                                        </div>
                                                        <div class="col-md-1">
                                                            {{ form_row(form.driverWorkDay.saturday) }}
                                                        </div>
                                                        <div class="col-md-1">
                                                            {{ form_row(form.driverWorkDay.sunday) }}
                                                        </div>
                                                    </div>

                                                </div>
                                                <br>
                                                <div class="row col-md-12">
                                                    <table class="hours_day">
                                                        <thead>
                                                            <tr id="cab-head-table" class="hide">
                                                                <th>{% trans %}Day on week{% endtrans %}</th>
                                                                <th>{% trans %}Start time of day{% endtrans %}</th>
                                                                <th>{% trans %}Start pause{% endtrans %}</th>
                                                                <th>{% trans %}End break{% endtrans %}</th>
                                                                <th>{% trans %}End of day hours{% endtrans %}</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkDay.monday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkDay.monday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.monday_start_pause) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.monday_end_break) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.monday_end_time_day) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkDay.tuesday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkDay.tuesday_start_time_day) }}</div> </td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.tuesday_start_pause) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.tuesday_end_break) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.tuesday_end_time_day) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkDay.wednesday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkDay.wednesday_start_time_day) }}</div> </td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.wednesday_start_pause) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.wednesday_end_break) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.wednesday_end_time_day) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkDay.thursday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkDay.thursday_start_time_day) }}</div> </td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.thursday_start_pause) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.thursday_end_break) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.thursday_end_time_day) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkDay.friday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkDay.friday_start_time_day) }}</div> </td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.friday_start_pause) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.friday_end_break) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.friday_end_time_day) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkDay.saturday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkDay.saturday_start_time_day) }}</div> </td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.saturday_start_pause) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.saturday_end_break) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.saturday_end_time_day) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkDay.sunday_start_time_day) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkDay.sunday_start_time_day) }}</div> </td>
                                                            <td> <div class="col-md-6"> {{ form_row(form.driverWorkDay.sunday_start_pause) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.sunday_end_break) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkDay.sunday_end_time_day) }}</div></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# work night #}
                            <div class="col-md-12 col-lg-12 col-xl-12">
                                <div id="accordion3" class="panel-group">
                                    <div class="panel panel-accordion panel-accordion-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#collapse3One" data-parent="#accordion2" data-toggle="collapse"
                                                   class="accordion-toggle" aria-expanded="true">
                                                    <i class="fa fa-circle"></i> {{ "Driver's working night"|trans }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="accordion-body collapse in" id="collapse3One" aria-expanded="true" style="">
                                            <div class="panel-body field-driverWorkNight-check">
                                                {{ form_row(form.nightWorkingDriver) }}
                                                {{ form_row(form.driverWorkNight.driverNight) }}
                                            </div>
                                            <div class="panel-body field-driverWorkNight col-md-12 hide" id="driver-work-night">

                                                <div class="row">{{ form_errors(form.driverWorkNight.monday) }}

                                                </div>
                                                <div class="col-md-12 col-lg-12 col-xl-12">
                                                    <div class="col-md-1">
                                                        {{ form_row(form.driverWorkNight.monday) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_row(form.driverWorkNight.tuesday) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_row(form.driverWorkNight.wednesday) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_row(form.driverWorkNight.thursday) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_row(form.driverWorkNight.friday) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_row(form.driverWorkNight.saturday) }}
                                                    </div>
                                                    <div class="col-md-1">
                                                        {{ form_row(form.driverWorkNight.sunday) }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row col-md-12">
                                                    <table class="hours_night">
                                                        <thead>
                                                            <tr id="cab-head-table-night" >
                                                            <tr id="cab-head-table" >
                                                                <th>{% trans %}Day on week{% endtrans %}</th>
                                                                <th>{% trans %}Start time of day{% endtrans %}</th>
                                                                <th>{% trans %}Start pause{% endtrans %}</th>
                                                                <th>{% trans %}End break{% endtrans %}</th>
                                                                <th>{% trans %}End of day hours{% endtrans %}</th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkNight.monday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkNight.monday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.monday_start_pause_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.monday_end_break_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.monday_end_time_night) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkNight.tuesday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkNight.tuesday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.tuesday_start_pause_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.tuesday_end_break_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.tuesday_end_time_night) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkNight.wednesday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkNight.wednesday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.wednesday_start_pause_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.wednesday_end_break_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.wednesday_end_time_night) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkNight.thursday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkNight.thursday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.thursday_start_pause_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.thursday_end_break_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.thursday_end_time_night) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkNight.friday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkNight.friday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.friday_start_pause_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.friday_end_break_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.friday_end_time_night) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkNight.saturday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkNight.saturday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.saturday_start_pause_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.saturday_end_break_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.saturday_end_time_night) }}</div></td>
                                                        </tr>
                                                        <tr>
                                                            <td> <div class="col-md-6">{{ form_label(form.driverWorkNight.sunday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_widget(form.driverWorkNight.sunday_start_time_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.sunday_start_pause_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.sunday_end_break_night) }}</div></td>
                                                            <td> <div class="col-md-6">{{ form_row(form.driverWorkNight.sunday_end_time_night) }}</div></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion3" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse3One" data-parent="#accordion3" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-file-text"></i> {{ "Driver documents"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse3One" aria-expanded="true"
                                         style="">
                                        <div class="panel-body col-md-12">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                  {{ form_label(form.fileLicence) }}
                                                                    <div
                                                                        class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                      {{ form_widget(form.fileLicenceType) }}
                                                                    </div>
                                                                    <div id="fileLicenceType_1"
                                                                         class="fileLicenceType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileLicencePDF) }}
                                                                    </div>
                                                                    <div id="fileLicenceType_2"
                                                                         class="fileLicenceType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileLicence) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                              {{ form_row(form.expireDocLicence) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group"
                                                                     id="sonata-ba-field-container-s59e4e5168b474_fileGreyRegistrationCard">
                                                                  {{ form_label(form.fileVisitMed) }}
                                                                    <div
                                                                        class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                      {{ form_widget(form.fileVisitMedType) }}
                                                                    </div>
                                                                    <div id="fileVisitMedType_1"
                                                                         class="fileVisitMedType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileVisitMedPDF) }}
                                                                    </div>
                                                                    <div id="fileVisitMedType_2"
                                                                         class="fileVisitMedType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileVisitMed) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                              {{ form_row(form.expireDocVisitMed) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group"
                                                                     id="sonata-ba-field-container-s59e4e5168b474_fileGreyRegistrationCard">
                                                                  {{ form_label(form.fileIdentityPiece) }}
                                                                    <div
                                                                        class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                      {{ form_widget(form.fileIdentityPieceType) }}
                                                                    </div>
                                                                    <div id="fileIdentityPieceType_1"
                                                                         class="fileIdentityPieceType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileIdentityPiecePDF) }}
                                                                    </div>
                                                                    <div id="fileIdentityPieceType_2"
                                                                         class="fileIdentityPieceType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileIdentityPiece) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                              {{ form_row(form.expireDocIdentityPiece) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="form-group"
                                                                     id="sonata-ba-field-container-s59e4e5168b474_fileGreyRegistrationCard">
                                                                  {{ form_label(form.fileCartePro) }}
                                                                    <div
                                                                        class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                      {{ form_widget(form.fileCarteProType) }}
                                                                    </div>
                                                                    <div id="fileCarteProType_1"
                                                                         class="fileCarteProType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileCarteProPDF) }}
                                                                    </div>
                                                                    <div id="fileCarteProType_2"
                                                                         class="fileCarteProType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                                         style="display: none;">
                                                                      {{ form_widget(form.fileCartePro) }}
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-9">
                                                              {{ form_row(form.expireDocCartePro) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    {% endif %}
                    {{ form_widget(form._token) }}
                </div>
                <footer class="panel-footer">
                    {% block formactions %}
                        <div class="form-actions">
                            {% if app.request.isxmlhttprequest %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% else %}
                                {% if admin.supportsPreviewMode %}
                                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                        <i class="fa fa-eye"></i>
                                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}

                                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}

                                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                        <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </footer>
           {{ form_end(form) }}
        </section>
    {% endif %}

{% endblock %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                    {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/javascripts/ckeditor/ckeditor.js') }}"></script>

<script>
  $(document).ready(function () {
    var fileLicenceType = $("input[name='{{ admin.uniqid }}[fileLicenceType]']");
    $('#fileLicenceType_' + fileLicenceType.val()).show();

    fileLicenceType.on('change', function () {
      $('.fileLicenceType_class').hide();
      $('#fileLicenceType_' + $(this).val()).show();
    });

    var fileVisitMedType = $("input[name='{{ admin.uniqid }}[fileVisitMedType]']");
    $('#fileVisitMedType_' + fileVisitMedType.val()).show();

    fileVisitMedType.on('change', function () {
      $('.fileVisitMedType_class').hide();
      $('#fileVisitMedType_' + $(this).val()).show();
    });

    var fileIdentityPieceType = $("input[name='{{ admin.uniqid }}[fileIdentityPieceType]']");
    $('#fileIdentityPieceType_' + fileIdentityPieceType.val()).show();

    fileIdentityPieceType.on('change', function () {
      $('.fileIdentityPieceType_class').hide();
      $('#fileIdentityPieceType_' + $(this).val()).show();
    });

    var fileCarteProType = $("input[name='{{ admin.uniqid }}[fileCarteProType]']");
    $('#fileCarteProType_' + fileCarteProType.val()).show();

    fileCarteProType.on('change', function () {
      $('.fileCarteProType_class').hide();
      $('#fileCarteProType_' + $(this).val()).show();
    });
  });


</script>
{% endblock javascripts %}

