{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}
{% trans_default_domain 'backend' %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE')%}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}
{% block list_table %}


    <div class="box box-primary">
        <div class="box-body table-responsive panel-body">
            {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
            {% set batchactions = admin.batchactions %}
            {% if admin.datagrid.results|length > 0 %}
                {% if admin.hasRoute('batch') %}
                    <form action="{{ admin.generateUrl('batch', {'filter': admin.filterParameters}) }}" method="POST" >
                        <input type="hidden" name="_sonata_csrf_token" value="{{ csrf_token }}">
                {% endif %}
                    <table class="table table-striped" style="Vertical-Align: Middle;">
                        <thead>
                            <tr>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <th></th>
                                    <th class="left hidden-phone" width="15%">Id</th>
                                    {% endif %}
                                <th class="left hidden-phone" width="10%">{% trans %}Driver{% endtrans %}</th>
                                <th class="left hidden-phone" width="15%">    </th>
                                <th class="left hidden-phone" width="15%">Pseudo</th>
                                    {% if is_granted('ROLE_ADMIN') %}
                                    <th class="left hidden-phone" width="15%">Affect company</th>
                                    <th class="left hidden-phone" width="15%">Vehicule Affect</th>
                                    {% endif %}
                                <th class="left hidden-phone" width="15%">Active</th>
                                <th class="left hidden-phone" width="30%">{% trans %}Address{% endtrans %}</th>
                                <th class="left hidden-phone" width="15%">{% trans %}Transfer{% endtrans %}</th>
                                <th class="right hidden-phone" width="15%">{% trans %}Turnover{% endtrans %}</th>
                                <th class="right hidden-phone" width="15%">{% trans %}trackingDate{% endtrans %}</th>
                                <th class="right hidden-phone" width="15%">{% trans %}Actions{% endtrans %}</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for object in admin.datagrid.results %}
                                {% set countDocumentMissing = 0 %}
                                {% set now =  "now"|date("m/d/Y")  %}
                                {% set expireDocLicence =  object.expireDocLicence %}
                                {% set diffexpireDocLicence = date(now).diff(date(expireDocLicence)) %}
                                {% set expireDocVisitMed =  object.expireDocVisitMed %}
                                {% set diffexpireDocVisitMed = date(now).diff(date(expireDocVisitMed)) %}
                                {% set expireDocIdentityPiece =  object.expireDocIdentityPiece %}
                                {% set diffexpireDocIdentityPiece = date(now).diff(date(expireDocIdentityPiece)) %}
                                {% set expireDocCartePro =  object.expireDocCartePro %}
                                {% set diffexpireDocCartePro = date(now).diff(date(expireDocCartePro)) %}
                                {% if "now"|date('Ymd')  > object.expireDocLicence|date('Ymd') %}
                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                {% else %}
                                    {% if object.drivingLicense is null and object.NameLicence is null %}
                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                    {% endif %}
                                {% endif %}
                                {% if "now"|date('Ymd')  > object.expireDocVisitMed|date('Ymd') %}
                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                {% else %}
                                    {% if object.medicalExamination is null and object.NameVisitMed is null %}
                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                    {% endif %}
                                {% endif %}
                                {% if "now"|date('Ymd')  > object.expireDocIdentityPiece|date('Ymd') %}
                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                {% else %}
                                    {% if object.pieceIdentity is null and object.NameIdentityPiece is null %}
                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                    {% endif %}
                                {% endif %}
                                {% if "now"|date('Ymd')  > object.expireDocCartePro|date('Ymd') %}
                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                {% else %}
                                    {% if object.LockerJudiciare is null and object.NameCartePro is null %}
                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                    {% endif %}
                                {% endif %}


                                    {% set array = object.servicesTransport.getValues %}
                                    {% if array is empty %}
                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                    {% endif %}
                                    {% set array = object.zones.getValues %}
                                    {% if array is empty %}
                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                    {% endif %}
                                    <tr>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{object.id}}"><input name="idx[]" value="{{object.id}}" type="checkbox"></td>

                                            <td  class="left hidden-phone" style="Vertical-Align: Middle;">{{object.id}}</td>
                                        {% endif %}
                                        <td  class="left hidden-phone" style="Vertical-Align: Middle;">
                                            {% if object.avatar is not null %}
                                                <img class="img-responsive center hidden-phone"
                                                     src="{{ asset('/uploads/avatar/' ~ object.avatar) | imagine_filter('size100x100') }}">
                                            {% else %}
                                                <img class="img-responsive center hidden-phone"
                                                     src="{{ asset('/bundles/cabadmin/images/no-profile-pic.jpg') | imagine_filter('size100x100') }}"
                                                     alt="{{ 'no_image_available' }}"/>
                                            {% endif %}
                                        </td>
                                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                                            <a style="width:250px;height:50px;" class="btn btn-default view_link" href="{{ admin.generateObjectUrl('show', object) }}"> {{ object.firstName|upper|truncate(10) }}  {{ object.lastName|capitalize|truncate(10) }}
                                                {% if countDocumentMissing > 0 %}
                                                    <span href="#modalFullColorWarning" class="modal-basic btn btn-danger" style="margin-left:10px">{{ countDocumentMissing}} </span>
                                                {% endif %}
                                            </a>
                                        </td>
                                        <td class="left hidden-phone" style="Vertical-Align: Middle;">
                                            {{ object.username }}
                                        </td>
                                        {% if is_granted('ROLE_ADMIN') %}
                                            <td class="left hidden-phone" style="Vertical-Align: Middle;">
                                                {% if  object.driverCompany.companyName is defined %}
                                                    {{ object.driverCompany.companyName }}
                                                {% else %}
                                                    <span class="label label-warning"> NO AFFECT</span>
                                                {% endif %}
                                            </td>
                                            <td class="left hidden-phone" style="Vertical-Align: Middle;">
                                                {% if  object.vehicle.licensePlateNumber is defined %}
                                                    <span class="label label-success">{%trans%}AFFECT{%endtrans%}</span>
                                                {% else %}
                                                    <span class="label label-warning">{%trans%}NO AFFECT{%endtrans%}</span>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">
                                            {% if object.enabled == true %}
                                                {% set classStatusActive = "label-success"%}
                                                {% set statusActive = "Yes" %}
                                            {% else %}
                                                {% set classStatusActive = "label-danger"%}
                                                {% set statusActive = "No"%}
                                            {% endif %}
                                            <span class="label {{ classStatusActive }}"> {{ statusActive|trans }}</span></td>
                                        <td class="left hidden-phone"  style="Vertical-Align: Middle;">{{ object.address }} </td>
                                        <td class="left hidden-phone"  style="Vertical-Align: Middle;"></td>
                                        <td class="right hidden-phone" style="Vertical-Align: Middle;">

                                        </td>
                                        <td class="right hidden-phone" style="Vertical-Align: Middle;">
                                            {% if object.trackUser|length > 0 %}
                                                {{ object.trackUser.last.trackingDate|date("l F jS \\a\\t g:ia") }}
                                            {% endif %}
                                        </td>
                                        <td class="right hidden-phone" style="Vertical-Align: Middle;">
                                            <a href="{{ path('sonata_driver_calendar', {id: object.id}) }}">
                                                {% trans %}Calendar{% endtrans %}
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            {% block table_footer %}
                                <tfoot>
                                    <tr>
                                        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                                            <div class="form-inline">
                                                {% if not app.request.isXmlHttpRequest %}
                                                    {% if admin.hasRoute('batch') and batchactions|length > 0 and is_granted('ROLE_ADMIN') %}
                                                        {% block batch %}
                                                            <script>
                                                                {% block batch_javascript %}
                                                                    jQuery(document).ready(function ($) {
                                                                        $('#list_batch_checkbox').on('ifChanged', function () {
                                                                            $(this)
                                                                                    .closest('table')
                                                                                    .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                                                    .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                                                                                    ;
                                                                        });

                                                                        $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                                                .on('ifChanged', function () {
                                                                                    $(this)
                                                                                            .closest('tr')
                                                                                            .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                                                            ;
                                                                                })
                                                                                .trigger('ifChanged')
                                                                                ;
                                                                    });
                                                                {% endblock %}
                                                            </script>

                                                            {% block batch_actions %}

                                                                <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                                                    <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                                                    {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                                                    ({{ admin.datagrid.pager.nbresults }})
                                                                </label>

                                                                <select name="action" style="width: auto; height: auto" class="form-control">
                                                                    {% for action, options in batchactions %}
                                                                        <option value="{{ action }}">{{ options.label }}</option>
                                                                    {% endfor %}
                                                                </select>


                                                            {% endblock %}

                                                            <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                                        {% endblock %}
                                                    {% endif %}

                                                    <div class="pull-right">



                                                        {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                                            <div class="btn-group">
                                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                                    <i class="glyphicon glyphicon-export"></i>
                                                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                                                    <span class="caret"></span>
                                                                </button>
                                                                <ul class="dropdown-menu">
                                                                    {% for format in admin.getExportFormats() %}
                                                                        <li>
                                                                            <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                                                <i class="glyphicon glyphicon-download"></i>
                                                                                {{ format|upper }}
                                                                            </a>
                                                                        <li>
                                                                        {% endfor %}
                                                                </ul>
                                                            </div>

                                                            -
                                                        {% endif %}

                                                        {% block pager_results %}
                                                            {% include admin.getTemplate('pager_results') %}
                                                        {% endblock %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </th>
                                    </tr>

                                    {% block pager_links %}
                                        {% if admin.datagrid.pager.haveToPaginate() %}
                                            {% include admin.getTemplate('pager_links') %}
                                        {% endif %}
                                    {% endblock %}

                                </tfoot>
                            {% endblock %}

                        </table>
                {% if admin.hasRoute('batch') %}
                    </form>
                {% endif %}
            {% else %}
                <div class="callout callout-info">
                    {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
                </div>
            {% endif %}

            {% block list_footer %}{% endblock %}

            {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
        </div>
    </div>
    <script>
        $('#navdriver').addClass('nav-expanded');
        $('#navdriverlist').css("color", "white");
    </script>

{% endblock %}
{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>

            <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}" action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">{{ filter.label|trans({}, filter.translationDomain) }}</label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default" href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}
{% endblock %}







