{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% trans_default_domain 'backend' %}
{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:edit_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            {% block field %}
                <div>
                    <div class="row">
                        <div class="col-md-4 col-lg-3">
                            <section class="panel">
                                <div class="panel-body">
                                    <div class="thumb-info mb-md">
                                    {% if object.avatar is not null %}
                                            {% set img = 'uploads/avatar/' ~ object.avatar  %}
                                            <img alt="{{ object.firstName }}" class="rounded img-responsive"
                                                 src="{{ img | imagine_filter('thumbs') }}">
                                        {% else %}
                                            <img class="img-responsive center hidden-phone"
                                                 src="{{ asset('/bundles/cabadmin/images/no-profile-pic.jpg') | imagine_filter('size100x100') }}"
                                                 alt="{{ 'no_image_available' }}"/>
                                        {% endif %}

                                        <div class="thumb-info-title">
                                            <span class="thumb-info-inner">{{ object.lastName|truncate(10) }} {{ object.firstName|truncate(10) }}</span>
                                            <span class="thumb-info-type">{{ name|trans }}</span>
                                        </div>
                                    </div>
                                    <div class="widget-toggle-expand mb-md">
                                    </div>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Email{% endtrans %} : {{ object.email }}</h6>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Pseudo{% endtrans %} : {{ object.username }}</h6>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Phone{% endtrans %} : {{ object.phoneMobile }}</h6>
                                    <hr class="dotted short">
                                    <h6 class="text-muted">{% trans %}Active{% endtrans %} :
                                        {% if object.enabled == true %}
                                            {% set classStatusActive = "label-success"%}
                                            {% set statusActive = "Yes" %}
                                        {% else %}
                                            {% set classStatusActive = "label-danger"%}
                                            {% set statusActive = "No"%}
                                        {% endif %}
                                        <span class="label {{ classStatusActive }}"> {{ statusActive|trans }}</span>
                                    </h6>
                                    <hr class="dotted short">

                                    <a class="btn btn-sm btn btn-success view_link" target="" href="{{ admin.generateObjectUrl('edit', object) }}"> {% trans %}Edit driver{% endtrans %}</a>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <hr class="dotted short">
                                        <div>
                                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                                <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                            </section>
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        <a id="affectdriver" class="fa fa-caret-down" href="#"></a>
                                        <a class="fa fa-times" href="#"></a>
                                    </div>

                                    <h2 class="panel-title">
                                        <span class="label label-primary label-sm text-normal va-middle mr-sm">{{object.trackUser|length}}</span>
                                        <span class="va-middle">{% trans %}Driver connect{% endtrans %}</span>
                                    </h2>
                                </header>
                                <div class="panel-body" id="driveraffect1">
                                    <div class="content">

                                        <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                                            <thead>

                                            </thead>
                                            <tbody  id="tbody_driver_connection">
                                                {% if object.trackUser|length > 0 %}
                                                    {% for key in object.trackUser | reverse [:15] %}
                                                        <tr><td class="center">
                                                            {{ key.trackingDate|date("l F jS \\a\\t g:ia") }}</td></tr>
                                                    {%endfor%}
                                                {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="panel-footer" id="driveraffect2">
                                        <div class="input-group input-search">
                                            <input type="text" id="input_find_driver_connection" placeholder="Search..." id="q" name="q" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" id="button_find_driver_connection" class="btn btn-default"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <section class="panel">
                                <header class="panel-heading">
                                    <div class="panel-actions">
                                        <a id="affectdriver" class="fa fa-caret-down" href="#"></a>
                                        <a class="fa fa-times" href="#"></a>
                                    </div>

                                    <h2 class="panel-title">
                                        <span
                                            class="label label-primary label-sm text-normal va-middle mr-sm">{{ object.userAffects|length }}</span>
                                        <span class="va-middle">{% trans %}Driver affects{% endtrans %}</span>
                                    </h2>
                                </header>
                                <div class="panel-body" id="driveraffect1">
                                    <div class="content">

                                        <table class="table table-bordered table-striped mb-none"
                                               id="datatable-tabletools"
                                               data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                                            <thead>

                                            </thead>
                                            <tbody id="tbody_driver_affects">
                                            {% if object.userAffects|length > 0 %}
                                              {% for key in object.userAffects | reverse [:15] %}
                                                  <tr>
                                                      <td class="center">
                                                        {{ key.createdAt|date("l F jS \\a\\t g:ia") }}
                                                      </td>
                                                      <td class="center">
                                                        {{ key.km }} km
                                                      </td>
                                                  </tr>
                                              {% endfor %}
                                            {% endif %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="panel-footer" id="driveraffect3">
                                        <div class="input-group input-search">
                                            <input type="text" id="input_find_driver_affects" placeholder="Search..."
                                                   id="q" name="q" class="form-control">
                                            <span class="input-group-btn">
                                                <button type="submit" id="button_find_driver_affects"
                                                        class="btn btn-default"><i class="fa fa-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <div class="col-md-9">
                            <div id="accordion2" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i>{{ "Driver's address information"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse" id="collapse2One" aria-expanded="false"
                                         style="height: 0px;">
                                        <div class="panel-body">
                                            {{ object.address }}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse2Two" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i>Zone {{ "Driver's settings"|trans }}
                                                {% set countzoneMissing = 0 %}
                                                {% set array = object.zones.getValues %}
                                                {% if array is empty %}
                                                    {% set countzoneMissing = countzoneMissing + 1 %}
                                                {% endif %}
                                                {% if countzoneMissing > 0 %}
                                                    <span href="#modalFullColorWarning3" class="modal-basic btn btn-warning">!</span>
                                                {% endif %}

                                            </a>
                                        </h4>
                                        <div class="modal-block modal-block-danger mfp-hide" id="modalFullColorWarning3">
                                            <section class="panel">
                                                <header class="panel-heading">
                                                    <h2 class="panel-title">{% trans %}Incomplete configuration{% endtrans %}</h2>
                                                </header>
                                                <div class="panel-body">
                                                    <div class="modal-wrapper">
                                                        <div class="modal-text">
                                                            <h4>{% trans %}You have not yet configured the work's zone for driver{% endtrans %}</h4>
                                                            <span> <a class="btn btn-sm btn-default view_link" target="" href="{{ admin.generateObjectUrl('edit', object) }}"> {% trans %}Edit driver{% endtrans %}</a></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <footer class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <button class="btn btn-warning modal-dismiss">OK</button>
                                                        </div>
                                                    </div>
                                                </footer>
                                            </section>
                                        </div>

                                    </div>
                                    <div class="accordion-body collapse" id="collapse2Two" aria-expanded="false">
                                        <div class="panel-body">
                                            {% for z in object.zones %}
                                                |<b> {{ z.zoneName }} </b>|
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse2Three" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i>Service
                                                {% set countserviceTransportMissing = 0 %}
                                                {% set array = object.servicesTransport.getValues %}
                                                {% if array is empty %}
                                                    {% set countserviceTransportMissing = countserviceTransportMissing + 1 %}
                                                {% endif %}
                                                {% if countserviceTransportMissing > 0 %}
                                                    <span href="#modalFullColorWarning2" class="modal-basic btn btn-warning"> ! </span>
                                                {% endif %}
                                            </a>
                                        </h4>
                                        <div class="modal-block modal-block-danger mfp-hide" id="modalFullColorWarning2">
                                            <section class="panel">
                                                <header class="panel-heading">
                                                    <h2 class="panel-title">{% trans %}Incomplete configuration{% endtrans %}</h2>
                                                </header>
                                                <div class="panel-body">
                                                    <div class="modal-wrapper">

                                                        <div class="modal-text">
                                                            <h4>{% trans %}You have not yet configured service for driver{% endtrans %}</h4>

                                                        </div>
                                                    </div>
                                                </div>
                                                <footer class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <button class="btn btn-warning modal-dismiss">OK</button>
                                                        </div>
                                                    </div>
                                                </footer>
                                            </section>
                                        </div>

                                    </div>
                                    <div class="accordion-body collapse" id="collapse2Three" aria-expanded="false">
                                        <div class="panel-body">
                                            {% for z in object.servicesTransport %}
                                                |<b>  {{ z.serviceName }} </b>|
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">

                                        <h4 class="panel-title">
                                            <a href="#collapse5Three" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-toggle collapsed" aria-expanded="false">
                                                <i class=""></i> {{ "Driver's documents"|trans }}
                                                {% set countDocumentMissing = 0 %}
                                                {% set now =  "now"|date("m/d/Y")  %}
                                                {% set expireDocLicence =  object.expireDocLicence %}
                                                {% set diffexpireDocLicence = date(now).diff(date(expireDocLicence)) %}
                                                {% set expireDocVisitMed =  object.expireDocVisitMed %}
                                                {% set diffexpireDocVisitMed = date(now).diff(date(expireDocVisitMed)) %}
                                                {% set expireDocIdentityPiece =  object.expireDocIdentityPiece %}
                                                {% set diffexpireDocIdentityPiece = date(now).diff(date(expireDocIdentityPiece)) %}
                                                {% set expireDocCartePro =  object.expireDocCartePro %}
                                                {% set diffexpireDocCartePro = date(now).diff(date(expireDocCartePro)) %}
                                                {% if "now"|date('Ymd')  > object.expireDocLicence|date('Ymd') %}
                                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                {% else %}
                                                    {% if object.drivingLicense is null and object.NameLicence is null %}
                                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if "now"|date('Ymd')  > object.expireDocVisitMed|date('Ymd') %}
                                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                {% else %}
                                                    {% if object.medicalExamination is null and object.NameVisitMed is null %}
                                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if "now"|date('Ymd')  > object.expireDocIdentityPiece|date('Ymd') %}
                                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                {% else %}
                                                    {% if object.pieceIdentity is null and object.NameIdentityPiece is null %}
                                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                    {% endif %}
                                                {% endif %}
                                                {% if "now"|date('Ymd')  > object.expireDocCartePro|date('Ymd') %}
                                                    {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                {% else %}
                                                    {% if object.LockerJudiciare is null and object.NameCartePro is null %}
                                                        {% set countDocumentMissing = countDocumentMissing + 1 %}
                                                    {% endif %}
                                                {% endif %}

                                                    {% if countDocumentMissing > 0 %}
                                                        <span id="countDocumentMissing" href="#modalFullColorWarning" class="modal-basic btn btn-danger">{{ countDocumentMissing}} </span>
                                                    {% endif %}
                                                </a>

                                            </h4>
                                        </div>
                                        <div class="modal-block modal-block-danger mfp-hide" id="modalFullColorWarning">
                                            <section class="panel">
                                                <header class="panel-heading">
                                                    <h2 class="panel-title">{% trans %}Incomplete configuration{% endtrans %}</h2>
                                                </header>
                                                <div class="panel-body">
                                                    <div class="modal-wrapper">
                                                        <div class="modal-text">
                                                            <h4>{% trans %}Please check your configuration{% endtrans %}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                                <footer class="panel-footer">
                                                    <div class="row">
                                                        <div class="col-md-12 text-right">
                                                            <button class="btn btn-danger modal-dismiss">OK</button>
                                                        </div>
                                                    </div>
                                                </footer>
                                            </section>
                                        </div>

                                        <div class="accordion-body collapse" id="collapse5Three" aria-expanded="false">
                                            <div class="panel-body">
                                                <div class="">
                                                    <div class="tabs tabs-vertical tabs-left">
                                                        <ul class="nav nav-tabs col-sm-3 col-xs-5" id="select_doc_show">
                                                            <li class="active">
                                                                <a data-toggle="tab" href="#popular11" aria-expanded="true"><i
                                                                        class=""></i> {% trans %}Avatar{% endtrans %}
                                                                </a>
                                                            </li>
                                                            <li class="active" data-name="FileLicence"><a data-toggle="tab" href="#recent11" aria-expanded="true">
                                                                    <table style="width:100%">
                                                                        <tbody><tr>
                                                                            <th width="70%">{% trans %}Driver license{% endtrans %}</th>
                                                                            <th width="30%"><p class="mb-xs center mt-xs mr-xs btn-success block_diff_days_count"></p></th>
                                                                        </tr>
                                                                        </tbody></table></a>
                                                            </li>

                                                            <li class="" data-name="FileVisitMed"><a data-toggle="tab" href="#recent12" aria-expanded="false">
                                                                    <table style="width:100%">
                                                                        <tbody><tr>
                                                                            <th width="70%">{% trans %}Mdical examination{% endtrans %}</th>
                                                                            <th width="30%"><p class="mb-xs center mt-xs mr-xs btn-success block_diff_days_count"></p></th>
                                                                        </tr>
                                                                        </tbody></table></a>
                                                            </li>

                                                            <li class="" data-name="FileIdentityPiece"><a data-toggle="tab" href="#recent13" aria-expanded="false">
                                                                    <table style="width:100%">
                                                                        <tbody><tr>
                                                                            <th width="70%">{% trans %}Identity Piece{% endtrans %}</th>
                                                                            <th width="30%"><p class="mb-xs center mt-xs mr-xs btn-success block_diff_days_count"></p></th>
                                                                        </tr>
                                                                        </tbody></table></a>
                                                            </li>

                                                            <li class="" data-name="FileCartePro"><a data-toggle="tab" href="#recent14" aria-expanded="false">
                                                                    <table style="width:100%">
                                                                        <tbody><tr>
                                                                            <th width="70%">{% trans %}Locker judiciare{% endtrans %}</th>
                                                                            <th width="30%"><p class="mb-xs center mt-xs mr-xs btn-success block_diff_days_count"></p></th>
                                                                        </tr>
                                                                        </tbody></table></a>
                                                            </li>
                                                        </ul>
                                                        <div id="loading_doc" class="loading_doc">
                                                            <img class="img-responsive center hidden-phone"
                                                                 src="{{ asset('/bundles/cabadmin/images/upload.gif') }}"
                                                                 alt="{{ 'no_image_available' }}"/>
                                                        </div>
                                                        <div class="tab-content">
                                                            <div class="tab-pane active" id="popular11">

                                                                <img alt="Avatar" class="rounded img-responsive"
                                                                     src="/uploads/avatar/{{ object.avatar }}">

                                                            </div>
                                                            <div class="tab-pane" id="recent11">
                                                                <div class="doc_block_show pdf_block_show" {% if 'pdf' not in object.nameLicence %} style="display: none;" {% endif %}>
                                                                    <a href="{{ vich_uploader_asset(object, 'fileLicence') }}" target="_blank">{{ object.nameLicence }}</a>
                                                                </div>
                                                                <div class="doc_block_show image_block_show" {% if 'pdf' in object.nameLicence %} style="display: none;" {% endif %}>
                                                                    <img alt="ImageFront" class="rounded img-responsive" src="{{ vich_uploader_asset(object, 'fileLicence') }}">
                                                                </div>

                                                                <div class="center">
                                                                    {% if "now"|date('Ymd')  > object.expireDocLicence|date('Ymd') %}
                                                                    <h2>{% trans %}Expired since{% endtrans %} : <span class="block_date_expire_text">{{ object.expireDocLicence | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                        <p class="mb-xs mt-xs mr-xs btn-warning block_diff_days_count">- {{ diffexpireDocLicence.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                        {% else %}
                                                                            <h2>{% trans %}Expire on{% endtrans %} : <span class="block_date_expire_text">{{ object.expireDocLicence | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                                <p class="mb-xs mt-xs mr-xs btn-success block_diff_days_count">{{ diffexpireDocLicence.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                        {% endif %}

                                                                </div>
                                                            </div>


                                                            <div class="tab-pane" id="recent12">
                                                                <div class="doc_block_show pdf_block_show" {% if 'pdf' not in object.nameVisitMed %} style="display: none;" {% endif %}>
                                                                    <a href="{{ vich_uploader_asset(object, 'fileVisitMed') }}" target="_blank">{{ object.nameVisitMed }}</a>
                                                                </div>
                                                                <div class="doc_block_show image_block_show" {% if 'pdf' in object.nameVisitMed %} style="display: none;" {% endif %}>
                                                                    <img alt="ImageFront" class="rounded img-responsive" src="{{ vich_uploader_asset(object, 'fileVisitMed') }}">
                                                                </div>

                                                                <div class="center">
                                                                    {% if "now"|date('Ymd')  > object.expireDocVisitMed|date('Ymd') %}
                                                                        <h2>{% trans %}Expired since{% endtrans %} : <span class="block_date_expire_text">{{ object.expireDocVisitMed | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                            <p class="mb-xs mt-xs mr-xs btn-warning block_diff_days_count">- {{ diffexpireDocVisitMed.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                    {% else %}
                                                                        <h2>{% trans %}Expire on{% endtrans %} : <span class="block_date_expire_text">{{ object.expireDocVisitMed | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                            <p class="mb-xs mt-xs mr-xs btn-success block_diff_days_count">{{ diffexpireDocVisitMed.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                    {% endif %}

                                                                </div>



                                                            </div>

                                                            <div class="tab-pane" id="recent13">
                                                                <div class="doc_block_show pdf_block_show" {% if 'pdf' not in object.nameIdentityPiece %} style="display: none;" {% endif %}><a href="{{ vich_uploader_asset(object, 'fileIdentityPiece') }}" target="_blank">{{ object.nameIdentityPiece }}</a>
                                                                </div>
                                                                <div class="doc_block_show image_block_show" {% if 'pdf' in object.nameIdentityPiece %} style="display: none;" {% endif %}>
                                                                    <img alt="ImageFront" class="rounded img-responsive" src="{{ vich_uploader_asset(object, 'fileIdentityPiece') }}">
                                                                </div>
                                                                <div class="center">
                                                                    {% if "now"|date('Ymd')  > object.expireDocIdentityPiece|date('Ymd') %}
                                                                        <h2>{% trans %}Expired since{% endtrans %} : <span class="block_date_expire_text">{{ object.expireDocIdentityPiece | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                            <p class="mb-xs mt-xs mr-xs btn-warning block_diff_days_count">- {{ diffexpireDocIdentityPiece.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                    {% else %}
                                                                        <h2>{% trans %}Expire on{% endtrans %} : <span class="block_date_expire_text">{{ object.expireDocIdentityPiece | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                            <p class="mb-xs mt-xs mr-xs btn-success block_diff_days_count">{{ diffexpireDocIdentityPiece.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                    {% endif %}

                                                                </div>
                                                            </div>

                                                            <div class="tab-pane" id="recent14">
                                                                <div class="doc_block_show pdf_block_show" {% if 'pdf' not in object.nameCartePro %} style="display: none;" {% endif %}>
                                                                    <a href="{{ vich_uploader_asset(object, 'fileCartePro') }}" target="_blank">{{ object.nameCartePro }}</a>
                                                                </div>
                                                                <div class="doc_block_show image_block_show" {% if 'pdf' in object.nameCartePro %} style="display: none;" {% endif %}>
                                                                    <img alt="ImageFront" class="rounded img-responsive" src="{{ vich_uploader_asset(object, 'fileCartePro') }}">
                                                                </div>

                                                                <div class="center">
                                                                    {% if "now"|date('Ymd')  > object.expireDocCartePro|date('Ymd') %}
                                                                        <h2><div id="expire">{% trans %}Expired since{% endtrans %}</div> : <span class="block_date_expire_text">{{ object.expireDocCartePro | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                            <p class="mb-xs mt-xs mr-xs btn-warning block_diff_days_count">- {{ diffexpireDocCartePro.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                    {% else %}
                                                                        <h2><div id="expire">{% trans %}Expire on{% endtrans %}</div> : <span class="block_date_expire_text">{{ object.expireDocCartePro| format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                            <p class="mb-xs mt-xs mr-xs btn-success block_diff_days_count">{{ diffexpireDocCartePro.days }} {%trans%}day{%endtrans%}</p></h2>

                                                                    {% endif %}

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-3 col-xs-5"></div>
                                                        <div class="col-sm-9 col-xs-7">
                                                          {{ form_start(new_docs_cropp, {'method': 'POST', 'action': admin.generateObjectUrl('update_image', object)}) }}
                                                          {{ form_widget(new_docs_cropp.type_field) }}

                                                            <div class="form-group">
                                                                <div class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                                  {{ form_widget(new_docs_cropp.upload_type) }}
                                                                </div>
                                                                <div id="upload_type_1" class="upload_type_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                                  {{ form_widget(new_docs_cropp.update_pdf, { 'attr': {'class': 'form-control'} }) }}
                                                                </div>
                                                                <div id="upload_type_2" class="upload_type_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                                  {{ form_widget(new_docs_cropp.update_image) }}
                                                                </div>
                                                            </div>

                                                          {{ form_row(new_docs_cropp.expired_date) }}
                                                            <div class="form-group">
                                                                <p class="form_actions">
                                                                    <button type="submit"
                                                                            class="btn btn-primary">{{ 'Update'|trans }}</button>
                                                                </p>
                                                            </div>
                                                          {{ form_end(new_docs_cropp) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-accordion panel-accordion-primary">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">
                                                <a href="#collapse2Note" data-parent="#accordion2" data-toggle="collapse"
                                                   class="accordion-toggle collapsed" aria-expanded="false">
                                                    <i class=""></i>{{ "Note"|trans }}
                                                </a>
                                            </h4>
                                        </div>
                                        <div class="accordion-body collapse" id="collapse2Note" aria-expanded="false"
                                             style="height: 0px;">
                                            {% autoescape false %}
                                                {% if is_granted('ROLE_ADMIN') %}
                                                    <div class="panel-body">
                                                        {{ object.privateNote }}
                                                    </div>
                                                {% endif %}
                                                <div class="panel-body">
                                                    {{ object.publicNote }}
                                                </div>
                                            {% endautoescape %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            {% endblock %}
        {% endfor %}
        {# sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) #}
    </div>

     <script>
        $('#affectdriver').attr('class', 'fa fa-caret-up');
        $('#driveraffect1,#driveraffect2').hide();


        $('#UpdateDocsDriverForm').submit(function () {

            var $this     = $(this),
                    active_li = $('#select_doc_show > li.active');



          $('#UpdateDocsDriverForm_type_field').val(active_li.data('name'));

          var fd = new FormData($this[0]);

            $('#UpdateDocsDriverForm').hide();
            $("#loading_doc").show();

          $.ajax({
                   url        : $this.attr('action'),
                   type       : 'POST',
                   data       : fd,
                   processData: false,  // tell jQuery not to process the data
                   contentType: false,   // tell jQuery not to set contentType
                   success    : function (response) {
                       console.log(response);

                     $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).find('.doc_block_show').css('display', 'none');

                     if (response.new_link.indexOf('pdf') != (-1)) {
                       $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.pdf_block_show').css('display', 'block');
                       $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.pdf_block_show')
                                            .children().attr('href', response.new_link).html(response.file_name);
                     } else {
                       $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.image_block_show').css('display', 'block');
                       $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.image_block_show').children().attr('src', response.new_link);
                     }


                     if (typeof response.date_text !== 'undefined') {
                       $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index())
                                            .find('.block_date_expire_text').html(response.date_text);

                       var class_name = '';
                       var class_remove = '';
                       if (response.date_diff > 30) {
                         class_name = 'btn-success';
                         class_remove = 'btn-warning';
                       } else {
                         class_name = 'btn-warning';
                         class_remove = 'btn-success';
                       }



                       $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index())
                                            .find('.block_diff_days_count').addClass(class_name)
                                            .removeClass('btn-danger').removeClass(class_remove).html(response.date_diff + " day");
                     }

                      var countDocumentMissing = parseInt($('#countDocumentMissing').html());

                       if (response.date_diff > 0) {

                           var expire = '{% trans %}Expire on{% endtrans %}';
                           $("#expire").html(expire);
                           countDocumentMissing = countDocumentMissing - 1;
                           if (countDocumentMissing > 0){
                               $('#countDocumentMissing').html(countDocumentMissing);
                           }else{
                               $('#countDocumentMissing').hide();
                           }
                       }else{
                           var expire = '{% trans %}Expire since{% endtrans %}';
                           $("#expire").html(expire);
                           alert('corriger la date de fin de validité');
                           countDocumentMissing = countDocumentMissing ;

                           $('#countDocumentMissing').html(countDocumentMissing);

                           $('#countDocumentMissing').show();

                       }





                     $this.find('.cropper-canvas-container').empty();
                     $this[0].reset();
                       $("#loading_doc").hide();
                       $('#UpdateDocsDriverForm').show();
                   }
                 });
          return false;
        });

        $(document).ready(function () {

            $("#loading_doc").hide();

          var upload_type = $("input[name='UpdateDocsDriverForm[upload_type]']");
          $('#upload_type_' + upload_type.val()).show();

          upload_type.on('change', function () {
            $('.upload_type_class').hide();
            $('#upload_type_' + $(this).val()).show();
          });

          $('#button_find_driver_connection').on('click', function () {
            var $this     = $(this),
                $input    = $('#input_find_driver_connection'),
                input_val = $input.val();

            if (!input_val){
              return false;
            }

            var $tbody_driver_connection = $('#tbody_driver_connection');
            $.ajax({
                     url     : Routing.generate('get_driver_connection_by_id_and_date', {
                       driver_id: {{ object.id }},
                       date       : input_val
                     }),
                     type    : 'GET',
                     dataType: 'json',
                     success : function (response) {
                       $tbody_driver_connection.empty();

                       for (var i in response.driver_connections) {
                         $tbody_driver_connection.append('\n' +
                           '                                        <tr>\n' +
                           '                                            <td class="center">\n' +
                           '                                                ' + response.driver_connections[i].DATE +
                           '                                            </td>\n' +
                           '                                        </tr>');
                       }
                     }
                   });
          });
          $('#button_find_driver_affects').on('click', function () {
            var $this     = $(this),
                $input    = $('#input_find_driver_affects'),
                input_val = $input.val();

            if (!input_val){
              return false;
            }

            var $tbody_driver_affects = $('#tbody_driver_affects');
            $.ajax({
                     url     : Routing.generate('get_driver_affect_by_id_and_date', {
                       driver_id: {{ object.id }},
                       date       : input_val
                     }),
                     type    : 'GET',
                     dataType: 'json',
                     success : function (response) {
                       $tbody_driver_affects.empty();

                       for (var i in response.driver_affects) {
                         $tbody_driver_affects.append('\n' +
                           '                                        <tr>\n' +
                           '                                            <td class="center">\n' +
                           '                                                ' + response.driver_affects[i].DATE +
                           '                                            </td>\n' +
                           '                                            <td class="center">\n' +
                           '                                                ' + response.driver_affects[i].km + " km" +
                           '                                            </td>\n' +
                           '                                        </tr>');
                       }
                     }
                   });
          });
        });
    </script>

{% endblock %}
