{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}

{% block title %}
    {{ "Manage course groupage"|trans({}, 'SonataAdminBundle') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li></li>

{% endblock %}

{% block custom_content %}
    {% if form is defined %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

