{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
            {% endif %}
        {% endspaceless %}
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block list_table %}
    {% for object in admin.datagrid.results %}
    {% endfor %}
    <div class="box box-primary table-responsive panel-body">
        <table class="table table-striped list-object">
            {% block table_body %}
                <thead>
                    <tr>
                        <th></th>
                        <th class="left hidden-phone" width="10%">{% trans %}Date{% endtrans %}</th>
                        <th class="right hidden-phone" width="20%">{% trans %}Partner Name{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}Email{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}Company{% endtrans %}</th>
                        <th class="right hidden-phone" width="20%">{% trans %}Phone{% endtrans %}</th>
                        <th class="right hidden-phone" width="20%">{% trans %}subject{% endtrans %}</th>
                        <th class="right hidden-phone" width="20%">{% trans %}action{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in admin.datagrid.results %}
                        <tr>
                            <td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{object.id}}"><input name="idx[]" value="{{object.id}}" type="checkbox"></td>
                            <td class="left hidden-phone">{{ object.createdAt|date("d.m.Y") }}</td>
                            <td class="left hidden-phone">
                                {{ object.partnerName }}
                            </td>
                            <td class="left hidden-phone">{{ object.email }}</td>
                            <td class="left hidden-phone">{{ object.company }}</td>
                            <td class="left hidden-phone">{{ object.phone }}</td>
                            <td class="left hidden-phone">{{ object.subject }}</td>
                            <td>
                                {% if is_granted('ROLE_ADMINCOMPANY') %}
                                    <ul class="list-inline">
                                        <li>
                                            {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
                                        </li>
                                        <li>
                                            {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                                        </li>
                                    </ul>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor%}
                </tbody>

            </table>

        {% endblock %}

    </div>


            {% block list_footer %}{% endblock %}

                                    {% block pager_links %}
                                        {% if admin.datagrid.pager.haveToPaginate() %}
                                            {% include admin.getTemplate('pager_links') %}
                                        {% endif %}
                                    {% endblock %}


                                     {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}

    <script>
        $('#navfromweb').addClass('nav-expanded');
        $('#navfromwebpartner').css("color", "white");
    </script>

{%endblock%}


{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>
            <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                        {{ filter.label|trans({}, filter.translationDomain) }}
                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
  </div>
</div>
    {% endif %}
{% endblock %}



