{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
            {% endif %}
        {% endspaceless %}
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block show %}
    {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}
    {% for name, view_group in admin.showgroups %}
        {% block field %}
            <div class='panel-body'>
                <div class="row show-grid">
                    <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}REQUEST FIRST DATE:{%endtrans%}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.createdAt|date("d.m.Y") }}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.createdAt|date("H:m") }}</span></div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}NAME:{%endtrans%}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.partnerName }}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block right">{%trans%}COMPANY:{%endtrans%}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.company }}</span></div>
                </div>
                <div class="row show-grid">
                    <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}EMAIL:{%endtrans%}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.email }}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}SUBJECT:{%endtrans%}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.subject }}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}Statut:{%endtrans%}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.statusPartner }}</span></div>
                </div> 
                <div class="row show-grid">
                    <div class="col-md-3"><span class="text-bold show-grid-block">{%trans%}MESSAGE:{%endtrans%}</span></div>
                    <div class="col-md-3"><span class="text-bold show-grid-block">{{ object.bodyMessage }}</span></div>
                </div> 
            </div>
        {% endblock%}
    {% endfor%}

{% endblock%}    



