{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% use 'SonataAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %}
{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}
    {% if not admin_pool.getOption('html5_validate') %}{% set novalidate = "novalidate" %}{% else %}{% set novalidate = "" %}{% endif %}
    <div class="col-md-12">
        {{ form_start(form,{"attr":{"role":"form","id":"form-tarif","action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"novalidate":novalidate}}) }}


            <section class="panel">
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">{% trans %}Configuration for the service{% endtrans %}</h2>
                </header>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form_label(form.company) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.company) }}
                        </div>
                    </div>
                    {% if form.zones is defined %}
                        <div class="form-group">
                            <label class="col-sm-4 control-label">{{ form_label(form.zones) }}</label>
                            <div class="col-sm-8">
                                {{ form_widget(form.zones) }}
                            </div>
                        </div>
                    {%  endif %}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form_label(form.serviceName) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.serviceName) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form_label(form.tel) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.tel) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form_label(form.lotnumber) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.lotnumber) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans %} Email
                            confirmation {% endtrans %}{{ form_label(form.serviceEmail) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.serviceEmail) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans %}Price View{% endtrans %}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.priceView) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans %}CTR{% endtrans %}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.ctr) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans %}REF CONTRAT{% endtrans %}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.ref) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans %}service Email Compta{% endtrans %}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.serviceEmailCompta) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{% trans %}Message{% endtrans %}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.message) }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form_label(form.dateStart) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.dateStart) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ form_label(form.dateEnd) }}</label>
                        <div class="col-sm-8">
                            {{ form_widget(form.dateEnd) }}
                        </div>
                    </div>
                </div>
            </section>
            {{ form_errors(form) }}
            {{ form_widget(form._token) }}
            <footer class="panel-footer">
                {% block formactions %}
                    <div class="form-actions">
                        {% if app.request.isxmlhttprequest %}
                            {% if admin.id(object) is not null %}
                                <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                            {% else %}
                                <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                        {% else %}
                            {% if admin.supportsPreviewMode %}
                                <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                    <i class="fa fa-eye"></i>
                                    {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                </button>
                            {% endif %}
                            {% if admin.id(object) is not null %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}

                                {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                    {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                    <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                {% endif %}

                                {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                    <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                {% endif %}
                            {% else %}
                                {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                                {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                    <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endblock formactions %}
            </footer>
        {{ form_end(form) }}
    </div>

</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>

{% endblock javascripts %}