{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock%}



{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
            {% endif %}
        {% endspaceless %}
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block list_table %}

    {% for object in admin.datagrid.results %}
    {% endfor %}
    <div class="box box-primary table-responsive panel-body">
        <div class="box-body table-responsive no-padding">
            {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}

        {% block list_header %}{% endblock %}

        <table class="table table-striped mb-none">
            {% block table_body %}
                <thead>
                    <tr>
                        <th class="left hidden-phone" width="10%">{% trans %}DATE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}COST{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}PRICE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}BALANCE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}LIFE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}DESIGNATION{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}IDCAMPAGNE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}CODE|INFO{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <td class="left hidden-phone">{{ object.smsDate|date("d/m/Y") }}</td>
                            <td class="left hidden-phone">{{ object.cost }}</td>
                            <td class="left hidden-phone">{{ object.price }}</td>
                            <td class="left hidden-phone">{{ object.balance }}</td>
                            <td class="left hidden-phone">{{ object.life }}</td>
                            <td class="left hidden-phone">{{ object.designation }}</td>
                            <td class="left hidden-phone">{{ object.idCampagne }}</td>
                            <td class="left hidden-phone">{{ object.code }}|{{object.info}}</td>
                        </tr>
                        <tr>
                          <th class="left hidden-phone" width="40%">{% trans %}NUMBER PHONE{% endtrans %}</th>
                          <td class="panel-featured" colspan="8">{{ object.number }}
                          </td>
                        </tr>
                        <tr>
                          <th class="left hidden-phone" width="40%">{% trans %}MESSAGE{% endtrans %}</th>
                          <td class="panel-featured" colspan="8">{{ object.message }}
                          </td>
                        </tr>

            </table>



        {% block list_footer %}{% endblock %}

        {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}
    </div>
</div>
{% endblock %}
{% endblock %}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>

            <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                        {{ filter.label|trans({}, filter.translationDomain) }}
                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}


    <script>
        $('#navsms').addClass('nav-expanded');
        $('#navsmslist').css("color", "white");
    </script>
{% endblock %}
