{% extends 'CABAdminBundle::layout.html.twig' %}
{% block sonata_admin_content %}

    <section role="main" class="content-body">
        {{ include('CABAdminBundle:Common:page_header.html.twig') }}

        <!-- start: page -->

        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">
                {% block notice %}
                    {% include 'CABAdminBundle:FlashMessage:render.html.twig' %}
                {% endblock notice %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-xl-12">

            </div>
        </div>

        <!-- end: page -->
    </section>
{% endblock sonata_admin_content %}
