{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}
{% form_theme form 'CABAdminBundle:Form:form_admin_tarif.html.twig' %}
{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -

{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% import "CABAdminBundle:CRUD:custom_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {#{{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}#}

{% set url = admin.id(object) is not null ? 'edit' : 'create' %}

{% if not admin.hasRoute(url) %}
    <div>
        {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
    </div>
{% else %}
    <section class="panel">
        {{ form_start(form,{"attr":{"class":"form-inline","role":"form","id":"form-tarif","action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"novalidate":"novalidate"}}) }}

            <header class="panel-heading">
                <div class="panel-actions">
                    <a class="fa fa-caret-down" href="#"></a>
                    <a class="fa fa-times" href="#"></a>
                </div>
                <h2 class="panel-title"> Price configuration </h2>
            </header>
            <div class="panel-body">
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_label(form.company) }}
                        {{ form_row(form.company, { 'id': 'tarif-company'} ) }}
                    </div>

                    <div class="col-md-6">
                        {% if (form.typeVehiculeTarif is defined) %}
                            {{ form_label(form.typeVehiculeTarif) }}
                            {{ form_row(form.typeVehiculeTarif, { 'id': 'type_vehicule_tarif', 'attr': {'disabled': 'disabled'}} ) }}
                    </div>
                    {% endif %}
                </div>
                <div class="row top20">
                    <div class="form-group">
                        {{ form_row(form.tarifType) }}
                    </div>
                </div>
                <div id="tarif-taxi" class="form-group top20" style="">

                    <div class="row">
                        {% if (form.tarifPC is defined) %}
                            <div class="col-md-3">
                                {{ form_row(form.tarifPC) }}
                            </div>
                        {% endif %}

                        {% if (form.tarifA is defined) %}
                            <div class="col-md-3">
                                {{ form_row(form.tarifA) }}
                            </div>
                        {% endif %}


                        {% if (form.tarifB is defined) %}
                            <div class="col-md-3">
                                {{ form_row(form.tarifB) }}
                            </div>
                        {% endif %}

                        {% if (form.tarifC is defined) %}
                            <div class="col-md-3">
                                {{ form_row(form.tarifC) }}
                            </div>
                        {% endif %}

                        {% if (form.tarifD is defined) %}
                            <div class="col-md-3">
                                {{ form_row(form.tarifD) }}
                            </div>
                        {% endif %}
                        {% if (form.slowWalkPerHour is defined) %}
                            <div class="col-md-4">
                                {{ form_row(form.slowWalkPerHour) }}
                            </div>
                        {% endif %}
                        {% if (form.minPrice is defined) %}
                            <div class="col-md-4">
                                {{ form_row(form.minPrice) }}
                            </div>
                        {% endif %}

                    </div>
                    <div class="row">

                        {% if (form.luggage is defined) %}
                            <div class="col-md-3">
                                {{ form_row(form.luggage) }}
                            </div>
                        {% endif %}

                        {% if (form.person is defined) %}
                            <div class="col-md-3">
                                {{ form_row(form.person) }}
                            </div>
                        {% endif %}

                    </div>

                    <div class="row">
                        {% if (form.tarifEquipment is defined) %}
                            <div class="col-md-4">
                                {{ form_row(form.tarifEquipment) }}
                            </div>
                        {% endif %}
                        {% if (form.tarifHandicapWheelchair is defined) %}
                            <div class="col-md-4">
                                {{ form_row(form.tarifHandicapWheelchair) }}
                            </div>
                        {% endif %}

                        {% if (form.tarifBabySeat is defined) %}
                            <div class="col-md-4">
                                {{ form_row(form.tarifBabySeat) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="row">
                        {% if (form.hourNightTarif is defined) %}
                            <div class="col-md-6">
                            {{ form_row(form.hourNightTarif) }}
                            </div>
                        {% endif %}

                        {% if (form.packageApproach is defined) %}
                            <div class="col-md-6">
                            {{ form_row(form.packageApproach) }}
                            </div>
                        {% endif %}
                    </div>

                        <div class="row col-md-12 top30">
                            <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Hours Morning</h5>
                            <section class="panel panel-horizontal">
                                <header class="panel-heading bg-primary">
                                    <div class="panel-heading-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </header>
                                <div class="panel-body p-lg">

                                    <div id="form-morning" style="display: block;">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                {{ form_row(form.mondayMorningFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.mondayMorningTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.mondayMorningIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.thursdayMorningFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.thursdayMorningTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.thursdayMorningIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.wednesdayMorningFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.wednesdayMorningTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.wednesdayMorningIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.tuesdayMorningFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.tuesdayMorningTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.tuesdayMorningIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.fridayMorningFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.fridayMorningTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.fridayMorningIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.saturdayMorningFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.saturdayMorningTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.saturdayMorningIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.sundayMorningFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.sundayMorningTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.sundayMorningIncrease) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>

                        <div class="row col-md-12 top30">
                            <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Hours Night</h5>
                            <section class="panel panel-horizontal">
                                <header class="panel-heading bg-primary">
                                    <div class="panel-heading-icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </header>
                                <div class="panel-body p-lg">

                                    <div id="form-Night" style="display: block;">
                                        <div class="form-group">
                                            <div class="col-md-4">
                                                {{ form_row(form.mondayNightFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.mondayNightTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.mondayNightIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.thursdayNightFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.thursdayNightTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.thursdayNightIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.wednesdayNightFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.wednesdayNightTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.wednesdayNightIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.tuesdayNightFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.tuesdayNightTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.tuesdayNightIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.fridayNightFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.fridayNightTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.fridayNightIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.saturdayNightFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.saturdayNightTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.saturdayNightIncrease) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.sundayNightFrom) }}
                                            </div>

                                            <div class="col-md-4">
                                                {{ form_row(form.sundayNightTo) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.sundayNightIncrease) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                </div>

                <div id="tarif-km" class="form-group top20" style="display: none;">
                    km
                </div>

                <div id="tarif-forfait" class="form-group top20" style="display: none;">
                    forfait
                </div>
                {{ form_widget(form._token) }}

            </div>
            </div>
            <footer class="panel-footer">
            {% block formactions %}
                <div class="form-actions">
                    {% if app.request.isxmlhttprequest %}
                        {% if admin.id(object) is not null %}
                            <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                        {% else %}
                            <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                    {% else %}
                        {% if admin.supportsPreviewMode %}
                            <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                <i class="fa fa-eye"></i>
                                {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                            </button>
                        {% endif %}
                        {% if admin.id(object) is not null %}
                            <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}

                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}

                            {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                            {% endif %}
                        {% else %}
                            {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                            {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                            {% endif %}
                            <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                        {% endif %}
                    {% endif %}
                </div>
            {% endblock formactions %}
        </footer>
        {{ form_end(form) }}
    </section>
 <script>
        $('#navconfiguration').addClass('nav-expanded');
        $('#navconfigurationprice').css("color", "white");
    </script>
{% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>

{% endblock javascripts %}

