{% extends 'CABAdminBundle::layout.html.twig' %}

{% block title %}
    {{ "title_create"|trans({}, 'SonataAdminBundle') }}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% block form %}

<section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a class="fa fa-caret-down" href="#"></a>
                <a class="fa fa-times" href="#"></a>
            </div>
            <h2 class="panel-title"> Tracking </h2>
        </header>
        
        <div class="panel-body">
            
            <div class="col-md-6">
                <div class="row top20">
                    <div class="col-md-12">
                    <lable>Company:</lable>  
                        {{ form_row(form.companyName ) }}
                    </div>
                </div>
                
                <div class="row top20">
                    <div class="col-md-4">
                        {{ form_row(form.users) }}
                    </div>    
                </div>
            </div>

        </div>

</section>

{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}

