{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}
{% form_theme form 'CABAdminBundle:Form:form_admin_tarif.html.twig' %}
{% block title %}
    {% if admin.id(object) is not null %}
        {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block row %}

    {# you can use fields defined in the the Admin class #}
    {{ object|render_list_element(admin.list['namePeriod']) }} -

{% endblock %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{% import "CABAdminBundle:CRUD:custom_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {#{{ sonata_block_render_event('sonata.admin.edit.form.top', { 'admin': admin, 'object': object }) }}#}

    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <section class="panel">
            {{ form_start(form,{"attr":{"class":"form-inline","id":"form-tarif","action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"novalidate":"novalidate" }}) }}

                <header class="panel-heading">
                    <div class="panel-actions">
                        <a class="fa fa-caret-down" href="#"></a>
                        <a class="fa fa-times" href="#"></a>
                    </div>
                    <h2 class="panel-title"> Type vehicle and Price configuration </h2>
                </header>
                <div class="panel-body">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-md-12">
                            {{ form_label(form.nameType) }}
                            {{ form_row(form.nameType) }}
                        </div>
                    </div>
                    <div class="row top20">
                        <div class="col-md-12">
                            {{ form_label(form.tarifTypeVehicle) }}
                            <div class="row">
                                <div class="panel-body">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    {{ form_label(form.tarifTypeVehicle.company) }}
                                                    {{ form_row(form.tarifTypeVehicle.company, { 'id': 'tarif-company'} ) }}
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="row">
                                                    {{ form_label(form.tarifTypeVehicle.tarifType) }}
                                                    {{ form_row(form.tarifTypeVehicle.tarifType) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row top20">
                                        <div class="form-group">

                                        </div>
                                    </div>
                                    <div id="tarif-taxi" class="form-group top20" style="">

                                        <div class="row">
                                            {% if (form.tarifTypeVehicle.tarifPC is defined) %}
                                                <div class="col-md-3">
                                                    {{ form_row(form.tarifTypeVehicle.tarifPC) }}
                                                </div>
                                            {% endif %}

                                            {% if (form.tarifTypeVehicle.tarifA is defined) %}
                                                <div class="col-md-3">
                                                    {{ form_row(form.tarifTypeVehicle.tarifA) }}
                                                </div>
                                            {% endif %}


                                            {% if (form.tarifTypeVehicle.tarifB is defined) %}
                                                <div class="col-md-3">
                                                    {{ form_row(form.tarifTypeVehicle.tarifB) }}
                                                </div>
                                            {% endif %}

                                            {% if (form.tarifTypeVehicle.tarifC is defined) %}
                                                <div class="col-md-3">
                                                    {{ form_row(form.tarifTypeVehicle.tarifC) }}
                                                </div>
                                            {% endif %}

                                            {% if (form.tarifTypeVehicle.tarifD is defined) %}
                                                <div class="col-md-3">
                                                    {{ form_row(form.tarifTypeVehicle.tarifD) }}
                                                </div>
                                            {% endif %}
                                            {% if (form.tarifTypeVehicle.slowWalkPerHour is defined) %}
                                                <div class="col-md-4">
                                                    {{ form_row(form.tarifTypeVehicle.slowWalkPerHour) }}
                                                </div>
                                            {% endif %}
                                            {% if (form.tarifTypeVehicle.minPrice is defined) %}
                                                <div class="col-md-4">
                                                    {{ form_row(form.tarifTypeVehicle.minPrice) }}
                                                </div>
                                            {% endif %}

                                        </div>
                                        <div class="row">

                                            {% if (form.tarifTypeVehicle.luggage is defined) %}
                                                <div class="col-md-3">
                                                    {{ form_row(form.tarifTypeVehicle.luggage) }}
                                                </div>
                                            {% endif %}

                                            {% if (form.tarifTypeVehicle.person is defined) %}
                                                <div class="col-md-3">
                                                    {{ form_row(form.tarifTypeVehicle.person) }}
                                                </div>
                                            {% endif %}

                                        </div>

                                        <div class="row">
                                            {% if (form.tarifTypeVehicle.tarifEquipment is defined) %}
                                                <div class="col-md-4">
                                                    {{ form_row(form.tarifTypeVehicle.tarifEquipment) }}
                                                </div>
                                            {% endif %}
                                            {% if (form.tarifTypeVehicle.tarifHandicapWheelchair is defined) %}
                                                <div class="col-md-4">
                                                    {{ form_row(form.tarifTypeVehicle.tarifHandicapWheelchair) }}
                                                </div>
                                            {% endif %}

                                            {% if (form.tarifTypeVehicle.tarifBabySeat is defined) %}
                                                <div class="col-md-4">
                                                    {{ form_row(form.tarifTypeVehicle.tarifBabySeat) }}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="row">
                                            {% if (form.tarifTypeVehicle.packageApproach is defined) %}
                                                <div class="col-md-6">
                                                    {{ form_row(form.tarifTypeVehicle.packageApproach) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            {% if (form.tarifTypeVehicle.hourNightTarif is defined) %}
                                                <div class="col-md-6">
                                                    {{ form_label(form.tarifTypeVehicle.hourNightTarif) }}
                                                    {{ form_row(form.tarifTypeVehicle.hourNightTarif) }}
                                                </div>
                                            {% endif %}
                                        </div>

                                        <div class="row col-md-12 top30">
                                            <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Hours Morning</h5>
                                            <section class="panel panel-horizontal">
                                                <header class="panel-heading bg-primary">
                                                    <div class="panel-heading-icon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </header>
                                                <div class="panel-body p-lg">

                                                    <div id="form-morning" style="display: block;">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.mondayMorningFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.mondayMorningTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.mondayMorningIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.thursdayMorningFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.thursdayMorningTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.thursdayMorningIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.wednesdayMorningFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.wednesdayMorningTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.wednesdayMorningIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.tuesdayMorningFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.tuesdayMorningTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.tuesdayMorningIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.fridayMorningFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.fridayMorningTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.fridayMorningIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.saturdayMorningFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.saturdayMorningTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.saturdayMorningIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.sundayMorningFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.sundayMorningTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.sundayMorningIncrease) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="row col-md-12 top30">
                                            <h5 class="text-semibold text-dark text-uppercase mb-md mt-lg">Hours Night</h5>
                                            <section class="panel panel-horizontal">
                                                <header class="panel-heading bg-primary">
                                                    <div class="panel-heading-icon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </header>
                                                <div class="panel-body p-lg">

                                                    <div id="form-Night" style="display: block;">
                                                        <div class="form-group">
                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.mondayNightFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.mondayNightTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.mondayNightIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.thursdayNightFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.thursdayNightTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.thursdayNightIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.wednesdayNightFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.wednesdayNightTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.wednesdayNightIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.tuesdayNightFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.tuesdayNightTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.tuesdayNightIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.fridayNightFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.fridayNightTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.fridayNightIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.saturdayNightFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.saturdayNightTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.saturdayNightIncrease) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.sundayNightFrom) }}
                                                            </div>

                                                            <div class="col-md-4">
                                                                {{ form_row(form.tarifTypeVehicle.sundayNightTo) }}
                                                            </div>

                                                            <div class="col-md-3">
                                                                {{ form_row(form.tarifTypeVehicle.sundayNightIncrease) }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>

                                    <div id="tarif-km" class="form-group top20" style="display: none;">
                                        km
                                    </div>

                                    <div id="tarif-forfait" class="form-group top20" style="display: none;">
                                        forfait
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    {{ form_widget(form._token) }}

                </div>
                </div>
                <footer class="panel-footer">
                    {% block formactions %}
                        <div class="form-actions">
                            {% if app.request.isxmlhttprequest %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% else %}
                                {% if admin.supportsPreviewMode %}
                                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                        <i class="fa fa-eye"></i>
                                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}

                                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}

                                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                        <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </footer>
            {{ form_end(form) }}
        </section>
        <script>
            $('#navconfiguration').addClass('nav-expanded');
            $('#navconfigurationprice').css("color", "white");
        </script>
    {% endif %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>

{% endblock javascripts %}

