{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}


{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{# {% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %} #}
{% import "CABAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    <script src="{{ asset('bundles/cabadmin/javascripts/ckeditor/ckeditor.js') }}"></script>
    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        <section class="panel">
            {% if admin_pool.getOption('form_type') == 'horizontal' %} {% set class = 'form-bordered form-horizontal' %}{% else %}{% set class = 'form-horizontal' %}{% endif %}
            {{ form_start(form,{"attr":{"class":class,"role":"form","action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"id":admin.classnameLabel,"novalidate":"novalidate"}}) }}

                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table mb-none">
                            <thead>
                                <tr>
                                    <th class="">{% trans %}VEHICULE{% endtrans %}</th>
                                    <th class="">{% trans %}DRIVER{% endtrans %}</th>
                                    <th class="center">{% trans %}KM{% endtrans %}</th>
                                    <th class="left hidden-phone" width="10%">{% trans %}LIC NUMBER{% endtrans %}</th>
                                    <th class="left hidden-phone" width="10%">{% trans %}LIC PAGE{% endtrans %}</th>
                                    <th class="left hidden-phone" width="10%">{% trans %}SERVICE DEBUT{% endtrans %} |
                                        SERVICE FIN
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ form_widget(form.vehicule, { 'id': 'cab-vehicle-sss-id'} ) }}</td>
                                    <td>{% if form.driver is defined %}{{ form_widget(form.driver, { 'id': 'cab-driver-vf-sss-id'}) }}{% endif %}</td>
                                    <td>{{ form_widget(form.KM) }}</td>
                                    <td>{{ form_widget(form.numberlic) }}</td>
                                    <td>{{ form_widget(form.numberlicpager) }}</td>
                                    <td>{{ form_widget(form.debutservice) }} | {{ form_widget(form.finservice) }} </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div>
                        <table>
                            <thead>
                            <tr>file</tr>
                            </thead>
                            <tbody>
                            <td>
                            <td colspan="5">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group"
                                             id="">
                                            {{ form_label(form.numberlicpagerfile) }}
                                            <div class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                {{ form_widget(form.fileType) }}
                                            </div>
                                            <div id="fileType_1"
                                                 class="fileType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                 style="display: none;">
                                                {{ form_widget(form.nameFilePDF) }}
                                            </div>
                                            <div id="fileType_2"
                                                 class="fileType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural"
                                                 style="display: none;">
                                                {{ form_widget(form.numberlicpagerfile) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            </td>
                            </tbody>

                        </table>
                    </div>
                    {{ form_errors(form) }}
                    {{ form_widget(form._token) }}
                </div>
                <footer class="panel-footer">
                    {% block formactions %}
                        <div class="form-actions">
                            {% if app.request.isxmlhttprequest %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% else %}
                                {% if admin.supportsPreviewMode %}
                                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                        <i class="fa fa-eye"></i>
                                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}

                                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}

                                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                        <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </footer>
            {{ form_end(form) }}
        </section>
        {#{{ block('parentForm') }}#}

        <script>
            $('#navconfcar').addClass('nav-expanded');
            $('#navaffectlist').css("color", "white");
        </script>
    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>

    <script>
        $(document).ready(function () {
            var fileType = $("input[name='{{ admin.uniqid }}[fileType]']");
            $('#fileType_' + fileType.val()).show();

            fileType.on('change', function () {
                $('.fileType_class').hide();
                $('#fileType_' + $(this).val()).show();
            });
        });
    </script>
{% endblock javascripts %}
