{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% trans_default_domain 'backend' %}
{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
{% endblock %}


{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}


        {% for name, view_group in admin.showgroups %}


    <div class="row">
						<div class="col-md-4 col-lg-3">

							<section class="panel">
								<div class="panel-body">
									<div class="thumb-info mb-md">
										<img class="rounded img-responsive" src="/uploads/vehicule/{{ object.photoFront }}">
										<div class="thumb-info-title">
											<span class="thumb-info-inner">{{ object.licensePlateNumber }}</span>

                                                                                        {% set array = object.typeVehicule.nameType %}
                                                                                        <span class="thumb-info-type">{{array}}</span>
										</div>

									</div>
                                                                                <hr class="dotted short">
                                                                              <div class="form-group">
                                                                               <div class="form-group">
                                                                                   <label class="col-md-3 control-label"> {% trans %}Activate{% endtrans %}</label>


                                                                        {% if object.isActive == 1 %}
                                <div class="text-right">
                                <span class="label label-success"> YES </span>
                                </div>
                                {% else %}
                                <div class="text-right">
                                <span class="label label-danger"> NO </span>
                                </div>
                                {% endif %}
                                </div>


                                                                </div>
							</section>


							<section class="panel">
								<header class="panel-heading">
									<div class="panel-actions">
										<a class="fa fa-caret-down" href="#"></a>
										<a class="fa fa-times" href="#"></a>
									</div>

									<h2 class="panel-title">
										<span class="label label-primary label-sm text-normal va-middle mr-sm">198</span>
										<span class="va-middle">{% trans %}Driver affect{% endtrans %}</span>
									</h2>
								</header>
								<div class="panel-body">
									<div class="content">
										<ul class="simple-user-list">
											<li>
												<figure class="image rounded">
													<img class="img-circle" alt="Joseph Doe Junior" src="assets/images/!sample-user.jpg">
												</figure>
												<span class="title">Joseph Doe Junior</span>
												<span class="message truncate">Lorem ipsum dolor sit.</span>
											</li>


										</ul>
										<hr class="dotted short">
										<div class="text-right">
											<a href="#" class="text-uppercase text-muted">(View All)</a>
										</div>
									</div>
								</div>
								<div class="panel-footer">
									<div class="input-group input-search">
										<input type="text" placeholder="Search..." id="q" name="q" class="form-control">
										<span class="input-group-btn">
											<button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
											</button>
										</span>
									</div>
								</div>
							</section>



						</div>
						<div class="col-md-8 col-lg-6">
                                                <div id="accordion2" class="panel-group">
								<div class="panel panel-accordion panel-accordion-primary">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
												<i class="fa fa-star"></i> {% trans %}Detail{% endtrans %}  {{object.vehiculeName}}
											</a>
										</h4>
									</div>
									<div class="accordion-body collapse" id="collapse2One" aria-expanded="false" style="height: 0px;">
										<div class="panel-body">

                                                                                    <div class="col-md-4 col-lg-3">
                                                                                    {% trans %}Mark{% endtrans %}: {{object.make}}
                                                                                    </div>
                                                                                    <div class="col-md-4 col-lg-3">
                                                                                    {% trans %}Model{% endtrans %}: {{object.vehiculeName}}
                                                                                    </div>
                                                                                    <div class="col-md-4 col-lg-3">
                                                                                    {% trans %}Year{% endtrans %}: {{object.year}}
                                                                                    </div>
                                                                                    <div class="col-md-4 col-lg-3">
                                                                                    {% trans %}Vin{% endtrans %}: {{object.vin}}
                                                                                    </div>
                                                                                </div>
                                                                                    <div class="panel-body">

                                                                                    <div class="col-md-4 col-lg-3">
                                                                                    {% trans %}Statut{% endtrans %}: {{object.statusCar}}
                                                                                    </div>
                                                                                    <div class="col-md-4 col-lg-4">
                                                                                    {% trans %}Handicap{% endtrans %}:
                                                                                       {% if object.isForHandicap == 1 %}
                                                                                    <span class="label label-success"> YES </span>
                                                                                        {% else %}
                                                                                    <span class="label label-danger"> NO </span>
                                                                                        {% endif %}
                                                                                    </div>
                                                                                    <div class="col-md-4">
                                                                                    {% trans %}Added at{% endtrans %}: {{object.createdAt.date|date("m/d/Y")}}
                                                                                    </div>
                                                                                </div>
									</div>
								</div>
								<div class="panel panel-accordion panel-accordion-primary">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse2Two" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
												<i class="fa fa-cogs"></i> Service
											</a>
										</h4>
									</div>
									<div class="accordion-body collapse" id="collapse2Two" aria-expanded="false">
										<div class="panel-body">
											?? Récuperer le service du véhicule ??
										</div>
									</div>
								</div>
								<div class="panel panel-accordion panel-accordion-primary">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse2Three" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
												<i class="fa fa-cloud"></i>{% trans %}Picture for the car{% endtrans %}
											</a>
										</h4>
									</div>
									<div class="accordion-body collapse" id="collapse2Three" aria-expanded="false">
										  <div class="panel-body">

                                                <div class="">
                                                    <div class="tabs tabs-vertical tabs-left">
                                                        <ul class="nav nav-tabs col-sm-3 col-xs-5">
                                                            <li class="active">
                                                                <a data-toggle="tab" href="#popular11" aria-expanded="true"><i
                                                                            class=""></i> {% trans %}Front picture{% endtrans %}
                                                                </a>
                                                            </li>
                                                            <li class="">
                                                                <a data-toggle="tab" href="#recent11"
                                                                   aria-expanded="false"> {% trans %}Interior picture{% endtrans %}</a>
                                                            </li>
                                                            <li class="">
                                                                <a data-toggle="tab" href="#recent12"
                                                                   aria-expanded="false"> {% trans %}Back picture{% endtrans %}</a>
                                                            </li>

                                                        </ul>
                                                        <div class="tab-content col-md-3">
                                                            <div class="tab-pane active" id="popular11">

                                                                <img alt="ImageFront" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoFront }}">

                                                            </div>
                                                            <div class="tab-pane" id="recent11">

                                                                <img alt="photoInteroir" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoInterior }}">

                                                            </div>

                                                            <div class="tab-pane" id="recent12">

                                                                <img alt="photoback" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoBack }}">

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
									</div>
								</div>
                                                                     <div class="panel panel-accordion panel-accordion-primary">
									<div class="panel-heading">
										<h4 class="panel-title">
											<a href="#collapse3Three" data-parent="#accordion3" data-toggle="collapse" class="accordion-toggle collapsed" aria-expanded="false">
												<i class="fa fa-cloud"></i>{% trans %}Document for the car{% endtrans %}
											</a>
										</h4>
									</div>
                                            <div class="accordion-body collapse" id="collapse3Three" aria-expanded="false">
										  <div class="panel-body">

                                                <div class="">
                                                    <div class="tabs tabs-vertical tabs-left">
                                                        <ul class="nav nav-tabs col-sm-3 col-xs-5">
                                                            <li class="active">
                                                                <a data-toggle="tab" href="#popular11" aria-expanded="true"><i
                                                                            class=""></i> {% trans %}Grey registration card{% endtrans %}
                                                                </a>
                                                            </li>
                                                            <li class="">
                                                                <a data-toggle="tab" href="#recent11"
                                                                   aria-expanded="false"> {% trans %}Insurance card{% endtrans %}</a>
                                                            </li>
                                                            <li class="">
                                                                <a data-toggle="tab" href="#recent12"
                                                                   aria-expanded="false"> {% trans %}Vehicle technical certificate{% endtrans %}</a>
                                                            </li>

                                                        </ul>
                                        <div class="tab-content col-md-3">
                                            <div class="tab-pane active" id="popular11">

                                                                <img alt="ImageFront" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoFront }}">

                                            </div>
                                            <div class="tab-pane" id="recent11">

                                                                <img alt="Avatar" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoFront }}">

                                            </div>

                                                            <div class="tab-pane" id="recent12">

                                                                <img alt="medicalExamination" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoFront }}">

                                                            </div>

                                                            <div class="tab-pane" id="recent13">

                                                                <img alt="pieceIdentity" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoFront }}">
                                                            </div>

                                                            <div class="tab-pane" id="recent14">
                                                            <img alt="lockerJudiciare" class="rounded img-responsive"
                                                                     src="/uploads/vehicule/{{ object.photoFront }}">
                                                            </div>
                                        </div>
                                                    </div>
                                                </div>


                                            </div>
									</div>
								</div>
							</div>

						</div>
						<div class="col-md-12 col-lg-3">


							<ul class="simple-card-list mb-xlg">
								<li class="primary">
									<h3>488 Km</h3>
									<p>{% trans %}Distance traveled{% endtrans %}</p>
								</li>
								<li class="primary">
									<h3>520,00 EUR</h3>
									<p>{% trans %}Turnover{% endtrans %}</p>
								</li>
								<li class="primary">
									<h3>16</h3>
									<p>{% trans %}Transfer made{% endtrans %}</p>
								</li>
                                                                <li class="primary">
									<h3>0,030 t </h3>
									<p>{% trans %}Quantity of CO2{% endtrans %}</p>
								</li>
							</ul>

						</div>

					</div>






            <table class="table table-bordered">
                {% if name %}
                    <thead>
                        {% block show_title %}
                            <tr class="sonata-ba-view-title">
                                <th colspan="2">
                                    {{ name|trans }}
                                </th>
                            </tr>
                        {% endblock %}
                    </thead>
                {% endif %}

                <tbody>
                    {% for field_name in view_group.fields %}
                        {% block show_field %}
                            <tr class="sonata-ba-view-container">
                                {% if elements[field_name] is defined %}
                                    {{ elements[field_name]|render_view_element(object) }}
                                {% endif %}
                            </tr>
                        {% endblock %}
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
{% endblock %}
