{% extends base_template %}
{% trans_default_domain 'backend' %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
            {% endif %}
        {% endspaceless %}
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block list_table %}
    {% for object in admin.datagrid.results %}
    {% endfor %}

<div class="panel-body">
  <h2>{% trans %}LIST MAINTENANCE CAR{% endtrans %}</h2>
</div>
<div class="panel-body">
    {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
    {% set batchactions = admin.batchactions %}
    <div class="table-responsive">
        <table class="table mb-none">
            {% block table_body %}
                <thead>
                <tr>
                    <th></th>
                    <th>{% trans %}CAR{% endtrans %}</th>
                    <th>{% trans %}DATE{% endtrans %}</th>
                    <th>{% trans%}KM{% endtrans %}</th>
                    <th>{% trans %}DAY IMMOB{% endtrans %}</th>
                    <th>{% trans %}AMOUNT{% endtrans %}</th>
                    <th>{% trans %}REPAIR{% endtrans %}</th>
                    <th>{% trans %}INVOICE{% endtrans %}</th>
                    <th>{% if is_granted('ROLE_ADMINCOMPANY') or is_granted('ROLE_DRIVER') %}ACTION {% endif %}</th>
                </tr>
                </thead>
                <tbody>
                    {% for object in admin.datagrid.results %}
                        <tr>
                            <td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{object.id}}">
                                <input name="idx[]" value="{{object.id}}" type="checkbox"></td>
                            <td>{{ object.vehicule.licensePlateNumber }}</td>
                            <td>{{ object.createdAt|date("d/m/Y H:i") }}</td>
                            <td>{{ object.km }}</td>
                            <td>{{ object.Dayimmo|date('%d') }}</td>
                            <td>{{ object.amount }}</td>
                            <td>
                                {% if object.oilchange == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}OIL CHANGE{% endtrans %}</p>
                                    </div>
                                {% endif %}
                                {% if object.oilfilter == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}OIL FILTRE{% endtrans %} </p>
                                    </div>
                                {% endif %}
                                {% if object.fronttyres == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}fronttyres{% endtrans %}</p>
                                    </div>
                                {% endif %}
                                {% if object.reartyres == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}reartyres{% endtrans %}</p>
                                    </div>
                                {% endif %}
                                {% if object.battery == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}battery{% endtrans %} </p>
                                    </div>
                                {% endif %}
                                {% if object.chassis == 1 %}
                                    <div class="text-left ">
                                        <p> - {% trans %}chassis{% endtrans %} </p>
                                    </div>
                                {% endif %}
                                {% if object.brokenwindows == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}brokenwindows{% endtrans %} </p>
                                    </div>
                                {% endif %}
                                {% if object.bulbs == 1 %}
                                    <div class="text-left">
                                        <p class=""> - {% trans %}bulbs{% endtrans %} </p>

                                    </div>
                                {% endif %}
                                {% if object.frontbrakepads == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}frontbrakepads{% endtrans %} </p>
                                    </div>
                                {% endif %}
                                {% if object.rearbrakepads == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}rearbrakepads{% endtrans %} </p>
                                    </div>
                                {% endif %}
                                {% if object.frontbrakediscs == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}frontbrakediscs{% endtrans %} </p>
                                    </div>
                                {% endif %}
                                {% if object.rearbrakediscs == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}rearbrakediscs{% endtrans %}</p>
                                    </div>
                                {% endif %}
                                {% if object.tow == 1 %}
                                    <div class="text-left">
                                        <p> - {% trans %}tow{% endtrans %}</p>
                                    </div>
                                {% endif %}
                                <div>
                                    <p>{{ object.detail }}</p>
                                </div>

                            </td>
                            <td>
                                {% if 'pdf' in object.fileName %}
                                    <a href="/uploads/vehicle/maintenance/{{ object.fileName }}" target="_blank">{% trans %}view{% endtrans %} pdf</a>
                                {% else %}
                                    {% if object.FileName is not null %}
                                        <a href="/uploads/vehicle/maintenance/{{ object.fileName }}" target="_blank">{% trans %}view{% endtrans %}</a>
                                    {% endif %}
                                {% endif %}
                            </td>
                            <td> {% if is_granted('ROLE_ADMINCOMPANY') or is_granted('ROLE_DRIVER') %}
                                    <ul class="list-inline">
                                        <li>
                                            {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
                                        </li>
                                        {% if is_granted('ROLE_ADMINCOMPANY') or (object.driver.id == app.user.id ) %}
                                            <li>
                                                {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </td>

                        </tr>
                    {% endfor%}
                    {% block table_footer %}
            <tfoot>
            <tr>
                <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                    <div class="form-inline">
                        {% if not app.request.isXmlHttpRequest %}
                        {% if admin.hasRoute('batch') and batchactions|length > 0 and is_granted('ROLE_ADMINCOMPANY') %}
                            {% block batch %}
                            <script>
                                {% block batch_javascript %}
                                jQuery(document).ready(function ($) {
                                    $('#list_batch_checkbox').on('ifChanged', function () {
                                        $(this)
                                                .closest('table')
                                                .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                                        ;
                                    });

                                    $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                            .on('ifChanged', function () {
                                                $(this)
                                                        .closest('tr')
                                                        .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                ;
                                            })
                                            .trigger('ifChanged')
                                    ;
                                });
                                {% endblock %}
                            </script>

                            {% block batch_actions %}

                            <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                ({{ admin.datagrid.pager.nbresults }})
                            </label>

                            <select name="action" style="width: auto; height: auto" class="form-control">
                                {% for action, options in batchactions %}
                                    <option value="{{ action }}">{{ options.label }}</option>
                                {% endfor %}
                            </select>


                            {% endblock %}

                        <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                            {% endblock %}
                        {% endif %}

                            <div class="pull-right">



                                {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon glyphicon-export"></i>
                                            {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            {% for format in admin.getExportFormats() %}
                                            <li>
                                                <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                    <i class="glyphicon glyphicon-download"></i>
                                                    {{ format|upper }}
                                                </a>
                                            <li>
                                                {% endfor %}
                                        </ul>
                                    </div>

                                    -
                                {% endif %}

                                {% block pager_results %}
                                    {% include admin.getTemplate('pager_results') %}
                                {% endblock %}
                            </div>
                        {% endif %}
                    </div>
                </th>
            </tr>

            {% block pager_links %}
                {% if admin.datagrid.pager.haveToPaginate() %}
                    {% include admin.getTemplate('pager_links') %}
                {% endif %}
            {% endblock %}

            </tfoot>
            {% endblock %}
            </table>
        {% endblock %}
    </div>
    </div>

    <script>
        $(document).ready(function () {

        });

        $('#navconfcar').addClass('nav-expanded');
        $('#navmaintenancelist').css("color", "white");
    </script>

{%endblock%}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>

            <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                        {{ filter.label|trans({}, filter.translationDomain) }}
                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}


