{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% trans_default_domain 'backend' %}


{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endblock %}


{% block show %}
    <div class="sonata-ba-view">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% for name, view_group in admin.showgroups %}
            {% set countPictureMissingFront = 0 %}
            {% if object.photoFront == null %}
                {% set countPictureMissingFront = countPictureMissingFront + 1 %}
            {% endif %}
            {% set countPictureMissingInterior = 0 %}
            {% if object.photoInterior == null %}
                {% set countPictureMissingInterior = countPictureMissingInterior + 1 %}
            {% endif %}
            {% set countPictureMissingBack = 0 %}
            {% if object.photoBack == null %}
                {% set countPictureMissingBack = countPictureMissingBack + 1 %}
            {% endif %}
            {%set countMissingPicture = countPictureMissingFront + countPictureMissingInterior + countPictureMissingBack %}

            {% set countDocumentMissing = 0 %}
            {% if object.docGreyRegistrationCard is null %}
                {% set countDocumentMissing = countDocumentMissing + 1 %}
            {% endif %}
            {% if object.docInsuranceCard is null %}
                {% set countDocumentMissing = countDocumentMissing + 1 %}
            {% endif %}
            {% if object.docVehicleTechCertif is null %}
                {% set countDocumentMissing = countDocumentMissing + 1 %}
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    <section class="panel">
                        <div class="panel-body">
                            <div class="thumb-info mb-md">
                                <img class="rounded img-responsive" src="/uploads/vehicule/{{ object.photoFront }}">
                                <div class="thumb-info-title">
                                    <span class="thumb-info-inner">{{ object.licensePlateNumber }}</span>
                                    {% set array = object.typeVehicule.nameType %}
                                    <span class="thumb-info-type">{{ array }}</span>
                                </div>
                            </div>
                            <hr class="dotted short">
                            <div class="form-group">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"> {% trans %}Activate{% endtrans %}</label>
                                    {% if object.isActive == 1 %}
                                        <div class="text-right">
                                            <span class="label label-success">{% trans %} YES {% endtrans %} </span>
                                        </div>
                                    {% else %}
                                        <div class="text-right">
                                            <span class="label label-danger">{% trans %} NO  {% endtrans %}</span>
                                        </div>
                                    {% endif %}
                                </div>
                                <hr class="dotted short">
                                <a class="btn btn-sm btn-default view_link" target=""
                                   href="{{ admin.generateObjectUrl('edit', object) }}"> {% trans %}Edit this car{% endtrans %}</a>
                            </div>
                        </div>
                    </section>


                    <section class="panel">
                        <header class="panel-heading">
                            <div class="panel-actions">
                                <a id="affectdriver" class="fa fa-caret-down" href="#"></a>
                                <a class="fa fa-times" href="#"></a>
                            </div>

                            <h2 class="panel-title">
                                <span class="label label-primary label-sm text-normal va-middle mr-sm">{{ elements.data.options.countaffect }}</span>
                                <span class="va-middle">{% trans %}Driver affect{% endtrans %}</span>
                            </h2>
                        </header>
                        <div class="panel-body" id="driveraffect1">
                            <div class="content">

                                <table class="table table-bordered table-striped mb-none" id="datatable-tabletools" data-swf-path="assets/vendor/jquery-datatables/extras/TableTools/swf/copy_csv_xls_pdf.swf">
                                    <thead>
                                        <tr><th>Date</th>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbody_vehicule_affect">
                                    {% for i,key in elements.data.options.affect %}
                                        <tr>
                                            <td>
                                                {{ key.DATE }}
                                            </td>
                                            <td>
                                                {{ key.firstName|e }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div class="panel-footer" id="driveraffect2">
                            <div class="input-group input-search">
                                <input type="text" placeholder="Search..." id="input_find_vehicule_affect" name="q" class="form-control">
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default" id="button_find_vehicule_affect"><i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </section>


                </div>
                <div class="col-md-8 col-lg-6">
                    <div id="accordion2" class="panel-group">
                        <div class="panel panel-accordion panel-accordion-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse"
                                       class="accordion-toggle collapsed" aria-expanded="false">
                                        <i class="fa fa-star"></i> {% trans %}Detail{% endtrans %}  {{ object.vehiculeName }}
                                    </a>
                                </h4>
                            </div>
                            <div class="accordion-body collapse" id="collapse2One" aria-expanded="false"
                                 style="height: 0px;">
                                <div class="panel-body">

                                    <div class="col-md-4 col-lg-3">
                                        {% if  object.vehicleModel.vehicleMake is defined %}
                                            {% trans %}Mark{% endtrans %}: {{ object.vehicleModel.vehicleMake }}
                                        {%endif%}
                                    </div>
                                    <div class="col-md-4 col-lg-3">
                                        {% trans %}Model{% endtrans %}: {{ object.vehicleModel }}
                                    </div>

                                    <div class="col-md-4 col-lg-3">
                                        {% trans %}Vin{% endtrans %}: {{ object.vin }}
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div class="col-md-4">
                                        {% trans %}Statut{% endtrans %}: {{ object.statusCar }}
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        {% trans %}Handicap{% endtrans %}:
                                        {% if object.isForHandicap == 1 %}
                                            <span class="label label-success">{% trans %}YES{% endtrans %}</span>
                                        {% else %}
                                            <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        {% trans %}CPAM{% endtrans %}:
                                        {% if object.cpam == 1 %}
                                            <span class="label label-success">{% trans %}YES{% endtrans %}</span>
                                        {% else %}
                                            <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        {% trans %}Partage Company{% endtrans %}:
                                        {% if object.partageCompany == 1 %}
                                            <span class="label label-success">{% trans %}YES{% endtrans %}</span>
                                        {% else %}
                                            <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        {% trans %}Added at{% endtrans %}: {{ object.createdAt.date|date("m/d/Y") }}
                                    </div>
                                </div>
                                <div class="panel-body">

                                    <div class="col-md-4">
                                        {% trans %}Capacity number{% endtrans %}: {{ object.nbPerson }}
                                    </div>
                                    <div class="col-md-4 col-lg-4">
                                        {% trans %}Capacity Suitcases {% endtrans %}: {{ object.suitcases }}
                                    </div>
                                    <div class="col-md-4">
                                        {% trans %}Service out{% endtrans %}:
                                        {% if object.isOutOfService == 1 %}
                                            <span class="label label-success">{% trans %}YES{% endtrans %}</span>
                                        {% else %}
                                            <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-accordion panel-accordion-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse2Two" data-parent="#accordion2" data-toggle="collapse"
                                       class="accordion-toggle collapsed" aria-expanded="false">
                                        <i class="fa fa-cogs"></i> Service
                                    </a>
                                </h4>
                            </div>
                            <div class="accordion-body collapse" id="collapse2Two" aria-expanded="false">
                                <div class="panel-body">
                                    {% for s in object.servicesTransportVehicles %}

                                        |<b> {{ s.serviceName}} </b>|

                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-accordion panel-accordion-primary">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse2Three" data-parent="#accordion2" data-toggle="collapse"
                                       class="accordion-toggle collapsed" aria-expanded="false">
                                        <i class="fa fa-cloud"></i>{% trans %}Picture for the car{% endtrans %}
                                        {% if countMissingPicture > 0 %}
                                            <span href="#modalFullColorWarning" class="modal-basic btn btn-warning right" style="margin-left:10px">{{ countMissingPicture }} </span>
                                        {% endif %}
                                    </a>
                                </h4>
                            </div>
                            <div class="accordion-body collapse" id="collapse2Three" aria-expanded="false">
                                <div class="panel-body">
                                    <div class="">
                                        <div class="tabs tabs-vertical tabs-left">
                                            <ul class="nav nav-tabs col-sm-3 col-xs-5" id="select_image_show">
                                                <li class="active" data-name="FileFront">
                                                    <a data-toggle="tab" href="#popular11" aria-expanded="true"><i
                                                            class=""></i> {% trans %}Front picture{% endtrans %}
                                                    </a>
                                                </li>
                                                <li class="" data-name="FileInterior">
                                                    <a data-toggle="tab" href="#recent11"
                                                       aria-expanded="false"> {% trans %}Interior picture{% endtrans %}</a>
                                                </li>
                                                <li class="" data-name="FileBack">
                                                    <a data-toggle="tab" href="#recent12"
                                                       aria-expanded="false"> {% trans %}Back picture{% endtrans %}</a>
                                                </li>

                                            </ul>
                                            <div class="tab-content col-md-3">
                                                <div class="tab-pane active" id="popular11">

                                                    <img alt="ImageFront" class="rounded img-responsive"
                                                         src="/uploads/vehicule/{{ object.photoFront }}">
                                                </div>
                                                <div class="tab-pane" id="recent11">
                                                    <img alt="photoInteroir" class="rounded img-responsive"
                                                         src="/uploads/vehicule/{{ object.photoInterior }}">
                                                </div>
                                                <div class="tab-pane" id="recent12">

                                                    <img alt="photoback" class="rounded img-responsive"
                                                         src="/uploads/vehicule/{{ object.photoBack }}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-xs-5"></div>
                                            <div class="col-sm-9 col-xs-7">
                                              {{ form_start(new_image_cropp, {'method': 'POST', 'action': admin.generateObjectUrl('update_image', object)}) }}
                                              {{ form_widget(new_image_cropp.type_field) }}

                                              {{ form_label(new_image_cropp.update_image) }}
                                              {{ form_widget(new_image_cropp.update_image) }}
                                                <p class="form_actions">
                                                    <button type="submit"
                                                            class="btn btn-primary">{{ 'Update'|trans }}</button>
                                                </p>
                                              {{ form_end(new_image_cropp) }}
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                        <div class="panel panel-accordion panel-accordion-primary">

                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a href="#collapse3Three" data-parent="#accordion3" data-toggle="collapse"
                                       class="accordion-toggle collapsed" aria-expanded="false">
                                        <i class="fa fa-cloud"></i>{% trans %}Document for the car{% endtrans %}
                                        {% if countDocumentMissing > 0 %}
                                            <span href="#modalFullColorWarning" class="modal-basic btn btn-danger">{{ countDocumentMissing}} </span>
                                        {% endif %}
                                    </a>
                                </h4>
                            </div>
                            <div class="accordion-body collapse" id="collapse3Three" aria-expanded="false">
                                <div class="panel-body">
                                    <div class="panel-body">
                                        <div class="">
                                            <div class="tabs tabs-vertical tabs-left">
                                                <ul class="nav nav-tabs col-sm-3 col-xs-5" id="select_doc_show">
                                                    <li class="active" data-name="FileGreyRegistrationCard">
                                                        <a data-toggle="tab" href="#popular14" aria-expanded="true"><i
                                                                class=""></i>{% trans %}Grey registration card{% endtrans %}
                                                        </a>
                                                    </li>
                                                    <li class="" data-name="FileInsuranceCard">
                                                        <a data-toggle="tab" href="#recent15"
                                                           aria-expanded="false">{% trans %}Insurance card{% endtrans %}</a>
                                                    </li>
                                                    <li class="" data-name="FileVehicleTechCertif">
                                                        <a data-toggle="tab" href="#recent16"
                                                           aria-expanded="false"> {% trans %}Vehicle technical certificate{% endtrans %}</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content col-md-12">
                                                    <div class="tab-pane active" id="popular14">
                                                        <div class="doc_block_show pdf_block_show" {% if 'pdf' not in object.docGreyRegistrationCard %} style="display: none;" {% endif %}>
                                                            <a href="/uploads/vehicule/documents/{{ object.docGreyRegistrationCard }}" target="_blank">{{ object.docGreyRegistrationCard }}</a>
                                                        </div>
                                                        <div class="doc_block_show image_block_show" {% if 'pdf' in object.docGreyRegistrationCard %} style="display: none;" {% endif %}>
                                                            <img alt="ImageFront" class="rounded img-responsive" src="/uploads/vehicule/documents/{{ object.docGreyRegistrationCard }}">
                                                        </div>
                                                        {% if object.expiredocGreyRegistrationCard is not null %}
                                                        <div class="center">

                                                            <h2>Expire : <span class="block_date_expire_text">{{ object.expiredocGreyRegistrationCard | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                {% set expiredocGreyRegistrationCard =  object.expiredocGreyRegistrationCard %}
                                                                {% set now =  "now"|date("m/d/Y")  %}
                                                                {% set diffdocGreyRegistrationCard = date(now).diff(date(expiredocGreyRegistrationCard)) %}
                                                                {% if "now"|date('Ymd')  > object.expiredocGreyRegistrationCard|date('Ymd') %}
                                                                    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="mb-xs mt-xs mr-xs btn btn-danger block_diff_days_count">{%trans%}UPLOAD YOUR DOCUMENT{%endtrans%}</a></h2>
                                                                {% elseif diffdocGreyRegistrationCard.days > 30 %}
                                                                <p class="mb-xs mt-xs mr-xs btn-success block_diff_days_count">{{ diffdocGreyRegistrationCard.days }} {%trans%}day{%endtrans%}</p></h2>
                                                            {% else %}
                                                                <p class="mb-xs mt-xs mr-xs btn-warning block_diff_days_count">{{ diffdocGreyRegistrationCard.days }} {%trans%}day{%endtrans%}</p></h2>
                                                            {% endif %}
                                                        </div>
                                                        {% endif %}
                                                    </div>

                                                    <div class="tab-pane" id="recent15">
                                                        <div class="doc_block_show pdf_block_show" {% if 'pdf' not in object.docInsuranceCard %} style="display: none;" {% endif %}>
                                                            <a href="/uploads/vehicule/documents/{{ object.docInsuranceCard }}" target="_blank">{{ object.docInsuranceCard }}</a>
                                                        </div>
                                                        <div class="doc_block_show image_block_show" {% if 'pdf' in object.docInsuranceCard %} style="display: none;" {% endif %}>
                                                            <img alt="docInsuranceCard" class="rounded img-responsive" src="/uploads/vehicule/documents/{{ object.docInsuranceCard }}">
                                                        </div>

                                                        {% if object.expiredocInsuranceCard is not null %}
                                                        <div class="center">
                                                            <h2>Expire : <span class="block_date_expire_text">{{ object.expiredocInsuranceCard | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                {% set expiredocInsuranceCard =  object.expiredocInsuranceCard %}
                                                                {% set now =  "now"|date("m/d/Y")  %}
                                                                {% set difference = date(now).diff(date(expiredocInsuranceCard)) %}
                                                                {% if "now"|date('Ymd')  > object.expiredocInsuranceCard|date('Ymd') %}
                                                                    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="mb-xs mt-xs mr-xs btn btn-danger block_diff_days_count">{%trans%}UPLOAD YOUR DOCUMENT{%endtrans%}</a></h2>
                                                                {% elseif difference.days > 30 %}
                                                                <p class="mb-xs mt-xs mr-xs btn-success block_diff_days_count">{{ difference.days }} {%trans%}day{%endtrans%}</p></h2>
                                                            {% else %}
                                                                <p class="mb-xs mt-xs mr-xs btn-warning block_diff_days_count">{{ difference.days }} {%trans%}day{%endtrans%}</p></h2>
                                                            {% endif %}
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                    <div class="tab-pane" id="recent16">
                                                        <div class="doc_block_show pdf_block_show" {% if 'pdf' not in object.docVehicleTechCertif %} style="display: none;" {% endif %}>
                                                            <a href="/uploads/vehicule/documents/{{ object.docVehicleTechCertif }}" target="_blank">{{ object.docVehicleTechCertif }}</a>
                                                        </div>
                                                        <div class="doc_block_show image_block_show" {% if 'pdf' in object.docVehicleTechCertif %} style="display: none;" {% endif %}>
                                                            <img alt="docVehicleTechCertif" class="rounded img-responsive" src="/uploads/vehicule/documents/{{ object.docVehicleTechCertif }}">
                                                        </div>

                                                        {% if object.expiredocVehicleTechCertif is not null %}
                                                        <div class="center">
                                                            <h2>Expire : <span class="block_date_expire_text">{{ object.expiredocVehicleTechCertif | format_date(null, 'fr', 'Europe/Paris', constant('IntlDateFormatter::LONG')) }}</span>
                                                                {% set expiredocVehicleTechCertif =  object.expiredocVehicleTechCertif %}
                                                                {% set now =  "now"|date("m/d/Y")  %}
                                                                {% set diffexpiredocVehicleTechCertif = date(now).diff(date(expiredocVehicleTechCertif)) %}
                                                                {% if "now"|date('Ymd')  > object.expiredocVehicleTechCertif|date('Ymd') %}
                                                                    <a href="{{ admin.generateObjectUrl('edit', object) }}" class="mb-xs mt-xs mr-xs btn btn-danger block_diff_days_count">{%trans%}UPLOAD YOUR DOCUMENT{%endtrans%}</a></h2>
                                                                {% elseif diffexpiredocVehicleTechCertif.days > 30 %}
                                                                <p class="mb-xs mt-xs mr-xs btn-success block_diff_days_count">{{ diffexpiredocVehicleTechCertif.days }} {%trans%}day{%endtrans%}</p></h2>
                                                            {% else %}
                                                                <p class="mb-xs mt-xs mr-xs btn-warning block_diff_days_count">{{ diffexpiredocVehicleTechCertif.days }} {%trans%}day{%endtrans%}</p></h2>
                                                            {% endif %}
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3 col-xs-5"></div>
                                                <div class="col-sm-9 col-xs-7">
                                                  {{ form_start(new_docs_cropp, {'method': 'POST', 'action': admin.generateObjectUrl('update_image', object)}) }}
                                                  {{ form_widget(new_docs_cropp.type_field) }}

                                                    <div class="form-group">
                                                        <div class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                          {{ form_widget(new_docs_cropp.upload_type) }}
                                                        </div>
                                                        <div id="upload_type_1" class="upload_type_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(new_docs_cropp.update_pdf, { 'attr': {'class': 'form-control'} }) }}
                                                        </div>
                                                        <div id="upload_type_2" class="upload_type_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(new_docs_cropp.update_image) }}
                                                        </div>
                                                    </div>

                                                  {{ form_row(new_docs_cropp.expired_date) }}
                                                    <div class="form-group">
                                                        <p class="form_actions">
                                                            <button type="submit"
                                                                    class="btn btn-primary">{{ 'Update'|trans }}</button>
                                                        </p>
                                                    </div>
                                                  {{ form_end(new_docs_cropp) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>
                <div class="col-md-12 col-lg-3" style="margin-top:-15px">
                    <ul class="simple-card-list mb-xlg">
                        <li class="primary">
                            <h3>{{elements.data.options.sumecart}} Km</h3>

                            <p>{% trans %}Distance traveled{% endtrans %}</p>
                        </li>
                        <li class="primary">
                            <h3>{{elements.data.options.ca}} </h3>

                            <p>{% trans %}Turnover{% endtrans %}</p>
                        </li>
                        <li class="primary">
                            <h3>{{elements.data.options.race}}</h3>

                            <p>{% trans %}Transfer made{% endtrans %}</p>
                        </li>
                        <li class="primary">
                            <h3>-- t </h3>

                            <p>{% trans %}Quantity of CO2{% endtrans %}</p>
                        </li>
                    </ul>

                </div>

            </div>

            <div class="row">

                <div class="">

                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a id="dr" href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>

                                <h2 class="panel-title">{% trans %}Fuel by 100km{% endtrans %}</h2>
                                <p class="panel-subtitle"></p>
                            </header>
                            <div class="panel-body" id="dr1">
                                <!-- Flot: Bars -->
                                <div class="chart chart-md" id="flotBars3">  </div>
                                <script id="source" language="javascript" type="text/javascript">
                                    var flotBarsData3 = {{ elements.data.options.flotBarsData3|json_encode|raw }} ;
                                </script>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-12 col-lg-12 col-xl-12">

                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a id="dg" href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                                <h2 class="panel-title">{% trans %}monthly fuel expenditure{% endtrans %}</h2>
                                <p class="panel-subtitle">{% trans %}For the last 13 month{% endtrans %}</p>
                            </header>
                            <div class="panel-body" id="dg1">
                                <!-- Flot: Bars -->
                                <div class="chart chart-md" id="flotBars">  </div>
                                <script id="source" language="javascript" type="text/javascript">
                                    var flotBarsData = {{ elements.data.options.flotBarsData|json_encode|raw }} ;
                                </script>
                            </div>
                        </section>
                    </div>

                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a id="dr" href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>

                                <h2 class="panel-title">{% trans %}Repairs and maintenance expenses per month{% endtrans %}</h2>
                                <p class="panel-subtitle">{% trans %}For the last 13 month{% endtrans %}</p>
                            </header>
                            <div class="panel-body" id="dr1">
                                <!-- Flot: Bars -->
                                <div class="chart chart-md" id="flotBars2">  </div>
                                <script id="source" language="javascript" type="text/javascript">
                                    var flotBarsData2 = {{ elements.data.options.flotBarsData2|json_encode|raw }} ;
                                </script>
                            </div>
                        </section>
                    </div>


                </div>


            </div>
        {% endfor %}

        {{ sonata_block_render_event('sonata.admin.show.bottom', { 'admin': admin, 'object': object }) }}

    </div>
    <script>
        $('#navcar').addClass('nav-expanded');
    </script>
    <script>
      $('#affectdriver,#dg,#dr').attr('class', 'fa fa-caret-up');
      $('#driveraffect1,#driveraffect2,#dg1,#dr1').hide();

      $('#UpdateImageVehiculeForm').submit(function () {
        var $this = $(this),
        active_li = $('#select_image_show > li.active');

        $('#UpdateImageVehiculeForm_type_field').val(active_li.data('name'));
        var fd = new FormData($this[0]);

        $.ajax({
                 url        : $this.attr('action'),
                 type       : 'POST',
                 data       : fd,
                 processData: false,  // tell jQuery not to process the data
                 contentType: false,   // tell jQuery not to set contentType
                 success: function (response) {
                   $('#select_image_show').parent().find('.tab-content').children().eq(active_li.index()).children('img').attr('src', response.new_link);
                   $this.find('.cropper-canvas-container').empty();
                   $this[0].reset();
                 }
               });
        return false;
      });

      $('#UpdateDocsVehiculeForm').submit(function () {
          var $this     = $(this),
              active_li = $('#select_doc_show > li.active');

          $('#UpdateDocsVehiculeForm_type_field').val(active_li.data('name'));

          var fd = new FormData($this[0]);

          $.ajax({
              url        : $this.attr('action'),
              type       : 'POST',
              data       : fd,
              processData: false,  // tell jQuery not to process the data
              contentType: false,   // tell jQuery not to set contentType
              success    : function (response) {
                  $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).find('.doc_block_show').css('display', 'none');

                  if (response.new_link.indexOf('pdf') != (-1)) {
                      $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.pdf_block_show').css('display', 'block');
                      $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.pdf_block_show')
                                           .children().attr('href', response.new_link).html(response.file_name);
                  } else {
                      $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.image_block_show').css('display', 'block');
                      $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index()).children('.image_block_show').children().attr('src', response.new_link);
                  }


                if (typeof response.date_text !== 'undefined') {
                  $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index())
                                       .find('.block_date_expire_text').html(response.date_text);

                  var class_name = '';
                  var class_remove = '';
                  if (response.date_diff > 30) {
                    class_name = 'btn-success';
                    class_remove = 'btn-warning';
                  } else {
                    class_name = 'btn-warning';
                    class_remove = 'btn-success';
                  }
                  $('#select_doc_show').parent().find('.tab-content').children().eq(active_li.index())
                                       .find('.block_diff_days_count').addClass(class_name)
                                       .removeClass('btn-danger').removeClass(class_remove).html(response.date_diff + " day");
                }

                  $this.find('.cropper-canvas-container').empty();
                  $this[0].reset();
              }
          });
          return false;
      });

      $(document).ready(function () {
        var upload_type = $("input[name='UpdateDocsVehiculeForm[upload_type]']");
        $('#upload_type_' + upload_type.val()).show();

        upload_type.on('change', function () {
          $('.upload_type_class').hide();
          $('#upload_type_' + $(this).val()).show();
        });

          $('#button_find_vehicule_affect').on('click', function () {
              var $this     = $(this),
                  $input    = $('#input_find_vehicule_affect'),
                  input_val = $input.val();


              var $tbody_vehicule_affect = $("#tbody_vehicule_affect");
              $.ajax({
                  url        :  Routing.generate('get_vehicule_affects_by_id_and_date', {vehicule_id: {{ object.id }}, date: input_val}),
                  type    : 'GET',
                  dataType: 'json',
                  success : function (response) {
                      $tbody_vehicule_affect.empty();

                      for(var i in response.vehicule_affects) {
                          $tbody_vehicule_affect.append("\n" +
                              "                                        <tr>\n" +
                              "                                            <td>\n" +
                              "                                                " +response.vehicule_affects[i].DATE+
                              "                                            </td>\n" +
                              "                                            <td>\n" +
                              "                                                " +response.vehicule_affects[i].firstName+
                              "                                            </td>\n" +
                              "                                        </tr>")
                      }
                  }
              });
        })


      });
    </script>
{% endblock %}
