{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}
{% trans_default_domain 'backend' %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
            {% endif %}
        {% endspaceless %}
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block list_table %}
    {% for object in admin.datagrid.results %}

    {% endfor %}
    <div class="box box-primary">

        <div class="box-body table-responsive panel-body">
            {{ sonata_block_render_event('sonata.admin.list.table.top', { 'admin': admin }) }}
        {% block list_header %}{% endblock %}

        {% set batchactions = admin.batchactions %}
        {% if admin.datagrid.results is not null %}

            <table class="table table-striped list-object">
                {% block table_body %}
                    <thead>
                        <tr>
                            <th></th>
                            <th class="left hidden-phone" width="10%">{% trans %}Vehicle{% endtrans %}</th>
                            <th class="left hidden-phone" width="10%">{% trans %}Name{% endtrans %}</th>
                            <th class="left hidden-phone" width="10%">{% trans %}Type{% endtrans %}</th>
                            <th class="left hidden-phone" width="20%">{% trans %}license Plate Number{% endtrans %}</th>
                            <th class="left hidden-phone" width="20%">{% trans %}Affect driver{% endtrans %}</th>
                            <th class="left hidden-phone" width="10%">{% trans %}KM Parcourus{% endtrans %}</th>
                            <th class="right hidden-phone" width="10%">{% trans %}Activate{% endtrans %}</th>
                            <th class="right hidden-phone" width="10%">{% trans %}Sous traitant{% endtrans %}</th>
                            <th class="right hidden-phone" width="30%">{% trans %}Actions{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for object in admin.datagrid.results %}
                            {% set countPictureMissingFront = 0 %}
                            {% if object.photoFront is null %}
                                {% set countPictureMissingFront = countPictureMissingFront + 1 %}
                            {% endif %}
                            {% set countPictureMissingInterior = 0 %}
                            {% if object.photoInterior is null %}
                                {% set countPictureMissingInterior = countPictureMissingInterior + 1 %}
                            {% endif %}
                            {% set countPictureMissingBack = 0 %}
                            {% if object.photoBack is null %}
                                {% set countPictureMissingBack = countPictureMissingBack + 1 %}
                            {% endif %}
                            {%set countMissingPicture = countPictureMissingFront + countPictureMissingInterior + countPictureMissingBack %}

                            {% set countDocumentMissing = 0 %}
                            {% if object.docGreyRegistrationCard is null %}
                                {% set countDocumentMissing = countDocumentMissing + 1 %}
                            {% endif %}
                            {% if object.docInsuranceCard is null %}
                                {% set countDocumentMissing = countDocumentMissing + 1 %}
                            {% endif %}
                            {% if object.docVehicleTechCertif is null %}
                                {% set countDocumentMissing = countDocumentMissing + 1 %}
                            {% endif %}
                            <tr>
                                <td class="sonata-ba-list-field sonata-ba-list-field-batch" objectid="{{object.id}}"><input name="idx[]" value="{{object.id}}" type="checkbox"></td>
                                <td class="left hidden-phone">
                                    {% if object.photoFront is not null %}
                                        {% set vehiclePhoto = '/uploads/vehicule/' ~ object.photoFront %}
                                    {% else %}
                                        {% set vehiclePhoto = '/bundles/cabadmin/images/no-image.png.jpg' %}
                                    {% endif %}

                                    <img class="center hidden-phone" src="{{ asset(vehiclePhoto) | imagine_filter('size100x100') }}" alt="{{ object.vehiculeName }}"/>
                                </td>
                                <td>{{ object.vehiculeName }}</td>
                                <td>{{ object.typeVehicule }}</td>
                                <td class="left hidden-phone">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {{ object.licensePlateNumber }}
                                            {% if countMissingPicture > 1 %}
                                                    <span href="#modalFullColorWarning" class="modal-basic btn btn-warning right" style="margin-left:10px">{{ countMissingPicture }} </span>
                                            {% endif %}
                                            {% if countDocumentMissing > 0 %}
                                                    <span href="#modalFullColorWarning" class="modal-basic btn btn-danger right" style="margin-left:10px">{{ countDocumentMissing }} </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </td>
                                <td class="left hidden-phone">{{ object.driver }}</td>
                                <td class="left hidden-phone">{{ object.km }}</td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-boolean">
                                    {% if object.isActive == 1 %}
                                        {% set classStatusVehicle = "label-success"%}
                                        {% set statusVehicle = "Yes"%}
                                    {% else %}
                                        {% set classStatusVehicle = "label-danger"%}
                                        {% set statusVehicle = "No"%}
                                    {% endif %}
                                    <span class="label {{ classStatusVehicle }}"> {{ statusVehicle }} </span>
                                </td>
                                <td class="sonata-ba-list-field sonata-ba-list-field-boolean">
                                    {% if object.Soustraintant == 1 %}
                                        {% set classStatusVehicle = "label-success"%}
                                        {% set statusVehicle = "Yes"%}
                                    {% else %}
                                        {% set classStatusVehicle = "label-danger"%}
                                        {% set statusVehicle = "No"%}
                                    {% endif %}
                                    <span class="label {{ classStatusVehicle }}"> {{ statusVehicle }} </span>
                                </td>
                                <td>
                                    {% if is_granted('ROLE_ADMINCOMPANY') %}
                                        <ul class="list-inline">
                                            <li>
                                                {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
                                            </li>
                                            <li>
                                                {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                                            </li>
                                            {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                                </li>
                                                <a href="{{ admin.generateObjectUrl('delete', object) }}">
                                                    <i class="fa fa-minus-circle"></i>
                                                    {{ 'delete'|trans({}, 'SonataAdminBundle') }}
                                                </a>

                                            {% endif %}

                                        </ul>
                                    {% endif %}
                                </td>
                            </tr>

                            <!--  <tr>
                                    { include admin.getTemplate('inner_list_row') %}
                                </tr>
                            -->
                        {% endfor %}
                    </tbody>
                {% endblock %}
                {% block table_footer %}
                    <tfoot>
                    <tr>
                        <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                            <div class="form-inline">
                                {% if not app.request.isXmlHttpRequest %}
                                {% if admin.hasRoute('batch') and batchactions|length > 0 and is_granted('ROLE_ADMINCOMPANY') %}
                                    {% block batch %}
                                    <script>
                                        {% block batch_javascript %}
                                        jQuery(document).ready(function ($) {
                                            $('#list_batch_checkbox').on('ifChanged', function () {
                                                $(this)
                                                        .closest('table')
                                                        .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                        .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                                                ;
                                            });

                                            $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                    .on('ifChanged', function () {
                                                        $(this)
                                                                .closest('tr')
                                                                .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                        ;
                                                    })
                                                    .trigger('ifChanged')
                                            ;
                                        });
                                        {% endblock %}
                                    </script>

                                    {% block batch_actions %}

                                    <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                        <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                        {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                        ({{ admin.datagrid.pager.nbresults }})
                                    </label>

                                    <select name="action" style="width: auto; height: auto" class="form-control">
                                        {% for action, options in batchactions %}
                                            <option value="{{ action }}">{{ options.label }}</option>
                                        {% endfor %}
                                    </select>


                                    {% endblock %}

                                <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                                    {% endblock %}
                                {% endif %}

                                    <div class="pull-right">



                                        {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                                    <i class="glyphicon glyphicon-export"></i>
                                                    {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    {% for format in admin.getExportFormats() %}
                                                    <li>
                                                        <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                            <i class="glyphicon glyphicon-download"></i>
                                                            {{ format|upper }}
                                                        </a>
                                                    <li>
                                                        {% endfor %}
                                                </ul>
                                            </div>

                                            -
                                        {% endif %}

                                        {% block pager_results %}
                                            {% include admin.getTemplate('pager_results') %}
                                        {% endblock %}
                                    </div>
                                {% endif %}
                            </div>
                        </th>
                    </tr>

                    {% block pager_links %}
                        {% if admin.datagrid.pager.haveToPaginate() %}
                            {% include admin.getTemplate('pager_links') %}
                        {% endif %}
                    {% endblock %}

                    </tfoot>
                {% endblock %}
            </table>
            {% if admin.hasRoute('batch') %}
                </form>
            {% endif %}
        {% else %}
            <div class="callout callout-info">
                {{ 'no_result'|trans({}, 'SonataAdminBundle') }}
            </div>
        {% endif %}
        </div>
        </div>
        {% block list_footer %}{% endblock %}

        {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}



        <script>
            $(document).ready(function () {
                $('#filter_departureDate_value input').datepicker({
                    todayHighlight: true,
                    weekStart: 1,
                    daysOfWeekHighlighted: "0,6",
                    todayBtn: "linked",
                    language: "fr",
                    autoclose: true
                });
                $('#filter_departureDate_value_end input').datepicker({
                    todayHighlight: true,
                    weekStart: 1,
                    daysOfWeekHighlighted: "0,6",
                    todayBtn: "linked",
                    language: "fr",
                    autoclose: true
                });

            });
            $('#navrace').addClass('nav-expanded');
            $('#navracelist').css("color", "white");
        </script>
        {%endblock%}
{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>
        <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                        {{ filter.label|trans({}, filter.translationDomain) }}
                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}