{% trans_default_domain 'backend' %}
{% extends 'CABAdminBundle::layout.html.twig' %}

{% block actions %}
    <li>{% include 'SonataAdminBundle:Button:show_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:history_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:acl_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:list_button.html.twig' %}</li>
    <li>{% include 'SonataAdminBundle:Button:create_button.html.twig' %}</li>
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}

{# {% use 'CABAdminBundle:CRUD:base_edit_form.html.twig' with form as parentForm %} #}
{% import "CABAdminBundle:CRUD:custom_edit_form_macro.html.twig" as form_helper %}

{% block form %}
    {% set url = admin.id(object) is not null ? 'edit' : 'create' %}

    {% if not admin.hasRoute(url) %}
        <div>
            {{ "form_not_available"|trans({}, "SonataAdminBundle") }}
        </div>
    {% else %}
        {% if not admin_pool.getOption('html5_validate') %}{% set novalidate = "novalidate" %}{% else %}{% set novalidate = "" %}{% endif %}
        <section class="panel">
            {{ form_start(form,{ "attr": {"role":"form","id":admin.classnameLabel,"action":admin.generateUrl(url, {'id': admin.id(object), 'uniqid': admin.uniqid, 'subclass': app.request.get('subclass')}),"novalidate":novalidate}}) }}

                <div class="panel-body">
                    {{ form_errors(form) }}
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion0" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse0One" data-parent="#accordion0" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-cab"></i> {{ "Vehicle"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse0One" aria-expanded="true" style="">

                                        <div class="panel-body col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.driver) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.licensePlateNumber) }}
                                                </div>
                                                <div class="col-md-6">{{ form_row(form.typeVehicule) }}

                                                </div>
                                            </div>
                                            <div class="panel-body col col-md-12">
                                                <div class="col-sm-offset-3 col-md-6">
                                                    <div class="alert alert-danger" style="display: none;" role="alert" id="vehicle-alert">
                                                        <button type="button" class="close" id="close-alert" aria-label="Close">
                                                            <span>&times;</span>
                                                        </button>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div id="vehicle-alert-body"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel-body col-md-12">
                                                <div class="col-md-6">
                                                    {{ form_row(form.vehicleMake) }}
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_row(form.vehicleModel) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion1" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse1One" data-parent="#accordion1" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-info"></i> {{ "Vehicle details"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse1One" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="col-md-6">
                                                {{ form_row(form.company) }}
                                            </div>
                                            <div class="col-md-6">
                                            </div>
                                        </div>

                                        <div class="panel-body col-md-12">
                                            <div class="col-md-6">
                                                {{ form_row(form.vehiculeName) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.statusCar) }}
                                            </div>
                                        </div>

                                        <div class="panel-body col-md-12">
                                            <div class="col-md-6">
                                                {{ form_row(form.nbPerson) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.suitcases) }}
                                            </div>
                                        </div>

                                        <div class="panel-body col-md-12">
                                            <div class="col-md-4">
                                                {{ form_row(form.vin) }}
                                            </div>

                                            <div class="col-md-3">
                                                {{ form_row(form.isActive) }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_row(form.Soustraintant) }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_row(form.isForHandicap) }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_row(form.cpam) }}
                                            </div>
                                            <div class="col-md-3">
                                                {{ form_row(form.partageCompany) }}
                                            </div>
                                        </div>
                                        <div class="panel-body col-md-12">
                                            <div class="col-md-6">
                                                {{ form_row(form.numberlicence) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.km) }}
                                            </div>
                                            <div class="col-md-6">
                                                {{ form_row(form.servicesTransportVehicles) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion2" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse2One" data-parent="#accordion2" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-photo"></i> {{ "Vehicle photos"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse2One" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    {{ form_row(form.fileFront) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_row(form.fileInterior) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_row(form.fileBack) }}
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-xl-12">
                            <div id="accordion3" class="panel-group">
                                <div class="panel panel-accordion panel-accordion-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a href="#collapse3One" data-parent="#accordion3" data-toggle="collapse"
                                               class="accordion-toggle" aria-expanded="true">
                                                <i class="fa fa-file-text"></i> {{ "Vehicle documents"|trans }}
                                            </a>
                                        </h4>
                                    </div>
                                    <div class="accordion-body collapse in" id="collapse3One" aria-expanded="true" style="">
                                        <div class="panel-body col-md-12">
                                            <div class="col-md-12">
                                                <div class="col-md-4">
                                                    <div class="form-group" id="sonata-ba-field-container-s59e4e5168b474_fileGreyRegistrationCard">
                                                          {{ form_label(form.fileGreyRegistrationCard) }}
                                                        <div class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                          {{ form_widget(form.fileGreyRegistrationCardType) }}
                                                        </div>
                                                        <div id="fileGreyRegistrationCardType_1" class="fileGreyRegistrationCardType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(form.fileGreyRegistrationCardPDF) }}
                                                        </div>
                                                        <div id="fileGreyRegistrationCardType_2" class="fileGreyRegistrationCardType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(form.fileGreyRegistrationCard) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group" id="sonata-ba-field-container-s59e4e5168b474_fileGreyRegistrationCard">
                                                      {{ form_label(form.fileInsuranceCard) }}
                                                        <div class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                          {{ form_widget(form.fileInsuranceCardType) }}
                                                        </div>
                                                        <div id="fileInsuranceCardType_1" class="fileInsuranceCardType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(form.fileInsuranceCardPDF) }}
                                                        </div>
                                                        <div id="fileInsuranceCardType_2" class="fileInsuranceCardType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(form.fileInsuranceCard) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group" id="sonata-ba-field-container-s59e4e5168b474_fileGreyRegistrationCard">
                                                      {{ form_label(form.fileVehicleTechCertif) }}
                                                        <div class="col-sm-2 col-md-2 sonata-ba-field sonata-ba-field-standard-natural  ">
                                                          {{ form_widget(form.fileVehicleTechCertifType) }}
                                                        </div>
                                                        <div id="fileVehicleTechCertifType_1" class="fileVehicleTechCertifType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(form.fileVehicleTechCertifPDF) }}
                                                        </div>
                                                        <div id="fileVehicleTechCertifType_2" class="fileVehicleTechCertifType_class col-sm-7 col-md-7 sonata-ba-field sonata-ba-field-standard-natural" style="display: none;">
                                                          {{ form_widget(form.fileVehicleTechCertif) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                             <div class="col-md-12">
                                                <div class="col-md-4">
                                                    {{ form_row(form.expiredocGreyRegistrationCard) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_row(form.expiredocInsuranceCard) }}
                                                </div>
                                                <div class="col-md-4">
                                                    {{ form_row(form.expiredocVehicleTechCertif) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{ form_widget(form._token) }}
                </div>

                <footer class="panel-footer">
                    {% block formactions %}
                        <div class="form-actions">
                            {% if app.request.isxmlhttprequest %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update" id="{{ admin.classnameLabel }}-update"><i class="fa fa-save"></i> {{ 'btn_update'|trans({}, 'SonataAdminBundle') }}</button>
                                {% else %}
                                    <button type="submit" class="btn btn-success" name="btn_create" id="{{ admin.classnameLabel }}-create"><i class="fa fa-plus-circle"></i> {{ 'btn_create'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% else %}
                                {% if admin.supportsPreviewMode %}
                                    <button class="btn btn-info persist-preview" name="btn_preview" type="submit" id="{{ admin.classnameLabel }}-preview">
                                        <i class="fa fa-eye"></i>
                                        {{ 'btn_preview'|trans({}, 'SonataAdminBundle') }}
                                    </button>
                                {% endif %}
                                {% if admin.id(object) is not null %}
                                    <button type="submit" class="btn btn-success" name="btn_update_and_edit" id="{{ admin.classnameLabel }}-edit"><i class="fa fa-save"></i> {{ 'btn_update_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>

                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_update_and_list" id="{{ admin.classnameLabel }}-update_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_update_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}

                                    {% if admin.hasroute('delete') and admin.isGranted('DELETE', object) %}
                                        {{ 'delete_or'|trans({}, 'SonataAdminBundle') }}
                                        <a class="btn btn-danger" href="{{ admin.generateObjectUrl('delete', object) }}"><i class="fa fa-minus-circle"></i> {{ 'link_delete'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}

                                    {% if admin.isAclEnabled() and admin.hasroute('acl') and admin.isGranted('MASTER', object) %}
                                        <a class="btn btn-info" href="{{ admin.generateObjectUrl('acl', object) }}"><i class="fa fa-users"></i> {{ 'link_edit_acl'|trans({}, 'SonataAdminBundle') }}</a>
                                    {% endif %}
                                {% else %}
                                    {% if admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                        <button class="btn btn-success" type="submit" name="btn_create_and_edit" id="{{ admin.classnameLabel }}-create_and_edit"><i class="fa fa-save"></i> {{ 'btn_create_and_edit_again'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    {% if admin.hasroute('list') and admin.isGranted('LIST') %}
                                        <button type="submit" class="btn btn-success" name="btn_create_and_list" id="{{ admin.classnameLabel }}-create_and_list"><i class="fa fa-save"></i> <i class="fa fa-list"></i> {{ 'btn_create_and_return_to_list'|trans({}, 'SonataAdminBundle') }}</button>
                                    {% endif %}
                                    <button class="btn btn-success" type="submit" name="btn_create_and_create" id="{{ admin.classnameLabel }}-create_and_create"><i class="fa fa-plus-circle"></i> {{ 'btn_create_and_create_a_new_one'|trans({}, 'SonataAdminBundle') }}</button>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endblock formactions %}
                </footer>
            {{ form_end(form) }}
        </section>
        {#{{ block('parentForm') }}#}


    {% endif %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
      <script src="{{ asset('bundles/cabadmin/javascripts/ajax.dependeciesfields.js') }}"></script>

    <script>
        $(document).ready(function () {
            $( "input[name*='expiredocGreyRegistrationCard ']" ).datepicker({
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayBtn: "linked",
                language: "fr",
                autoclose: true
            });
            $('#navcar').addClass('nav-expanded');
            $('#navcaradd').css("color", "white");


          var fileGreyRegistrationCardType = $("input[name='{{ admin.uniqid }}[fileGreyRegistrationCardType]']");
          $('#fileGreyRegistrationCardType_' + fileGreyRegistrationCardType.val()).show();

          fileGreyRegistrationCardType.on('change', function () {
            $('.fileGreyRegistrationCardType_class').hide();
            $('#fileGreyRegistrationCardType_' + $(this).val()).show();
          });


          var fileInsuranceCardType = $("input[name='{{ admin.uniqid }}[fileInsuranceCardType]']");
          $('#fileInsuranceCardType_' + fileInsuranceCardType.val()).show();

          fileInsuranceCardType.on('change', function () {
            $('.fileInsuranceCardType_class').hide();
            $('#fileInsuranceCardType_' + $(this).val()).show();
          });


          var fileVehicleTechCertifType = $("input[name='{{ admin.uniqid }}[fileVehicleTechCertifType]']");
          $('#fileVehicleTechCertifType_' + fileVehicleTechCertifType.val()).show();

          fileVehicleTechCertifType.on('change', function () {
            $('.fileVehicleTechCertifType_class').hide();
            $('#fileVehicleTechCertifType_' + $(this).val()).show();
          });
        });


    </script>
{% endblock javascripts %}
