{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}
{% trans_default_domain 'backend' %}

{% block actions %}
    {% spaceless %}
        {% if admin.hasRoute('create') and admin.isGranted('CREATE') %}
            <li>{% include 'SonataAdminBundle:Core:create_button.html.twig' %}</li>
            {% endif %}
        {% endspaceless %}
    {% endblock %}

{% block tab_menu %}{{ knp_menu_render(admin.sidemenu(action), {'currentClass' : 'active', 'template': admin_pool.getTemplate('tab_menu_template')}, 'twig') }}{% endblock %}


{% block list_table %}
    {% for object in admin.datagrid.results %}
    {% endfor %}


    <div class="box box-primary table-responsive panel-body">
       <table class="table table-striped mb-none">
        {% block table_body %}
                <thead>
                    <tr>
                        <th class="left hidden-phone" width="10%">{% trans %}VEHICULE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}COMPANY{% endtrans %}</th>
                        <th class="left hidden-phone" width="20%">{% trans %}DRIVER{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}AMOUNT{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}KM{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}INTERIOR{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}EXTERIOR{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}DATE{% endtrans %}</th>
                        <th class="left hidden-phone" width="10%">{% trans %}FILE{% endtrans %}</th>
                        <th class="right hidden-phone" width="10%">{% trans %}ACTION{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for object in admin.datagrid.results %}
                        <tr>
                            <td class="left hidden-phone">{{ object.vehicule.licensePlateNumber }}</td>
                            <td class="left hidden-phone">{{ object.vehicule.company }}</td>
                            <td class="left hidden-phone">{{ object.driver }}</td>
                            <td class="left hidden-phone">{{ object.amount }}</td>
                            <td class="left hidden-phone">{{ object.km }}</td>
                            <td class="left hidden-phone">
                                {% if object.interior == 1 %}
                                    <div class="text-left">
                                        <span class="label label-success">{% trans %}YES{% endtrans %} </span>
                                    </div>
                                {% else %}
                                    <div class="text-left">
                                        <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="left hidden-phone">
                                {% if object.exterior == 1 %}
                                    <div class="text-left">
                                        <span class="label label-success">{% trans %}YES{% endtrans %} </span>
                                    </div>
                                {% else %}
                                    <div class="text-left">
                                        <span class="label label-danger">{% trans %}NO{% endtrans %}</span>
                                    </div>
                                {% endif %}
                            </td>
                            <td class="left hidden-phone">{{ object.createdAt|date("d/m/Y H:i") }}</td>
                            <td class="right hidden-phone">{% if 'pdf' in object.fileName %}
                                <a href="/uploads/vehicle/clean/{{ object.fileName }}" target="_blank">{% trans %}view{% endtrans %} pdf</a>
                                {% else %}
                                {% if object.FileName is not null %}
                                <a href="/uploads/vehicle/clean/{{ object.fileName }}" target="_blank">{% trans %}view{% endtrans %}</a>
                                 {% endif %}
                                {% endif %}
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMINCOMPANY') or is_granted('ROLE_DRIVER') %}
                                    <ul class="list-inline">
                                        <li>
                                            {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
                                        </li>
                                        {% if is_granted('ROLE_ADMINCOMPANY') or (object.driver.id == app.user.id ) %}
                                            <li>
                                                {% include 'SonataAdminBundle:Button:edit_button.html.twig' %}
                                            </li>
                                        {% endif %}
                                    </ul>
                                {% endif %}
                            </td>
   </tr>
                    {% endfor%}
                </tbody>
            {% endblock %}

           {% block table_footer %}
               <tfoot>
               <tr>
                   <th colspan="{{ admin.list.elements|length - (app.request.isXmlHttpRequest ? (admin.list.has('_action') + admin.list.has('batch')) : 0) }}">
                       <div class="form-inline">
                           {% if not app.request.isXmlHttpRequest %}

                               {% block batch %}
                                   <script>
                                       {% block batch_javascript %}
                                       jQuery(document).ready(function ($) {
                                           $('#list_batch_checkbox').on('ifChanged', function () {
                                               $(this)
                                                       .closest('table')
                                                       .find('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                       .iCheck($(this).is(':checked') ? 'check' : 'uncheck')
                                               ;
                                           });

                                           $('td.sonata-ba-list-field-batch input[type="checkbox"]')
                                                   .on('ifChanged', function () {
                                                       $(this)
                                                               .closest('tr')
                                                               .toggleClass('sonata-ba-list-row-selected', $(this).is(':checked'))
                                                       ;
                                                   })
                                                   .trigger('ifChanged')
                                           ;
                                       });
                                       {% endblock %}
                                   </script>

                               {% block batch_actions %}

                                   <label class="checkbox" for="{{ admin.uniqid }}_all_elements">
                                       <input type="checkbox" name="all_elements" id="{{ admin.uniqid }}_all_elements">
                                       {{ 'all_elements'|trans({}, 'SonataAdminBundle') }}
                                       ({{ admin.datagrid.pager.nbresults }})
                                   </label>



                               {% endblock %}

                                   <input type="submit" class="btn btn-small btn-primary" value="{{ 'btn_batch'|trans({}, 'SonataAdminBundle') }}">
                               {% endblock %}
                           {% endif %}

                           <div class="pull-right">



                               {% if admin.hasRoute('export') and admin.isGranted("EXPORT") and admin.getExportFormats()|length %}
                                   <div class="btn-group">
                                       <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                           <i class="glyphicon glyphicon-export"></i>
                                           {{ "label_export_download"|trans({}, "SonataAdminBundle") }}
                                           <span class="caret"></span>
                                       </button>
                                       <ul class="dropdown-menu">
                                           {% for format in admin.getExportFormats() %}
                                           <li>
                                               <a href="{{ admin.generateUrl('export', admin.modelmanager.paginationparameters(admin.datagrid, 0) + {'format' : format}) }}">
                                                   <i class="glyphicon glyphicon-download"></i>
                                                   {{ format|upper }}
                                               </a>
                                           <li>
                                               {% endfor %}
                                       </ul>
                                   </div>

                                   -
                               {% endif %}

                               {% block pager_results %}
                                   {% include admin.getTemplate('pager_results') %}
                               {% endblock %}
                           </div>

                       </div>
                   </th>
               </tr>

               {% block pager_links %}
                   {% if admin.datagrid.pager.haveToPaginate() %}
                       {% include admin.getTemplate('pager_links') %}
                   {% endif %}
               {% endblock %}

               </tfoot>
           {% endblock %}
        </table>

    </div>

    {% block list_footer %}{% endblock %}

    {{ sonata_block_render_event('sonata.admin.list.table.bottom', { 'admin': admin }) }}




    <script>
        $(document).ready(function(){
            $('#filter_createdAt_value_start').datepicker({
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayBtn: "linked",
                language: "fr",
                autoclose: true,

            });
            $('#filter_createdAt_value_end').datepicker({
                todayHighlight: true,
                weekStart: 1,
                daysOfWeekHighlighted: "0,6",
                todayBtn: "linked",
                language: "fr",
                autoclose: true,

            });
            $('#navconfcar').addClass('nav-expanded');
            $('#navcleanlist').css("color", "white");
        });
    </script>
{%endblock%}

{% block list_filters %}
    {% if admin.datagrid.filters %}
        {% form_theme form admin.getTemplate('filter') %}
        <div class="box box-primary">
            <div class="box-header">
                <h4 class="box-title filter_legend {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">{{ 'label_filters'|trans({}, 'SonataAdminBundle') }}</h4>
            </div>
        <div class="box-body">
                <form class="sonata-filter-form {{ admin.isChild and 1 == admin.datagrid.filters|length ? 'hide' : '' }}"
                      action="{{ admin.generateUrl('list') }}" method="GET" role="form">
                    {{ form_errors(form) }}
                    <div class="filter_container {{ admin.datagrid.hasActiveFilters ? 'active' : 'inactive' }}">
                        {% for filter in admin.datagrid.filters %}
                            <div class="form-group">
                                {% if filter.label is not same as(false) %}
                                    <label for="{{ form.children[filter.formName].children['value'].vars.id }}">
                                        {{ filter.label|trans({}, filter.translationDomain) }}
                                    </label>
                                {% endif %}
                                {% set attr = form.children[filter.formName].children['type'].vars.attr|default({}) %}
                                {% set attr = attr|merge({'class': (attr.class|default('') ~ ' sonata-filter-option')|trim}) %}

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['type'], {'attr':  attr}) }}
                                </div>

                                <div>
                                    {{ form_widget(form.children[filter.formName].children['value']) }}
                                </div>
                            </div>
                        {% endfor %}

                        <input type="hidden" name="filter[_page]" id="filter__page" value="1">

                        {% set foo = form.children['_page'].setRendered() %}
                        {{ form_rest(form) }}

                        <button type="submit" class="btn btn-primary"><i
                                class="fa fa-filter"></i> {{ 'btn_filter'|trans({}, 'SonataAdminBundle') }}</button>

                        <a class="btn btn-default"
                           href="{{ admin.generateUrl('list', {filters: 'reset'}) }}">{{ 'link_reset_filter'|trans({}, 'SonataAdminBundle') }}</a>
                    </div>

                    {% for paramKey, paramValue in admin.persistentParameters %}
                        <input type="hidden" name="{{ paramKey }}" value="{{ paramValue }}">
                    {% endfor %}
                </form>
            </div>
        </div>

    {% endif %}

{% endblock %}


