{% if app.user.roles[0] == 'ROLE_CUSTOMER' %}
    {{ include('CABUserBundle:Profile:template_customer_edit.html.twig') }}
{% else %}
    {{ include('CABUserBundle:Profile:template_admin_edit.html.twig') }}
{% endif %}
