{% trans_default_domain 'FOSUserBundle' %}


<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>



<section class="content-body" role="main">
    <header class="page-header">
        <h2>User Profile</h2>

        <div class="right-wrapper pull-right">
            <ol class="breadcrumbs">
                <li>
                    <a href="{{ url('sonata_admin_dashboard') }}">
                        <i class="fa fa-home"></i>
                    </a>
                </li>
                <li><span>Pages</span></li>
                <li><span>User Profile</span></li>
            </ol>

            <a data-open="sidebar-right" class="sidebar-right-toggle"><i class="fa fa-chevron-left"></i></a>
        </div>
   
    </header>

    <!-- start: page -->
    
     {{ include('CABAdminBundle:FlashMessage:render.html.twig') }}

    <div class="row">
        <div class="col-md-4 col-lg-3">

            <section class="panel">
                <div class="panel-body">
                    <div class="thumb-info mb-md">
                        {% if user.avatar is not null %}
                            {% set avatar = '/uploads/avatar/' ~ user.avatar %}
                        {% else %}
                            {% set avatar = '/bundles/cabmain/images/no_image_available.jpg' %}
                        {% endif %}
                        <img class="img-responsive" src="{{ asset(avatar) | imagine_filter('profile_avatar') }}" alt="profile"/>
                        <div class="thumb-info-title">
                            <span class="thumb-info-inner">{{ user.username }}</span>
                            {% for key, role in user.roles %}
                                {% if key == 0 %}
                                    <span class="thumb-info-type">{{role}}</span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>


            

            

        </div>
        <div class="col-md-8 col-lg-6">

            <div class="tabs">
                <ul class="nav nav-tabs tabs-primary">
                    <li class="active">
                        <a data-toggle="tab" href="{{ path('fos_user_profile_show') }}">Overview</a>
                    </li>
                    <li>
                        <a href="{{ path('fos_user_profile_edit') }}">Edit</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="overview">
                        <h4 class="mb-md">{%trans%}Your contact{%endtrans%}</h4>

                        <div class="form-group">
                                    <label for="profileCompany" class="col-md-3 control-label">{%trans%}Contact{%endtrans%} :</label>
                                    <div class="col-md-8">
                                        {{ user.firstName }} {{ user.lastName }}
                                    </div>
                        </div>

                        <div class="form-group">
                                    <label for="profileCompany" class="col-md-3 control-label">{%trans%}Phone{%endtrans%} :</label>
                                    <div class="col-md-8">
                                        {{ user.phoneMobile }} 
                                    </div>
                        </div>

                        <div class="form-group">
                                    <label for="profileCompany" class="col-md-3 control-label">{%trans%}Email{%endtrans%} :</label>
                                    <div class="col-md-8">
                                        {{ user.email }} 
                                    </div>
                        </div> 
                        {% if user.isCompany == true %}
                        <h4 class="mb-md">{%trans%}Your compagny{%endtrans%}</h4>  
                        
                        <div class="form-group">
                                    <label for="profileCompany" class="col-md-3 control-label">{%trans%}Name{%endtrans%} :</label>
                                    <div class="col-md-8">
                                        {{ user.nameCompany }} 
                                    </div>
                        </div>
                        <div class="form-group">
                                    <label for="profileCompany" class="col-md-3 control-label">{%trans%}SIREN{%endtrans%} :</label>
                                    <div class="col-md-8">
                                        {{ user.siren }} 
                                    </div>
                        </div> 
                        <div class="form-group">
                                    <label for="profileCompany" class="col-md-3 control-label">{%trans%}Phone{%endtrans%} :</label>
                                    <div class="col-md-8">
                                        {{ user.phoneCompany }} 
                                    </div>
                        </div>    
                        {% endif %}                                    
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-3">
        </div>

    </div>
    <!-- end: page -->
</section>
    <script>
        $('#navprofile').addClass('nav-expanded');
        $('#navprofileshow').css("color", "white");
    </script>