{% extends "CABMainBundle::layout.html.twig" %}

{% block main_content %}
    {% block fos_user_content %}
        {% include "FOSUserBundle:Profile:show_content_customer.html.twig" %}
    {% endblock fos_user_content %}
{% endblock %}