{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}
    {% for value in result %}
        {{ value.title|trans  }}
    {% endfor %}

{% endblock %}
{% trans_default_domain 'pricefrontend' %}

{% block main_content %}

    {% set actualLangue = app.request.locale %}
    <!-- Intro -->
    <main class="main blue" role="main">
        <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    {% for value in result %}
                    {% if loop.index > 1 %}
                        <h1>{{ value.title|trans  }}</h1>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </header>
        <!-- //Page info -->


<div class="wrap">
            <div class="row">
                <!--- Content -->
                <div class="full-width content">
                    <h2>{% trans %}The steps for the booking{% endtrans %}</h2>
                    <!--- //Content -->
                </div>
                <div class="three-fourth">
                    {% for value in result %}
                    {% if loop.index > 1 %}
                    <header class="f-title grey">{% trans %}Your taxi from{% endtrans %}  {{ value.arrival }}  {% trans %}to{% endtrans %} {{ value.departure }}
                    <p>Distance : {{ value.distance }} | {% trans %}TIME{% endtrans %} : {{ value.time }}</p></header>
                    {% endif %}
                    {% endfor %}

                    <div class="panel">
                        <table class="table-bordered" style="text-align: center">
                            <th class="black center" style="width: 15%">{% trans %}DEPARTURE{% endtrans %}</th>
                            <th class="black center" style="width: 15%">{% trans %}ARRIVAL{% endtrans %}</th>
                            <th class="black center" style="width: 30%">{% trans %}PRICE 3 PAX{% endtrans %}</th>
                            <th class="black center" style="width: 30%">{% trans %}PRICE 8 PAX{% endtrans %}</th>
                            <th class="black center" style="width: 10%">{% trans %}PRICE LUGGAGE{% endtrans %}</th>
                            <th class="black center">ACTION</th>
                            {% for value in result %}
                            <tr>
                                <td>{{ value.departure }}</td>
                                <td>{{ value.arrival }}</td>
                                <td><span class="checked"><input name="with_return" id="3pax" value="{{ value.price4 }}" checked="" type="radio">{{ value.price4 }} {{ value.countryrate }}</span></td>
                                <td><span class="checked"><input name="with_return" id="8pax" value="{{ value.price6 }}" checked="" type="radio">{{ value.price6 }} {{ value.countryrate }}</span></td>

                                <td>{% trans %}FREE{% endtrans %}</td>
                                <td><button type="submit" class="btn large green">{% trans %}BOOKING{% endtrans %}</button></td>
                            </tr>
                                <input id="latDep" name="latDep" value="{{ value.latDep }}" type="hidden">
                                <input id="longDep" name="longDep" value="{{ value.longDep }}" type="hidden" >
                                <input id="longArr" name="longArr" value="{{ value.longArr }}" type="hidden" >
                                <input id="latArr" name="latArr" value="{{ value.latArr }}" type="hidden">
                            {% endfor %}
                        </table>
                        <table>

                            <th><div id="map" style="width: 800px; height: 400px; background: grey"></div></th>

                        </table>



                    </div>
                    <header class="f-title black">{% trans %}The Good practices during your transfer{% endtrans %}</header>
                    <div class="panel">
                        <ul class="list--with-checkmarks">
                            <li>
                                <blockquote>
                                <h2>{% trans %}Save up to 35%{% endtrans %}</h2>
                                <p>{% trans %}We find you the cheapest transfer with our verified partners{% endtrans %}</p>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <h2>{% trans %}Fixed price 100% guaranteed{% endtrans %}</h2>
                                    <p>{% trans %}We have no hidden fees, there is no rate change{% endtrans %}</p>
                                </blockquote>
                            </li>

                            <li>
                                <blockquote>
                                    <h2>{% trans %}Free cancellation without fees{% endtrans %}</h2>
                                    <p>{% trans %}You can cancel your reservation without any fees{% endtrans %}</p>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <h2>{% trans %}More than 620,000 transfers already made{% endtrans %}</h2>
                                    <p>{% trans %}We demand a quality of service every day during your retraction{% endtrans %}</p>
                                </blockquote>
                            </li>
                            <li>
                                <blockquote>
                                    <h2>{% trans %}24/7 customer service{% endtrans %}</h2>
                                    <p>We are always available to help you with your transfer</p>
                                </blockquote>
                            </li>
                        </ul>
                    </div>
                    <header class="f-title black">{% trans %}The other destinations{% endtrans %}</header>

                    <div class="panel">
                        <table>
                            <th> {% for value in result %}
                                {% if loop.index > 1 %}
                                    {% autoescape %}
                                        {{ value.Linkdescription|raw }} {# var won't be escaped #}
                                    {% endautoescape %}
                                {% endif %}
                                {% endfor %}
                            </th>
                        </table>
                    </div>
                </div><!--- Sidebar -->
                <aside class="one-fourth sidebar right">
                    <!-- Widget -->
                    <div class="widget">
                        <h4>{% trans %}Need support ?{% endtrans %}</h4>
                        <div class="textwidget">
                            <p>{% trans %}Our team is available to reply to all your request{% endtrans %}</p>
                            <p class="contact-data"><span class="ico phone black"></span> +33 (0)5 32 09 08 08</p>
                        </div>
                    </div>

                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>

        </div>
       
    </main>


    <!-- //Main -->
    <script>

        $( document ).ready(function() {

            {% for value in result %}
            {% if loop.index > 1 %}

            /**
             * Calculates and displays  a truck route from Chicago O'Hare Airport to
             * the I-290 Eisenhower Expressway nearby.
             *
             * A full list of available request parameters can be found in the Routing API documentation.
             * see:  http://developer.here.com/rest-apis/documentation/enterprise-routing/topics/resource-calculate-route.html
             *
             * @param   {H.service.Platform} platform    A stub class to access HERE services
             */
            function calculateRouteFromAtoB (platform) {
                var router = platform.getRoutingService(),
                        routeRequestParams = {
                            mode: 'fastest;car',
                            representation: 'display',
                            waypoint0: '{{ value.latDep }},{{ value.longDep }}', // Chicago O'Hare
                            waypoint1: '{{ value.latArr }},{{ value.longArr }}',  // Eisenhower Expressway
                            instructionformat : 'html',
                            routeattributes: 'waypoints,summary,shape,legs',
                            maneuverattributes: 'direction,action',
                            jsonattributes:1
                        };


                router.calculateRoute(
                        routeRequestParams,
                        onSuccess,
                        onError
                );
            }
            /**
             * This function will be called once the Routing REST API provides a response
             * @param  {Object} result          A JSONP object representing the calculated route
             *
             * see: http://developer.here.com/rest-apis/documentation/routing/topics/resource-type-calculate-route.html
             */
            function onSuccess(result) {
                var route = result.response.route[0];
                /*
                 * The styling of the route response on the map is entirely under the developer's control.
                 * A representitive styling can be found the full JS + HTML code of this example
                 * in the functions below:
                 */
                addRouteShapeToMap(route);
                addManueversToMap(route);


            }

            /**
             * This function will be called if a communication error occurs during the JSON-P request
             * @param  {Object} error  The error message received.
             */
            function onError(error) {
                alert('Ooops!');
            }

            /**
             * Boilerplate map initialization code starts below:
             */

// set up containers for the map  + panel
            var mapContainer = document.getElementById('map'),
                    routeInstructionsContainer = document.getElementById('panel');

//Step 1: initialize communication with the platform
            var platform = new H.service.Platform({
                app_id: 'SwwoDXGzVt198ybVyZ6l',
                app_code: 'VRl28m4nCLieuds47Ei8iw',
                useCIT: true,
                useHTTPS: true
            });
            var defaultLayers = platform.createDefaultLayers();



            var lat ={{ value.latDep }} ;
            var lng = {{ value.longDep }};


            console.log(lat);
//Step 2: initialize a map - this map is centered over Berlin
            var map = new H.Map(mapContainer,
                    defaultLayers.normal.map,{
                        center: {lat:lat, lng:lng},
                        zoom: 13
                    });

            {% endif %}
            {% endfor %}
//Step 3: make the map interactive
// MapEvents enables the event system
// Behavior implements default interactions for pan/zoom (also on mobile touch environments)
            var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

// Create the default UI components
            var ui = H.ui.UI.createDefault(map, defaultLayers);

// Hold a reference to any infobubble opened
            var bubble;

            /**
             * Opens/Closes a infobubble
             * @param  {H.geo.Point} position     The location on the map.
             * @param  {String} text              The contents of the infobubble.
             */
            function openBubble(position, text){
                if(!bubble){
                    bubble =  new H.ui.InfoBubble(
                            position,
                            // The FO property holds the province name.
                            {content: text});
                    ui.addBubble(bubble);
                } else {
                    bubble.setPosition(position);
                    bubble.setContent(text);
                    bubble.open();
                }
            }


            /**
             * Creates a H.map.Polyline from the shape of the route and adds it to the map.
             * @param {Object} route A route as received from the H.service.RoutingService
             */
            function addRouteShapeToMap(route){
                var strip = new H.geo.Strip(),
                        routeShape = route.shape,
                        polyline;

                routeShape.forEach(function(point) {
                    var parts = point.split(',');
                    strip.pushLatLngAlt(parts[0], parts[1]);
                });

                polyline = new H.map.Polyline(strip, {
                    style: {
                        lineWidth: 4,
                        strokeColor: 'rgba(0, 128, 255, 0.7)'
                    }
                });
                // Add the polyline to the map
                map.addObject(polyline);
                // And zoom to its bounding rectangle
                map.setViewBounds(polyline.getBounds(), true);
            }

        // Now use the map as required...
            calculateRouteFromAtoB (platform);

        });
    </script>



{% endblock main_content %}