{% extends base_template %}
{% trans_default_domain 'backend' %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {{ sonata_block_render_event('sonata.admin.dashboard.top', { 'admin_pool': admin_pool }) }}

    {% if blocks.top|length > 0 %}
        <div class="row">
            {% for block in blocks.top %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        {% set has_center = false %}

        <div class="{% if blocks.center|length > 0 %}col-md-4{% else %}col-md-6{% endif %}">
            {% for block in blocks.left %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>

        {% if blocks.center|length > 0 %}
            <div class="col-md-4">
                {% for block in blocks.center %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endfor %}
            </div>
        {% endif %}

        <div class="{% if blocks.center|length > 0 %}col-md-4{% else %}col-md-6{% endif %}">
            {% for block in blocks.right %}
                {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
            {% endfor %}
        </div>
    </div>

    {% if blocks.bottom|length > 0 %}
        <div class="row">
            {% for block in blocks.bottom %}
                <div class="{{ block.class }}">
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12" id="error-availibility">

        </div>
    </div>




    <div id="map"></div>
    <br>

    <div class="row">
        <div class="col-md-12" id="error-delay">

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">

            <section class="panel panel-primary">
                <div id="progressbar_liste" name="progressbar_liste" class="progress progress-xs progress-half-rounded m-md light">
                    <div class="progress-bar" id="progressbar" name="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                    </div>
                </div>
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>
                    <h2 class="panel-title">Liste des commandes à venir</h2>
                </header>

                <div class="panel-body">
                    <div class="table-responsive">
                        <table id= "liste" name="liste" class="table table-striped mb-none">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Status</th>
                                <th>Service</th>
                                <th>Customer</th>
                                <th>Départ</th>
                                <th>Arrivée</th>
                                <th>Date</th>
                                <th>Driver</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>

    {%   if app.user.businessCompany is not null %}

        <div id="drivertable" class="row col-md-12 col-lg-12 col-xl-12">
            <section class="panel panel-featured-left panel-featured-tertiary">

                <div class="panel-body">
                        <div  class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">{%trans%}Driver connect{%endtrans%}</h4>
                                <div class="info">
                                    <div class="panel-body">
                                        <table id='driver' class="table table-bordered table-striped">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon ">
                                <i class="fa fa-info"></i>
                            </div>
                        </div>
                        <div  class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">{%trans%}Driver goes to the customer{%endtrans%}</h4>
                                <div class="info">
                                    <div class="panel-body">
                                        <table id='driver_go_customer' class="table table-bordered table-striped">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon ">
                                <i class="fa fa-info"></i>
                            </div>
                        </div>
                        <div  class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">{%trans%}Driver waiting / arrival{%endtrans%}</h4>
                                <div class="info">
                                    <div class="panel-body">
                                        <table id='driverarrival' class="table table-bordered table-striped">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon ">
                                <i class="fa fa-info"></i>
                            </div>
                        </div>
                        <div  class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">{%trans%}Driver on race{%endtrans%}</h4>
                                <div class="info">
                                    <div class="panel-body">
                                        <table id='driveronrace' class="table table-bordered table-striped">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </div>
        <br>
        <div  id="stat" class="row">

        <div class="col-md-12 col-lg-6 col-xl-6">
            <section class="panel panel-featured-left panel-featured-secondary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-secondary">
                                <i class="fa fa-usd"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">{%trans%}Today's Profit{%endtrans%}</h4>
                                <div class="info">
                                    <strong id="sumca" class="amount"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-12 col-lg-6 col-xl-6">
            <section class="panel panel-featured-left panel-featured-tertiary">
                <div class="panel-body">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-tertiary">
                                <i class="fa fa-shopping-cart"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">{%trans%}Today's order{%endtrans%}</h4>
                                <div class="info">
                                    <strong id="countrace" class="amount"></strong>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        </div>

    {% endif %}

     {% if is_granted('ROLE_ADMINCOMPANY') %}

         <div class="row">
             <div class="col-md-12">
                 <section class="panel panel-dark">

                     <div id="progressbar_driver" name="progressbar_driver" class="progress progress-xs progress-half-rounded m-md light">
                         <div class="progress-bar progress-bar-dark" id="progressbar_black" name="progressbar_black" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 1%;">
                         </div>
                     </div>
                     <header class="panel-heading">
                         <div class="panel-actions">
                             <a href="#" class="fa fa-caret-down"></a>
                             <a href="#" class="fa fa-times"></a>
                         </div>

                         <h2 class="panel-title" id="count">
                     </header>
                     <div class="panel-body">
                         <div class="table-responsive">
                             <table id= "liste_activity" name="liste_activity" class="table table-striped mb-none">
                                 <thead>
                                 <tr>
                                     <th>#</th>
                                     <th>Status</th>
                                     <th>Service</th>
                                     <th>Customer</th>
                                     <th>Départ</th>
                                     <th>Arrivée</th>
                                     <th>Date</th>
                                     <th>Driver</th>
                                     <th>Action</th>

                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr>

                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                         <div class="table-responsive">
                             <table id= "liste_availibity" name="liste_availibity" class="table table-striped mb-none">
                                 <thead>
                                 <tr>
                                     <th>#</th>
                                     <th>driver</th>
                                     <th>adresse</th>
                                 </tr>
                                 </thead>
                                 <tbody>
                                 <tr>

                                 </tr>
                                 </tbody>
                             </table>
                         </div>
                     </div>
                 </section>
             </div>
         </div>

         <div class="row">
             <div class="col-md-12">
                 <section class="panel panel-tertiary">
                     <header class="panel-heading">
                         <div class="panel-actions">
                             <a href="#" class="fa fa-caret-down"></a>
                             <a href="#" class="fa fa-times"></a>
                         </div>

                         <h2 class="panel-title">Stats</h2>
                     </header>
                     <div class="panel-body">
                         <div  id="stat" class="row">

                             <div class="col-md-12 col-lg-6 col-xl-6">
                                 <section class="panel panel-featured-left panel-featured-secondary">
                                     <div class="panel-body">
                                         <div class="widget-summary">
                                             <div class="widget-summary-col widget-summary-col-icon">
                                                 <div class="summary-icon bg-secondary">
                                                     <i class="fa fa-usd"></i>
                                                 </div>
                                             </div>
                                             <div class="widget-summary-col">
                                                 <div class="summary">
                                                     <h4 class="title">{%trans%}Today's Profit{%endtrans%}</h4>
                                                     <div class="info">
                                                         <strong id="sumca" class="amount"></strong>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </section>
                             </div>

                             <div class="col-md-12 col-lg-6 col-xl-6">
                                 <section class="panel panel-featured-left panel-featured-tertiary">
                                     <div class="panel-body">
                                         <div class="widget-summary">
                                             <div class="widget-summary-col widget-summary-col-icon">
                                                 <div class="summary-icon bg-tertiary">
                                                     <i class="fa fa-shopping-cart"></i>
                                                 </div>
                                             </div>
                                             <div class="widget-summary-col">
                                                 <div class="summary">
                                                     <h4 class="title">{%trans%}Today's order{%endtrans%}</h4>
                                                     <div class="info">
                                                         <strong id="countrace" class="amount"></strong>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                 </section>
                             </div>

                         </div>
                     </div>
                 </section>
             </div>
         </div>





         <br>

        {% endif %}





{{ sonata_block_render_event('sonata.admin.dashboard.bottom', { 'admin_pool': admin_pool }) }}
    <style type="text/css">
        html, body { height: 100%; margin: 0; padding: 0; }
        #map { height: 500px; width: 100%;border: 1px solid}
    </style>
    <script>
        var map, locations = [];
        $(document).ready(function () {
            $("#progressbar_liste").hide();
            $("#progressbar_driver").hide();

            $("#stat").hide();
            var myStack = {"dir1":"down", "dir2":"right", "push":"top"};
            new PNotify({
                title: "Veuillez Patienter",
                text: "Chargement de vos informations ...",
                addclass: "stack-custom notification-info",
                stack: myStack
            });
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat:{{ app.user.getlatUser() }}, lng:{{ app.user.getlngUser() }}},
                zoom: 8,
                zoomControl: true,
                scaleControl: false,
                mapTypeControl: false,
            });
            iconPath = 'https://maps.gstatic.com/mapfiles/ms2/micons/';
            var _color = {
                false: "blue-dot.png",
                true: "yellow-dot.png",
                2: "yellow-dot.png",
                3: "yellow-dot.png",
                4: "orange-dot.png",
                5: "yellow-dot.png",
                6: "yellow-dot.png", // chauffeur en attente de recevoir une course
                7: "yellow-dot.png",
                8: "blue-dot.png",
                9: "lightblue.png", //chauffeur en course avec un client
                12: "green-dot.png", //course acceptée par le chauffeur
                13: "red-dot.png"

            };

            $.ajax({
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    // Download progress
                    xhr.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            // Do something with download progress
                            var percentComplete  = 0;
                            percentComplete  += 100;
                            $("#progressbar_liste").fadeIn( "slow" );
                            $("#progressbar")
                                    .css("width", percentComplete  + "%")
                                    .attr("aria-valuenow", percentComplete )
                                    .text(percentComplete  + "% Complete");
                            $("#progressbar_liste").fadeOut( "slow" );
                        }
                    }, false);

                    return xhr;
                },
                type: 'GET',
                url: "{{path('get_list_race')}}",
                data: {},
                success: function(data) {
                    console.log(data);

                    $("#liste").empty();
                    $("#liste_activity").empty();
                    $('#error-delay').empty();

                    $("#liste").append("<th>#</th> <th>Status</th> <th>Service</th> <th>Customer</th> <th>Départ</th> <th>Arrivée</th> <th>Date</th> <th>Driver</th><th>Action</th></tr></th>").appendTo('#liste');
                    $("#liste_activity").append("<th>#</th> <th>Status</th> <th>Service</th> <th>Customer</th> <th>Départ</th> <th>Arrivée</th> <th>Date</th> <th>Driver</th><th>Action</th></tr></th>").appendTo('#liste_activity');



                    data.forEach(function (m/*, index */){

                        if (m.statuscourse == 18 ){
                            $('<tr class="info">').append("<td>" + m.id + '<br>' + m.numbercommand + '</td><td>' + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + "</td></tr>").appendTo('#liste');
                        }else if (m.statuscourse == 13 ){
                            $('<tr class="success">').append("<td>" + m.id + '<br>' + m.numbercommand + "</td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + "<br></td></tr>").appendTo('#liste');
                        }else if (m.statuscourse == 9){
                            $('<tr class="primary">').append("<td>" + m.id + '<br>' + m.numbercommand + "</td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + "</td></tr>").appendTo('#liste_activity');
                        }else if (m.statuscourse == 4 && m.groupage == 0){
                            $('<tr>').append("<td><b>" + m.id + '<br>' + m.numbercommand + "</b></td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + " <p>(distance: " + m.distance + " km durée:" + m.duration + " min)</td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/show\" target=\"_blank\"><i class=\"fa fa-eye\"></i></a></td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/edit\" target=\"_blank\"><i class=\"fa fa-edit\"></i></a></td></tr>").appendTo('#liste');
                        }else if (m.statuscourse == 4 && m.groupage == 1) {
                            $('<tr>').append("<td><b>" + m.id + '<br>' + m.numbercommand + "</b><br><span class='label label-info\'>GROUPAGE</span><br>[" + m.groupage_base + "]</td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + " <p>(distance: " + m.distance + " km durée:" + m.duration + " min)</td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/show\" target=\"_blank\"><i class=\"fa fa-eye\"></i></a></td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/edit\" target=\"_blank\"><i class=\"fa fa-edit\"></i></a></td></tr>").appendTo('#liste');
                        }
                        //$('<tr>').append("<td>#</td><td>"+m.driver+"</td><td>"+ m.service +"</td></tr>").appendTo('#liste_availibity');

                        if (m.daily_driver !==0 && m.duration > 0){
                            var mes_delay =  '<div class="popup-box">' + m.driver + ' va être en retard de '+m.daily_time+' sur la commande  '+m.id+' estimation pec à :  '+m.daily_driver+'  </div>';
                            $('#error-delay').append(mes_delay);
                        }
                    })

                }
            });

            $.ajax({
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
                    // Download progress
                    xhr.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                            // Do something with download progress
                            var percentComplete  = 0;
                            percentComplete  += 100;
                            $("#progressbar_driver").fadeIn( "slow" );
                            $("#progressbar_black")
                                    .css("width", percentComplete  + "%")
                                    .attr("aria-valuenow", percentComplete )
                                    .text(percentComplete  + "% Complete");
                            $("#progressbar_driver").fadeOut( "slow" );
                        }
                    }, false);

                    return xhr;
                },
                type: 'GET',
                url: "{{path('get_driver_location')}}",
                data: {},
                success: function(data) {
                    if (data) {

                        $.each(locations, function (k, v) {
                            v.setMap(null);
                            isValid = false;
                            $.each(data.data, function (kk, vv) {
                                if (v.getTitle() == vv.driver) {
                                    isValid = true;

                                }
                            });
                            if (!isValid)
                                v.setMap(null);
                        });


                        var count = data.data.length;

                        var marker, i;
                        var infowindow = new google.maps.InfoWindow();


                        google.maps.event.addListener(map, 'click', function() {
                            infowindow.close();
                        });

                        $('#error-availibility').html('');
                        $('#error-delay').html('');
                        for (i = 0; i < data.data.length; i++) {
                            var count = data.data.length;

                            if (count > 1){
                                var driveronline = 'il y a <b>' +count+' </b> chauffeurs en ligne';
                            }else{
                                var driveronline = 'il y a <b>' +count+' </b> chauffeur en ligne';
                            }
                            $("#count").empty();
                            $("#count").html(driveronline);
                            $("#driver").empty();
                            $("#drivernotavailable").empty();
                            $("#driveronrace").empty();
                            $("#driverarrival").empty();
                            $("#error-availibility").empty();
                            $("#liste_availibity").empty();

                            $.each(data.data, function (k, v) {

                               // console.log(v);

                                $("#liste_availibity").append("<tr><td>#</td><td>"+v.driver.toUpperCase()+" "+v.driverphone+"</td> <td>"+v.road+" "+v.village.toUpperCase()+" ("+v.postcode+")</td></tr></th>").appendTo('#liste_availibity');

                                latlngset = new google.maps.LatLng(v.latitude, v.longitude);
                                var marker = null;


                                _icon = '';
                                if (v.status != null && _color[v.status] != undefined && v.availibility == true)
                                    _icon = _color[v.status];
                                else
                                    _icon = _color[v.availibility ? true : false];


                                marker = new google.maps.Marker({
                                    title: v.driver,
                                    position: latlngset,
                                    animation: google.maps.Animation.DROP,
                                    map: map,
                                    icon: iconPath + _icon,
                                });
                                //console.log(locations);
                                locations.push(marker);
                                google.maps.event.addListener(marker, 'click', (function (marker, i) {

                                    return function () {
                                        infowindow.setContent(v.driver);
                                        infowindow.open(map, marker);
                                        map.setZoom(9);
                                        map.setCenter(v.latitude, v.longitude);
                                    }

                                })(marker, i));
                            });
                        }
                    }
                }
            });

            setInterval(function () {
                $.ajax({
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();
                        // Download progress
                        xhr.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                // Do something with download progress
                                var percentComplete  = 0;
                                percentComplete  += 100;
                                $("#progressbar_driver").fadeIn( "slow" );
                                $("#progressbar_black")
                                        .css("width", percentComplete  + "%")
                                        .attr("aria-valuenow", percentComplete )
                                        .text(percentComplete  + "% Complete");
                                $("#progressbar_driver").fadeOut( "slow" );
                            }
                        }, false);

                        return xhr;
                    },
                    type: 'GET',
                    url: "{{path('get_driver_location')}}",
                    data: {},
                    success: function(data) {
                        if (data) {

                            $.each(locations, function (k, v) {
                                v.setMap(null);
                                isValid = false;
                                $.each(data.data, function (kk, vv) {
                                    if (v.getTitle() == vv.driver) {
                                        isValid = true;

                                    }
                                });
                                if (!isValid)
                                    v.setMap(null);
                            });


                            var count = data.data.length;

                            var marker, i;
                            var infowindow = new google.maps.InfoWindow();


                            google.maps.event.addListener(map, 'click', function() {
                                infowindow.close();
                            });

                            $('#error-availibility').html('');
                            $('#error-delay').html('');
                            for (i = 0; i < data.data.length; i++) {
                                var count = data.data.length;

                                if (count > 1){
                                    var driveronline = 'il y a <b>' +count+' </b> chauffeurs en ligne';
                                }else{
                                    var driveronline = 'il y a <b>' +count+' </b> chauffeur en ligne';
                                }
                                $("#count").empty();
                                $("#count").html(driveronline);
                                $("#driver").empty();
                                $("#drivernotavailable").empty();
                                $("#driveronrace").empty();
                                $("#driverarrival").empty();
                                $("#error-availibility").empty();
                                $("#liste_availibity").empty();



                                $.each(data.data, function (k, v) {

                                   // console.log(v);

                                    $("#liste_availibity").append("<tr><td>#</td><td>"+v.driver.toUpperCase()+" "+v.driverphone+"</td> <td>"+v.road+" "+v.village.toUpperCase()+" ("+v.postcode+")</td></tr></th>").appendTo('#liste_availibity');

                                    latlngset = new google.maps.LatLng(v.latitude, v.longitude);
                                    var marker = null;


                                    _icon = '';
                                    if (v.status != null && _color[v.status] != undefined && v.availibility == true)
                                        _icon = _color[v.status];
                                    else
                                        _icon = _color[v.availibility ? true : false];


                                    marker = new google.maps.Marker({
                                        title: v.driver,
                                        position: latlngset,
                                        animation: google.maps.Animation.DROP,
                                        map: map,
                                        icon: iconPath + _icon,
                                    });
                                    //console.log(locations);
                                    locations.push(marker);
                                    google.maps.event.addListener(marker, 'click', (function (marker, i) {

                                        return function () {
                                            infowindow.setContent(v.driver);
                                            infowindow.open(map, marker);
                                            map.setZoom(9);
                                            map.setCenter(v.latitude, v.longitude);
                                        }

                                    })(marker, i));
                                });
                            }
                        }
                    }
                });
            }, 30000);

            setInterval(function () {
                $.ajax({
                    xhr: function() {
                        var xhr = new window.XMLHttpRequest();

                        // Upload progress
                        xhr.upload.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                var percentComplete  = 0;
                                percentComplete  += 10;
                                $("#progressbar")
                                        .css("width", percentComplete  + "%")
                                        .attr("aria-valuenow", percentComplete )
                                        .text(percentComplete  + "% Complete");

                               // console.log('finis');
                                //console.log(percentComplete);
                            }
                        }, false);

                        // Download progress
                        xhr.addEventListener("progress", function(evt){
                            if (evt.lengthComputable) {
                                var percentComplete = evt.loaded / evt.total;
                                // Do something with download progress
                                var percentComplete  = 0;
                                percentComplete  += 100;
                                $("#progressbar_liste").fadeIn( "slow" );
                                $("#progressbar")
                                        .css("width", percentComplete  + "%")
                                        .attr("aria-valuenow", percentComplete )
                                        .text(percentComplete  + "% Complete");

                                //console.log('char');
                               // console.log(percentComplete);
                                $("#progressbar_liste").fadeOut( "slow" );
                            }
                        }, false);

                        return xhr;
                    },
                    type: 'GET',
                    url: "{{path('get_list_race')}}",
                    data: {},
                    success: function(data) {


                        $("#liste").empty();
                        $("#liste_activity").empty();
                        $('#error-delay').empty();

                        $("#liste").append("<th>#</th> <th>Status</th> <th>Service</th> <th>Customer</th> <th>Départ</th> <th>Arrivée</th> <th>Date</th> <th>Driver</th><th>Action</th></tr></th>").appendTo('#liste');
                        $("#liste_activity").append("<th>#</th> <th>Status</th> <th>Service</th> <th>Customer</th> <th>Départ</th> <th>Arrivée</th> <th>Date</th> <th>Driver</th><th>Action</th></tr></th>").appendTo('#liste_activity');



                        data.forEach(function (m/*, index */){

                            if (m.statuscourse == 18 ){
                                $('<tr class="info">').append("<td>" + m.id + '<br>' + m.numbercommand + '</td><td>' + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + " (distance: " + m.distance + " km durée:" + m.duration + " min)</td></tr>").appendTo('#liste');
                            }else if (m.statuscourse == 13 ){
                                $('<tr class="success">').append("<td>" + m.id + '<br>' + m.numbercommand + "</td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + "<br>(distance: " + m.distance + " km durée:" + m.duration + " min)</td></tr>").appendTo('#liste');
                            }else if (m.statuscourse == 9){
                                $('<tr class="primary">').append("<td>" + m.id + '<br>' + m.numbercommand + "</td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + "</td></tr>").appendTo('#liste_activity');
                            }else if (m.statuscourse == 4 && m.groupage == 0){
                                $('<tr>').append("<td><b>" + m.id + '<br>' + m.numbercommand + "</b></td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + " <p>(distance: " + m.distance + " km durée:" + m.duration + " min)</td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/show\" target=\"_blank\"><i class=\"fa fa-eye\"></i></a></td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/edit\" target=\"_blank\"><i class=\"fa fa-edit\"></i></a></td></tr>").appendTo('#liste');
                            }else if (m.statuscourse == 4 && m.groupage == 1) {
                                $('<tr>').append("<td><b>" + m.id + '<br>' + m.numbercommand + "</b><br><span class='label label-info\'>GROUPAGE</span><br>[" + m.groupage_base + "]</td><td>" + m.statusname + "</td><td>" + m.service + "</td><td>" + m.name_customer + "</td><td>" + m.started_address + "</td><td>" + m.arrival_address + "</td><td>" + m.departure_date + "</td><td>" + m.driver + " <p>(distance: " + m.distance + " km durée:" + m.duration + " min)</td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/show\" target=\"_blank\"><i class=\"fa fa-eye\"></i></a></td><td><a class=\"sonata-action-element\" href=\"/admin/fr/course/" + m.id + "/edit\" target=\"_blank\"><i class=\"fa fa-edit\"></i></a></td></tr>").appendTo('#liste');
                            }

                            //$('<tr>').append("<td>#</td><td>"+m.driver+"</td><td>"+ m.service +"</td></tr>").appendTo('#liste_availibity');

                            if (m.daily_driver !==0 && m.duration > 0){
                                var mes_delay =  '<div class="popup-box">' + m.driver + ' va être en retard de '+m.daily_time+' sur la commande  '+m.id+' estimation pec à :  '+m.daily_driver+'  </div>';
                                $('#error-delay').append(mes_delay);
                            }


                        })

                    }
                });
            },30000);

            setInterval(function () {
                $.getJSON("{{path('get_data_dashboard')}}").success(function (data) {
                    $.each(data.data, function (k, v) {
                        $("#" + k).html(v);
                        $("#stat").fadeIn("slow");
                    });
                })
            }, 500000);





        });






    </script>
{% endblock %}
