{% trans_default_domain 'frontend' %}
<footer role="contentinfo" class="footer black center">
    <div class="wrap">
        <div class="row">
            <!-- Column -->
            <article class="one-fifth wow fadeInLeft" data-wow-delay=".5s"">
                <h6>{% trans %}Need help{% endtrans %}</h6>
                <p>{% trans %}Contact us by phone or mail{% endtrans %}:</p>
                <p class="contact-data"><span class="ico phone"></span> +33 (0)5 32 09 08 08</p>
                <p class="contact-data"><span class="ico email"></span> <a href="mailto:contact@up.taxi">contact@up.taxi</a></p>

            </article>
            <article class="one-fifth wow fadeInLeft" data-wow-delay="1.s"">
                <h6>{% trans %}Secured payement{% endtrans %}</h6>
                <div class="row">
                    <div class="one-half"><img src="{{ asset('uploads/blogsite/carte-bleue.png') }}" alt="cb" />
                    </div>  
                    <div class="one-half">
                        <img src="{{ asset('uploads/blogsite/Visaelectron.png') }}" alt="cb"  />
                    </div>    
                </div>
                <div class="row">
                    <div class="one-half"><img src="{{ asset('uploads/blogsite/MasterCard_logo.png') }}" alt="mastercard" />
                    </div>  
                    <div class="one-half">
                        <img src="{{ asset('uploads/blogsite/Visa_Logo.png') }}" alt="visa"  />
                    </div>    
                </div>
            </article>
            <!-- Column -->
            <article class="one-fifth wow roolIn" data-wow-delay=".6s"">
                <h6></h6>
                <img src="{{ asset('uploads/blogsite/logoup-foot.png') }}" alt="uptaxi" />
            </article>
            <!-- //Column -->
            <article class="one-fifth wow fadeInRight" data-wow-delay=".6s"">
                <h6>{% trans %}Follow us{% endtrans %}</h6>
                <ul class="social">
                    <li class="facebook"><a title="facebook" href="https://www.facebook.com/UPTAXIFRANCE/" target="_blank">facebook</a></li>
                    <li class="twitter"><a title="twitter" href="https://twitter.com/UP_TAXI" target="_blank">twitter</a></li>
                    <li class="gplus"><a title="gplus" href="#">google plus</a></li>
                </ul>
                <br>
                <ul class="social">
                <h6>{% trans %}UP TAXI MONDE{% endtrans %}</h6>
                <a href="{{ url('homepage') }}" title="{% trans %}Home{% endtrans %}" id="link-logo" >TAXI FRANCE</a>
                <p><a href="{{ url('taxiaumaroc') }}" title="{% trans %}Home{% endtrans %}" id="link-logo" >TAXI AU MAROC</a></p>
                </ul>
            </article>

            <article class="one-fifth wow fadeInRight" data-wow-delay=".6s"">

                <h6>{% trans %}MEMBRE ACTIVED{% endtrans %}</h6>
                <img src="{{ asset('uploads/blogsite/1white.png') }}" alt="laplanete" />


            </article>


            <!-- //Column -->
        </div>

        <div class="copy">
            <p>Copyright 2015, UP TAXI. All rights reserved. </p>

            <nav class="foot-nav wow flash" data-wow-delay="2.5s" role="navigation">


                {{ knp_menu_render('footer', {'template': 'CABMainBundle:Menu:knp_footer.html.twig'}) }}
            </nav>
        </div>
    </div>
</footer>