{% extends 'CABMainBundle::layout.html.twig' %}
{% trans_default_domain 'frontend' %}
{% block title %}{% trans %}UP TAXI - Inscrivez-vous sur UP{% endtrans %}{% endblock %}
{% block main_content %}

<!-- Services iconic -->
<!-- Intro -->
{{ include('CABMainBundle::intro.html.twig') }}
<!-- //Intro -->
<!-- Search -->
{{ include('CABMainBundle::search.html.twig') }}
<!-- //Search -->
<div class="services boxed white" id="services">
    <article class="wow fadeIn" data-wow-delay=".6s">
        <figure class="featured-image">
            <img class="img-responsive" src="{{ asset('uploads/blogsite/appFR-min.jpg') }}" />
        </figure>
    </article>
    <!-- //Item -->
</div>
<div class="services iconic black">
    <div class="wrap">
        <div class="row">
            <!-- Item -->
            <div class="one-fourth wow fadeIn black">
                <a href="https://play.google.com/store/apps/details?id=com.onus.cab123&hl=fr">
                    <figure class="featured-image">
                        <img class="img-responsive" src="{{ asset('uploads/blogsite/appAppleFR.png') }}" />
                    </figure>
                    <div class="wow fadeIn white center">{%trans%}DOWNLOAD FOR CUSTOMER{%endtrans%}</div></a>
            </div>
            <div class="one-fourth wow fadeIn black" data-wow-delay=".2s">
                <a href="https://play.google.com/store/apps/details?id=com.onus.customercab123">
                    <figure class="featured-image">
                        <img class="img-responsive" src="{{ asset('uploads/blogsite/appgoogleFR.png') }}" />
                    </figure>
                    <div class="wow fadeIn white center">{%trans%}DOWNLOAD FOR CUSTOMER{%endtrans%}</div></a>
            </div>
            <div class="one-fourth wow fadeIn black" data-wow-delay=".2s">
                <a href="https://appsto.re/fr/LCjdgb.i">
                    <figure class="featured-image">
                        <img class="img-responsive" src="{{ asset('uploads/blogsite/appAppleFR.png') }}" />
                    </figure>
                    <div class="wow fadeIn white center">{%trans%}DOWNLOAD FOR DRIVER{%endtrans%}</div></a>
            </div>
            <div class="one-fourth wow fadeIn black" data-wow-delay=".2s">
                <a href="https://play.google.com/store/apps/details?id=com.onus.cab123">
                    <figure class="featured-image">
                        <img class="img-responsive" src="{{ asset('uploads/blogsite/appgoogleFR.png') }}" />
                    </figure>
                    <div class="wow fadeIn white center">{%trans%}DOWNLOAD FOR DRIVER{%endtrans%}</div></a>
            </div>


        </div>
    </div>
</div>



<div class="services iconic white">
    <div class="wrap">
        <div class="row">
            <!-- Item -->
            <div class="one-third wow fadeIn">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-eur fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}Guarantee fixed prices{% endtrans %}</h3>
                <p>{% trans %}No hidden costs ! The price of the transfer is known for booking{% endtrans %}.</p> </div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn" data-wow-delay=".2s">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-area-chart fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}Reliable transfers{% endtrans %}</h3>
                <p>{% trans %}An acceptance rate of 99.5% reservations, your booking is to be carried out{% endtrans %}.</p>
            </div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn" data-wow-delay=".4s">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-money fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}save money{% endtrans %}</h3>
                <p>{% trans %}Save money on trips of your employees through 123cab{% endtrans %}.</p>
            </div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-heart fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}Free cancellation{% endtrans %}</h3>
                <p>{% trans %}You can cancel whenever you want your reservation from your smartphone or your computer{% endtrans %}.</p></div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn" data-wow-delay=".2s">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-magic fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}Booking flexibility{% endtrans %}</h3>
                <p>{% trans %}Edit anytime schedules your reservations without any fees{% endtrans %}.</p>
            </div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn" data-wow-delay=".4s">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-phone fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}24h customer service{% endtrans %}</h3>
                <p>{% trans %}A customer service is available 24 hours and 365 days per year{% endtrans %}.</p>
            </div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-wheelchair fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}Award winning service{% endtrans %}</h3>
                <p>{% trans %}A vehicle adapted to your disability will be available for your transportation{% endtrans %}.</p>
            </div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn" data-wow-delay=".2s">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-thumbs-up fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}Selection of partners{% endtrans %}</h3>
                <p>{% trans %}Partners are Selected according to their professionalisms, listen to customers, and monitoring of work training{% endtrans %}.</p>
            </div>
            <!-- //Item -->

            <!-- Item -->
            <div class="one-third wow fadeIn" data-wow-delay=".4s">
                <span class="circle" style="border-color:#0091d0"><span class="fa fa-automobile fa-3x" style="color:#0091d0"></span></span>
                <h3>{% trans %}Quality vehicles{% endtrans %}</h3>
                <p>{% trans %}Prestige vehicles and drivers to accompany you on the go{% endtrans %}.</p>
            </div>
            <!-- //Item -->
        </div>
    </div>
</div>
<!-- //Services iconic -->

<!-- Call to action -->
<div class="black cta blue">
    <div class="wrap">
        <p class="wow fadeInLeft">{% trans %}C-ZERO: CO2 offsetting transfers are compensated with reforestation campaigns{% endtrans %} </p>
        <a href="#" class="btn huge green right wow fadeInRight">{{ 'More info'|trans({}, 'common') }}</a>
    </div>
</div>
<!-- //Call to action -->

<!-- Services -->
<div class="services boxed white" id="services">
    <!-- Item -->
    <article class="one-third wow fadeIn">
        <figure class="featured-image">
            <img class="img-responsive" src="{{ asset('uploads/blogsite/1.png') }}" />
            <div class="overlay">

            </div>
        </figure>
        <div class="details">
            <h4>{% trans %}mobile application{% endtrans %}</h4>
            <p>{% trans %}booking your taxi online{% endtrans %}</p>
        </div>
    </article>
    <article class="one-third  wow fadeIn" data-wow-delay=".6s">
        <figure class="featured-image">

            <img class="img-responsive" src="{{ asset('uploads/blogsite/2.png') }}" />

            <div class="overlay">

            </div>
        </figure>
        <div class="details">
            <h4>{% trans %}professional driver{% endtrans %}</h4>
            <p>{% trans %}fast and safe service{% endtrans %}</p>
        </div>
    </article>

    <article class="one-third  wow fadeIn" data-wow-delay=".6s">
        <figure class="featured-image">

            <img class="img-responsive" src="{{ asset('uploads/blogsite/3.png') }}" />

            <div class="overlay">

            </div>
        </figure>
        <div class="details">
            <h4>{% trans %}mobile payment{% endtrans %}</h4>
            <p>{% trans %}Pay be credit card or cash{% endtrans %}</p>
        </div>
    </article>
    <!-- //Item -->
</div>

<!-- //Services -->

<!-- Testimonials -->
<div class="testimonials center blue">
    <div class="wrap">
        <h6 class="fadeInDown">{% trans %}A pro team{% endtrans %}</h6>
        <p class="wow fadeInUp">{% trans %}Women and men looking and best meet all your expectations.{% endtrans %}</p>
        <p class="wow fadeInUp">{% trans %}Accompany a professional network in order to have impeccable service.{% endtrans %}
    </div>
</div>
<!-- //Testimonials

<div class="partners white center">
    <div class="wrap">
        <h2 class="wow fadeIn">{% trans %}THEY TRUST US{% endtrans %}</h2>
        <div class="one-fifth wow fadeIn"><a href="#"><img src="{{ asset('uploads/blogsite/liquide.jpg') }}" alt="" /></a></div>
        <div class="one-fifth wow fadeIn" data-wow-delay=".2s"><a href="#"><img src="{{ asset('uploads/blogsite/airbus.jpg') }}" alt="" /></a></div>
        <div class="one-fifth wow fadeIn" data-wow-delay=".4s"><a href="#"><img src="{{ asset('uploads/blogsite/total.jpg') }}" alt="" /></a></div>
        <div class="one-fifth wow fadeIn" data-wow-delay=".6s"><a href="#"><img src="{{ asset('uploads/blogsite/sanofi.jpg') }}" alt="" /></a></div>
        <div class="one-fifth" data-wow-delay=".8s"><a href="#"><img src="{{ asset('uploads/blogsite/solval.jpg') }}" alt="" /></a></div>
    </div>
</div>
<!-- Call to action -->

<!-- //Call to action -->
{% endblock main_content %}
{% block javascript  %}
{{ parent() }}
<script async src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock javascript  %}
