{% trans_default_domain 'frontend' %}
<div class="intro">
    <div class="wrap">
        <div class="textwidget">
            <h1 class="wow fadeInDown">{% trans %}NEED A TRANSPORT?{% endtrans %}</h1>
            <h2 class="wow fadeInUp">{% trans %}You are in the right location.{% endtrans %}</h2>
            <div class="actions">
                <a href="#services" title="{% trans %}Our services{% endtrans %}" class="btn large white wow fadeInLeft anchor">{% trans %}The service{% endtrans %}</a>
                <a href="#booking" title="{% trans %}Make a booking{% endtrans %}" class="btn large green wow fadeInRight anchor">{% trans %}get a quote{% endtrans %}</a>
            </div>
        </div>
    </div>
</div>