{% extends 'knp_menu.html.twig' %}

{% block linkElement %}

    <a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>
        <span>{{ block('label') }}</span>
    </a>
{% endblock %}
