{% trans_default_domain 'frontend' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    {% block meta %}
        {% if  result is defined %}
            {% for value in result %}
            {% if loop.index > 1 %}
                <meta name="description" content="{{ value.metadescription }}">
            {% endif %}
            {% endfor %}
        {% elseif description is not defined %}
                <meta name="description" content="5000 Taxis pour répondre à vos demandes nationales. 100 % satisfait" />
        {% endif %}
        {% if  result  is defined %}
            {% for value in result %}
                {% if loop.index > 1 %}
                <meta name="keywords" content="{{ value.metakeywords}}">
                {% endif %}
            {% endfor %}
            {% elseif keywords is not defined %}
                <meta name="keywords" content="UP TAXI ,taxi toulouse, taxi paris , taxi aeroport , taxi g7 ,g1 taxi , taxi france , taxi vite , application taxi , application iphone taxi , application android taxi ,  Taxi, taxis, Taxis, France, Paris, annuaire, taxi, taxis, TAXI, réseau, VTC, national" />
        {% endif %}
        <title>{% block title %}UP TAXI{% endblock %}</title>
        <meta name="robots" content="index,follow">
        <meta name="revisit-after" content="15">
        <meta name="rating" content="General">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="up.taxi">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endblock meta %}


    <link rel="alternate" href="https://www.up.taxi" hreflang="en-us" />
    <link rel="alternate" href="https://www.up.taxi/es/" hreflang="es" />
    <link rel="alternate" href="https://www.up.taxi/fr/" hreflang="fr" />
    <link rel="alternate" href="https://www.up.taxi/ar/" hreflang="ar" />
    <!-- Google Tag Manager -->


    <!-- End Google Tag Manager -->
    {% block head_styles %}
        <style>
        ::-moz-selection{background:#CC2262;color:#fff}::selection{background:#CC2262;color:#fff}html{-webkit-tap-highlight-color:#CC2262}a,.more,.services.boxed .details h4 a:hover,.services.iconic h3,.content a,.description a:hover,.description a:focus,.microlocations p a:hover,.microlocations p a:focus,.hentry .entry-content h2 a:hover,.hentry .entry-content h2 a:focus,.footer .contact-data a:hover,.footer .contact-data a:focus,.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_today,.faqs .expanded,.faqs .expanded:after{color:#CC2262}.color,.pager a.current,.pager a:hover,.pager a:focus,table.hover tr:hover td,.tabs li.active a,.social li:hover,.data th,.tabs li a:hover,.tabs li a:focus,.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div.xdsoft_current,.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current,.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover,.slicknav_menu .slicknav_icon-bar{background-color:#CC2262}.xdsoft_datetimepicker .xdsoft_calendar td:hover,.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover{background:#CC2262 !important}.btn:hover,.btn:focus{background:#ffffff !important;color:#000 !important}.more:after,.single a:after{border-bottom:2px dotted #CC2262}.tabs li.active a:after{border-color:#CC2262 transparent transparent transparent}blockquote:before{position:absolute;left:20px;background:url(../images/icons-pink.png) -62px 0 no-repeat}.testimonials h6:before{position:relative;display:inline-block;left:-16px;background:url(../images/icons-pink.png) -62px 0 no-repeat}.footer .phone{background-image:url(../images/icons-pink.png) !important;background-position:0 0}.footer .email{background-image:url(../images/icons-pink.png) !important;background-position:-31px -4px}.people{background-image:url(../images/icons-pink.png) !important;background-position:0 -30px}.luggage{background-image:url(../images/icons-pink.png) !important;background-position:-40px -30px}.time{background-image:url(../images/icons-pink.png) !important;background-position:-80px -30px}
        </style>

        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
        <link href="{{ asset('bundles/cabmain/css/jquery-ui.min.css') }}" rel="stylesheet" >
        <link href="{{ asset('bundles/cabmain/css/intlTelInput.css') }}" rel="stylesheet" >
        <link href="{{ asset('bundles/cabmain/css/font-awesome.css') }}" rel="stylesheet" media="screen">
	    <link href="{{ asset('bundles/cabmain/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/cabmain/css/bootstrap-theme.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/cabmain/css/theme-pink.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/cabmain/css/style.min.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/cabmain/css/jquery.datetimepicker.css') }}" rel="stylesheet" media="screen">
        <link href="{{ asset('bundles/cabmain/css/animate.css') }}" rel="stylesheet" media="screen">
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,500,600,700|Montserrat:400,700' rel='stylesheet' type='text/css'>

    {% endblock head_styles %}
    {% block javascript %}
        <script>
            if(navigator.userAgent.indexOf("Speed Insights") == -1) {
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

                ga('create', 'UA-88194402-1', 'auto');
                ga('send', 'pageview');
            }
        </script>


        <script src="{{ asset('bundles/cabmain/js/jquery.min.js') }}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock javascript %}
</head>

<body {% if app.request.attributes.get('_route') == 'homepage' %} class="home"{% endif %}>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRTZZ2F"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
{% trans_default_domain 'common' %}
<input type="hidden" id="locale-input" value="{{ app.request.getLocale() }}"/>
<input type="hidden" id="current-localisation-input" value=""/>
{% block navbar %}
    <header class="header" role="banner">
        <div class="wrap">
            <!-- Logo -->
            <div class="logo">
                <a href="{{ url('homepage') }}" title="{% trans %}Home{% endtrans %}" id="link-logo" >
                    <img id="logo" alt="logo" src="{{ asset('bundles/cabmain/images/car-logo.png') }}" />
                </a>
            </div>
            <!-- //Logo -->

            <!-- Main Nav -->
            <nav role="navigation" class="main-nav">
                {{ knp_menu_render('main', {'template': 'CABMainBundle:Menu:knp_menu.html.twig'}) }}
            </nav>

            <div class="language">
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('uploads/blogsite/drapeau-france-16.png') }}" alt="FR"  /></a>
                <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('uploads/blogsite/drapeau-usa-16.png') }}" alt="EN"  /></a>
             <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"><img src="{{ asset('uploads/blogsite/drapeau-spain-16.png') }}" alt="ES"  /></a>
            </div>
            <!-- //Main Nav -->
        </div>
    </header>
    <!-- //Header -->
{% endblock %}

<!-- Main -->
<main class="" role="main">

{% block main_content %}
    {% if app.session.flashbag.has('notice') %}
        {{ app.session.flashbag.get('notice').0 }}<br/>
    {% endif %}
    {% if app.session.flashbag.has('error') %}
        {{ app.session.flashbag.get('error').0 }}<br/>
    {% endif %}
    {% if app.session.flashbag.has('warning') %}
        {{ app.session.flashbag.get('warning').0 }}<br/>
    {% endif %}
  <!-- Intro -->
    {{ include('CABMainBundle::intro.html.twig') }}
    <!-- //Intro -->

    <!-- Search -->
    {{ include('CABMainBundle::search.html.twig') }}
    <!-- //Search -->

    {% endblock main_content %}
</main>
{% block footer %}
    {{ include('CABMainBundle::footer.html.twig') }}

{% endblock footer %}

<!-- Preloader -->
{% block preloader %}
    {{ include('CABMainBundle::preloader.html.twig') }}
{% endblock preloader %}
<!-- //Preloader -->

{% block body_scripts %}
    <script src="{{ asset('bundles/cabmain/js/jquery.form.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/jquery.uniform.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/jquery.datetimepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/jquery.slicknav.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/wow.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/search.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/scripts.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/intlTelInput.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/jquery.geocomplete.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    <script src="//js.api.here.com/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8"></script>
    <script src="//js.api.here.com/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="//js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="//js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key={{keygoogle.server_key}}&signed_in=true&libraries=places&callback=initAutocomplete"async defer></script>

{% endblock body_scripts %}
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="Error">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">Error Booking</h4>
            </div>
            <div class="modal-body">
                <div class="content-error">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
