{% trans_default_domain 'frontend' %}
<div class="advanced-search blue" id="booking">
    <div class="wrap">
        <form role="form" action="{{ path('create_course') }}" method="post" id="booking-form">
            <!-- Row -->
            <div class="f-row">
                <div class="form-group datepicker one-third">

                    <label for="dep-date-L">{% trans from 'frontend' %}date and time{% endtrans %}</label>
                    <div class="input-group">
                        <span class="input-group-addon">
                           <span class="input-group-addon glyphicon glyphicon-time" id="basic-addon3"> {% trans %}now{% endtrans %}</span>
                        </span>
                        <input type="text" title="Date and time of departure" data-original-title="required field" placeholder="{% trans %}date and time{% endtrans %}" id="dep-date" name="dep_date" />
                    </div>

                </div>
                <div class="form-group select one-third">

                    <label>{% trans from 'frontend' %}departure{% endtrans %}</label>
                    <div class="input-group departure-input-group">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-map-marker departure-icon" aria-hidden="true"></span>
                        </span>
                        <input type="text" placeholder="{% trans from 'frontend' %}Set the departure address{% endtrans %}" id="input-pickup" class="maps_input" name="depart_address"/>
                    </div>
                </div>

                <div class="form-group select one-third">

                    <label>{% trans from 'frontend' %}arrival{% endtrans %}</label>
                 <!-- 
                 <input type="text" placeholder="{% trans from 'frontend' %}Set the arrival address{% endtrans %}" id="input-droSet the arrival addresspoff" class="form-control maps_input" name="arrival_address">
                Row -->

                <div class="input-group">
                    <input type="text" placeholder="{% trans from 'frontend' %}Set the arrival address{% endtrans %}" id="input-dropoff" class="maps_input" name="arrival_address">
                </div>
                 </div>
            </div>
            <!-- //Row -->

            <!-- Row -->
            <div class="f-row">
                <div class="form-group datepicker one-third">
                    <label for="ret-date">{% trans from 'frontend' %}Return date and time{% endtrans %}</label>
                    <div class="input-group">
                        <input type="text" id="ret-date" placeholder="{% trans from 'frontend' %}Choose return the date and time{% endtrans %}" name="back_date"/>
                    </div>
                </div>


               <div class="form-group select one-third">
                    <label>{% trans from 'frontend' %}departure{% endtrans %}</label>
                   <div class="input-group">
                        <input type="text" placeholder="{% trans from 'frontend' %}Set the departure address{% endtrans %}" id="input-pickup-ret" class="maps_input" name="depart_address_ret"/>
                   </div>
                </div>
                <div class="form-group select one-third">
                    <label>{% trans from 'frontend' %}arrival{% endtrans %}</label>
                    <div class="input-group">
                        <input type="text" placeholder="{% trans from 'frontend' %}Set the arrival address{% endtrans %}" id="input-dropoff-ret" class="maps_input" name="arrival_address_ret">
                    </div>
                </div>


            </div>
            <!-- //Row -->

            <!-- Row -->
            <div class="f-row">

                <div class="form-group spinner">
                    <label class="one-half" for="people">{% trans from 'frontend' %}person number{% endtrans %}</small>?</label>
                    <input type="number" id="people" min="1" name="numberPerson"/>
                </div>
                <div class="form-group radios one-half">

                 <div>
                        <input type="radio" name="with_return" id="oneway" value="0" checked="checked"  />
                        <label for="oneway">{% trans %}one way{% endtrans %}</label>
                    </div>
                    <div>
                        <input type="radio" name="with_return" id="return" value="1" />
                        <label for="return">{% trans %}round trip{% endtrans %}</label>
                    </div>

                </div>
                 <div class="form-group right">
                    <button type="submit" class="btn large green">{% trans %}get a quote{% endtrans %}</button>
                </div>
            </div>
            <!--// Row -->
            <input id="lat-input" name="lat" type="hidden" />
            <input id="lng-input" name="lng" type="hidden" />
            {#lat and lng auto (browser)#}
            <input id="lat-input-auto" name="lat-auto" type="hidden" />
            <input id="lng-input-auto" name="lng-auto" type="hidden" />

            <input id="lat-arrival-input" name="latArrival" type="hidden" />
            <input id="lng-arrival-input" name="lngArrival" type="hidden" />



            <input id="input-duration" name="estimated_time" type="hidden" />
            <input id="input-duration-text" name="estimated_time_text" type="hidden" />
            <input id="input-distance" name="estimated_distance" type="hidden" />

            {#Arrival hidden fields for geolocalisation#}
            <input id="lat-back-dep-input" name="latDepBack" type="hidden" />
            <input id="lng-back-dep-input" name="lngDepBack" type="hidden" />

            <input id="lat-back-arrival-input" name="latArrivalBack" type="hidden" />
            <input id="lng-back-arrival-input" name="lngArrivalBack" type="hidden" />

            <input id="input-duration-back" name="estimated_time_back" type="hidden" />
            <input id="input-duration-back-text" name="estimated_time_back_text" type="hidden" />
            <input id="input-distance-back" name="estimated_distance_back" type="hidden" />




        </form>
    </div>

</div>

<script src="{{ asset('bundles/cabmain/js/script.geolocalisation.min.js') }}"></script>