<!-- Full Page Image Background Carousel Header -->
{% trans_default_domain 'common' %}
<div class="rslides_container">
    <ul class="rslides" id="slider1">
        {% for item in media %}
            <li>
                <img src="{% path item, 'big' %}" alt="">
                <h2 class="caption">{{ item.name }}</h2>
                <p class="caption">{{ item.description }}</p>
            </li>
        {% endfor %}
    </ul>
</div>