{% block export_report_widget %}

    <div class="accordion-body collapse in" id="collapse0One" aria-expanded="true" style="">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3" style="padding-left: 15px; padding-right: 15px;">
                    {{ form_row(form.driver) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.dateIn) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.dateOut) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.race) }}
                </div>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div class="col-md-3">
                    {{ form_row(form.submit, { 'attr': {'class': 'btn btn-success'} }) }}
                </div>
            </div>
        </div>
    </div>


    <script>
        var driverInputId = '{{ form.driver.vars.id }}';
        var dateInId = '{{ form.dateIn.vars.id }}';
        var dateOutId = '{{ form.dateOut.vars.id }}';
        var courseId = '{{ form.race.vars.id }}';

        var coursePath = '{{ form.vars.course_path }}';

        var driverInput = '#' + driverInputId;
        var courseInput = '#' + courseId;
        var dateInInput = '#' + dateInId;
        var dateOutInput = '#' + dateOutId;

        $(document).ready(function() {
            $(driverInput).select2({ allowClear: true });
            console.log('add select2 from export_report_widget driverInputId');

            $(courseInput).select2({ allowClear: true });
            console.log('add select2 from export_report_widget courseId');

            $(dateInInput).datepicker({
                autoclose: true,
                onSelect: function() {
                    $(this).change();
                }
            });

            $(dateOutInput).datepicker({
                autoclose: true,
                onSelect: function() {
                    $(this).change();
                }
            });

//            $(dateInInput).datepicker({
//                autoclose: true,
//                onSelect: function() {
//                    updateCourses();
//                }
//            });
//
//            $(dateOutInput).datepicker({
//                autoclose: true,
//                onSelect: function() {
//                    alert('dsads');
//                    updateCourses();
//                }
//            });

            $(driverInput).on("change", function(e) {
//                log('change ' + JSON.stringify({val: e.val, added:e.added, removed:e.removed}));

                updateCourses();
            });

            $(dateInInput).change(function(e){
//                log('Change date In');
//                log(e);

                updateCourses();
            });

            $(dateOutInput).change(function(e){
//                log('Change date Out');
//                log(e);

                updateCourses();
            });

            updateCourses();
        });

        function updateCourses() {
            var currentDriverId = $(driverInput).val();
            var currentDateIn = $(dateInInput).val();
            var currentDateOut = $(dateOutInput).val();

            downloadCources(coursePath, currentDriverId, currentDateIn, currentDateOut);
        }

        function downloadCources(coursePath, driverId, dateIn, dateOut) {
            var dataToSend = {};
            dataToSend.driverId = driverId;
            dataToSend.dateIn = dateIn;
            dataToSend.dateOut = dateOut;

            $.ajax({
                url: coursePath,
                type: 'GET',
                data: dataToSend,
                dataType: 'json',
                async: false,
                success: function(msg) {
                    log('Success: ');
                    log(msg);

                    $(courseInput).select2('val', '');
                    $(courseInput).empty();
                    for(var i = 0; i < msg.length; i++) {
                        $(courseInput).append('<option value="'+msg[i].id+'">'+msg[i].text+'</option>');
                    }
                },
                error: function(msg) {
                    log('Error: ');
                    log(msg);
                }
            });
        }

        function log(text) {
            console.log(text);
        }
    </script>
{% endblock %}