/*  
Theme Name: Clean404
Theme URI: http://a-smartik.com
Author: Smartik
*/

body {
margin:0px;
padding:0px;
visibility:hidden; 
background-color:white; 
background-image:none
}

#bg { 
position: fixed; 
top: 0; 
left: 0;
z-index: 1;
}
.bg_overlay{
width:100%;
height:100%;
position:fixed;
top:0px;
left:0px;
background:transparent url(../../images/error/pattern.png) repeat top left;
z-index:2;
}

.bgwidth { width: 100%; }
.bgheight { height: 100%; }

#wrap {
width: 807px;
background:#ccc;
margin: 0 auto;
z-index: 3;
}

#block {
position:absolute;
width: 807px;
height: 473px;
top:50%;
margin-top:-235px;
background: url(../../images/error/4bg.png) no-repeat center center;
z-index: 4;
}

#content {
position: relative;
padding: 20px;
}

.img_eror {
width: 369px;
height: 169px;
background: url(../../images/error/404.png) no-repeat center center;
margin: 0 auto;
}

.top_img {
margin-bottom: 5px;
}

.search {
width: 513px;
height: 82px;
background: url(../../images/error/001.png) no-repeat center center;
margin: 0 auto;
}

.text_eror {
text-align: center;
font-family: 'Maven Pro', cursive;
}

.text_eror a {
color: #222;
text-decoration: none;
}
.text_eror a:hover {
color: #111;
text-decoration: none;
border-bottom: 1px dotted #111;
}


.text_eror h1 {
font-size: 40px;
line-height: 80px;
font-weight: 700;
color: #757575;
}
.text_eror p {
font-size: 16px;
line-height: 32px;
font-weight: 500;
color: #333;
}

.s_text {
margin: 28px 0 0 30px;
width: 307px;
font-size: 16px;
font-family: 'Maven Pro', cursive;
color: #555;
padding: 3px 0;
border: 0 !important;
}

.s_button {
width: 142px;
height: 50px;
background: url(../../images/error/002.png) no-repeat 0 0px;
border: 0;
margin-left: 10px;
font-size: 18px;
color: #333;
text-align: center;
}

.s_button:hover {
background: url(../../images/error/002.png) no-repeat 0 -48px;
cursor: pointer;
}
span.red {
    background: red;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

span.grey {
    background: #cccccc;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

span.green {
    background: #5EA226;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

span.blue {
    background: #5178D0;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}

span.pink {
    background: #EF0BD8;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em;
}



