{% extends "CABMainBundle::layout.html.twig" %}
{% trans_default_domain 'frontend' %}

{% block title %}{%trans%}Sign in{%endtrans%}{% endblock %}
{% block main_content %}
{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<main role="main" class="main blue">
    <header class="site-title green">
        <div class="wrap">
            <div class="container">
                <h1>{% trans %}Login{% endtrans %}</h1>
                
            </div>
        </div>
    </header>
    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="content col-xs-12 col-ms-6 col-md-4 col-md-offset-4">
                <!--Login-->
                <div class="box">
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <div class="f-row">
                            <div class="full-width">
                                
                                <input type="text" id="username" class="form-control input-lg" name="_username" value="{{ last_username }}" required="required" placeholder="{% trans %}Your email{% endtrans %}" >
                            </div>
                        </div>
                        <div class="f-row">
                            <div class="full-width">
                               
                                <input type="password" id="password" class="form-control input-lg" name="_password" required="required" placeholder="{% trans %}Your password{% endtrans %}">
                            </div>
                        </div>
                        <div class="f-row">
                            <div class="full-width check">
                                <div class="checker" id="uniform-checkbox"><span><input type="checkbox" id="RememberMe" name="_remember_me" value="on" type="checkbox"></span></div>
                                <label for="checkbox">{% trans %}Remember me next time{% endtrans %}</label>
                            </div>
                        </div>
                        <div class="f-row">
                            <div class="full-width">
                                <input type="submit" class="btn large green" id="_submit" name="_submit value="{{ 'security.login.submit'|trans }}">
                            </div>
                        </div>
                        {% if app.session.all['_security.main.target_path'] is defined %}
                            <input type="hidden" name="_target_path" value="{{ app.session.all['_security.main.target_path'] }}" />
                        {% elseif  'fos_user_security_login' == app.request.headers.get('referer') %}
                            <input type="hidden" name="_target_path" value="sonata_admin_dashboard" />
                        {% elseif app.request.headers.get('referer') is defined%}
                            <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}" />
                        {% else %}
                            <input type="hidden" name="_target_path" value="sonata_admin_dashboard" />
                        {% endif %}
                        <p><a href="{{ path('fos_user_resetting_request') }}">{% trans %}Forgotten password ?{% endtrans %}</a><p>{% trans %}Don't have an account ?{% endtrans %} <a href="{{ path('cab_user_registration_register') }}"><i>{% trans %}Sign up{% endtrans %}</i></a>.</p>
                    </form>
                    
                </div>
                    
                <!--//Login-->
            </div>
                    
            <!--- //Content -->
        </div>
    </div>

{% endblock fos_user_content %}
{% endblock main_content %}