{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}UP - remove course{% endblock %}

{% block main_content %}
    <main class="main blue" role="main">
        <div class="wrap">
            <div class="row">
                {{ result.response }}
            </div>
        </div>
    </main>

{% endblock main_content %}