{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}UP< - Booking step 2{% endblock %}


{% block main_content %}

    {% if not app.user %}
        {% render (controller("CABUserBundle:Registration:register",{ 'layout': 2, 'role': 'ROLE_CUSTOMER' })) %}
    {% else %}
        <main class="main" role="main">
            <!-- Page info -->
            <header class="site-title color">
                <div class="wrap">
                    <div class="container">
                        <h1>Thank you. Your booking is in process.</h1>
                    </div>
                </div>
            </header>
            <!-- //Page info -->

            <div class="wrap">
                <div class="row">
                    <!--- Sidebar -->
                    <aside class="one-fourth sidebar right">
                        <!-- Widget -->
                        <div class="widget">
                            <h4>Need help booking?</h4>
                            <div class="textwidget">
                                <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your needs.</p>
                                <p class="contact-data"><span class="ico phone black"></span> +1 555 555 555</p>
                            </div>
                        </div>
                        <!-- //Widget -->

                        <!-- Widget -->
                        <div class="widget">
                            <h4>Advertisment</h4>
                            <a href="#"><img src="http://placehold.it/800x600" alt="" /></a>
                        </div>
                        <!-- //Widget -->
                    </aside>
                    <!--- //Sidebar -->
                </div>
            </div>
        </main>
        <!-- //Main -->
    {% endif %}

{% endblock main_content %}
