{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}UP - Liste des véhicules disponibles{% endblock %}
{% trans_default_domain 'frontend' %}

{% block main_content %}
    <main class="main blue" role="main">    

        <!-- Search -->
        
        <!-- //Search -->

        <div class="wrap">
            <div class="row">
                <!--- Content -->
                <div class="full-width content">
                    <article class="readonly">
                        <header class="f-title black">
                            <h3>{% trans%}TRANSFERT DATE{%endtrans%} : {{ depDate |localizeddate("medium", "none", null, null, "cccc d LLLL yyyy") }} à {{ depTime }} </h3>
                        </header>
                        <div class="box">
                            <div class="f-row">
                                <div class="one-fourth">{% trans%}Passengers number{% endtrans%}</div>
                                <div class="three-fourth">{{ personNumber }}</div>
                            </div>
                            <div class="f-row">
                                <div class="one-fourth">{% trans%}FROM{% endtrans%}</div>
                                <div class="three-fourth">
                                    {{ departAddress }}
                                </div>
                            </div>
                            <div class="f-row">
                                <div class="one-fourth">{% trans%}TO{% endtrans%}</div>
                                <div class="three-fourth">{{ arrivalAddress }}</div>
                            </div>
                        </div>
                    </article>
                    <div class="results">
                        <input id="lat-dep-input" name="latDeparture" type="hidden" value="{{ coordinate.latDepart }}"/>
                        <input id="lng-dep-input" name="lngDeparture" type="hidden" value="{{ coordinate.lngDepart }}" />
                        <input id="lat-arrival" name="latArrival" type="hidden" value="{{ coordinate.latArrival }}" />
                        <input id="lng-arrival" name="lngArrival" type="hidden" value="{{ coordinate.lngArrival }}" />
                        {% if forfait|length %}
                            {% for item in forfait %}
                                <article class="result wow fadeInLeft animated" "="" data-wow-delay=".20s">
                                <form action="{{ path('confirm_booking') }}" method="post">
                                    <div class="one-fourth heightfix">
                                        <img src="{{ ('uploads/partner/logo/' ~ item.company.logo ) | imagine_filter('size269x247') }}" alt="{{ item.company.companyName }}" />
                                    </div>
                                    <div class="one-half heightfix">
                                        <h3>
                                            {{ item.company.companyName }} (FORFAIT)
                                        </h3>
                                        <ul>
                                            <li>
                                                <span class="ico time"></span>
                                                <p>{% trans%}Estimated time{% endtrans%} <br /><strong><span class="duration-geaocode">{{ durationText }}</span></strong></p>
                                            </li>
                                            <li>
                                                <span class="glyphicon glyphicon-option-horizontal"></span>
                                                <p>{% trans%}Estimated distance{% endtrans%} <br /><strong><span class="distance-geaocode">{{ totalDistance }}</span> Km</strong></p>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="one-fourth">
                                        <input type="hidden" value="0" id="pricevehicule-{{ loop.index0 }}">
                                        <div class="price">
                                            <span id="get-price-{{ loop.index0 }}" class="center">
                                                <div class=""><font face="purisa" size="2" color="green">FORFAIT</font></div>
                                                <div class="">{{ item.tarifTTC }} <small>{{ item.company.format.currencyCode }}</small></div>
                                            </span>
                                        </div>

                                        <input type="hidden" value="{{ item.tarifTTC }}" id="forfait-estimatedtarif-{{ loop.index0 }}" name="estimated_tarif">
                                        <input type="hidden" value="{{ item.tarifTTC }}" id="forfait-totalpricevehicule-{{ loop.index0 }}" name="total_price">
                                        <input type="hidden" value="{{ item.tarifTTC }}" id="forfait-totalpricettc-{{ loop.index0 }}" name="total_price_ttc">
                                        <input type="hidden" value="{{ item.tarifTTC }}" id="forfait-deppricevehicule-{{ loop.index0 }}" name="dep_price">
                                        <input type="hidden" value="{{ departAddress }}" id="forfait-departure_address-{{ loop.index0 }}" name="depart_address">
                                        <input type="hidden" value="{{ arrivalAddress }}" id="forfait-arrival_address-{{ loop.index0 }}" name="arrival_address">
                                        <input type="hidden" value="{{ depDate }}" id="forfait-departure_date-{{ loop.index0 }}" name="dep_date">
                                        <input type="hidden" value="{{ dateBack }}" id="forfait-back_date-{{ loop.index0 }}" name="back_date">
                                        <input type="hidden" value="{{ withBack }}" id="forfait-withback-{{ loop.index0 }}" name="with_back">
                                        <input type="hidden" value="{{ item.company.id }}" id="forfait-company-{{ loop.index0 }}" name="company">
                                        <input type="hidden" value="1" id="forfait-id-{{ loop.index0 }}" name="forfait">

                                        <button type="submit" class="btn green large">select</button>

                                    </div>
                                </form>
                                <div class="full-width information">
                                    <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                </div>
                                </article>
                            {% endfor %}
                        {% endif %}
                        {% if company|length %}
                            {% for item in company %}
                                <article class="result wow fadeInLeft animated" "="" data-wow-delay=".2Òs">
                                    <form action="{{ path('confirm_booking') }}" method="post">
                                        <div class="one-fourth heightfix">
                                            <img src="{{ ('uploads/partner/logo/' ~ item[0].logo ) | imagine_filter('size269x247') }}" alt="{{ item[0].companyName }}" />
                                        </div>
                                        <div class="one-half heightfix">
                                            <h3>
                                                {{ item[0].companyName }}
                                            </h3>
                                            <ul>
                                                <li>
                                                    <span class="ico time"></span>
                                                    <p>Estimated time <br /><strong><span class="duration-geaocode">{{ durationText }}</span> min</strong></p>
                                                </li>
                                                <li>
                                                    <span class="glyphicon glyphicon-option-horizontal"></span>
                                                    <p>Estimated distance <br /><strong><span class="distance-geaocode">{{ totalDistance }}</span> Km</strong></p>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="one-fourth">
                                           

                                                {% set price = item[2] %}
                                                {% set price_dep = price.price.details.departure.totalPrice %}
                                                {% set tarif_id = price.price.tarif_id %}
                                                <input type="hidden" value="0" id="pricevehicule-{{ loop.index0 }}">
                                                <div class="price">
                                                    <span id="get-price-{{ loop.index0 }}" class="center">
                                                        <div class=""><font face="purisa" size="2" color="green">MIN</font></div>
                                                        <div class="">{{ price.price.price_total_ttc }} <small>{{ item[0].format.currencyCode }}</small></div>
                                                        <div class=""><font face="purisa" size="2" color="green">MAX</font></div>
                                                        <div class="">{{ price.price.estimated_tarif}} <small>{{ item[0].format.currencyCode }}</small></div>
                                                    </span>
                                                </div>

                                                <input type="hidden" value="{{ price.price.estimated_tarif }}" id="estimatedtarif-{{ loop.index0 }}" name="estimated_tarif">
                                                <input type="hidden" value="{{ price.price.price_total }}" id="totalpricevehicule-{{ loop.index0 }}" name="total_price">
                                                <input type="hidden" value="{{ price.price.price_total_ttc }}" id="totalpricettc-{{ loop.index0 }}" name="total_price_ttc">
                                                <input type="hidden" value="{{ price_dep }}" id="deppricevehicule-{{ loop.index0 }}" name="dep_price">
                                                <input type="hidden" value="{{ departAddress }}" id="departure_address-{{ loop.index0 }}" name="depart_address">
                                                <input type="hidden" value="{{ arrivalAddress }}" id="arrival_address-{{ loop.index0 }}" name="arrival_address">
                                                <input type="hidden" value="{{ depDate }}" id="departure_date-{{ loop.index0 }}" name="dep_date">
                                                <input type="hidden" value="{{ dateBack }}" id="back_date-{{ loop.index0 }}" name="back_date">
                                                <input type="hidden" value="{{ withBack }}" id="withback-{{ loop.index0 }}" name="with_back">
                                                <input type="hidden" value="{{ item[0].id }}" id="company-{{ loop.index0 }}" name="company">
                                            <input type="hidden" value="0" id="no-forfait-id-{{ loop.index0 }}"
                                                   name="forfait">

                                                <button type="submit" class="btn green large">select</button>
                                            
                                        </div>
                                    </form>
                                    <div class="full-width information">
                                        <a href="javascript:void(0)" class="close color" title="Close">x</a>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                                    </div>
                                </article>
                            {% endfor %}
                        {% else %}
                            No results
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
                    
                    
          {{ include('CABMainBundle::search.html.twig') }}          
    </main>

{% endblock main_content %}

{% block javascript  %}
    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock javascript  %}
{% block body_scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabmain/js/course_create.js') }}"></script>

{% endblock body_scripts %}