{% extends 'CABMainBundle::layout.html.twig' %}

{% block title %}UP - Booking step 2{% endblock %}
{% trans_default_domain 'frontend' %}
{% block main_content %}

    <main class="main blue" role="main">
        <!-- Page info -->
        <div class="output green twoway">
            <div class="wrap">
                <div>
                    <p>{{ course.departureTime|date('Y-m-d H:i') }}</p>

                    <p>
                        <small></small>{{ course.startedAddress }}</p>
                    <p>
                        <small></small>{{ course.arrivalAddress }}</p>
                </div>

                <div> {% if course.targetType %}
                        <p>02.09.2014
                            <small>at</small>
                            17:00
                        </p>
                        <p>Berlin Central Train Station
                            <small>to</small>
                            Schonefeld Airport
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <!-- //Page info -->

        <div class="wrap">
            <div class="row">
                <div class="three-fourth">
                    <article class="result readonly">
                        <p class="f-title black left">{% trans %}Baggage and extras{% endtrans %}</p>

                        <div class="">
                            <p>{% trans %}Please select the total number of pieces of baggage and extras for your transfers. If you arrive with more luggage than specified at booking, we cannot guarantee to transport them. In case we are able to transport them, we will charge you an additional fee{% endtrans %}.</p>
                        </div>

                        <form action="{{ path('finalize_booking_step_2') }}" method="post" name="finalize_booking">
                            <div class="f-title black left">{% trans %}Information for this transport{% endtrans %}</div>
                            <div class="">
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-3"><input type="text" class="form-group"
                                                                                 name="departure_info"
                                                                                 id="departure_info"
                                                                                 placeholder="{% trans %}Départure : number vol, compagnie, others{% endtrans %}">
                                    </div>
                                    <div class="col-md-7 col-md-offset-3"><input type="text" class="form-group"
                                                                                 name="arrival_info" id="arrival_info"
                                                                                 placeholder="{% trans %}Arrival : number vol, compagnie, others{% endtrans %}">
                                    </div>
                                    <div class="col-md-7 col-md-offset-3"><textarea class="form-group"
                                                                                    name="comment_booking"
                                                                                    placeholder="{% trans %}Message{% endtrans %}"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="f-title black">
                                    <div class="col-md-6 delimit">{% trans %}Baggage type{% endtrans %}</div>
                                    <div class="col-md-2 delimit">{% trans %}Price{% endtrans %}</div>
                                    <div class="col-md-2 delimit">{% trans %}Quantity{% endtrans %}</div>
                                    {% if course.targetType %}
                                        <div class="col-md-2">{% trans %}Return{% endtrans %}</div>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="">
                                <div class="boxtable row">
                                    <div class="col-md-6">{% trans %}Hand baggage up to 5 kg{% endtrans %}
                                        <div><i>{% trans %}and max dimensions 40 x 22 x 55 cm{% endtrans %}</i></div>
                                    </div>
                                    <div class="col-md-2">{% trans %}Free{% endtrans %}</div>
                                    <div class="col-md-2">{% trans %}Free{% endtrans %}</div>
                                    {% if course.targetType %}
                                        <div class="col-md-2">{% trans %}Free{% endtrans %}</div>
                                    {% endif %}
                                </div>


                                <div class="boxtable row">
                                    <div class="col-md-6">
                                        {% trans %}Baggage up to 15 kg{% endtrans %}
                                        <div><i>{% trans %}and max dimensions 53 x 31 x 75 cm{% endtrans %}</i></div>
                                    </div>
                                    <div id="luggagesimple" class="col-md-2">{{ course.applicableTarif.luggage }}</div>
                                    <div class="col-md-2">
                                        <select name="departure_luggage" id="departure_luggage">
                                            <option selected>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        {% if course.targetType %}
                                            <select name="back_luggage" id="back_luggage">
                                                <option selected>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="boxtable row">
                                    <div class="col-md-6">
                                        {% trans %}Bicycle, surfing of golf equipment up to 10 kg{% endtrans %}
                                        <div><i>{% trans %}and max dimensions{% endtrans %} 152 x 75 x 25 cm</i></div>
                                    </div>
                                    <div class="col-md-2">{{ course.applicableTarif.tarifEquipment }}</div>
                                    <div class="col-md-2">
                                        <select name="departure_equipment" id="departure_equipment">
                                            <option selected>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        {% if course.targetType %}
                                            <select name="back_equipment" id="back_equipment">
                                                <option selected>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="boxtable row">
                                    <div class="col-md-6">{% trans %}Baby/children seat{% endtrans %}

                                    </div>
                                    <div class="col-md-2">{{ course.applicableTarif.tarifBabySeat }}</div>
                                    <div class="col-md-2">
                                        <select name="departure_baby_seat" id="departure_baby_seat">
                                            <option selected>0</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                    {% if course.targetType %}
                                        <div class="col-md-2">
                                            <select name="back_baby_seat" id="back_baby_seat">
                                                <option selected>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>

                                        </div>
                                    {% endif %}
                                </div>
                                {% if course.isHandicap %}
                                    <div class="boxtable row">
                                        <div class="col-md-6">
                                            Wheelchair handicap
                                        </div>
                                        <div class="col-md-2">{{ course.applicableTarif.tarifHandicapWheelchair }}</div>
                                        <div class="col-md-2">
                                            <select name="departure_handicap_wheelchair"
                                                    id="departure_handicap_wheelchair">
                                                <option selected>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            {% if course.targetType %}
                                                <select name="back_handicap_wheelchair" id="back_handicap_wheelchair">
                                                    <option selected>0</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <br>


                            <div class="col-md-2 col-md-offset-10">
                                <input type="hidden" value="{{ course.id }}" name="id_course"/>
                                <button class="btn medium green right">Continue</button>
                            </div>
                        </form>
                    </article>
                </div>

                <!--- Sidebar -->

                <aside id="booking" class="one-fourth sidebar right">
                    <!-- Widget -->
                    <div class="widget">
                        <h4>{% trans %}Booking summary{% endtrans %}</h4>

                        <div class="summary">
                            <div>
                                <dl>
                                    <dt>Date</dt>
                                    <dd>{{ course.departureTime|date('Y-m-d H:i') }}</dd>
                                    <dt>{% trans %}Pax{% endtrans %}</dt>
                                    <dd>{{ course.personNumber }}</dd>
                                    <dt>{% trans %}FROM{% endtrans %}</dt>
                                    <dd>{{ course.startedAddress }}</dd>
                                    <dt>{% trans %}TO{% endtrans %}</dt>
                                    <dd>{{ course.arrivalAddress }}</dd>
                                </dl>
                            </div>
                            {% if course.targetType %}
                                <div>
                                    <h5>{% trans %}RETURN{% endtrans %}</h5>
                                    <dl>
                                        <dt>Date</dt>
                                        <dd>{{ course.backDate|date('Y-m-d') ~ course.backTime|date('H:i') }}</dd>
                                        <dt>From</dt>
                                        <dd>{{ course.backAddressDeparture ~ course.indicatorBackAddressDeparture }}</dd>
                                        <dt>To</dt>
                                        <dd>{{ course.backAddressArrival ~ course.indicatorBackAddressArrival }}</dd>
                                    </dl>

                                </div>
                            {% endif %}
                            <dl class="total">
                                <dt>Total</dt>
                                <dd id="cost" align="right">
                                  
                                        {{ course.priceTTC }}
                                        {{ course.company.format.currencyCode }}
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->

            </div>
        </div>
    </main>
    <!-- //Main -->

    <script>
        (function ($) {
            var element = $('#booking'),
                    originalY = element.offset().top;

            // Space between element and top of screen (when scrolling)
            var topMargin = 20;

            // Should probably be set in CSS; but here just for emphasis
            element.css('position', 'relative');

            $(window).on('scroll', function (event) {
                var scrollTop = $(window).scrollTop();

                element.stop(false, false).animate({
                    top: scrollTop < originalY
                            ? 0
                            : scrollTop - originalY + topMargin
                }, 300);
            });
        })(jQuery);
    </script>


    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            function formatDollar(num) {
                var p = num.toFixed(2).split(".");
                return "" + p[0].split("").reverse().reduce(function (acc, num, i, orig) {
                            return num + (i && !(i % 3) ? " " : "") + acc;
                        }, "") + "," + p[1];
            }

            $(document).on('change', 'select[name="departure_luggage"], select[name="departure_equipment"], select[name="departure_baby_seat"]', function () {
                var costinit = '{{course.priceTTC}}'.val().replace(/ /g,"");
                
                
                var currencyCode = '{{ course.company.format.currencyCode }}';
                var val1 = '{{ course.applicableTarif.luggage }}';
                var val2 = $("select[name='departure_luggage']").val();
                var totalluggage = (val1 * val2).toFixed(2);
                var val3 = '{{ course.applicableTarif.tarifEquipment }}';
                var val4 = $("select[name='departure_equipment']").val();
                var totalequipement = (val3 * val4).toFixed(2);
                var val5 = '{{ course.applicableTarif.tarifBabySeat }}';
                var val6 = $("select[name='departure_baby_seat']").val();
                var totalbabyseat = (val5 * val6).toFixed(2);
                var costtotal = parseFloat(costinit) + parseFloat(totalluggage) + parseFloat(totalequipement) + parseFloat(totalbabyseat);
                var costformat = formatDollar(costtotal);
                console.log(costtotal);
                
                $("#cost").html(costformat + " " + currencyCode);
            });
        });
    </script>

{% endblock main_content %}

