{% extends 'CABMainBundle::layout.html.twig' %}

{% block title %}UP - Booking step 3{% endblock %}
{% trans_default_domain 'frontend' %}
{% block main_content %}

    <main class="main blue"  role="main">
        <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{% trans %}Confirmation of payment{% endtrans %}</h1>
                </div>
            </div>
        </header>
        <!-- //Page info -->

        <div class="wrap">
            <div class="row">
                <div class="three-fourth">
                    <div class="box readonly">
                        <h3>{% trans %}BOOKING DETAILS{% endtrans %}</h3> 
                        <div class="f-row">                         
                            <div class="one-fourth">{% trans %}DATE{% endtrans %} </div>
                            <div class="three-fourth">{{ course.departureTime|date('Y-m-d H:i') }}</div>
                        </div>
                        <div class="f-row">
                            <div class="one-fourth">{% trans %}Status{% endtrans %} </div>
                            <div class="three-fourth">
                                {% if course.courseStatus == 0 %}
                                    {% trans%}being created{% endtrans%}
                                {%endif%}
                            </div>    
                        </div> <div class="f-row">   
                            <div class="one-fourth">{% trans%}Number passager{% endtrans%}</div>
                            <div class="three-fourth">{{ course.personNumber }}</div>
                        </div> <div class="f-row">     
                            <div class="one-fourth">{% trans%}FROM{% endtrans%}</div>
                            <div class="three-fourth">{{ course.startedAddress }}</div>
                        </div> <div class="f-row"> 
                            <div class="one-fourth">{% trans%}TO{% endtrans%}</div>
                            <div class="three-fourth">{{ course.arrivalAddress }} </div>
                        </div> <div class="f-row">     
                            <div class="one-fourth">{% trans %}Estimated duration{% endtrans %}</div>
                            <div class="three-fourth">{{ courseDuration }}</div>
                        </div> <div class="f-row"> 
                            <div class="one-fourth">{% trans %}Distance{% endtrans %}</div>
                            <div class="three-fourth">{{ course.distance }} Km</div>
                        </div>     
                        {% if course.targetType %}
                            <div class="box">
                                <h3>{% trans %}Return Transfer details{% endtrans %}</h3>
                                <div class="f-row">
                                    <div class="one-fourth">Date</div>
                                    <div class="three-fourth">{{ course.backDate|date("d/m/Y") }} {{ course.backTime|date("H:i:s")}} </div>
                                </div>
                                <div class="f-row">
                                    <div class="one-fourth">{% trans %}FROM{% endtrans %}</div>
                                    <div class="three-fourth">{{ course.backAddressDeparture }}</div>
                                </div>
                                <div class="f-row">
                                    <div class="one-fourth">{% trans %}TO{% endtrans %}</div>
                                    <div class="three-fourth">{{ course.backAddressArrival }}</div>
                                </div>
                            {% endif %}
                            <h3>{% trans %}PASSENGER DETAILS{% endtrans %}</h3>
                            <div class="f-row">
                                <div class="one-fourth">{% trans %}Name and surname{% endtrans %}</div>
                                <div class="three-fourth">{{ app.user.firstname}} {{app.user.lastname}}</div>
                            </div>
                            <div class="f-row">
                                <div class="one-fourth">{% trans %}Mobile number{% endtrans %}</div>
                                <div class="three-fourth">{{ app.user.phoneMobile }}</div>
                            </div>
                            <div class="f-row">
                                <div class="one-fourth">{% trans %}Email{% endtrans %}</div>
                                <div class="three-fourth">{{ app.user.email }}</div>
                            </div>
                                {% if course.courseDetailsTarif.isForfait == false %}
                                    <h3 class="">{% trans %}PRICE{% endtrans %} <small>{% trans %}ESTIMATION{% endtrans %}</small></h3>
                                    <div class="f-row">
                                        <div class="one-fourth">{{ taxname }}</div>
                                        <div class="three-fourth">{{ tax }} %</div>
                                    </div>
                                    <div class="f-row">
                                        <div class="one-fourth">TOTAL TTC</div>
                                        <div class="three-fourth">
                                            <h4>
                                                {{ course.courseDetailsTarif.tarifTotalTTC|number_format(course.company.format.currencyDecimals, '.', ',') }}
                                                - {{ course.courseDetailsTarif.estimatedTarif|number_format(course.company.format.currencyDecimals, '.', ',') }}
                                                {{ course.company.format.currencyCode }}
                                            </h4>
                                        </div>
                                    </div>
                                {% else %}
                                    <h3 class="">{% trans %}PRICE{% endtrans %} <small>{% trans %}FORFAIT{% endtrans %}</small></h3>
                                    <div class="f-row">
                                        <div class="one-fourth">{{ taxname }}</div>
                                        <div class="three-fourth">{{ tax }} %</div>
                                    </div>
                                    <div class="f-row">
                                        <div class="one-fourth">TOTAL TTC</div>
                                        <div class="three-fourth">
                                            <h4>
                                                {{ course.courseDetailsTarif.tarifTotalTTC|number_format(course.company.format.currencyDecimals, '.', ',') }}

                                                {{ course.company.format.currencyCode }}
                                            </h4>
                                        </div>
                                    </div>
                                {% endif %}




                            <h3 class="">{% trans %}PAYMENT{% endtrans %} <small>{% trans %}PAYMENT DIRECTLY TO THE DRIVER{% endtrans %}</small></h3>
                            <div class="f-row">
                                <form action="{{ path('select_payment_booking') }}" name="booking-payment" method="post">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="radio" name="type_payment" value="cash"/> 
                                            <label>{% trans %}Cash Payment{% endtrans %}</label>
                                        </div>
                                        <div class="col-md-6">
                                            <input type="radio" name="type_payment" value="cb"/>
                                            <label>{% trans %}CB{% endtrans %}</label>
                                        </div>
                                        <div class="col-md-6 center">
                                                <button class="btn green large left">{% trans %}CONFIRM{% endtrans %}</button>
                                            </div>    
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <!--- Sidebar -->
                    <aside class="one-fourth sidebar right">
                        <!-- Widget -->
                        <div class="widget">
                            <h4>{%trans%}Need help booking{%endtrans%}?</h4>
                            <div class="textwidget">
                                <p>{%trans%}Call our customer services team on the number below to speak to one of our advisors who will help you with all of your needs{%endtrans%}.</p>
                                <p class="contact-data"><span class="ico phone black"></span><small>+33(0)5 32 09 08 08</small></p>
                            </div>
                        </div>
                        <!-- //Widget -->

                        <!-- Widget -->
                        <!-- <div class="widget">
                         <!--     <h4>Advertisment</h4>
                         <!--     <a href="#"><img src="http://placehold.it/800x600" alt="" /></a>
                        <!--  </div>
                        <!-- //Widget -->
                    </aside>
                    <!--- //Sidebar -->
                </div>
            </div>
        </div>
    </main>
    <!-- //Main -->

{% endblock main_content %}
