{% extends 'CABMainBundle::layout.html.twig' %}
{% trans_default_domain 'frontend' %}

{% block title %}UP - {% trans %}Finish booking{% endtrans %}{% endblock %}
{% trans_default_domain 'frontend' %}
{% block main_content %}
    {% if not app.user %}
        {% render (controller("CABUserBundle:Registration:register",{ 'layout': 2, 'role': 'ROLE_CUSTOMER' })) %}
    {% else %}
        <main class="main blue" role="main">
            <!-- Page info -->
            <header class="site-title green">
                <div class="wrap">
                    <div class="container">
                        <h1>{%trans%}Thank you. Your booking is waiting to the accept by the driver{%endtrans%}.</h1>
                    </div>
                </div>
            </header>
            <!-- //Page info -->

            <div class="wrap">
                <div class="row">
                    <div class="three-fourth">
                        <article class="result readonly">
                            <h3 class=" left">{%trans%}The detail of the race{%endtrans%}</h3>
                            <div class="">
                                <div class="half">
                                    DATE : {{ course.departureDate|date('d/m/Y') }} à {{ course.departureDate|date('h:i') }}
                                </div>
                                <div class="half">
                                    {%trans%}Departure{% endtrans %} : {{ course.startedAddress }}
                                </div>
                                <div class="half">
                                    {%trans%}Arrival{% endtrans %} : {{ course.arrivalAddress }}
                                </div>
                                <br>
                                <h3 class=" left">{% trans %}The booking payment{% endtrans %}</h3>
                                <div class="">
                                    {% if course.courseDetailsTarif.isForfait == false %}
                                        {% trans %}The payment estimation{% endtrans %} :
                                        {{ course.courseDetailsTarif.tarifTotalTTC|number_format(course.company.format.currencyDecimals, '.', ',') }}
                                        - {{ course.courseDetailsTarif.estimatedTarif|number_format(course.company.format.currencyDecimals, '.', ',') }}
                                    {% else %}
                                        {% trans %}The price{% endtrans %}forfait :
                                        {{ course.courseDetailsTarif.tarifTotalTTC|number_format(course.company.format.currencyDecimals, '.', ',') }}
                                    {%  endif %}
                                    {{ course.company.format.currencyCode }}
                                </div>
                            <div>{% trans %}The Payment mode{% endtrans %} :
                                {{ course.paymentMode }}
                            </div>
                            </div>
                            <br>
                            <h2 class=" left">{%trans%}Your booking is waiting to accept by the driver. You will receive notification by which minutes{%endtrans%}.</h2>
                        </article>
                    </div>

                    <!--- Sidebar -->
                    <aside class="one-fourth sidebar right">
                        <!-- Widget -->
                        <div class="widget">
                            <h4>{%trans%}Need help booking{%endtrans%}?</h4>
                            <div class="textwidget">
                                <p>{%trans%}Call our customer services team on the number below to speak to one of our advisors who will help you with all of your needs{%endtrans%}.</p>
                                <p class="contact-data"><span class="ico phone black"></span><small>+33(0)5 32 09 08 08</small></p>
                            </div>
                        </div>
                        <!-- //Widget -->

                        <!-- Widget -->
                        
                        <!-- //Widget -->
                    </aside>
                    <!--- //Sidebar -->
                </div>
            </div>
        </main>
        <!-- //Main -->
    {% endif %}

{% endblock main_content %}
