{% extends 'CABMainBundle::layout.html.twig' %}

{% block title %}UP - Booking step 4{% endblock %}
{% trans_default_domain 'frontend' %}
{% block main_content %}

    <main class="main" role="main">
        <!-- Page info -->
        <header class="site-title green">
            <div class="wrap">
                <div class="container">
                    <h1>{% trans %}Thank you. Your booking is now confirmed.{% endtrans %}</h1>
                </div>
            </div>
        </header>
        <!-- //Page info -->

        <div class="wrap">
            <div class="row">
                <div class="three-fourth">
                    <article class="result readonly">
                        <h3 class=" left"> Booking Details</h3>
                        <div class="box">
                            <div class="f-row">
                                <div class="three-fourth">{% trans %}Booking for{% endtrans %} {{ course.departureTime|date('Y-m-d H:i') }}</div>
                                <div class="three-fourth"> {% trans %}Status:{% endtrans %} {{ course.courseStatus }}</div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">{% trans%}Number passager{% endtrans%}</div>
                                <div class="three-fourth">{{ course.personNumber }}</div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">{% trans%}From{% endtrans%}</div>
                                <div class="three-fourth">
                                    {{ course.startedAddress }}
                                </div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">{% trans%}To{% endtrans%}</div>
                                <div class="three-fourth">{{ course.arrivalAddress }} </div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">Estimated duration</div>
                                <div class="three-fourth">
                                    {{ course.courseTime }}
                                </div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">Distance</div>
                                <div class="three-fourth">{{ course.distance }} Km</div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">Vehicle</div>
                                <div class="three-fourth">{{ course.vehicle.vehiculeName }}</div>
                            </div>
                        </div>

                        {% if course.targetType %}
                            <div class="box">
                                <h3>Return Transfer details</h3>
                                <div class="f-row">
                                    <div class="one-fourth">Date</div>
                                    <div class="three-fourth">{{ course.backDate }} {{ course.backTime}} </div>
                                </div>
                                <div class="f-row">
                                    <div class="one-fourth">From</div>
                                    <div class="three-fourth">{{ course.backAddressDeparture }}</div>
                                </div>
                                <div class="f-row">
                                    <div class="one-fourth">To</div>
                                    <div class="three-fourth">{{ course.backAddressArrival }}</div>
                                </div>
                                <div class="f-row">
                                    <div class="one-fourth">Vehicle</div>
                                    <div class="three-fourth">{{ course.vehicle }}</div>
                                </div>
                            </div>

                        {% endif %}
                        <h3>Passenger details</h3>
                        <div class="box">
                            <div class="f-row">
                                <div class="one-fourth">Name and surname</div>
                                <div class="three-fourth">{{ app.user.firstname}} {{app.user.lastname}}</div>
                            </div>
                            <div class="f-row">
                                <div class="one-fourth">Mobile number</div>
                                <div class="three-fourth">{{ app.user.phoneMobile }}</div>
                            </div>
                            <div class="f-row">
                                <div class="one-fourth">Email address</div>
                                <div class="three-fourth">{{ app.user.email }}</div>
                            </div>
                        </div>
                        <h3>PRICE</h3>
                        <div class="box">
                            <div class="f-row">
                                <div class="one-fourth">TOTAL HT</div>
                                <div class="three-fourth">{{ course.courseDetailsTarif.tarifTotalHT }} EUR</div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">TVA</div>
                                <div class="three-fourth">10 %</div>
                            </div>

                            <div class="f-row">
                                <div class="one-fourth">TOTAL TTC</div>
                                <div class="three-fourth"><h4>{{ course.courseDetailsTarif.tarifTotalTTC }} EUR</h4></div>
                            </div>
                        </div>
                    </article>
                </div>

                <!--- Sidebar -->
                <aside class="one-fourth sidebar right">
                    <!-- Widget -->
                    <div class="widget">
                        <h4>Need help booking?</h4>
                        <div class="textwidget">
                            <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your needs.</p>
                            <p class="contact-data"><span class="ico phone black"></span> +1 555 555 555</p>
                        </div>
                    </div>
                    <!-- //Widget -->

                    <!-- Widget -->
                    <div class="widget">
                        <h4>Advertisment</h4>
                        <a href="#"><img src="http://placehold.it/800x600" alt="" /></a>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>
        </div>
    </main>
    <!-- //Main -->

{% endblock main_content %}
