{% extends 'CABMainBundle::layout.html.twig' %}
{% block title %}UP - Baggage and extrass{% endblock %}

{% block main_content %}
    <main class="main" role="main">
        <!-- Search -->
        <div class="output color twoway">
            <div class="wrap">
                <div>

                    <p>{{ app.session.get('depDate') }}</p>
                    <p>>{{ app.session.get('departAddress','') }}  <small>to</small>>{{ app.session.get('arrivalAddress','') }} </p>
                </div>
                {% if app.session.get('withBack')%}
                    <div>
                        <p>{{ app.session.get('backDate','') }} </p>
                        <p>>{{ app.session.get('arrivalAddress','') }}  <small>to</small> >{{ app.session.get('departAddress','') }} </p>
                    </div>
                {% endif %}
            </div>

        </div>
        <!-- //Search -->

        <div class="wrap">
            <div class="row">
                <!--- Content -->
                <div class="full-width content">
                    <h2>Baggage and extras</h2>
                    <p>Please select the total number of pieces of baggage and extras for your transfers. If you arrive with more luggage than specified at booking, we cannot guarantee to transport them. In case we are able to transport them, we will charge you an additional fee.</p>
                </div>
                <!--- //Content -->

                <div class="three-fourth">
                    <form>
                        <table class="data">
                            <tr>
                                <th>Baggage type</th>
                                <th>Price</th>
                                <th>Departure</th>
                                <th>Return</th>
                            </tr>
                            <tr>
                                <td>Hand baggage up to 5kg <i>and max dimensions 40 x 22 x 55 cm</i></td>
                                <td>Free</td>
                                <td>Free</td>
                                <td>Free</td>
                            </tr>
                            <tr>
                                <td>Pieces of baggage up to 15kg <i>and max dimensions 53 x 31 x 75 cm</i></td>
                                <td>10,00 USD</td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Pieces of baggage up to 30kg <i>and max dimensions 60 x 35 x 85 cm</i></td>
                                <td>15,00 USD</td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Bicycle, surfing of golf equipment up to 10 kg <i>and max dimensions 152 x 75 x 25 cm</i></td>
                                <td>20,00 USD</td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Infant seat <i>for babies weighing up to 9 kg</i></td>
                                <td>10,00 USD</td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Baby seat <i>for babies weighing from 9 to 18 kg</i></td>
                                <td>10,00 USD</td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>

                            <tr>
                                <td>Child seat <i>for children weighing from 15 to 36 kg</i></td>
                                <td>10,00 USD</td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                                <td>
                                    <select>
                                        <option selected>0</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </td>
                            </tr>
                        </table>

                        <div class="actions">
                            <a href="#" class="btn medium back">Go back</a>
                            <a href="#" class="btn medium color right">Continue</a>
                        </div>
                    </form>
                </div>

                <!--- Sidebar -->
                <aside class="one-fourth sidebar right">
                    <!-- Widget -->
                    <div class="widget">
                        <h4>Booking summary</h4>
                        <div class="summary">
                            <div>
                                <h5>DEPARTURE</h5>
                                <dl>
                                    <dt>Date</dt>
                                    <dd>{{ app.session.get('depDate') }}</dd>
                                    <dt>From</dt>
                                    <dd>{{ app.session.get('departAddress','') }} </dd>
                                    <dt>To</dt>
                                    <dd> {{ app.session.get('arrivalAddress','') }} </dd>
                                    <dt>Vehicule</dt>
                                    <dd>Private shuttle</dd>
                                </dl>
                            </div>
                            {% if app.session.get('withBack')%}
                                <div>
                                    <h5>RETURN</h5>
                                    <dl>
                                        <dt>Date</dt>
                                        <dd>{{ app.session.get('backDate') }}</dd>
                                        <dt>From</dt>
                                        <dd>{{ app.session.get('arrivalAddress','') }}</dd>
                                        <dt>To</dt>
                                        <dd>{{ app.session.get('departAddress','') }}/dd>
                                        <dt>Vehicle</dt>
                                        <dd>Private shuttle</dd>
                                    </dl>
                                </div>
                            {% endif %}


                            <dl class="total">
                                <dt>Total</dt>
                                <dd>800,00 usd</dd>
                            </dl>
                        </div>
                    </div>
                    <!-- //Widget -->
                </aside>
                <!--- //Sidebar -->
            </div>
        </div>
    </main>
    <!-- //Main -->
{% endblock main_content %}


{% block body_scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabmain/js/course_create.js') }}"></script>

{% endblock body_scripts %}