{% extends "CABMainBundle::layout.html.twig" %}
{% block title %}{% trans %}Reset password{% endtrans %} {% endblock %}
{% block main_content %}
    {% block fos_user_content %}
    {% include "FOSUserBundle:Resetting:reset_content.html.twig" %}
    {% endblock fos_user_content %}
{% endblock main_content %}
