{% extends 'CABMainBundle::layout.html.twig' %}

{% block custom_content %}
<div class="row">
    <div class="col-md-12 col-lg-12 col-xl-12">
    {% block hackzilla_ticket_content %}{% endblock %}
    </div>
</div>

{% endblock custom_content %}
