{% extends 'CABMainBundle::layout.html.twig' %}
{% trans_default_domain 'frontend' %}
{% block title %}UP TAXI - {% trans %}Privacy{% endtrans %}{% endblock %}
{% block main_content %}
{{ sonata_block_render({ 'type': 'sonata.block.service.template' }, {
    'template': 'CABMainBundle:Block:block_privacy.twig.html'
}) }}
{% endblock %}