{% extends 'CABMainBundle::layout.html.twig' %}

{% block title %}UP - End payment{% endblock %}

{% block main_content %}
    <!-- Page info -->
    <header class="site-title green">
        <div class="wrap">
            <div class="container">
                <h1>{% trans %}End payment{% endtrans %}</h1>
            </div>
        </div>
    </header>
    <!-- //Page info -->
    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="full-width content">

                <div class="results">
                    -------------------
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}

{% block javascript  %}

    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock javascript  %}
{% block body_scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabmain/js/course_create.js') }}"></script>
{% endblock body_scripts %}