{% extends 'CABMainBundle::layout.html.twig' %}

{% block title %}UP - End payment{% endblock %}

{% block main_content %}
<div class="main blue">    
    <!-- Page info -->
    <header class="site-title green">
        <div class="wrap">
            <div class="container">
                <h1>{% trans %}End payment{% endtrans %}</h1>
            </div>
        </div>
    </header>
<div class="wrap">
        {% if params is defined %}
        <div class="row">
            <div class="three-fourth">
                <form class="box readonly">
                    <h3>Your details</h3>
                    <div class="f-row">
                        <div class="one-fourth">Name and surname</div>
                        <div class="three-fourth">{{ app.user.firstname ~ ' ' ~ app.user.lastname }} </div>
                    </div>
                    <div class="f-row">
                        <div class="one-fourth">Mobile number</div>
                        <div class="three-fourth">{{ app.user.phoneMobile }}</div>
                    </div>
                    <div class="f-row">
                        <div class="one-fourth">Email address</div>
                        <div class="three-fourth">{{ app.user.email }}</div>
                    </div>

                    <h3>Departure Transfer details</h3>`
                    <div class="f-row">
                        <div class="one-fourth">Ref</div>
                        <div class="three-fourth">{{ course.id }}</div>
                    </div>
                    <div class="f-row">
                        <div class="one-fourth">Date</div>
                        <div class="three-fourth">{{ course.departureDate|date('d-m-Y') ~ ' ' ~ course.departureTime|date('H:i:s')}}</div>
                    </div>
                    <div class="f-row">
                        <div class="one-fourth">From</div>
                        <div class="three-fourth">{{ course.startedAddress }}</div>
                    </div>
                    <div class="f-row">
                        <div class="one-fourth">To</div>
                        <div class="three-fourth">{{ course.arrivalAddress }}</div>
                    </div>
                    <div class="f-row">
                        <div class="one-fourth">Extras</div>
                        <div class="three-fourth">{{ course.laguage }} pieces of baggage up to 15kg</div>
                    </div>

                    {% if course.targetType == 1 %}
                        <h3>Return Transfer details</h3>
                        <div class="f-row">
                            <div class="one-fourth">Date</div>
                            <div class="three-fourth">02.09.2014 17:00</div>
                        </div>
                        <div class="f-row">
                            <div class="one-fourth">From</div>
                            <div class="three-fourth">London airport</div>
                        </div>
                        <div class="f-row">
                            <div class="one-fourth">To</div>
                            <div class="three-fourth">London bus station</div>
                        </div>
                        <div class="f-row">
                            <div class="one-fourth">Vehicle</div>
                            <div class="three-fourth">Private shuttle</div>
                        </div>
                        <div class="f-row">
                            <div class="one-fourth">Extras</div>
                            <div class="three-fourth">2 pieces of baggage up to 15kg</div>
                        </div>
                    {% endif %}

                    <h3>TOTAL: {{ (params.vads_amount / 100)|number_format(2, ',', '.') }} €</h3>
                </form>
            </div>

            <!--- Sidebar -->
            <aside class="one-fourth sidebar right">
                <!-- Widget -->
                <div class="widget">
                    <h4>Need help booking?</h4>
                    <div class="textwidget">
                        <p>Call our customer services team on the number below to speak to one of our advisors who will help you with all of your needs.</p>
                        <p class="contact-data"><span class="ico phone black"></span> +1 555 555 555</p>
                    </div>
                </div>
                <!-- //Widget -->

                <!-- Widget -->
                <div class="widget">
                    <h4>Advertisment</h4>
                    <a href="#"><img src="http://placehold.it/800x600" alt="" /></a>
                </div>
                <!-- //Widget -->
            </aside>
            <!--- //Sidebar -->
        </div>
        {% endif %}
    </div>
</div>    
    <!-- //Main -->
{% endblock main_content %}

{% block javascript  %}

    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock javascript  %}
{% block body_scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabmain/js/course_create.js') }}"></script>
{% endblock body_scripts %}