{% extends "bootstrap_3_horizontal_layout.html.twig" %}

{% block choice_widget_expanded -%}
    {% if '-inline' in label_attr.class|default('') -%}
        <div class="control-group">
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                }) -}}
            {% endfor -%}
        </div>
    {%- else -%}
        <div {{ block('widget_container_attributes') }}>
            {%- for child in form %}
                {{- form_widget(child, {
                    parent_label_class: label_attr.class|default(''),
                }) -}}
            {% endfor -%}
        </div>
    {%- endif %}
{%- endblock choice_widget_expanded %}
{%- block checkbox_widget -%}
    <div class="switch switch-sm switch-success" id="siwtch_{{ id }}">
        <input type="checkbox" {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} {{ block('widget_attributes') }} data-plugin-ios-switch="" name="switch" style="display: none;">
    </div>
    <script>
        (function ($) {
            var idswitch = "{{ "#siwtch_" ~ id }}";
            var inputSelector = "{{ "#" ~ id }}";

            $(idswitch).click(function(){
                if ($(inputSelector).is(':checked') == true) {
                    $(inputSelector).val(1);
                }else{
                    $(inputSelector).val(0);
                }
            });
        })(jQuery);
    </script>
{%- endblock checkbox_widget -%}

{% block checkbox_radio_row -%}
    {% spaceless %}
        <div class="form-group{% if not valid %} has-error{% endif %}">
            <div class="{{ block('form_label_class') }} control-label">
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{- label is not same as(false) ? label|trans({}, translation_domain) -}}
                </label>
            </div>
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>

    {% endspaceless %}

{%- endblock checkbox_radio_row %}


{%- block form_widget -%}
    {% if compound %}
        {{- block('form_widget_compound') -}}
    {% else %}
        {{- block('form_widget_simple') -}}
    {% endif %}
{%- endblock form_widget -%}

{% block form_row -%}
    {% spaceless %}
        <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}">
            {{ form_label(form) }}
            <div class="{{ block('form_group_class') }}">
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-10">
                {%- for attrname,attrvalue in attr -%}
                    {%- if attrname == 'help' -%}
                        <span class="help-block">{{ attrvalue }}</span>
                    {%- endif -%}
                {%- endfor -%}
            </div>
        </div>
    {% endspaceless %}
{%- endblock form_row %}

{% block form_group_class -%}
    col-sm-10
{%- endblock form_group_class %}