{% extends 'knp_menu.html.twig' %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw|trans(
item.getExtra('translation_params', {}),
item.getExtra('translation_domain', 'frontend')
) }}{% else %}
    {{ item.label|trans(
item.getExtra('translation_params', {}),
item.getExtra('translation_domain', 'frontend')
) }}{% endif %}{% endblock %}
