<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>{% block title %}UP TAXI : Error{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="UP Taxi" />
    <meta name="description" content="taxi ">
    <meta name="author" content="up.taxi">



    {% block head_styles %}
        <link href="{{ asset('bundles/cabmain/css/error/style.css') }}" rel="stylesheet" >
        <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,700' rel='stylesheet' type='text/css' />

    {% endblock head_styles %}
    {% block javascript %}
        <script src="{{ asset('bundles/cabmain/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/error/introtzikas.js') }}"></script>
        <script src="{{ asset('bundles/cabmain/js/error/script.js') }}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock javascript %}
    <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function() {
            $().introtzikas({
                line: 'white',
                speedwidth: 2000,
                speedheight: 1000,
                bg: '#474747',
                lineheight: 2
            });
        });
        //]]>
    </script>
</head>

<body>

<div class="bg_overlay"></div><!-- Pattern -->

<div id="wrap">
    <div id="block">
        <div id="content">
            <div class="top_img">
                <h1 style="text-align: center;"><span class="red">{{ status_code }}</span></h1>
            </div>
            <div class="srch">
            </div>
            <div class="text_eror">
                <h1>"Ooops! Page not found..."</h1>
                <p>You can return <a href="/">HOME</a>.</p>
            </div>


        </div>
    </div>
</div>

</body>
</html>