{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}
{% trans_default_domain "backend" %}
{% extends sonata_block.templates.block_base %}


{% block block %}

         
        

{% endblock %}
