{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends sonata_block.templates.block_base %}

{% block block %}

  <html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <style type="text/css">
            body {
                margin: 10px; /* pour eviter les marges */
                text-align: center; /* pour corriger le bug de centrage IE */
                width: 1000px;
            }
            #global {
                text-align: center;
                margin-left: auto;
                margin-right: auto;
            }
            #route {
                height: 130px;
                overflow-y: auto;
            }
            #map {
                float: left;
            }
            #options {
                width: 350px;
                float: left;
                padding: 0 10px 10px 10px;
                text-align: left;
            }
            .panel {
                background-color: #E8ECF9;
                border: 1px dashed black;
                padding: 5px;
                margin: 10px 0 10px 0;
            }
            .titre {
                text-align: left;
                font-weight: bold;
                margin: 0 0 5px 0;
            }

            .inputTxt {
                width: 100px;
            }
        </style>
    </head>
    <body>
        <div id="global">
            <div id="map" onClick="document.getElementById('lat').value=getCurrentLat();document.getElementById('lng').value=getCurrentLng();">

            </div>

        </div>
    </body>
</html>
{% endblock %}
