{% extends sonata_block.templates.block_base %}
 

{% block block %}
    
 <div class="row">
    
        <div class="col-md-3 col-xl-12">
            <section class="panel">
                <div class="panel-body bg-primary">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                
                                <div class="info">
                                    <strong class="amount">1</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-uppercase">(view driver)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-xl-12">
            <section class="panel">
                <div class="panel-body bg-secondary">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-automobile"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                
                                <div class="info">
                                    <strong class="amount">1281</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-uppercase">(view car)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-xl-12">
            <section class="panel">
                <div class="panel-body bg-tertiary">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-users"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                
                                <div class="info">
                                    <strong class="amount">1281</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-uppercase">(view customers)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-3 col-xl-12">
            <section class="panel">
                <div class="panel-body bg-quartenary">
                    <div class="widget-summary">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon">
                                <i class="fa fa-eur"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <div class="info">
                                    <strong class="amount">1281</strong>
                                </div>
                            </div>
                            <div class="summary-footer">
                                <a class="text-uppercase">(view race)</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    </div>
{% endblock %}