<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="Generator" content="Made with Mail Designer from equinux">
    <meta name="Viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css" id="Mail Designer General Style Sheet">
        a { word-break: break-word; }
        a img { border:none; }
        img { outline:none; text-decoration:none; -ms-interpolation-mode: bicubic; }
        body { width: 100% !important; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
        .ExternalClass { width: 100%; }
        .ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
        #page-wrap { margin: 0; padding: 0; width: 100% !important; line-height: 100% !important; }
        #outlook a { padding: 0; }
        .preheader { display:none !important; }
        a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit !important; font-weight: inherit !important; line-height: inherit !important; }
        .a5q { display: none !important; }
        .Apple-web-attachment { vertical-align: initial !important; }
        .Apple-edge-to-edge-visual-media { margin: initial !important; max-width: initial !important; width: 100%; }
    </style>
    <style type="text/css" id="Mail Designer Mobile Style Sheet">
        @media only screen and (max-width: 580px) {
            table.email-body-wrap {
                width: 320px !important;
            }
            td.page-bg-show-thru {
                display: none !important;
            }
            table.layout-block-wrapping-table {
                width: 320px !important;
            }
            table.mso-fixed-width-wrapping-table {
                width: 320px !important;
            }
            .layout-block-full-width {
                width: 320px !important;
            }
            table.layout-block-column, table.layout-block-padded-column {
                width: 100% !important;
            }
            table.layout-block-box-padding {
                width: 100% !important;
                padding: 5px !important;
            }
            table.layout-block-horizontal-spacer {
                display: none !important;
            }
            tr.layout-block-vertical-spacer {
                display: block !important;
                height: 8px !important;
            }
            td.container-padding {
                display: none !important;
            }

            table {
                min-width: initial !important;
            }
            td {
                min-width: initial !important;
            }

            .desktop-only { display: none !important; }
            .mobile-only { display: block !important; }

            .hide {
                max-height: none !important;
                display: block !important;
                overflow: visible !important;
            }

            .EQ-00 { width: 14px !important; }
            .EQ-01 { width: 14px !important; }
            .EQ-02 { width: 292px !important; }
        }
    </style>
    <!--[if gte mso 9]>
    <style type="text/css" id="Mail Designer Outlook Style Sheet">
        table.layout-block-horizontal-spacer {
            display: none !important;
        }
        table {
            border-collapse:collapse;
            mso-table-lspace:0pt;
            mso-table-rspace:0pt;
            mso-table-bspace:0pt;
            mso-table-tspace:0pt;
            mso-padding-alt:0;
            mso-table-top:0;
            mso-table-wrap:around;
        }
        td {
            border-collapse:collapse;
            mso-cellspacing:0;
        }
    </style>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:regular,700" rel="stylesheet" type="text/css" class="EQWebFont"><link href="https://fonts.googleapis.com/css?family=Roboto:regular,700" rel="stylesheet" type="text/css" class="EQWebFont"><meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>
<body style="margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; " background="http:///www.up.taxi/uploads/email/registration/businesscompany/page-bg.jpg"><!--[if gte mso 9]>
<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
    <v:fill type="tile" src="http:///www.up.taxi/uploads/email/registration/businesscompany/page-bg.jpg" />
</v:background>
<![endif]-->

<table width="100%" cellspacing="0" cellpadding="0" id="page-wrap" align="center" background="http:///www.up.taxi/uploads/email/registration/businesscompany/page-bg.jpg">
    <tbody><tr>
        <td>

            <table class="email-body-wrap" width="840" cellspacing="0" cellpadding="0" id="email-body" align="center">
                <tbody><tr>
                    <td width="30" class="page-bg-show-thru">&nbsp;<!--Left page bg show-thru --></td>
                    <td width="780" id="page-body">

                        <!--Begin of layout container -->
                        <div id="eqLayoutContainer">

                            <div class="desktop-only" width="100%">
                                <!--[if !mso 15]><!--><table width="780" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" style="mso-hide:all; min-width: 780px; ">
                                    <tbody><tr>
                                        <td valign="top" class="layout-block-full-width" width="780" style="min-width: 780px; ">
                                            <table cellspacing="0" cellpadding="0" class="layout-block-full-width" width="780" style="min-width: 780px; ">
                                                <tbody><tr>
                                                    <td width="780" style="min-width: 780px; ">
                                                        <div class="layout-block-image">
                                                            <img width="780" height="210" alt="" src="http:///www.up.taxi/uploads/email/registration/businesscompany/image-1.png" border="0" style="line-height: 1px; display: block; width: 780px; height: 210px; ">
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>
                                <!--<![endif]--><!--[if gte mso 9]><table width="780" cellspacing="0" cellpadding="0" class="mso-fixed-width-wrapping-table">
                                    <tr><td valign="top" class="layout-block-full-width"><div class="layout-block-image"><img height="210" alt="" src="http:///www.up.taxi/uploads/email/registration/businesscompany/image-1.png" border="0" style="line-height: 1px; display: block;" class="img-EQMST-A3DFEC46-51FA-451A-ACDD-D6ABFF7CCE7F" width="780"></img><div style="width:0px;height:0px;max-height:0;max-width:0;overflow:hidden;display:none;visibility:hidden;mso-hide:all;"></div></div></td>
                                    </tr></table><![endif]--></div>

                            <!--[if !mso ]><!-->

                            <div style="display: none; max-height: 0px; overflow: hidden; " class="mobile-only hide" width="100%">
                                <table width="320" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table hide" style="display: none; max-height: 0px; overflow: hidden; min-width: 320px; ">
                                    <tbody><tr>
                                        <td valign="top" class="layout-block-full-width" width="320" style="min-width: 320px; ">
                                            <table cellspacing="0" cellpadding="0" class="layout-block-full-width hide" width="320" style="display: none; max-height: 0px; overflow: hidden; min-width: 320px; ">
                                                <tbody><tr>
                                                    <td width="320" style="min-width: 320px; ">
                                                        <div class="layout-block-image hide" style="display: none; max-height: 0px; overflow: hidden; ">
                                                            <img width="320" height="195" alt="" src="http:///www.up.taxi/uploads/email/registration/businesscompany/image-2.png" border="0" style="line-height: 1px; display: none; max-height: 0px; overflow: hidden; width: 320px; height: 195px; " class="hide">
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </div><!--<![endif]-->

                            <div class="desktop-only" width="100%">
                                <!--[if !mso 15]><!--><table width="780" cellspacing="0" cellpadding="0" class="mso-fixed-width-wrapping-table" style="mso-hide:all; min-width: 780px; ">
                                    <tbody><tr>
                                        <td width="780" valign="top" align="left" background="http:///www.up.taxi/uploads/email/registration/businesscompany/box-bg-1.jpg" bgcolor="#ffffff" style="min-width: 780px; ">
                                            <table cellspacing="0" cellpadding="0" class="mso-fixed-width" width="780" style="min-width: 780px; ">
                                                <tbody><tr>
                                                    <td width="780" align="left" style="min-width: 780px; ">
                                                        <table width="550" cellspacing="0" cellpadding="0" align="left" class="layout-block-full-width" style="min-width: 550px; ">
                                                            <tbody><tr class="layout-block-vertical-spacer" style="display:none; height:0px; ">
                                                                <td width="41" style="min-width: 41px; "><div class="spacer"></div></td>
                                                                <td width="499" style="min-width: 499px; "></td>
                                                                <td width="10" style="min-width: 10px; "></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="41" style="min-width: 41px; ">&nbsp;</td>
                                                                <td align="left" valign="top" width="499" style="min-width: 499px; ">
                                                                    <div class="text" style="font-size: 16px; font-family: 'Lucida Grande'; "><font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif"><span style="font-size: 50px; "><b>VOTRE COMPTE</b></span></font><div><div style="line-height: 22px; "><span style="font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; "><br></span></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">{{ contact.Lastname }},</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">Vous pouvez accéder à votre compte sur le site de UP.TAXI</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">username : {{ contact.username }}</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">Le mot de passe, vous seul le connaissez …&nbsp;</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">Vous avez oublié votre mot de passe &gt;&gt;&nbsp;<a href="http://www.up.taxi/resetting/request">cliquez ici</a>&nbsp;&lt;&lt;</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">Vous pouvez aussi télécharger directement depuis le store de téléphone l’application mobile</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">Nous restons disponible pour répondre à toutes vos questions.</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">L’équipe d’ UP TAXI</div><div><font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif"><br></font></div></div></div>
                                                                </td>
                                                                <td width="10" style="min-width: 10px; ">&nbsp;</td>
                                                            </tr>
                                                            </tbody></table>
                                                        <table width="230" cellspacing="0" cellpadding="0" align="left" class="layout-block-full-width" style="min-width: 230px; ">
                                                            <tbody><tr>
                                                                <td align="left" valign="top" class="layout-block-column" width="230" style="min-width: 230px; ">
                                                                    <div class="layout-block-image">
                                                                        <div style="width: 230px; height: 360px; margin: 0px; padding: 0px; "></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>
                                <!--<![endif]--><!--[if gte mso 9]><table style="font-size:0"><tbody><tr><td><v:rect style="width:780px;" stroke="f"><v:fill type="tile" src="http:///www.up.taxi/uploads/email/registration/businesscompany/box-bg-1.jpg" color="#ffffff"></v:fill><v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0"><div><div style="font-size:0"><table cellspacing="0" cellpadding="0" class="mso-fixed-width-wrapping-table" width="780">
                                    <tr><td width="780" valign="top" align="left" class="layout-block-content-cell"><table cellspacing="0" cellpadding="0" class="mso-fixed-width layout-block-content-cell">
                                        <tr><td align="left" valign="top" class="layout-block-content-cell" style="padding-left:30px; padding-right:30px;"><div class="text" style="font-size: 16px; font-family: sans-serif;"><font face="Arial, sans-serif"><span style="font-size: 50px;"><b>VOTRE COMPTE</b></span></font><div><div style="line-height: 22px;"><span style="font-family: Arial, sans-serif;"><br></span></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">{{ contact.Lastname }},</div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;"><br></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">Vous pouvez accéder à votre compte sur le site de UP.TAXI</div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;"><br></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">username : {{ contact.username }}</div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;"><br></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">Le mot de passe, vous seul le connaissez … </div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;"><br></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">Vous avez oublié votre mot de passe &gt;&gt; <a href="http://www.up.taxi/resetting/request">cliquez ici</a> &lt;&lt;</div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;"><br></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">Vous pouvez aussi télécharger directement depuis le store de téléphone l’application mobile</div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;"><br></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">Nous restons disponible pour répondre à toutes vos questions.</div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;"><br></div><div style="color: rgb(0, 0, 0); font-family: Arial, sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none;">L’équipe d’ UP TAXI</div><div><font face="Arial, sans-serif"><br></font></div></div></div></td><td><div class="spacer"></div></td><td valign="top" class="layout-block-column" align="center" height="360"><div class="layout-block-image" style="width:230px;height:360px;"></div></td>
                                        </tr></table></td>
                                    </tr></table></div></div></v:textbox></v:rect></td></tr></tbody></table><![endif]--></div>

                            <!--[if !mso ]><!-->

                            <div style="display: none; max-height: 0px; overflow: hidden; " class="mobile-only hide" width="100%">
                                <table width="320" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table hide" style="display: none; max-height: 0px; overflow: hidden; min-width: 320px; ">
                                    <tbody><tr>
                                        <td width="320" valign="top" align="left" background="http:///www.up.taxi/uploads/email/registration/businesscompany/box-bg-2.jpg" bgcolor="#ffffff" style="min-width: 320px; ">
                                            <table cellspacing="0" cellpadding="0" class="hide" width="320" style="display: none; max-height: 0px; overflow: hidden; min-width: 320px; ">
                                                <tbody><tr>
                                                    <td width="320" align="left" style="min-width: 320px; ">
                                                        <table width="320" cellspacing="0" cellpadding="0" align="left" class="layout-block-full-width hide" style="display: none; max-height: 0px; overflow: hidden; min-width: 320px; ">
                                                            <tbody><tr class="layout-block-vertical-spacer" style="display:none; height:0px; ">
                                                                <td width="24" style="min-width: 24px; "><div class="spacer"></div></td>
                                                                <td width="272" style="min-width: 272px; "></td>
                                                                <td width="24" style="min-width: 24px; "></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="24" style="min-width: 24px; ">&nbsp;</td>
                                                                <td align="left" valign="top" width="272" style="min-width: 272px; ">
                                                                    <div class="text" style="font-size: 16px; font-family: 'Lucida Grande'; "><font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif"><span style="font-size: 50px; "><b>VOTRE COMPTE</b></span></font><div><font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif"><span style="font-size: 50px; "><b>EST</b></span></font></div><div><font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif"><span style="font-size: 50px; "><b>CREE<br></b></span></font><div style="line-height: 22px; "><span style="font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; "><br></span></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">Vous pouvez accéder à votre compte sur le site de UP.TAXI</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">login :</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">mot de passe:</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">Nous restons disponible pour répondre à toutes vos questions.</div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; "><br></div><div style="color: rgb(0, 0, 0); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 16px; font-style: normal; font-weight: normal; line-height: 22px; text-align: left; text-decoration: none; ">L’équipe d’ UP TAXI</div><div style="font-family: 'Lucida Grande'; "></div></div><div><font face="Helvetica, Arial, Roboto, Droid Sans, sans-serif"><br></font></div></div></div>
                                                                </td>
                                                                <td width="24" style="min-width: 24px; ">&nbsp;</td>
                                                            </tr>
                                                            </tbody></table>
                                                        <table width="320" cellspacing="0" cellpadding="0" align="left" class="layout-block-full-width hide" style="display: none; max-height: 0px; overflow: hidden; min-width: 320px; ">
                                                            <tbody><tr>
                                                                <td align="left" valign="top" class="layout-block-column" width="320" style="min-width: 320px; ">
                                                                    <div class="layout-block-image hide" style="display: none; max-height: 0px; overflow: hidden; ">
                                                                        <div class="hide" style="width: 320px; height: 65px; margin: 0px; padding: 0px; "></div>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                    </tr>
                                    </tbody></table>
                            </div><!--<![endif]-->

                            <div style="background-image:url(http:///www.up.taxi/uploads/email/registration/businesscompany/box-bg-3.jpg); background-position: 0% 0%; " width="100%">
                                <!--[if !mso 15]><!--><table width="780" cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" background="http:///www.up.taxi/uploads/email/registration/businesscompany/box-bg-3.jpg" bgcolor="#000000" style="mso-hide:all; min-width: 780px; ">
                                    <tbody><tr>
                                        <td width="33" class="EQ-00" style="min-width: 33px; ">&nbsp;</td>
                                        <td class="EQ-02" width="714" style="min-width: 714px; ">
                                            <table cellspacing="0" cellpadding="0" align="left" class="layout-block-column" width="714" style="min-width: 714px; ">
                                                <tbody><tr>
                                                    <td width="694" valign="top" align="left" background="http:///www.up.taxi/uploads/email/registration/businesscompany/box-bg-3.jpg" style="padding-left: 10px; padding-right: 10px; min-width: 694px; " bgcolor="#000000">
                                                        <table cellspacing="0" cellpadding="0" class="layout-block-box-padding" width="694" style="min-width: 694px; ">
                                                            <tbody><tr>
                                                                <td align="left" class="layout-block-column" width="694" style="min-width: 694px; ">
                                                                    <div class="text" style="font-size: 16px; font-family: 'Lucida Grande'; "><div style="color: rgb(255, 255, 255); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none; ">COMPTE DE LA PLATE-FORME</div><div style="color: rgb(255, 255, 255); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none; ">&nbsp;UP TAXI</div><div style="color: rgb(255, 255, 255); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none; "><div><br></div><div style="color: rgb(255, 255, 255); font-family: Helvetica, Arial, Roboto, 'Droid Sans', sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none; ">Ce courriel est réservé strictement aux ayant droit</div><div><br></div><div>© 2015 UPTAXI LE VILLAGE 31460 SAUSSENS</div><div><br></div><div><br></div></div></div>
                                                                </td>
                                                            </tr>
                                                            </tbody></table>
                                                    </td>
                                                </tr>
                                                </tbody></table>
                                        </td>
                                        <td width="33" class="EQ-01" style="min-width: 33px; ">&nbsp;</td>
                                    </tr>
                                    </tbody></table>
                                <!--<![endif]--><!--[if gte mso 9]><table cellspacing="0" cellpadding="0" class="layout-block-wrapping-table" width="780">
                                    <tr><td width="33" class="layout-block-padding-left" bgcolor="#000000">&nbsp; </td><td width="714" class="layout-block-content-cell" valign="top" align="left"><v:rect style="width:714px;" stroke="f"><v:fill type="tile" src="http:///www.up.taxi/uploads/email/registration/businesscompany/box-bg-3.jpg" color="#000000"></v:fill><v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0"><div><div style="font-size:0"><table cellspacing="0" cellpadding="0" class="layout-block-box-padding">
                                        <tr><td style="font-size:1px;" width="10">&nbsp; </td><td align="left" class="layout-block-column" width="694"><div class="text" style="font-size: 16px; font-family: sans-serif;"><div style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none;">COMPTE DE LA PLATE-FORME</div><div style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none;"> UP TAXI</div><div style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none;"><div><br></div><div style="color: rgb(255, 255, 255); font-family: Arial, sans-serif; font-size: 11px; font-style: normal; font-weight: normal; line-height: 18px; text-align: center; text-decoration: none;">Ce courriel est réservé strictement aux ayant droit</div><div><br></div><div>© 2015 UPTAXI LE VILLAGE 31460 SAUSSENS</div><div><br></div><div><br></div></div></div></td><td style="font-size:1px;" width="10">&nbsp; </td>
                                        </tr></table></div></div></v:textbox></v:rect></td><td width="33" class="layout-block-padding-right" bgcolor="#000000">&nbsp; </td>
                                    </tr></table><![endif]--></div>

                        </div>
                        <!--End of layout container -->

                    </td>
                    <td width="30" class="page-bg-show-thru">&nbsp;<!--Right page bg show-thru --></td>
                </tr>
                </tbody></table><!--email-body -->

        </td>
    </tr>
    </tbody></table><!--page-wrap -->

</body></html>