<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        table.blueTable {
            border: 1px solid #1C6EA4;
            background-color: #EEEEEE;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }
        table.blueTable td, table.blueTable th {
            border: 1px solid #AAAAAA;
            padding: 3px 2px;
        }
        table.blueTable tbody td {
            font-size: 13px;
        }
        table.blueTable tr:nth-child(even) {
            background: #D0E4F5;
        }
        table.blueTable thead {
            background: #1C6EA4;
            background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
            border-bottom: 2px solid #444444;
        }
        table.blueTable thead th {
            font-size: 15px;
            font-weight: bold;
            color: #FFFFFF;
            border-left: 2px solid #D0E4F5;
        }
        table.blueTable thead th:first-child {
            border-left: none;
        }

        table.blueTable tfoot {
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            background: #D0E4F5;
            background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
            border-top: 2px solid #444444;
        }
        table.blueTable tfoot td {
            font-size: 14px;
        }
        table.blueTable tfoot .links {
            text-align: right;
        }
        table.blueTable tfoot .links a{
            display: inline-block;
            background: #1C6EA4;
            color: #FFFFFF;
            padding: 2px 8px;
            border-radius: 5px;
        }

    </style>
</head>
<body>


Suite à votre demande, la course du <b>{{ date }}</b> à <b>{{ time }}</b> est <b>{{ status }}</b><br>

<table class="blueTable">
    <tfoot>
    <tr>
    </tr>
    </tfoot>
    <tbody>
    {% if id_race is defined %}
        <tr>

            <td>Idrace</td>
            <td>{{ id_race }}</td>
        </tr>
    {% endif %}

    {% if client is defined %}
    <tr>
        <td>Client</td>
        <td>{{ client }}</td>

    </tr>
    {% endif %}
    {% if course is defined %}
    <tr>
        <td>Adresse de départ</td>
        <td>{{ course.getStartedAddress }}</td>

    </tr>
    {% endif %}
    {% if course is not defined or course.getIndicatorStartedAddress is empty %}
        {% else %}
    <tr>
        <td>Info de départ</td>
        <td>{{ course.getIndicatorStartedAddress }}</td>

    </tr>
    {% endif %}
    {% if course is defined %}
    <tr>
        <td>Adresse d'arrivée</td>
        <td>{{ course.getArrivalAddress }}</td>
    </tr>
    {% endif %}
    {% if course is not defined or course.getIndicatorArrivalAddress is empty %}
    {% else %}
        <tr>
            <td>Info d'arrivée</td>
            <td>{{ course.getIndicatorArrivalAddress }}</td>

        </tr>
    {% endif %}
    {% if service is not defined or service is empty %}
    {% else %}
        <tr>
            <td>Service</td>
            <td>{{ service }}</td>

        </tr>
    {% endif %}

    </tbody>
</table>
Nous restons disponible si vous souhaitez de plus amples renseignements.<br>

Nous vous rappelons notre téléphone au 05 40 80 42 80 ou alors par courriel.<br>

Bien cordialement <br>

SOCIETE TASM<br>
<i>courriel envoyé depuis la plateforme www.up.taxi</i>
</body>
