
Suite à votre demande, le bon de commande numéro : <b>{{ id_sncf }}</b> , du <b>{{ date }}</b> à <b>{{ time }}</b> est <b>{{ status }}</b><br>

Nous restons disponible si vous souhaitez de plus amples renseignements.<br>

Nous vous rappelons notre tel: 05 32 09 08 05 ou au 05 40 80 42 80 ou alors par courriel.<br>

Bien cordialement <br>

SOCIETE TASM
