{% extends 'CABAdminBundle::layout.html.twig' %}

{% block title %}
    {{ "title_create"|trans({}, 'SonataAdminBundle') }}
{% endblock%}

{% block navbar_title %}
    {{ block('title') }}
{% endblock %}

{% block _tab_menu %}{{ parent() }}{% endblock %}

{% block form %}

     <section class="panel">
        <header class="panel-heading">
            <div class="panel-actions">
                <a href="#" class="fa fa-caret-down"></a>
                <a href="#" class="fa fa-times"></a>
            </div>

            <h2 class="panel-title">Tracking</h2>
        </header>
        <div class="panel-body">
            <form class="form-horizontal form-bordered" action="#">
                <div class="form-group">
                    <div class="col-md-4">
                        <lable>Company:</lable>
                            {% if is_granted("ROLE_SUPER_ADMIN") or is_granted("ROLE_ADMIN") %}
                                {% if companies|length > 0 %}
                                <select id="company">
                                    <option value="">Select your company</option>
                                    {% for company in companies if company.isActive %}
                                        <option value="{{ company.id }}">{{ company.companyName|capitalize|e }}</option>
                                    {% endfor %}
                                </select>
                            {% endif %}
                        {% elseif is_granted("ROLE_ADMINCOMPANY") %}
                            {{ companies.companyName|capitalize|e }}
                            <input id="company" type="hidden" value="{{ companies.id }}"  />
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                        Options:
                        <select id="option">
                            <option value="1">Driver</option>
                            <option value="2">Vehicle</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </span>
                            <input id="date" data-plugin-masked-input="" data-input-mask="99/99/9999" placeholder="__/__/____" class="form-control datepicker trip_date">
                        </div>
                    </div>

                    <div class="col-md-4">
                        Drivers:
                        <select id="drivers">
                            <option value="">Select your driver</option>
                            {#
                            {% if is_granted("ROLE_ADMINCOMPANY") %}

                                {% if drivers|length > 0 %}
                                    {% for driver in drivers %}
                                        <option value="{{ driver.id }}">{{ driver.lastName|upper|e ~" "~ driver.firstName|capitalize|e }}</option>
                                    {% endfor %}
                                {% endif %}
                            {% endif %}
                            #}
                        </select>
                    </div>
                    <div class="col-md-12">
                        <input id="track_btn_map" type="button" class="mb-xs mt-xs mr-xs btn btn-primary btn-lg btn-block" value="Track" />
                    </div>
                </div>
                <div id="mapsdiv" class="form-group">
                    <div class="col-md-12">
                        <div id="tracker_area" style="width:100%;height:500px;"></div>
                    </div>
                </div>
                <div id="sliderdiv" class="form-group">
                    <div class="col-md-12">

                        <div style="clear:both;">
                            <div style="margin-bottom: 10px;float: left;display:none;" id="course_hour_start">Heure de début: <span></span></div>
                            <div style="margin-bottom: 10px;float: right;display:none;" id="course_hour_end">Heure de fin: <span></span></div>
                        </div>
                        <div id="slider" style="clear:both;"></div>
                        time d'une journée pour le tracking
                    </div>
                    </section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock javascripts %}
{% block javascript_footer %}
    <script src="{{ asset('bundles/cabadmin/vendor/jquery-ui/js/jquery-ui-1.10.4.custom.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/jquery.datetimepicker.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/tracking.js') }}"></script>
    <script src="{{ asset('bundles/cabadmin/vendor/pnotify/pnotify.custom.js') }}"></script>
{% endblock %}
