{% extends 'CABMainBundle::layout.html.twig' %}
{% form_theme form 'CABMainBundle:Form:custom.html.twig' %}

{% trans_default_domain 'frontend' %}
{% block title %}UP - Edit course{% endblock %}
{% block head_styles %}
    {{ parent() }}
<link href="{{ asset('bundles/cabmain/css/bootstrap-clockpicker.min.css') }}" rel="stylesheet" media="screen">
{% endblock head_styles %}
{% block main_content %}
    <!-- Page info -->
<div class="main blue">    
    <header class="site-title green">
        <div class="wrap">
            <div class="container">
                <h1>{% trans %}Edit transfer{% endtrans %}</h1>
            </div>
        </div>
    </header>
    <!-- //Page info -->
    <div class="wrap">
        <div class="row">
            <!--- Content -->
            <div class="full-width content">

                <div class="results">

                    <form action="{{ path("edit_course", {courseID: course.id}) }}" method="post" class=""
                          novalidate="novalidate">

                        <div class="box history">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.typeVehicleCourse) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.vehicle) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box history">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.departureDate) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.departureTime) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.startedAddress,{ 'attr': {'class': 'maps_input','placeholder': 'Specify a location departure'|trans,'onfocus':'geolocate()'}, 'label': false,'class' : 'maps_input' }) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.indicatorStartedAddress,{ 'attr': {'placeholder': 'Information departure : ex Vol, hotel,...'|trans}, 'label': false }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.arrivalAddress,{ 'attr': {'class': 'maps_input','placeholder': 'Specify a location Arrival'|trans,'onfocus':'geolocate()'}, 'label': false,'class' : 'maps_input' }) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.indicatorArrivalAddress,{ 'attr': {'placeholder': 'Information arrival : ex Vol, hotel,...'|trans}, 'label': false }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.personNumber,{ 'attr': {'placeholder': 'Passengers number'|trans}, 'label': false }) }}
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.nbChildren,{ 'attr': {'placeholder': 'Children number'|trans}, 'label': false }) }}
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.laguage,{ 'attr': {'placeholder': 'Luggage'|trans}, 'label': false }) }}
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.nbWheelchair,{ 'attr': {'placeholder': 'Wheelchair Number'|trans}, 'label': false }) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    {{ form_label(form.targetType, 'Your name') }}
                                    {{ form_row(form.targetType) }}
                                </div>
                            </div>
                        </div>


                        <div id="target" class="box history">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.backDate) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_row(form.backTime) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.backAddressDeparture,{ 'attr': {'class': 'maps_input','placeholder': 'Specify a location departure to back'|trans,'onfocus':'geolocate()'}, 'label': false,'class' : 'maps_input' }) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.indicatorBackAddressDeparture,{ 'attr': {'placeholder': 'Information departure : ex Vol, hotel,...'|trans}, 'label': false }) }}
                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.backAddressArrival,{ 'attr': {'class': 'maps_input','placeholder': 'Specify a location arrival to back'|trans,'onfocus':'geolocate()'}, 'label': false,'class' : 'maps_input' }) }}
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        {{ form_widget(form.indicatorBackAddressArrival,{ 'attr': {'placeholder': 'Information arrival back : ex Vol, hotel,... '|trans}, 'label': false }) }}
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.personNumberBack,{ 'attr': {'placeholder': 'Passengers number'|trans}, 'label': false }) }}
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.nbChildrenBack,{ 'attr': {'placeholder': 'Children number'|trans}, 'label': false }) }}
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.laguageBack,{ 'attr': {'placeholder': 'Luggage'|trans}, 'label': false }) }}
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        {{ form_widget(form.nbWheelchairBack,{ 'attr': {'placeholder': 'Wheelchair Number'|trans}, 'label': false }) }}
                                    </div>
                                </div>
                            </div>

                        </div>

                        {{ form_row(form.longDep) }}
                        {{ form_row(form.latDep) }}
                        {{ form_row(form.longArr) }}
                        {{ form_row(form.latArr) }}
                        {{ form_row(form.longDepBack) }}
                        {{ form_row(form.latDepBack) }}
                        {{ form_row(form.longArrBack) }}
                        {{ form_row(form.latArrBack) }}
                        {{ form_widget(form._token) }}
                        <input type="hidden" value="{{ course.departureDate.format('Y-m-d') }}" name="last_dep_date">
                        <input type="hidden" value="{{ course.departureTime.format('H:i:s') }}" name="last_dep_time">
                        <input type="hidden" value="{{ course.distance }}" name="initial_distance">
                        <input type="hidden" value="{{ course.courseTransactionPayment }}" name="transaction">
                        <input type="hidden" value="{{ course.courseDetailsTarif.tarifTotalTTC }}" name="price">
                        <div class="row">
                            <div class="col-md-6">
                                <button class="btn large green" type="submit">{% trans %}Modify{% endtrans %}</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock main_content %}

{% block javascript %}

    {{ parent() }}
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock javascript %}
{% block body_scripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cabmain/js/course_create.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/bootstrap-clockpicker.min.js') }}"></script>
    <script src="{{ asset('bundles/cabmain/js/file.js') }}"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $('.clockpicker').clockpicker()
                .find('input').change(function () {
                    // TODO: time changed
                    console.log(this.value);
                });
        $('#time-input').clockpicker({
            autoclose: true
        });
    </script>

    <script>

        $("#cab_coursebundle_course_departureDate").datepicker();
        $("#cab_coursebundle_course_backDate").datepicker();
        $("#cab_coursebundle_course_personNumber").spinner(
                {max: 40},
                {min: 1}
        );
        $("#cab_coursebundle_course_nbChildren").spinner(
                {max: 8},
                {min: 0}
        );
        $("#cab_coursebundle_course_laguage").spinner(
                {
                    max: 12,
                    min: 0
                }
        );
        $("#cab_coursebundle_course_nbWheelchair").spinner({
            icons: {
                down: "custom-down-icon", up: "custom-up-icon"
            }
        });


    </script>

    <script>
        if ($('input[id=uniform-cab_coursebundle_course_targetType]').is(':checked')) {
            alert("jQuery c'est super");
        } else {
            $("#target").hide();
        }
        ;
    </script>
    <script>
        $("#car").hide();

        $("#cab_coursebundle_course_targetType").on("click", function () {
            if ($(this).is(':checked') == true) {
                var value = '1';
                $(this).val(value);
                $("#target").show();
                console.log($(this).val());
            }
            if ($(this).is(':checked') == false) {
                var value = '0';
                $(this).val(value);
                $("#target").hide();
                console.log($(this).val());
            }
        });
    </script>
    <script src="{{ asset('bundles/cabmain/js/script.geolocalisation.js') }}"></script>
{% endblock body_scripts %}